
{% extends 'MarcaYourBundle::layout.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block content %}
<div class="col-sm-2">
<a class="btn btn-info" href="{{ path('rating') }}">List</a>
</div>
  
<div class="col-sm-1">
<form action="{{ path('rating_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
  
<div class="col-sm-11 well">
<h2>Portfolios</h2>
</div>

<div class="col-sm-11 well">
        <form action="{{ path('rating_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
        <div>
            <button class="btn btn-default" type="submit">Edit</button>
        </div>
        </form>
</div>

{% endblock %}
