{# Marca/AssignmentBundle/Resources/views/ReviewRubric/index.html.twig #}

{% extends 'MarcaAssignmentBundle::layout.html.twig' %}




{% block content %}

<h1>Available Review Rubrics</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Keywords</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('reviewrubric_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.keywords }}</td>
            <td>        
                        <a href="{{ path('reviewrubric_edit', { 'id': entity.id }) }}" class="btn btn-small btn-primary">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('reviewrubric_new') }}">
            Create a new rubric
        </a>
    </li>
</ul>
{% endblock %}