{# Marca/AssignmentBundle/Resources/views/ReviewRubric/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $('#edit_rubric').click(function () {
                $('#review_modal').load('{{path('reviewrubric_edit',  { 'id': reviewrubric.id}) }}').modal();
            });

            {% for promptitem in reviewrubric.promptitems%}
            $('#edit_prompt_{{promptitem.id}}').click(function () {
                $('#review_modal').load('{{path('promptitem_edit',  { 'id': promptitem.id}) }}').modal();
            });
            {% endfor %}
        });
    </script>
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="margin-top-small">{{ reviewrubric.name }}</h2>
            <span>{{ reviewrubric.description }}</span>
            <div class='btn-group pull-right'>
                <a id='edit_rubric' title='Edit rubric' href="javascript:void(0);" class="btn btn-default btn-small">Edit</a>
                <a class='btn btn-default btn-small' href="{{ path('promptitem_new', {'reviewrubricid': reviewrubric.id}) }}">
                    Add a prompt
                </a>
            </div>
            <hr/>
            <p><strong>Instructions:</strong> {{ reviewrubric.instructions }}</p>

            <p><strong>Keywords:</strong> {{ reviewrubric.keywords }}</p>
        </div>
        <div class="panel-body">
            <h2>Prompts</h2>

            {% for promptitem in reviewrubric.promptitems %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a id='edit_prompt_{{ promptitem.id }}' class="btn btn-default pull-right margin-top-small"
                           title='Edit prompt' href="javascript:void(0);">Edit</a>

                        <p>{{ promptitem.prompt }}</p>

                        <p>{{ promptitem.helpText }}</p>
                    </div>
                    <div class="panel-body">
                        {% if promptitem.type==0 %}
                            <input class="form-control" type="text" disabled=true/>
                        {% elseif promptitem.type ==1 %}
                            <textarea class="form-control" disabled=true rows="3" cols="80"></textarea>
                        {% elseif promptitem.type ==2 %}
                            {% for scaleitem in promptitem.scale.scaleitems %}
                                <div class="row">
                                    <strong>{{ scaleitem.name }}</strong> (value::{{ scaleitem.value }})
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                No prompts yet.  Please add them.
            {% endfor %}
        </div>

    </div>

    {# Modal #}
    <div class="modal fade" id="review_modal" role="dialog">

    </div><!-- /.modal -->

{% endblock %}