{# Marca/AssignmentBundle/Resources/views/ReviewRubric/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $('#edit_rubric').click(function () {
                $('#review_modal').load('{{path('reviewrubric_edit',  { 'id': reviewrubric.id}) }}').modal();
            });

            {% for promptitem in reviewrubric.promptitems%}
            $('#edit_prompt_{{promptitem.id}}').click(function () {
                $('#review_modal').load('{{path('promptitem_edit',  { 'id': promptitem.id}) }}').modal();
            });
            {% endfor %}

        });
    </script>
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="margin-top-small">{{ reviewrubric.name }}</h2>
            <span>{{ reviewrubric.description|raw }}</span>
            <div class='btn-group pull-right'>
                <a id='edit_rubric' title='Edit rubric' href="javascript:void(0);" class="btn btn-default btn-small">Edit</a>
                <a class='btn btn-default btn-small' href="{{ path('promptitem_new', {'reviewrubricid': reviewrubric.id}) }}">
                    Add a prompt<i class="glyphicon glyphicon-plus glyphicon-white"></i>
                </a>
            </div>
            <hr/>
            <p><strong>Instructions:</strong> {{ reviewrubric.instructions|raw }}</p>

            <p><strong>Keywords:</strong> {{ reviewrubric.keywords }}</p>
        </div>
        <div class="panel-body">
            <h2>Prompts</h2>

            {% for promptitem in reviewrubric.promptitems %}
                {% set previouspromptitemindex = loop.index0 - 1 %}
                {% set followingpromptitemindex = loop.index0 + 1 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="pull-right">
                            <a id='edit_prompt_{{ promptitem.id }}' class="btn btn-default margin-top-small"
                               title='Edit prompt' href="javascript:void(0);">Edit</a>
                            {% if not loop.first %}
                                <a href="{{ path('promptitem_promote', { 'promptitemId':promptitem.id, 'previousPromptitemId':reviewrubric.promptitems[previouspromptitemindex].id}) }}">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                            {% endif %}
                            {% if not loop.last %}
                                <a href="{{ path('promptitem_demote', {  'promptitemId':promptitem.id, 'followingPromptitemId':reviewrubric.promptitems[followingpromptitemindex].id}) }}">
                                    <i class="glyphicon glyphicon-chevron-down"></i>
                                </a>
                            {% endif %}
                        </div>


                        <p>{{ promptitem.prompt|raw }}</p>

                        <p>{{ promptitem.helpText|raw }}</p>
                    </div>
                    <div class="panel-body">
                        {% if promptitem.type==0 %}
                            <input class="form-control" type="text" disabled=true/>
                        {% elseif promptitem.type ==1 %}
                            <textarea class="form-control" disabled=true rows="3" cols="80"></textarea>
                        {% elseif promptitem.type ==2 %}
                            {% for scaleitem in promptitem.scale.scaleitems %}
                                <div class="inline-block margin-left">
                                    <strong>{{ scaleitem.name }}</strong> (value::{{ scaleitem.value }})
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% else %}
                No prompts yet.  Please add them.
            {% endfor %}
        </div>

    </div>

    {# Modal #}
    <div class="modal fade" id="review_modal" tabindex="-1" role="dialog" aria-labelledby="Review Modal" aria-hidden="true">

    </div><!-- /.modal -->

{% endblock %}