{# Marca/AssignmentBundle/Resources/views/ReviewRubric/show.html.twig #}

{% extends 'MarcaAssignmentBundle::layout.html.twig' %}



{% block content %}
<h1>ReviewRubric</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ reviewrubric.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ reviewrubric.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ reviewrubric.description }}</td>
        </tr>
        <tr>
            <th>Instructions</th>
            <td>{{ reviewrubric.instructions }}</td>
        </tr>
        <tr>
            <th>Keywords</th>
            <td>{{ reviewrubric.keywords }}</td>
        </tr>
        <tr>
            <th>Shared</th>
            <td>{{ reviewrubric.shared }}</td>
        </tr>
    </tbody>
</table>
<h2>Prompts</h2>
<table class="table">
    <tbody>
{%for promptitem in reviewrubric.promptitems%}
        <tr>
            <th>Id</th>
            <td>{{ promptitem.id }}</td>
        </tr>
        <tr>
            <th>Prompt</th>
            <td>{{ promptitem.prompt }}</td>
        </tr>
        <tr>
            <th>Helptext</th>
            <td>{{ promptitem.helpText }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ promptitem.type }}</td>
        </tr>
{%else%}
No prompt items
{%endfor%}
</tbody>
</table>
<ul class="record_actions">
    <li>
        <a href="{{ path('reviewrubric') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reviewrubric_edit', { 'id': reviewrubric.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('reviewrubric_delete', { 'id': reviewrubric.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    <li>
        <a class='btn btn-primary' href="{{ path('promptitem_new', {'reviewrubricid': reviewrubric.id}) }}">
            Add a prompt
        </a>
    </li>
</ul>
{% endblock %}