{# Marca/AssignmentBundle/Resources/views/ReviewRubric/show.html.twig #}

{% extends 'MarcaAssignmentBundle::layout.html.twig' %}



{% block content %}

    <script language="javascript">

        $(document).ready(function()
        {
            $('#edit_rubric').click(function(){
                $('#edit_modal').load('{{path('reviewrubric_edit',  { 'id': reviewrubric.id}) }}');
                $('#edit_modal').modal();
            });
            
            {% for promptitem in reviewrubric.promptitems%}    
    $('#edit_prompt_{{promptitem.id}}').click(function(){
        $('#prompt_edit_modal').load('{{path('promptitem_edit',  { 'id': promptitem.id}) }}');
        $('#prompt_edit_modal').modal();
    });
    {% endfor %}
            
        });


    </script>

    <div class="well">
<h1>{{ reviewrubric.name }}</h1>
    <span>{{ reviewrubric.description }}</span>
    <div class="pull-right">
    <span ><a id='edit_rubric' title='Edit rubric' href="javascript:void(0);" class="btn btn-primary btn-small">
            Edit
        </a></span><span class="pull-right margin-left" <form action="{{ path('reviewrubric_delete', { 'id': reviewrubric.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger btn-small"  type="submit">Delete</button>
        </form></span>
    </div>
<h3>Instructions</h3>
            <p>{{ reviewrubric.instructions }}</p >
        <p><strong>Keywords:</strong> {{ reviewrubric.keywords }}</p>

    </div>

<h2>Prompts</h2>


{%for promptitem in reviewrubric.promptitems%}
<div class="well">
       <span> <p><strong>{{ promptitem.prompt }}</strong></p></span>
       <span class="pull-right"><a id='edit_prompt_{{promptitem.id}}' title='Edit prompt' href="javascript:void(0);" class="btn btn-small btn-primary">Edit</a></span>
        <p>{{ promptitem.helpText }}</p>
            <div style="margin-bottom:20px;">{% if promptitem.type==0 %}<input type="text" disabled=true />
                {% elseif promptitem.type ==1 %}<textarea disabled=true rows="3" cols="80"></textarea>
                {% elseif promptitem.type ==2 %}{% for scaleitem in promptitem.scale.scaleitems %}
                    <div style="margin-left:0px;" class="row"><strong>{{ scaleitem.name }}</strong>  (value::{{ scaleitem.value }})
                     </div>{% endfor %}
    {% endif %}</div></div>

{%else%}
No prompts yet--add one!
{%endfor%}


        <a class='btn btn-primary' href="{{ path('promptitem_new', {'reviewrubricid': reviewrubric.id}) }}">
            Add a prompt
        </a>

    {# Modal #}

    <div id="edit_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>
 <div id="prompt_edit_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>

{% endblock %}