{# Marca/DocBundle/Resources/views/Markup/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/marcahome/js/jquery-ui-timepicker-addon.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/spectrum.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/spectrum.css') }}">
{% endblock %}

{% block content %}
<script language="javascript">
    $(document).ready(function()
    {
    $("#marca_docbundle_markuptype_color").spectrum({
    showPaletteOnly: true,
    color: '8db14f',
    palette: [
        ['8db14f', 'ffe362', '4fb1a9'],
        ['4f78b1', '764fb1', 'b14f8b'],
        ['b14f4f', 'b1754f', '4fb1af']
    ]
    });
    });
</script>


<div class="row">
<div class="span6">  
    
<form class="form" action="{{ path('markup_update', { 'id': markup.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
        <legend>Markup</legend>
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.value) }}
            {{ form_row(edit_form.color) }}
            {{ form_row(edit_form.url) }}
            {{ form_row(edit_form.mouseover) }}
    {{ form_rest(edit_form) }}
    <div class="submit">
        <button class="btn btn-primary" type="submit">Update</button><a class="btn" href="{{ path('markup') }}">Cancel</a> 
    </div>
</form> 

<form action="{{ path('markup_delete', { 'id': markup.id }) }}" method="post">
            {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Delete</button>
</form>  

</div>
</div>
{% endblock %}
