{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row">
<div class="span4  well"> 
<a class="btn btn-info" href="{{ path('markup') }}">List</a>
</div> 
</div>
  
<div class="row">
<div class="span4  well">  
    
<form class="form" action="{{ path('markup_update', { 'id': markup.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}

            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.function) }}
            {{ form_row(edit_form.value) }}
            {{ form_row(edit_form.color) }}
            {{ form_row(edit_form.markupset) }}
 
    {{ form_rest(edit_form) }}
    <div class="submit">
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>    
<form action="{{ path('markup_delete', { 'id': markup.id }) }}" method="post">
            {{ form_widget(delete_form) }}
    <div class="delete">
        <button class="btn btn-danger" type="submit">Delete</button>
    </div>
</form>    
</div>
</div>
{% endblock %}
