{# Marca/DocBundle/Resources/views/Markup/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row">
<div class="span6">  
    
<form class="form" action="{{ path('markup_update', { 'id': markup.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
        <legend>Markup</legend>
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.value) }}
            {{ form_row(edit_form.color) }}
            {{ form_row(edit_form.markupset) }}
    {{ form_rest(edit_form) }}
    <div class="submit">
        <button class="btn btn-primary" type="submit">Update</button><a class="btn" href="{{ path('markup') }}">Cancel</a> 
    </div>
</form> 

<form action="{{ path('markup_delete', { 'id': markup.id }) }}" method="post">
            {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit">Delete</button>
</form>  

</div>
</div>
{% endblock %}
