{# Marca/DocBundle/Resources/views/Markup/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row">
<div class="col-sm-6 well">
      <a class="btn btn-primary" href="{{ path('markup_new') }}">New</a>
</div> 
</div>
 
<div class="row">
<div class="col-sm-6 well">
<table class="table table-bordered table-condensed table-striped">
<thead>
    <tr>              
        <th>Name</th>        
        <th>Function</th>        
        <th>Value</th>
        <th>Color</th>
        <th>Set</th>        
        <th>Actions</th>
    </tr>
</thead>    
<tbody>
    {% for markup in markup %}
    <tr>                     
        <td>{{ markup.name }}</td>        
        <td>{{ markup.function }}</td>        
        <td>{{ markup.value }}</td>  
        <td>{{ markup.color }}</td>
        <td>{{ markup.markupset }}</td>        
        <td><a class="btn btn-primary" href="{{ path('markup_edit', { 'id': markup.id }) }}">Edit</a></td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
