{# Marca/DocBundle/Resources/views/Markup/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row">
<div class="span6  well"> 
<a class="btn btn-info" href="{{ path('markup') }}">List</a>
</div> 
</div>
  
<div class="row">
<div class="span6  well">  
    
<form action="{{ path('markup_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.function) }}
            {{ form_row(form.value) }}
            {{ form_row(form.color) }}
            {{ form_row(form.markupset) }}
 
    {{ form_rest(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>       
</div>
</div>


{% endblock %}
