{# Marca/DocBundle/Resources/views/Markup/new.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/marcahome/js/colorPick.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $('#toggle_modal').click(function () {
                $('#delete_modal').modal();
            });
            $("#marca_docbundle_markuptype_color").colorPick({
                'initialColor': 'royalblue',
                'allowRecent': true,
                'recentMax': 5,
                'allowCustomColor': false,
                'palette': ['royalblue', 'seagreen', 'slateblue', 'darkorange',
                    'darkmagenta', 'darkslategrey', 'teal', 'firebrick', 'orange',
                    'cadetblue', 'tomato', 'blueviolet'],
                'onColorSelected': function () {
                    this.element.css({'backgroundColor': this.color, 'color': this.color});
                    var selectedColor = this.color;
                    selectedColor = selectedColor.toLowerCase();
                    this.element.val(selectedColor);
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/colorPick.css') }}">
{% endblock %}
{% block content %}


    <div class="col-sm-8 center">
        <div class="panel panel-default">
            <form action="{{ path('markup_create', { 'set_id': app.request.get('set_id')}) }}" method="post">
            <div class="panel-heading">
                <button id="close_form" type="button" class="close">&times;</button>
                <h2 class="panel-title small">Markup Tag</h2>
            </div>
            <div class="panel-body">
                {{ form_widget(form) }}
                <button class="btn btn-primary pull-right" type="submit">Post</button>
            </div>
            </form>
        </div>
    </div>

{% endblock %}
