{# Marca/DocBundle/Resources/views/Markup/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/marcahome/js/spectrum.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/spectrum.css') }}">
{% endblock %}

{% block content %}
<script language="javascript">
    $(document).ready(function()
    {
    $("#marca_docbundle_markuptype_color").spectrum({
    preferredFormat: "name",
    showPaletteOnly: true,
    showInput: true,
    color: 'royalblue',
    palette: [
        ['darkseagreen', 'cadetblue', 'chartreuse','darkorange'],
        ['royalblue', 'seagreen', 'slateblue','coral'],
        ['darkmagenta', 'darkslategrey', 'teal','firebrick'],
        ['orange', 'cadetblue', 'tomato','blueviolet']        
    ]
    });
    });
</script>

<legend>Markup Tag</legend>  

<div class="row">
<div class="span6  well">  
    
<form action="{{ path('markup_create', { 'set_id': set_id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
        <button class="btn btn-primary btn-small" type="submit">Submit</button>
</form>       
</div>
</div>


{% endblock %}
