{# Marca/CourseBundle/Resources/views/Term/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well">
<legend>Terms</legend>
      <a class="btn btn-primary" href="{{ path('term_new') }}">New Term</a>
</div>


<div class="span9 well">

<table class="table">
<thead>
    <tr>             
        <th>Term</th>        
        <th>Termname</th>        
        <th>Status</th>        
        <th>Actions</th>
    </tr>
</thead>    
<tbody>
    {% for term in terms %}
    <tr>            
        <td>{{ term.term }}</td>        
        <td>{{ term.termName }}</td>        
        <td>{{ term.status }}</td>        
        <td><a class="btn btn-primary btn-small" href="{{ path('term_edit', { 'id': term.id }) }}">Edit</a></td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
