{# Marca/CourseBundle/Resources/views/Term/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-primary pull-right margin-top" href="{{ path('term_new') }}">Add Term<i class="glyphicon glyphicon-pencil glyphicon-white"></i></a>
            <h2>Terms</h2>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Term</th>
                    <th>Term ID Number (optional)</th>
                    <th>Status</th>
                    <th>Institution</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for term in terms %}
                    <tr>
                        <td>{{ term.termName }}</td>
                        <td>{{ term.term }}</td>
                        <td>{% if term.status == 0 %}Inactive{% endif %}{% if term.status == 1 %}Active{% endif %}{% if term.status == 2 %}Continuing{% endif %}</td>
                        <td>{{ term.institution.name }}
                        <td><a class="btn btn-default btn-sm" href="{{ path('term_edit', { 'id': term.id }) }}">Edit</a></td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <span class="text-muted"> </span>
        </div>
    </div>
{% endblock %}
