{# Marca/CourseBundle/Resources/views/Term/index.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
   <div class="span4">
      <a class="btn btn-primary" href="{{ path('term_new') }}">New</a>
   </div>
</div> 

<div class="row-fluid">
<div class="span6">
<table class="table table-bordered table-condensed table-striped">
<thead>
    <tr>        
        <th>Id</th>        
        <th>Term</th>        
        <th>Termname</th>        
        <th>Status</th>        
        <th>Actions</th>
    </tr>
</thead>    
<tbody>
    {% for term in terms %}
    <tr>        
        <td><a href="{{ path('term_show', { 'id': term.id }) }}">{{ term.id }}</a></td>        
        <td>{{ term.term }}</td>        
        <td>{{ term.termName }}</td>        
        <td>{{ term.status }}</td>        
        <td><div class="btn-group"><a class="btn" href="{{ path('term_show', { 'id': term.id }) }}">show</a><a class="btn" href="{{ path('term_edit', { 'id': term.id }) }}">edit</a></div>

</td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
