{# Marca/CourseBundle/Resources/views/Term/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-11 well">
<legend>Terms</legend>
      <a class="btn btn-primary" href="{{ path('term_new') }}">New Term</a>
</div>


<div class="col-md-11 well">

<table class="table">
<thead>
    <tr>             
        <th>Term</th>        
        <th>Term ID Number (UGA)</th>        
        <th>Status</th>
        <th>Institution</th>
        <th>Actions</th>
    </tr>
</thead>    
<tbody>
    {% for term in terms %}
    <tr>            
        <td><a class="" href="{{ path('term_show', { 'id': term.id }) }}">{{ term.termName }}</a></td>
        <td>{{ term.term }}</td>        
        <td>{% if term.status == 0 %}Inactive{% endif %}{% if term.status == 1 %}Active{% endif %}{% if term.status == 2 %}Continuing{% endif %}</td>        
        <td>{{ term.institution.name }}
        <td><a class="btn btn-primary btn-sm" href="{{ path('term_edit', { 'id': term.id }) }}">Edit</a></td>
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
