{# Marca/CourseBundle/Resources/views/Term/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-11 well">
<table class="table">
<tbody>
    <tr>
        <th>Term</th>         
        <td>{{ term.term }}</td>         
    </tr>        
    <tr>
        <th>Termname</th>         
        <td>{{ term.termName }}</td>         
    </tr>        
    <tr>
        <th>Status</th>         
        <td>{% if term.status==1 %}Active{% else %}Inactive{% endif %}</td>
    </tr>
    <tr>
        <th>Courses</th>
        <td>{{ courses|length }}</td>
    </tr>
</tbody>
</table>

    <a class="btn btn-default" href="{{ path('term') }}">List</a>
    <a class="btn btn-default" href="{{ path('term_edit', { 'id': term.id }) }}">Edit</a>
</div>
{% endblock %}
