{# Marca/ForumBundle/Resources/views/Comment/edit.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
CKEDITOR.replace( 'marca_forumbundle_commenttype_body',  {
    customConfig: '{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_config.js') }}'
} );
$('form li').addClass('alert alert-error');
});
</script>  
 
<div class="span9 well" style="padding:0">     
      <div class="well-header" >
         <h2 class="inline">{{ parent.title }}</h2>      
         <span class="margin-left">by {{ parent.user.firstname|capitalize }} {{ parent.user.lastname|capitalize }}</span>
         <p>Created  {{ parent.created|date('M d Y, h:ia') }}  / Updated  {{ parent.updated|date('M d Y, h:ia') }}</p>
      </div>       
<div class="span7 pad margin-bottom" >{{ parent.body|raw }}  </div>       
</div>

<div class="span9 well"> 
<form action="{{ course_path('comment_update', { 'id': comment.id, 'parentid': parent.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">
    {{ form_errors(edit_form) }}
         {{ form_row(edit_form.body) }}
    {{ form_rest(edit_form) }}
        <button class="btn btn-primary" type="submit">Update</button><a class='btn' href="{{ course_path('forum_show', { 'id': parent.id }) }}">Cancel</a>
</form>
</div>
{% endblock %}
