{# Marca/ForumBundle/Resources/views/Comment/new.html.twig #}

{% extends 'MarcaHomeBundle::dialog.html.twig' %}

{% block content %}
    <div class="col-sm-8 center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title small">{{ parent.title }}</h2>
            </div>
            <div class="panel-body">
                <p><strong>{{ parent.user.firstname|capitalize }} {{ parent.user.lastname|capitalize }} wrote:</strong></p>
                <div class="well">
                    {{ parent.body|raw }}
                </div>
                <p><strong>Your Comment:</strong></p>
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
