{# Marca/ForumBundle/Resources/views/Comment/new.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#marca_forumbundle_commenttype_body').ckeditor( function() {}, {removePlugins: 'elementspath', height:200,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
$('form li').addClass('alert alert-error');
});
</script>  
  
<div class="span9 well"> 
<form action="{{ course_path('comment_create', { 'forumid': forumid, 'parentid': parentid }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_errors(form) }}
         {{ form_row(form.body) }}
    {{ form_rest(form) }}
        <button class="btn btn-primary margin-top" type="submit">Submit</button>
</form>
</div>
{% endblock %}
