{% set bundlename= "BorrowersHomeBundle::layout.html.twig" %}

{{ "{% extends '"~ bundlename ~"' %}" }}

{{ "{% block content %}" }}
{% if 'new' in actions %}
<div class="col-md-11 well">
<legend></legend>     
      <a class="btn btn-primary" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">New</a>
</div>
{% endif %}



{{ '{% for entity in entities %}' }}
<div class="col-md-11 well">
        
    {%- for field, metadata in fields %}
    {%- if loop.first and ('show' in actions) %}
        
        <a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</a>
        
    {%- elseif metadata.type in ['date', 'datetime'] %}
        
       {{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif%}' }}
        
    {%- else %}
        
        {{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}
        
    {%- endif %}
    {%- if loop.last %}
        
        {%- include "views/others/actions.html.twig" %}
        
    {%- endif %}
    {%- endfor %}       
</div>
{{ '{% endfor %}' }}

{{ "{% endblock %}" }}
