{% set bundlename= "MarcaYourBundle::layout.html.twig" %}

{{ "{% extends '"~ bundlename ~"' %}" }}

{{ "{% block javascripts %}" }}

{{ "{% endblock %}" }}

{{ "{% block content %}" }}
<script language="javascript"> 
$(document).ready(function()
{

});
</script>

{% set hide_edit, hide_delete = true, true %}
{% include 'views/others/record_actions.html.twig' %}

<div class="col-md-11 well">
<legend></legend> 
</div> 

<div class="col-md-11 well">
<form action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
    {{ "{{ form_widget(form) }}" }}
    <div>
        <button class="btn btn-default" type="submit">Create</button><a class="btn btn-default" href="">Cancel</a>
    </div>
</form>
</div>
{{ "{% endblock %}" }}
