{% set bundlename= 'MarcaCourseBundle:Course:layout.html.twig' %}

{{ "{% extends '"~ bundlename ~"' %}" }}

{{ "{% block content %}" }}
<div class="span11">
    
{% set hide_edit, hide_delete = false, false %}
{% include 'views/others/record_actions.html.twig' %}
        
<div class="row-fluid">
<div class="span4">    
<table class="table table-bordered table-condensed table-striped">
<tbody>
{%- for field, metadata in fields %}
        
    <tr>
        <th>{{ field|capitalize }}</th>
        
        {%- if metadata.type in ['date', 'datetime'] %}
        <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}' }}</td>{%- else %}
         
        <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>
        {%- endif %}
         
    </tr>
{%- endfor %}  
</tbody>
</table>
</div>        
</div>
</div>        
{{ "{% endblock %}" }}
