{% set bundlename= "MarcaYourBundle::layout.html.twig" %}

{{ "{% extends '"~ bundlename ~"' %}" }}

{{ "{% block content %}" }}
{% set hide_edit, hide_delete = false, false %}
{% include 'views/others/record_actions.html.twig' %}
        

<div class="col-sm-11 well">
<legend></legend> 
</div>

<div class="col-sm-11 well">
{%- for field, metadata in fields %}
        
        {{ field|capitalize }}
        
        {%- if metadata.type in ['date', 'datetime'] %}
        {{ '{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}' }}{%- else %}
         
        {{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}
        {%- endif %}
         
    
{%- endfor %}  

</div>          
{{ "{% endblock %}" }}
