{# Marca/CourseBundle/Resources/views/Course/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block content %}
<div class="span9 well">
<legend>Announcements</legend>   

<form class="form" action="{{ path('announce_update', { 'courseid': course.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">  
      {{ form_errors(edit_form) }}
            {{ form_row (edit_form.announcement) }}    
      {{ form_rest(edit_form) }}       
      <button class="btn btn-primary" type="submit">Update</button><a class="btn" href="{{ path('course_home', { 'courseid': course.id }) }}">Cancel</a>
</form>
</div>
{% endblock %}
