
{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.17.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/marcahome/js/jquery-ui-timepicker-addon.js') }}"></script>
{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/smoothness/jquery-ui-1.8.17.custom.css') }}">
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$( '#marca_coursebundle_coursetype_time' ).timepicker({
showButtonPanel: true,
ampm: true,
});
});
</script>

<div class="span6 well">
 
<form action="{{ path('course_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">
{{ form_errors(edit_form) }}
{{ form_widget (edit_form.userid) }}{{ form_widget (edit_form.parentId) }}{{ form_widget (edit_form.assessmentId) }}
        
{{ form_errors (edit_form.name) }}{{ form_errors (edit_form.term) }}{{ form_errors (edit_form.time) }}{{ form_errors (edit_form.userid) }}{{ form_errors (edit_form.enroll) }}{{ form_errors (edit_form.post) }}{{ form_errors (edit_form.multicult) }}{{ form_errors (edit_form.parentId) }}{{ form_errors (edit_form.assessmentId) }}{{ form_errors (edit_form.studentForum) }}{{ form_errors (edit_form.notes) }}{{ form_errors (edit_form.forum) }}{{ form_errors (edit_form.journal) }}{{ form_errors (edit_form.portfolio) }}{{ form_errors (edit_form.zine) }}   
        
    <table class="table table-bordered table-condensed table-striped">
    <tbody>
    <tr><th>Name</th><td>{{ form_widget (edit_form.name) }}</td></tr>       
    <tr><th>Term</th><td>{{ form_widget (edit_form.term) }}</td></tr> 
    <tr><th>Time</th><td>{{ form_widget (edit_form.time) }}</td></tr>      
    <tr><th>Students can enroll in this course: </th><td>{{ form_widget (edit_form.enroll) }}</td></tr>  
    <tr><th>Students can post to Projects:  </th><td>{{ form_widget (edit_form.post) }}</td></tr>  
    <tr><th>Show Multicultural Resources: </th><td> {{ form_widget (edit_form.multicult) }}</td></tr>   
    <tr><th>Can Student Initiate Forum Discussions</th><td>{{ form_widget (edit_form.studentForum) }}</td></tr>  
    <tr><th>Display Notes Tool:  </th><td>{{ form_widget (edit_form.notes) }}</td></tr>   
    <tr><th>Display Forum Tool:  </th><td>{{ form_widget (edit_form.forum) }}</td></tr>  
    <tr><th>Display Journal Tool:  </th><td>{{ form_widget (edit_form.journal) }}</td></tr>  
    <tr><th>Display Portfolio Tool:</th><td>{{ form_widget (edit_form.portfolio) }}</td></tr>  
    <tr><th>Display Zine:  </th><td>{{ form_widget (edit_form.zine) }}</td></tr>  
    <tr><th>Tagset:  </th><td>{{ form_widget (edit_form.tagset) }}</td></tr> 
    <tr><th>Default Project:  </th><td>{{ form_widget (edit_form.projectDefault) }}</td></tr>
    <tr><th></th><td><button class="btn btn-primary" type="submit">Update</button><a style="margin-left: 1em;" class="btn" href="{{ path('course') }}">Cancel</a></td></tr>    
</tbody>
</table>
{{ form_rest(edit_form) }} 
</form>

</div>
{% endblock %}
