{# Marca/CourseBundle/Resources/views/Course/edit.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/jquery.timepicker.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/marcahome/js/jquery.timepicker.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $('#help').toggle();
            $('#help_show_btn').click(function () {
                $('#help_show').slideToggle();
                $('#help').slideToggle();
            });
            $('#help_close_btn').click(function () {
                $('#help_show').slideToggle();
                $('#help').slideToggle();
            });
            $('input[type=time]').on('click', function (event) {
                event.preventDefault();
            });
            $('#marca_coursebundle_coursetype_time').timepicker({'timeFormat': 'H:i'});
            $('form li').addClass('alert alert-error');
            $('#toggle_modal').click(function () {
                $('#delete_modal').modal();
            });
            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function(){
                window.location.href='{{ path('course_show', { 'courseid': course.id }) }}';
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-10 center">
        {% if pages %}
            <div id="help_show" class="panel panel-default">
                <div class="panel-heading">
                    <a id="help_show_btn" class="btn btn-default" href="javascript:void(0);">Help</a>
                </div>
            </div>
            <div id="help" class="panel panel-default">
                {% for page in pages %}
                    <div class="panel-heading">
                        <button id="help_close_btn" type="button" class="close">&times;</button>
                        <h2>{{ page.title|html_raw }}</h2>
                    </div>

                    <div class="panel-body">

                        {{ page.body|html_raw }}

                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-footer">
                    <button id="close_form" type="button" class="close">&times;</button>
                    <h2>Settings for {{ course.name }}</h2>
                {{ form (edit_form, {'attr' : {'novalidate':'novalidate'}}) }}
                </div>
            </div>
        </div>        
    </div>
                
                
    <div id="delete_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <span class="modal-title">Delete</span>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                    <form class="" id='course_delete' action="{{ path('course_delete', { 'courseid': course.id }) }}"
                          method="post">
                        {{ form_widget(delete_form) }}
                        <div class="btn-group">
                            <button class="btn btn-danger" type="submit">Delete</button>
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</a>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}





