{# Marca/CourseBundle/Resources/views/Course/edit.html.twig #}
{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/jquery.timepicker.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/marcahome/js/jquery.timepicker.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function()
        {
            $('input[type=time]').on('click', function(event) { event.preventDefault();});
            $('#marca_coursebundle_coursetype_time').timepicker({ 'timeFormat': 'H:i' });
            $('form li').addClass('alert alert-error');
            $('#toggle_modal').click(function(){
                $('#delete_modal').modal();
            });
        });
    </script>
{% endblock %}


{% block content %}
    <form class="form" action="{{ path('course_update', { 'courseid': course.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">


        <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{% if course.module!=0 %}Module{%else%}Essential{%endif%} settings</h2>
            </div>
            <div class="panel-body">
                {{ form_errors(edit_form) }}
                <div class="">{{ form_row (edit_form.name) }}</div>
                <div class="{% if course.module!=0 %}hide{%endif%}">{{ form_row (edit_form.time, {'type':'text'}) }}</div>
                <div class="{% if course.module!=0 %}hide{%endif%}">{{ form_row (edit_form.term) }}</div>
            </div>

            <div class="panel-heading {% if course.module!=0 %}hide{%endif%}">
                <h2>Tools</h2>
            </div>
            <div class="panel-body {% if course.module!=0 %}hide{%endif%}">
                    {{ form_row (edit_form.notes) }}
                    {{ form_row (edit_form.forum) }}
                    {{ form_row (edit_form.journal) }}
                    {{ form_row (edit_form.zine) }}

            </div>
                    <div class="panel-heading {% if course.module!=0 %}hide{%endif%}">
                        <h2>Portfolios</h2>
                    </div>
                    <div class="panel-body {% if course.module!=0 %}hide{%endif%}">
                        {{ form_row (edit_form.portfolio) }}
                        {{ form_row (edit_form.portset) }}
                        {{ form_row (edit_form.assessmentset) }}
                    </div>
                </div>
            </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading {% if course.module!=0 %}hide{%endif%}">
                    <h2>Student Access</h2>
                </div>
                <div class="panel-body {% if course.module!=0 %}hide{%endif%}">
                    {{ form_row (edit_form.enroll) }}
                    {{ form_row (edit_form.post) }}
                    {{ form_row (edit_form.studentForum) }}
                    {{ form_row (edit_form.institution) }}
                </div>

                <div class="panel-heading {% if course.module!=0 %}hide{%endif%}">
                    <h2>Other Settings</h2>
                </div>
                <div class="panel-body {% if course.module!=0 %}hide{%endif%}">
                    {{ form_row (edit_form.tagset) }}
                    {{ form_row (edit_form.markupsets) }}
                    {{ form_row (edit_form.parents) }}
                    {{ form_row (edit_form.module) }}
                    {{ form_rest(edit_form) }}
                </div>


                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn btn-primary " type="submit">Update</button>
                        <a class="btn btn-default" href="{{ path('course_show', { 'courseid': course.id }) }}">Cancel</a>
                    </div>
                    <a class="btn btn-warning pull-right" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                </div>
            </div>
        </div>
    </form>

    <div id="delete_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                    <form class="" id='course_delete' action="{{ path('course_delete', { 'courseid': course.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <div class="btn-group">
                            <button class="btn btn-danger" type="submit">Delete</button>
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</a>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}


