{# Marca/CourseBundle/Resources/views/Course/home.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}

<div class="span5 well">
<legend>{{ course.name }}</legend> {{ course.time|date('g:i A') }} {{ course.user.firstname }} {{ course.user.lastname }}
<hr/>
<legend>Calendar</legend>  
<table class="table">   
<tbody>
{% for calendar in calendar %}
<tr><td style="{% if calendar.color != '' %}background: {{calendar.color}}{% endif%}">{% if calendar.startDate %}{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date('g:i A') }}{% endif%}</td></tr> 
<tr><td><strong>{{ calendar.title }}</strong></td></tr>   
<tr><td>{{ calendar.description|raw }}</td></tr>                  
{% endfor %}
</tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(calendar) }}
</div>
</div>

<div class="span3 well">
<legend>Announcements  
    {% if course.isOwner(app.user.username) %}<a class="btn btn-primary btn-small" href="{{ path('announce_edit', { 'courseid': course.id }) }}">Edit</a>{% endif %}</legend>  
<p>{{ course.announcement|raw }}</p>
</div>

{% endblock %}
