{# Marca/CourseBundle/Resources/views/Course/home.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}
<script language="javascript">
$(document).ready(function() { 
$('.well').animate({ borderColor: '#2F96B4', borderWidth: '1.5px' }, 2000).delay(500).animate({ borderColor: '#E3E3E3', borderWidth: '1px'  }, 2000);    
});
</script>
<div class="span5 well">
<h1>{{ course.name }}</h1> {{ course.time|date('g:i A') }} 
{{ course.user.firstname }} {{ course.user.lastname }}
<hr/>
<h1>Calendar</h1>  
<table class="table">
<thead><th>Upcoming Events</th></thead>    
<tbody>
{% for calendar in calendar %}
<tr><td style="{% if calendar.color != '' %}background: {{calendar.color}}{% endif%}">{% if calendar.startDate %}{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date('g:i A') }}{% endif%}</td></tr> 
<tr><td><strong>{{ calendar.title }}</strong></td></tr>   
<tr><td>{{ calendar.description|raw }}</td></tr>                  
{% endfor %}
</tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(calendar) }}
</div>
</div>

{% if app.session.get('module')== 0 %}
<div class="span3 well">
<h1 class='inline'>Announcements</h1>   
<p>{{ course.announcement|raw }}</p>
{% if course.isOwner(app.user.username) %}<a class="btn btn-primary btn-small" href="{{ path('announce_edit', { 'courseid': course.id }) }}">Edit</a>{% endif %}
</div>
{%endif%}
{% endblock %}
