{# Marca/CourseBundle/Resources/views/Course/home.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-6 col-xs-12">
<div class="panel panel-marca">
        <div class="panel-heading">
<h2 class="panel-title">Upcoming events</h2>
            </div>
    <div class="panel-body">
{% for calendar in calendar %}
    <div class="panel panel-default">
        <div class="panel-heading">

        <h3 class="panel-title"><span class="pull-left" style="height:100%;width:1.5em;text-align:center;margin-right:6px; border-radius: 0px 4px 4px 0px;{% if calendar.color != '' %}background: {{calendar.color}};color:{{calendar.color}};{% endif%}">&#183;</span> {{ calendar.title }}</h3>
            <span class="text-muted">{% if calendar.startDate %}{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date('g:i A') }}{% endif%}</span>
        </div>
        <div class="panel-body">
            {{ calendar.description|raw }}
        </div>
    </div>
{% endfor %}


<div class="navigation">
    {{ knp_pagination_render(calendar) }}
</div>
    </div>
</div>
    </div>

{% if app.session.get('module')== 0 %}
<div class="col-md-6 col-xs-12">
<div class="panel panel-marca">
<div class="panel-heading">
    <h2 class="panel-title">Announcements</h2>
    </div>
    <div class="panel-body">
    <p>{{ course.announcement|raw }}</p>
    </div>
{% if course.isOwner(app.user.username) %}<div class="panel-footer"><a class="btn btn-primary btn-sm" href="{{ path('announce_edit', { 'courseid': course.id }) }}">Edit</a></div></div>{% endif %}

{% if files %}
<div class="panel panel-default">
    <div class="panel-heading">
    <h2>Featured Resources</h2>
    </div>
    <div class="panel-body">
    <table class="table">
                {% for file in files%}

                    {# main list of files #}
                    <tr>
                        <td>
                            {# ODT files #}
                            {% if file.doc %}
                                <span class="label label-file" data-toggle="tooltip" title="This an html file ">html</span>
                                <a title="Open this file in a new tab." target ='_blank' href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'window' }) }}">{{ file.name }}<i class="glyphicon-share-alt"></i></a>

                                {# links #}
                            {% elseif file.url %}
                                <span class="label label-file" data-toggle="tooltip" title="This a link ">link</span>
                                <a class="" href="{{ file.url}}" target="_blank" title='This link will open in a new window or tab.'>{% if app.request.get('resource')=='0' %}{{ file.name|slice(0, 25) }}{% else%}{{ file.name }}{% endif %}</a>

                                {# ODT files #}
                            {% elseif file.ext == 'odt' %}
                                <span class="label label-file" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                                <a class="" href="{{ course_path('file_view_odt', { 'id': file.id, 'view': 'app' }) }}" title="View {{ file.name }}" >{% if app.request.get('resource')=='0' %}{{ file.name|slice(0, 25) }}{% else%}{{ file.name }}{% endif %}</a>
                                <a href="{{ course_path('file_view', { 'id': file.id }) }}" title="Download {{ file.name }}" ><i class="glyphicon-download"></i></a>
                            {% else %}
                                <span class="label label-file" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                                <a class="" href="{{ course_path('file_view', { 'id': file.id}) }}" title="View {{ file.name }}" >{% if app.request.get('resource')=='0' %}{{ file.name|slice(0, 25) }}{% else%}{{ file.name }}{% endif %}</a>
                            {% endif %}
                        </td>

                    </tr>



                    {% if loop.first %}
                        </tbody>
                    {% endif %}
                {% endfor %}

            </table>
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary btn-sm" title='Course Resources' href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0', 'resource': '1', 'tag': '0', 'userid': '0' }) }}">Resources</a>
    </div>
</div>
{% endif %}
</div>
{%endif%}





{% endblock %}
