{# Marca/CourseBundle/Resources/views/Course/home.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}

<div class="span4 well">
<legend>{{ course.name }}</legend> {{ course.time|date('g:i A') }} {{ course.user.firstname }} {{ course.user.lastname }}
</div>
<div class="span4 well">
<legend>Announcements</legend>  
<p>{{ course.announcement }}</p>
</div>



<div class="span4 well">
<legend>Calendar</legend>  
<table class="table">   
<tbody>
{% for calendar in calendar %}
<tr><td style="{% if calendar.color != '' %}background: {{calendar.color}}{% endif%}">{% if calendar.startDate %}{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date('g:i A') }}{% endif%}</td></tr> 
<tr><td>{{ calendar.title }}</td></tr>   
<tr><td>{{ calendar.description|raw }}</td></tr>                  
{% endfor %}
</tbody>
</table>

<div class="navigation">
    {{ calendar.render()|raw }}
</div>
</div>


{% endblock %}
