{# Marca/CourseBundle/Resources/views/Course/home.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-6 well">
<h2>{{ course.name }}</h2> {{ course.time|date('g:i A') }}
{{ course.user.firstname }} {{ course.user.lastname }}
<hr/>
<h2>Calendar</h2>
<table class="table">
<thead><th>Upcoming Events</th></thead>    
<tbody>
{% for calendar in calendar %}
<tr><td style="{% if calendar.color != '' %}background: {{calendar.color}}{% endif%}">{% if calendar.startDate %}{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date('g:i A') }}{% endif%}</td></tr> 
<tr><td><strong>{{ calendar.title }}</strong></td></tr>   
<tr><td>{{ calendar.description|raw }}</td></tr>                  
{% endfor %}
</tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(calendar) }}
</div>
</div>

{% if app.session.get('module')== 0 %}
<div class="col-md-6 well">
<h2>Announcements</h2>
<p>{{ course.announcement|raw }}</p>
{% if course.isOwner(app.user.username) %}<a class="btn btn-primary btn-small" href="{{ path('announce_edit', { 'courseid': course.id }) }}">Edit</a>{% endif %}

{% if files %}
<hr/>
            <h2>Course Home Files</h2>
            <table class="table">
                {% for file in files%}

                    {# main list of files #}
                    <tr>
                        <td>
                            {# ODT files #}
                            {% if file.doc %}
                                <span class="label label-file" data-toggle="tooltip" title="This an html file ">html</span>
                                <a title="Open this file in a new tab." target ='_blank' href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'window' }) }}">{{ file.name }}<i class="icon-share-alt"></i></a>

                                {# links #}
                            {% elseif file.url %}
                                <span class="label label-file" data-toggle="tooltip" title="This a link ">link</span>
                                <a class="" href="{{ file.url}}" target="_blank" title='This link will open in a new window or tab.'>{% if app.request.get('resource')=='0' %}{{ file.name|slice(0, 25) }}{% else%}{{ file.name }}{% endif %}</a>

                                {# ODT files #}
                            {% elseif file.ext == 'odt' %}
                                <span class="label label-file" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                                <a class="" href="{{ course_path('file_view_odt', { 'id': file.id, 'view': 'app' }) }}" title="View {{ file.name }}" >{% if app.request.get('resource')=='0' %}{{ file.name|slice(0, 25) }}{% else%}{{ file.name }}{% endif %}</a>
                                <a href="{{ course_path('file_view', { 'id': file.id }) }}" title="Download {{ file.name }}" ><i class="icon-download"></i></a>
                            {% else %}
                                <span class="label label-file" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                                <a class="" href="{{ course_path('file_view', { 'id': file.id}) }}" title="View {{ file.name }}" >{% if app.request.get('resource')=='0' %}{{ file.name|slice(0, 25) }}{% else%}{{ file.name }}{% endif %}</a>
                            {% endif %}
                        </td>

                    </tr>



                    {% if loop.first %}
                        </tbody>
                    {% endif %}
                {% endfor %}

            </table>

{% endif %}
</div>
{%endif%}





{% endblock %}
