{# Marca/CourseBundle/Resources/views/Course/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span9  well">
<h1 class='verysmall'>Course Settings</h1>  
      <a class="btn btn-primary" href="{{ path('course_new') }}">New Course</a>
<hr/> 
<div class='alert alert-success'>Click course name to adjust settings.</div>
<table class="table">
<tbody>
    {% for course in courses %}
        <tr>
            <td><a class="" title="Edit setting for {{ course.name }} {{ course.time|date('h:i a') }}" href="{{ path('course_show', { 'courseid': course.id }) }}">{{ course.name }} {{ course.time|date('h:i a') }}</a></td>
            <td>{{ course.time|date('h:i a') }}</td>
        </tr>
     {% endfor %}   
    </tbody>
</table>
</div> 


 
{% endblock %}

