{% extends 'MarcaCourseBundle:Course:layout.html.twig' %}
 
{% block body %}
    <div class="row-fluid">
      <div class="span12">
        <a class="btn btn-primary" href="{{ path('course_new') }}">Create a new Course</a>
      </div>
    </div> 

    <div class="row-fluid">
      <div class="span12">
        <table class="table table-bordered">
        <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.term }}</td>
            <td>{{ entity.time|date('h:i a') }}</td>
            <td>{{ entity.enroll }}</td>
            <td>{{ entity.post }}</td>
            <td>{{ entity.portRubricId }}</td>
            <td>{{ entity.multicult }}</td>
            <td>{{ entity.projectDefaultId }}</td>
            <td>{{ entity.parentId }}</td>
            <td>{{ entity.assessmentId }}</td>
            <td>{{ entity.studentForum }}</td>
            <td>{{ entity.notes }}</td>
            <td>{{ entity.journal }}</td>
            <td>{{ entity.portfolio }}</td>
            <td>{{ entity.zine }}</td>
            <td>{{ entity.portStatus }}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <div class="btn-group">
                 <a class="btn" href="{{ path('course_show', { 'id': entity.id }) }}">show</a>
                 <a class="btn" href="{{ path('course_edit', { 'id': entity.id }) }}">edit</a>
                </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    </div>  

{% endblock %}