{# Marca/CourseBundle/Resources/views/Course/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-11  well">
<h1>Settings</h1>     

<div class='alert alert-success'>Click name to adjust settings.</div>
<h2>Courses</h2>

    <a class="btn btn-primary" href="{{ path('course_new', {'type':'0'}) }}">New Course</a>

<table class="table">
<tbody>
    {% for course in courses if course.module==0 %}
        <tr>
            <td><a class="" title="Edit setting for {{ course.name }}" href="{{ path('course_show', { 'courseid': course.id }) }}">{{ course.name }}</a></td>
            <td>{{ course.time|date('h:i a') }}</td>
        </tr>
     {% endfor %}   
    </tbody>
</table>
<h2>Modules</h2>

<div class='alert alert-info'>Modules are content repositories that can be included in courses.</div>

    <a class="btn" href="{{ path('course_new', {'type':'1'}) }}">New Module</a>
<table class="table">
<tbody>
    {% for course in courses if course.module!=0 %}
        <tr>
            <td><a class="" title="Edit setting for {{ course.name }}" href="{{ path('course_show', { 'courseid': course.id }) }}">{{ course.name }}</a></td>
        </tr>
     {% endfor %}   
    </tbody>
</table>
</div> 


 
{% endblock %}

