{% extends '::base.html.twig' %}
{% block title %}Marca Course{% endblock %}

{% block stylesheets %}
{% stylesheets 
  'bundles/marcacourse/css/*'
  filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}

{% block body %}
<div class="row-fluid">
{% block sidebar %}
<div class="span2">
    <div class="sidebar-nav">
     <ul class="nav nav-tabs nav-stacked">
      <li><a href="{{ path('course') }}">Courses</a></li>
      <li><a href="{{ path('term') }}">Term</a></li>
      <li><a href="{{ path('roll') }}">Roll</a></li>
      <li><a href="{{ path('project') }}">Project</a></li>
     </ul>
    </div> 
    </div>        
{% endblock %}  
<div class="span10"> 
{% block content %}          
{% endblock %}
</div>   
</div>         
{% endblock %} 