{# Marca/CourseBundle/Resources/views/Course/new.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/jquery.timepicker.css') }}">
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/marcahome/js/jquery.timepicker.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function()
        {
            $('#help').toggle();
            $('input[type=time]').on('click', function(event) { event.preventDefault();});
            $('#marca_coursebundle_coursetype_time').timepicker({ 'timeFormat': 'H:i' });
            $('form li').addClass('alert alert-error');
            $('#help_show_btn').click(function(){
                $('#help_show').slideToggle();$('#help').slideToggle();
            });
            $('#help_close_btn').click(function(){
                $('#help_show').slideToggle();$('#help').slideToggle();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-11 center">
        {% if pages %}
            <div id="help_show" class="panel panel-default">
                <div class="panel-heading">
                    <a id="help_show_btn" class="btn btn-default" href="javascript:void(0);">Help</a>
                </div>
            </div>
            <div id="help" class="panel panel-default">
                {% for page in pages %}
                    <div class="panel-heading">
                        <button id="help_close_btn" type="button" class="close">&times;</button>
                        <h2>{{ page.title|raw }}</h2>
                    </div>

                    <div class="panel-body">

                        {{ page.body|raw }}

                    </div>
                {% endfor %}
            </div>
        {% endif %}


        <form class="form" action="{{ path('course_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">


            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="margin-top-small">{% if course.module!=0 %}Module{%else%}Essential{%endif%} settings</h2>
                    </div>
                    <div class="panel-body">
                        {{ form_errors(form) }}
                        <div class="">{{ form_row (form.name) }}</div>
                        <div class="{% if course.module!=0 %}hide{%endif%}">{{ form_row (form.time, {'type':'text'}) }}</div>
                        <div class="{% if course.module!=0 %}hide{%endif%}">{{ form_row (form.term) }}</div>
                    </div>

                    {% if course.module!=0 %}
                    <div class="panel-footer">
                        <div class="btn-group">
                            <button class="btn btn-primary " type="submit">Create</button>
                            <a class="btn btn-default" href="{{ path('user_home') }}">Cancel</a>
                        </div>
                    </div>
                    {% endif %}

                    <div class="panel-heading {% if course.module!=0 %}hide{%endif%}">
                        <h2 class="margin-top-small">Tools</h2>
                    </div>
                    <div class="panel-body {% if course.module!=0 %}hide{%endif%}">
                        {{ form_row (form.notes) }}
                        {{ form_row (form.forum) }}
                        {{ form_row (form.journal) }}
                        {{ form_row (form.zine) }}

                    </div>
                    <div class="panel-heading {% if course.module!=0 %}hide{%endif%}">
                        <h2 class="margin-top-small">Portfolios</h2>
                    </div>
                    <div class="panel-body {% if course.module!=0 %}hide{%endif%}">
                        {{ form_row (form.portfolio) }}
                        {{ form_row (form.portset) }}
                        {{ form_row (form.assessmentset) }}
                    </div>
                </div>
            </div>


            <div class="col-sm-6" {% if course.module != 0%} style="display:none;"{% endif %}>
                <div class="panel panel-default">
                    <div class="panel-heading {% if course.module!=0 %}hide{%endif%}">
                        <h2 class="margin-top-small">Student Access</h2>
                    </div>
                    <div class="panel-body {% if course.module!=0 %}hide{%endif%}">
                        {{ form_row (form.enroll) }}
                        {{ form_row (form.post) }}
                        {{ form_row (form.studentForum) }}
                        {{ form_row (form.institution) }}
                    </div>

                    <div class="panel-heading {% if course.module!=0 %}hide{%endif%}">
                        <h2 class="margin-top-small">Other Settings</h2>
                    </div>
                    <div class="panel-body {% if course.module!=0 %}hide{%endif%}">
                        {{ form_row (form.tagset) }}
                        {{ form_row (form.markupsets) }}
                        {{ form_row (form.parents) }}
                        {{ form_row (form.module) }}
                        {{ form_rest(form) }}
                    </div>


                    <div class="panel-footer" style="{% if course.module!=0 %}display:none;"{% endif %}>
                        <div class="btn-group">
                            <button class="btn btn-primary " type="submit">Create</button>
                            <a class="btn btn-default" href="{{ path('user_home') }}">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}




