{# Marca/CourseBundle/Resources/views/Course/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}
{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/marcahome/js/jquery.timepicker.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/smoothness/jquery-ui-1.8.17.custom.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/jquery.timepicker.css') }}">
{% endblock %}
{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$( '#marca_coursebundle_coursetype_time' ).timepicker(({ 'timeFormat': 'H:i' }));
$('form li').addClass('alert alert-error');
});
</script>

<form class="form" action="{{ path('course_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate"> 
            {{ form_errors(form) }}
            <div class="span9 well">
            <h2>{% if course.module!=0 %}Module{%else%}Essential{%endif%} settings</h2>
            <div class="span3 ">{{ form_row (form.name) }}</div>   
            <div class="span3 {% if course.module!=0 %}hide{%endif%}">{{ form_row (form.time) }}</div>  
            <div class="span2 {% if course.module!=0 %}hide{%endif%}">{{ form_row (form.term) }}</div> 
            </div>
        
            <div class="span9 well {% if course.module!=0 %}hide{%endif%}">
            <h2>Additional settings</h2>
            <div class="span3 ">
            {{ form_row (form.notes) }}  
            {{ form_row (form.forum) }} 
            {{ form_row (form.journal) }}            
            {{ form_row (form.zine) }} 
        
            <hr/>
            {{ form_row (form.enroll) }} 
            {{ form_row (form.post) }} 
            {{ form_row (form.studentForum) }} 
            {{ form_row (form.institution) }} 
            </div>    

    
            <div class="span3 "> 
            {{ form_row (form.portfolio) }}     
            {{ form_row (form.portset) }}
            {{ form_row (form.assessmentset) }}                     
            </div> 
                
            <div class="span2 "> 
            {{ form_row (form.tagset) }}     
            {{ form_row (form.markupsets) }}
            {{ form_row (form.parents) }}
            {{ form_row (form.module) }}        
            </div>                 
            </div>        
            {{ form_rest(form) }}    
        
      <div class="span9 well">
      <button class="btn btn-primary" type="submit">Create</button><a style="margin-left: 1em;" class="btn" href="{{ path('course') }}">Cancel</a> 
     </div>
</form>     


{% endblock %}


