
{% extends 'MarcaUserBundle::layout.html.twig' %}
{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.17.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/marcahome/js/jquery-ui-timepicker-addon.js') }}"></script>
{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/smoothness/jquery-ui-1.8.17.custom.css') }}">
{% endblock %}
{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$( '#marca_coursebundle_coursetype_time' ).timepicker({
showButtonPanel: true,
ampm: true,
});
});
</script>


<div class="span4 well">
<h3>Create Course</h3>   
<h4>You may edit these preferences at any time.</h4>
<form class="form" action="{{ path('course_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate"> 
    {{ form_errors(form) }}
        
            {{ form_row (form.parentId) }}
            {{ form_row (form.assessmentId) }}       
            {{ form_row (form.name) }}    
            {{ form_row (form.term) }}
            {{ form_row (form.time) }}     
            {{ form_row (form.enroll) }} 
            {{ form_row (form.post) }} 
            {{ form_row (form.multicult) }}  
            {{ form_row (form.studentForum) }} 
            {{ form_row (form.notes) }}  
            {{ form_row (form.forum) }} 
            {{ form_row (form.journal) }} 
            {{ form_row (form.portfolio) }}
            {{ form_row (edit_form.portset) }} 
            {{ form_row (form.zine) }} 
            {{ form_row (form.tagset) }}
 
      {{ form_rest(form) }}       
</form>     
</div>

{% endblock %}


