{# Marca/CourseBundle/Resources/views/Course/roll.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}

<div class="col-md-11">
<ul class="breadcrumb well">
<li> 
{{ profile.firstname }} {{ profile.lastname }}'s Profile
</li>

{# next previous users on roll #} 
<li class='pull-right'>
{% for roll in roll %}
{% if loop.index == app.request.get('user') + 1 %}  
<span style='margin-right:3em;'></span>        
<a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('course_roll_profile', { 'rollid': roll.id, 'user': loop.index }) }}">{{roll.firstname}} {{roll.lastname}}<i class="glyphicon glyphicon-chevron-right"></i></a>
{% endif %}

{% if loop.index == app.request.get('user') - 1 %}
<a class='' data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('course_roll_profile', { 'rollid': roll.id, 'user': loop.index }) }}"><i class="glyphicon glyphicon-chevron-left"></i>{{roll.firstname}} {{roll.lastname}}</a>
{% endif %}
{% endfor %}
</li> 
</ul>
</div>


<div class="col-md-11 well">

<legend>{{ profile.firstname }} {{ profile.lastname }}  </legend>
<p><a class="" target="_blank" href="mailto:{{ profile.email }}">{{ profile.email }}</a></p>

<ul class="thumbnail">
  <li class="col-md-2">
    <div class="img-thumbnail">
      <img src="{{ profile.photo }}" alt="{{ profile.firstname }} {{ profile.lastname }}">
      <h3></h3>
      <p>{{ profile.firstname }} {{ profile.lastname }}</p>
    </div>
  </li>
</ul>

<p>{{ profile.bio|raw }}</p>
</div>

{% if user == app.user.username or role == 2 %}
<div class="col-md-8 well">
    <ul>
        <li>Forums:  {{ countForums|length}}  (class average: {{ countCourseForums|length //roll|length}})</li>  
        <li>Comments:  {{ countComments|length}}  (class average: {{ countCourseComments|length//roll|length}})</li>
        <li>Replies:  {{ countReplies|length}}  (class average: {{ countCourseReplies|length//roll|length}})</li>  
        <li>Total:  {{ countForums|length + countComments|length + countReplies|length }}  (class average: {{ (countCourseForums|length + countCourseComments|length +countCourseReplies|length) //roll|length }})</li>  
    </ul>
    <ul>
        <li>Journal entries:  {{ countJournals|length}} (class average: {{ countCourseJournals|length //roll|length}})</li>  
    </ul>
    <ul>
        <li>Files:  {{ countFiles|length}} (class average: {{ countCourseFiles|length //roll|length}})</li>  
    </ul>         
</div>
{% endif%}
{% endblock %}
