{# Marca/CourseBundle/Resources/views/Course/roll.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}
      
<div class="row">
<div class="span8 well">

<legend>{{ profile.firstname }} {{ profile.lastname }}  </legend>
<p>{{ profile.email }}</p>

<ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
      <img src="{{ profile.photo }}" alt="{{ profile.firstname }} {{ profile.lastname }}">
      <h3></h3>
      <p>{{ profile.firstname }} {{ profile.lastname }}</p>
    </div>
  </li>
</ul>

<p>{{ profile.bio|raw }}</p>

</div>
</div>  
{% endblock %}
