{# Marca/CourseBundle/Resources/views/Course/roll.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/marcahome/js/jquery.timepicker.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            {% for attendance in profile.attendance %}
            $('#edit_{{attendance.id}}').click(function () {
                $('#attendance_modal').load('{{ course_path('attendance_edit', { 'id': attendance.id, 'rollid': profile.id, 'user': app.request.get('user') }) }}').modal();
            });
            {% endfor %}
        });
    </script>
{% endblock %}

{% block content %}

<div class="col-sm-12">
    <div class="col-sm-6 center">

        {# next previous users on roll #}
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#profile_nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="profile_nav">

                <ul class="nav navbar-nav">
                    {% if app.session.get('module')== 0 %}
                        <li>
                            <a href="{{ course_path('roll') }}">Manage Roll</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="inline-block pull-right">
                    {% for roll in roll %}
                        {% if loop.index == app.request.get('user') + 1 %}
                            <ul class="nav navbar-nav">
                                <li>
                                    <a data-index="{{ loop.index }}" data-id='{{ roll.user.id }}'
                                       href="{{ course_path('course_roll_profile', { 'rollid': roll.id, 'user': loop.index }) }}">{{ roll.firstname }} {{ roll.lastname }}
                                        <i class="glyphicon glyphicon-chevron-right"></i></a>
                                </li>
                            </ul>
                        {% endif %}
                        {% if loop.index == app.request.get('user') - 1 %}
                            <ul class="nav navbar-nav">
                                <li>
                                    <a data-index="{{ loop.index }}" data-id='{{ roll.user.id }}'
                                       href="{{ course_path('course_roll_profile', { 'rollid': roll.id, 'user': loop.index }) }}"><i
                                                class="glyphicon glyphicon-chevron-left"></i>{{ roll.firstname }} {{ roll.lastname }}
                                    </a>
                                </li>
                            </ul>
                        {% endif %}

                    {% endfor %}

                </div>


            </div>
        </nav>


        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <h2 class="margin-top-small"
                        style="text-align:center;margin-bottom:15px;">{{ user.firstname }} {{ user.lastname }}  </h2>

                    <div class="col-sm-12 " style="text-align:center;margin-bottom:15px;">
                        {% if user.photo != '' %}
                            <img class="img-rounded" style="width:50%;align:center;" src="{{ user.photo }}"
                                 alt="{{ user.firstname }} {{ user.lastname }}">
                        {% endif %}
                        <p><a class="" target="_blank" href="mailto:{{ user.email }}">{{ user.email }}</a></p>
                    </div>

                    <p>{{ user.bio|raw }}</p>

                    <hr class="marca-spacer"/>

                    {% if user == app.user.username or role == 2 %}

                        {# grades #}
                        <ul class="list-unstyled">
                            <li><strong>Grades</strong></li>
                            {% for grade in profile.user.grades %}
                                <li>{{ grade.category.name }}:  {{ grade.grade }}</li>
                            {% endfor %}
                        </ul>
                        {# absences #}
                        <ul class="list-unstyled">
                            <li>
                                {% set x=0 %}
                                <strong>Absences:</strong> {% for attendance in profile.attendance if attendance.type==0 %}{% set x=x+1 %}{% endfor %}{{ x }}
                                <br/>
                                {% for attendance in profile.attendance if attendance.type==0 %}
                                    <a class="margin-right" href="javascript:void(0);" title="Edit attendance"
                                       id="edit_{{ attendance.id }}">{{ attendance.date|date('n/j (D)') }}</a>
                                {% endfor %}
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li>
                                {% set y=0 %}
                                <strong>Tardies:</strong> {% for attendance in profile.attendance if attendance.type==1 %}{% set y=y+1 %}{% endfor %}{{ y }}
                                <br/>
                                {% for attendance in profile.attendance if attendance.type==1 %}
                                    <a class="margin-right" href="javascript:void(0);" title="Edit attendance"
                                       id="edit_{{ attendance.id }}">{{ attendance.date|date('n/j (D)') }}</a>
                                {% endfor %}
                            </li>
                        </ul>
                        {# usage #}
                        <ul class="list-unstyled">
                            <li><strong>Forums:</strong>  {{ countForums|length }}  (class
                                average: {{ countCourseForums|length //roll|length }})
                            </li>
                            <li><strong>Comments:</strong>  {{ countComments|length }}  (class
                                average: {{ countCourseComments|length//roll|length }})
                            </li>
                            <li><strong>Replies:</strong>  {{ countReplies|length }}  (class
                                average: {{ countCourseReplies|length//roll|length }})
                            </li>
                            <li>
                                <strong>Total:</strong>  {{ countForums|length + countComments|length + countReplies|length }}
                                (class
                                average: {{ (countCourseForums|length + countCourseComments|length +countCourseReplies|length) //roll|length }}
                                )
                            </li>
                        </ul>


                        <ul class="list-unstyled">
                            <li><strong>Journal entries:</strong>  {{ countJournals|length }} (class
                                average: {{ countCourseJournals|length //roll|length }})
                            </li>
                        </ul>


                        <ul class="list-unstyled">
                            <li><strong>Files:</strong>  {{ countFiles|length }} (class
                                average: {{ countCourseFiles|length //roll|length }})
                            </li>
                        </ul>



                    {% endif %}
                </div>
            </div>

        </div>
    </div>

    {# Modal #}
    <div class="modal fade" id="attendance_modal" tabindex="-1" aria-labelledby="baseModalLabel" aria-hidden="true"
         role="dialog">

    </div>
    <!-- /.modal -->

    {% endblock %}


