{# Marca/CourseBundle/Resources/views/Course/roll.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}

<div class="col-md-12">





<div class="col-md-6 center">

    {# next previous users on roll #}
<div style="text-align:center;">
    <ul class="list-unstyled">
        <li>
            {% for roll in roll %}
                {% if loop.index == app.request.get('user') + 1 %}
                    <a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('course_roll_profile', { 'rollid': roll.id, 'user': loop.index }) }}">{{roll.firstname}} {{roll.lastname}}<i class="glyphicon glyphicon-chevron-right"></i></a>
                {% endif %}

                {% if loop.index == app.request.get('user') - 1 %}
                    <a class='' data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('course_roll_profile', { 'rollid': roll.id, 'user': loop.index }) }}"><i class="glyphicon glyphicon-chevron-left"></i>{{roll.firstname}} {{roll.lastname}}</a>
                {% endif %}
            {% endfor %}
        </li>
    </ul>
</div>

    <div class="panel panel-default">

        <div class="panel-body">
            <div style="text-align:center;">
                <h2 class="margin-top-small" style="text-align:center;margin-bottom:15px;">{{ user.firstname }} {{ user.lastname }}  </h2>
                <img class="img-circle" style="width:50%;" src="{{ user.photo }}" alt="{{ user.firstname }} {{ user.lastname }}">
                <h5><a class="" target="_blank" href="mailto:{{ user.email }}">{{ user.email }}</a></h5

                <h5>{{ user.bio|raw }}</h5>

                <hr class="marca-spacer" />

                {% if user == app.user.username or role == 2 %}
    <ul class="list-unstyled">
        <li>Forums:  {{ countForums|length}}  (class average: {{ countCourseForums|length //roll|length}})</li>  
        <li>Comments:  {{ countComments|length}}  (class average: {{ countCourseComments|length//roll|length}})</li>
        <li>Replies:  {{ countReplies|length}}  (class average: {{ countCourseReplies|length//roll|length}})</li>  
        <li>Total:  {{ countForums|length + countComments|length + countReplies|length }}  (class average: {{ (countCourseForums|length + countCourseComments|length +countCourseReplies|length) //roll|length }})</li>
    </ul>


    <ul class="list-unstyled">
        <li>Journal entries:  {{ countJournals|length}} (class average: {{ countCourseJournals|length //roll|length}})</li>
    </ul>


    <ul class="list-unstyled">
        <li>Files:  {{ countFiles|length}} (class average: {{ countCourseFiles|length //roll|length}})</li>  
    </ul>
    </div>
    </div>

    </div>
    </div>
{% endif%}
{% endblock %}
