{# Marca/CourseBundle/Resources/views/Course/roll.html.twig #}

{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well"> 
    <legend>Roll</legend>
</div>    
<div class="span9 well">    
    <table class="table table-condensed"><tbody>  
    {% for roll in roll %}
    <tr>
        <td><a class="" href="{{ course_path('course_roll_profile', { 'rollid': roll.id, 'user': loop.index }) }}">{{ roll.lastname|capitalize }}, {{ roll.firstname|capitalize }}</a></td>  
        <td><a class="" target="_blank" href="mailto:{{ roll.email }}">{{ roll.email }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
     </table>
    
{{ knp_pagination_render(roll) }}           
</div>
       
<div class="span9 well">
<a class="" target="_blank" href="mailto:{% for roll in full_roll %}{{ roll.email }}{% if not loop.last %}, {% endif %}{% endfor %}">{% for roll in full_roll %}{{ roll.email }}{% if not loop.last %}, {% endif %}{% endfor %}</a>
</div>

{% endblock %}
