
{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span11">

<div class="row-fluid">
<div class="span6 well">  
<h2>{{ entity.name }}</h2>    
<table class="table table-bordered table-condensed table-striped">
<thead><th colspan="2">Settings</td></thead>    
<tbody>          
    <tr>
        <th>Time</th>         
        <td>{{ entity.time|date('h:i a') }}</td>         
    </tr>           
    <tr>
        <th>Enrollment open</th>         
        <td>{{ entity.enroll=='t' ? 'Yes' : 'No' }}</td>         
    </tr>        
    <tr>
        <th>Student can post</th>         
        <td>{{ entity.post=='t' ? 'Yes' : 'No' }}</td>         
    </tr>           
    <tr>
        <th>Multicultural Archive</th>         
        <td>{{ entity.multicult=='t' ? 'Yes' : 'No' }}</td>         
    </tr>        
    <tr>
        <th>Default Project</th>         
        <td>{{ entity.projectDefaultId }}</td>         
    </tr>        
    <tr>
        <th>Parent Course</th>         
        <td>{{ entity.parentId }}</td>         
    </tr>        
    <tr>
        <th>Assessment</th>         
        <td>{{ entity.assessmentId }}</td>         
    </tr>        
    <tr>
        <th>Student may start forum threads</th>         
        <td>{{ entity.studentForum=='t' ? 'Yes' : 'No' }}</td>         
    </tr>
    <tr>
        <th colspan="2">Tools</th>              
    </tr>    
    <tr>
        <th>Notes</th>         
        <td>{{ entity.notes=='t' ? 'Yes' : 'No' }}</td>         
    </tr>        
    <tr>
        <th>Journal</th>         
        <td>{{ entity.journal=='t' ? 'Yes' : 'No' }}</td>         
    </tr>               
    <tr>
        <th>Zine</th>         
        <td>{{ entity.zine=='t' ? 'Yes' : 'No' }}</td>         
    </tr>    
    <tr>
        <th>Portfolio</th>         
        <td>{{ entity.portfolio=='t' ? 'Yes' : 'No' }}</td>         
    </tr>
    <tr>
        <th>Portfolio type</th>         
        <td>{{ entity.portRubricId}}</td>         
    </tr> 
    <tr>
        <th>Portfolio editing open</th>         
        <td>{{ entity.portStatus=='t' ? 'Yes' : 'No' }}</td>         
    </tr>
     <tr>
        <th>Tagset</th>         
        <td>{% for tagset in tagsets %}{{ tagset.name}}{% endfor %}</td>         
    </tr>   
    
    
</tbody>
</table>

<div class="row">
<div class="span2">
<a class="btn btn-primary" href="{{ path('course_edit', { 'id': entity.id }) }}">Edit this Course</a>
</div> 

<div class="span2">
<a class="btn btn-info" href="{{ path('course') }}">List Courses</a>
</div>       
        
<div class="span1">        
<form action="{{ path('course_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
</div>

<ul class="unstyled"> 
    <li>Created: {{ entity.created|date('Y-m-d H:i:s') }}</li>      
    <li>Last Updated:{{ entity.updated|date('Y-m-d H:i:s') }}</li>
</ul>
</div>        

<div class="span4 well"> 
    <h2>Projects</h2>
    <table class="table table-condensed">
    <tbody>  
    {% for project in projects %}       
    <tr>
        <th>{{ project.name }}</th>         
        <td><a class="btn btn-small btn-primary" href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a></td>  
        <td>
            <form action="{{ path('project_delete', { 'id': project.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
            </form>
         </td>       
    </tr> 
    {% endfor %}
    </tbody>
    </table>
    <hr/>
    <h2>Roll</h2>
    {% for roll in roll %}
    <ul class="unstyled">      
        <li>{{ roll.lastname }}, {{ roll.firstname }} {% if roll.role == 1 %}**{% endif %}</li>         
    </ul> 
    {% endfor %}    
</div>
</div>
        
        
</div>
{% endblock %}
