{% extends 'MarcaCourseBundle:Course:layout.html.twig' %}
 
{% block body %}

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Time</th>
            <td>{{ entity.time|date('h:i a') }}</td>
        </tr>
        <tr>
            <th>Userid</th>
            <td>{{ entity.userid }}</td>
        </tr>
        <tr>
            <th>Enroll</th>
            <td>{{ entity.enroll }}</td>
        </tr>
        <tr>
            <th>Post</th>
            <td>{{ entity.post }}</td>
        </tr>
        <tr>
            <th>Portrubricid</th>
            <td>{{ entity.portRubricId }}</td>
        </tr>
        <tr>
            <th>Multicult</th>
            <td>{{ entity.multicult }}</td>
        </tr>
        <tr>
            <th>Projectdefaultid</th>
            <td>{{ entity.projectDefaultId }}</td>
        </tr>
        <tr>
            <th>Parentid</th>
            <td>{{ entity.parentId }}</td>
        </tr>
        <tr>
            <th>Assessmentid</th>
            <td>{{ entity.assessmentId }}</td>
        </tr>
        <tr>
            <th>Studentforum</th>
            <td>{{ entity.studentForum }}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ entity.notes }}</td>
        </tr>
        <tr>
            <th>Journal</th>
            <td>{{ entity.journal }}</td>
        </tr>
        <tr>
            <th>Portfolio</th>
            <td>{{ entity.portfolio }}</td>
        </tr>
        <tr>
            <th>Zine</th>
            <td>{{ entity.zine }}</td>
        </tr>
        <tr>
            <th>Announcement</th>
            <td>{{ entity.announcement }}</td>
        </tr>
        <tr>
            <th>Portstatus</th>
            <td>{{ entity.portStatus }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<div class="btn-group">
        <a class="btn" href="{{ path('course') }}">
            Back to the list
        </a>

        <a class="btn" href="{{ path('course_edit', { 'id': entity.id }) }}">
            Edit
        </a>

        <form action="{{ path('course_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn" type="submit">Delete</button>
        </form>
    </div>
{% endblock %}