{# Marca/CourseBundle/Resources/views/Course/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-6">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h2 class="margin-top-small"><a
                            href="{{ path('course_home',{'courseid':course.id}) }}">{{ course.name }}</a></h2>
                {% if course.module == 2 %}
                    <div class='alert alert-success'>This module is shared with all instructors.</div>{% endif %}
                <p>
                    <strong>Time:</strong> {{ course.time|date('h:i a') }}
                    <strong>Term:</strong> {{ course.term.termName }}
                </p>

                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('course_edit', { 'courseid': course.id }) }}">Edit
                        Settings </a>
                    {% if course.module == 0 %}
                        <a class="btn btn-default" href="{{ path('roll', { 'courseid': course.id }) }}">Manage Roll</a>
                        {#  commented out until fully functional
                        <a class="btn btn-default" href="{{ path('teams', { 'courseid': course.id }) }}">Manage Teams</a>
                        #}
                    {% endif %}
                    {#

                    {% if course.module != 1 %}
                        <a class="btn btn-default"
                           href="{{ path('toggle_module', { 'courseid': course.id,'setting': 1  }) }}">Change to
                            Module</a>
                    {% endif %}

                    #}

                </div>
            </div>
        </div>

        <div class="panel panel-default ">
            <div class="panel-heading">
                <h2 class="margin-top-small">Tools</h2>
            </div>
            <div class="panel-body">

                <ul class="list-unstyled">
                    {% if course.module == 0 %}
                        <li><h2 class="margin-top-small">Tools available in the course</h2></li>
                        <li><strong>Notes tool:</strong>  {{ course.notes=='t' ? 'Yes' : 'No' }}</li>
                        <li><strong>Forum tool:</strong>  {{ course.forum=='t' ? 'Yes' : 'No' }}</li>
                        <li><strong>Journal tool:</strong>  {{ course.journal=='t' ? 'Yes' : 'No' }}</li>
                        <li><h2>Student access</h2></li>
                        <li><strong>Enrollment open:</strong>  {{ course.enroll=='t' ? 'Yes' : 'No' }}</li>
                        <li><strong>Student can post files: </strong> {{ course.post=='t' ? 'Yes' : 'No' }}</li>
                        <li><strong>Student can start forum
                                threads:</strong>  {{ course.studentForum=='t' ? 'Yes' : 'No' }}</li>
                        <li><h2>Portfolio</h2></li>
                        <li><strong>Portfolio: </strong> {{ course.portfolio=='t' ? 'Yes' : 'No' }}</li>
                        <li><strong>Portfolio
                                set:</strong>{% if portset %}{{ portset.name }}{% else %}No portfolio set designated{% endif %}
                        </li>
                        <li><strong>Portfolio
                                Assessment: </strong> {% if course.assessmentset %}{{ course.assessmentset.name }}{% else %}No portfolio assessment designated{% endif %}
                        </li>
                        <li><strong>Portfolio editing open: </strong>{{ course.portStatus=='t' ? 'Yes' : 'No' }}   </li>
                        <li><h2>Other Settings</h2></li>
                        <li><strong>Modules:</strong>  {% for course in course.parents %}{{ course.name }}
                                <br/>{% else %}No Modules{% endfor %} </li>

                        <li><strong>Markup
                                Sets:</strong> {% for markupset in course.markupsets %}{{ markupset.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                        </li>
                        <li><strong>Institution:</strong>  {% if course.institution == NULL %}
                                No institution is set for this course, please edit the course to set one
                            {% else %}
                                {{ course.institution.name }}
                            {% endif %}
                        </li>
                    {% endif %}
                    <li><strong>Label
                            Sets: </strong> {% for tagset in tagsets %}{{ tagset.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="margin-top-small">Grade Book (Beta)</h3>

                <p>Categories and percentages for grades</p>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-striped">
                    {% if course.gradeset %}
                        <tbody>
                        {% for category in course.gradeset.categories %}
                            <tr>
                                <td>{{ category.name }}: {{ category.percent }}%</td>
                            </tr>
                        {% endfor %}

                    {% else %}
                        <tr>
                            <td>This course does not have a Grade Book.
                                <a class="btn btn-primary btn-sm pull-right margin-top-small" href="{{ path('gradeset_new', { 'courseid': course.id }) }}">Create Grade Book<i
                                            class="glyphicon glyphicon-pencil glyphicon-white"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>

    </div>







    {% if course.module == 0 %}
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="margin-top-small">Projects</h2>

                    <p>Your students will place their work in these folders.</p>
                </div>
                <div class="panel-body">
                    <h3 class="margin-top-small" style="display:inline-block">Folders</h3>
                    <a class="btn btn-primary btn-xs pull-right"
                       href="{{ path('project_new', {'courseid': course.id, 'resource':0}) }}">New Folder</a>
                    <table class="table table-condensed">
                        <tbody>
                        {% for project in projects %}
                            {% set previousprojectindex = loop.index0 - 1 %}
                            {% set followingprojectindex = loop.index0 + 1 %}
                            <tr id="delete{{ project.id }}">
                                <td>{{ project.name }}</td>
                                <td>
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path('project_edit', { 'id': project.id,'courseid': course.id }) }}">Edit</a>
                                </td>
                                <td>
                                    {% if not loop.first %}
                                    <a href="{{ path('project_promote', { 'courseid':course.id, 'projectId':project.id, 'previousProjectId':projects[previousprojectindex].id}) }}">
                                            <i class="glyphicon glyphicon-chevron-up"></i>
                                        </a>
                                    {% endif %}
                                    {% if not loop.last %}
                                        <a href="{{ path('project_demote', { 'courseid':course.id, 'projectId':project.id, 'followingProjectId':projects[followingprojectindex].id}) }}">
                                            <i class="glyphicon glyphicon-chevron-down"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="margin-top-small">Resources</h2>
                {% if course.module == 0 %}
                <p>You will place content in these units for your students. Any units in the course marked <i
                            class="glyphicon glyphicon-home"></i> will display on the course home page.</p>
                {% else %}
                <p>You will place content in the units of this module to include in other courses. Add modules to
                    courses in "Course Settings."
                    The units will show under Resources in the course.
                <p>
                {% endif %}
            </div>
            <div class="panel-body">
                <h3 class="margin-top-small" style="display:inline-block">Units</h3>
                <a class="btn btn-primary btn-xs pull-right"
                   href="{{ path('project_new', {'courseid': course.id, 'resource':1}) }}">New Unit</a>
                <table class="table table-condensed table-striped">
                    <tbody>
                    {% for project in resources %}
                        {% set previousresourceindex = loop.index0 - 1 %}
                        {% set followingresourceindex = loop.index0 + 1 %}
                        <tr>
                            <td>{% if project.coursehome==true %}
                                    <i class="glyphicon glyphicon-home"></i>
                                {% endif %}
                                {{ project.name }}
                            </td>
                            <td>
                                <a class="btn btn-default btn-xs" href="{{ path('project_edit', { 'id': project.id,'courseid': course.id }) }}">Edit</a>
                            </td>
                            <td>
                                {% if not loop.first %}
                                <a href="{{ path('project_promote', { 'courseid':course.id, 'projectId':project.id, 'previousProjectId':resources[previousresourceindex].id}) }}">
                                        <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                {% endif %}
                                {% if not loop.last %}
                                <a href="{{ path('project_demote', { 'courseid':course.id, 'projectId':project.id, 'followingProjectId':resources[followingresourceindex].id}) }}">
                                        <i class="glyphicon glyphicon-chevron-down"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if course.module == 0 %}
            <div class="panel-heading">
                <h3 class="margin-top-small">Modules</h3>
                <p>Modules are libraries of content that you can reuse.</p>
            </div>
            <div class="panel-body">
                <p>Units from Modules included in this course:</p>
                <table class="table table-condensed table-striped">
                    <tbody>
                    {% for project in parentProjects %}
                        {% if project.resource == 1 %}
                            <tr>
                                <td>{{ project.course.name }}: {{ project.name }}</td>
                            </tr>
                        {% endif %}
                    {% else %}<p>This course has no Modules.</p>{% endfor %}

                    </tbody>
                </table>
            </div>
            {% endif %}

        </div>
    </div>


{% endblock %}
