{# Marca/CourseBundle/Resources/views/Course/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span10">

<div class="row">
<div class="span4 well">  
<h2>{{ course.name }}</h2>    
<table class="table table-bordered table-condensed table-striped">
<thead><th colspan="2">Settings</td></thead>    
<tbody>          
    <tr>
        <th>Time</th>         
        <td>{{ course.time|date('h:i a') }}</td>         
    </tr>           
    <tr>
        <th>Enrollment open</th>         
        <td>{{ course.enroll=='t' ? 'Yes' : 'No' }}</td>         
    </tr>        
    <tr>
        <th>Student can post</th>         
        <td>{{ course.post=='t' ? 'Yes' : 'No' }}</td>         
    </tr>           
    <tr>
        <th>Multicultural Archive</th>         
        <td>{{ course.multicult=='t' ? 'Yes' : 'No' }}</td>         
    </tr>                 
    <tr>
        <th>Student may start forum threads</th>         
        <td>{{ course.studentForum=='t' ? 'Yes' : 'No' }}</td>         
    </tr>
    <tr>
        <th>Associated Course(s)</th>         
        <td>{% for course in course.parents %}{{ course.name }}</br>{% else %}No associated courses{% endfor %}</td>         
    </tr>    
    <tr>
        <th colspan="2">Tools</th>              
    </tr>    
    <tr>
        <th>Notes</th>         
        <td>{{ course.notes=='t' ? 'Yes' : 'No' }}</td>         
    </tr>        
    <tr>
        <th>Journal</th>         
        <td>{{ course.journal=='t' ? 'Yes' : 'No' }}</td>         
    </tr>               
    <tr>
        <th>Zine</th>         
        <td>{{ course.zine=='t' ? 'Yes' : 'No' }}</td>         
    </tr>    
    <tr>
        <th>Portfolio</th>         
        <td>{{ course.portfolio=='t' ? 'Yes' : 'No' }}</td>         
    </tr>
    <tr>
        <th>Portfolio Set</th>         
        <td>{% if portset %}{{ portset.name}}{% else %}No portfolio set designated{% endif %}</td>         
    </tr> 
    <tr>
        <th>Portfolio editing open</th>         
        <td>{{ course.portStatus=='t' ? 'Yes' : 'No' }}</td>         
    </tr>
     <tr>
        <th>Tagset</th>         
        <td>{% for tagset in tagsets %}{{ tagset.name}}{% endfor %}</td>         
    </tr>   
    
    
</tbody>
</table>

<div class="row">
<div class="span2">
<a class="btn btn-primary" href="{{ path('course_edit', { 'courseid': course.id }) }}">Edit</a>
</div> 
    
        
<div class="span1">        
<form action="{{ path('course_delete', { 'courseid': course.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
</div>

<ul class="unstyled"> 
    <li>Created: {{ course.created|date('Y-m-d H:i:s') }}</li>      
    <li>Last Updated:{{ course.updated|date('Y-m-d H:i:s') }}</li>
</ul>


    <hr/>
    
    
    <h2>Projects</h2>
    <table class="table table-condensed table-striped">
    <tbody>  
    {% for project in projects  %}{% if project.resource == 0  %}
            
    <tr id="delete{{project.id}}">
        <th>{{ project.name }}{{ project.resource }}</th>         
        <td><a class="btn btn-small btn-primary" href="{{ path('project_edit', { 'id': project.id,'courseid': course.id }) }}">Edit</a></td>  
        <td>
        <button class="btn btn-danger" onclick="$('#confirm{{project.id}}').toggle();$('#delete{{project.id}}').toggle()" type="submit">Delete</button> 
        </td>   
        <td>
            <a class = "btn btn-mini btn-primary" href="{{ path('project_promote', { 'courseid':course.id, 'projectId':project.id}) }}"> <i class = "icon-search icon-white icon-arrow-up"></i></a>
            <a class = "btn btn-mini btn-primary" href="{{ path('project_demote', { 'courseid':course.id, 'projectId':project.id}) }}"> <i class = "icon-search icon-white icon-arrow-down"></i></a>
        </td>
    </tr>
     <tr id="confirm{{project.id}}" class="toggle">
        <th>{{ project.name }}</th>         
        <td>
            <form action="{{ path('project_delete', { 'courseid':course.id,'id': project.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </td>  
        <td>
        <button  class="btn btn-info" onclick="$('#confirm{{project.id}}').toggle();$('#delete{{project.id}}').toggle()" type="submit">Cancel</button> 
        </td>       
    </tr>   
    {% endif %}{% endfor %}
     </tbody>
    </table>   

    <h2>Resources</h2>
    <table class="table table-condensed table-striped">
    <tbody>  
    {% for project in projects  %}{% if project.resource == 1  %}        
    <tr id="delete{{project.id}}">
        <th>{{ project.name }}</th>         
        <td><a class="btn btn-small btn-primary" href="{{ path('project_edit', { 'id': project.id,'courseid': course.id }) }}">Edit</a></td>  
        <td>
        <button class="btn btn-danger" onclick="$('#confirm{{project.id}}').toggle();$('#delete{{project.id}}').toggle()" type="submit">Delete</button> 
        </td>   
        <td>
            <a class = "btn btn-mini btn-primary" href="{{ path('project_promote', { 'courseid':course.id, 'projectId':project.id}) }}"> <i class = "icon-search icon-white icon-arrow-up"></i></a>
            <a class = "btn btn-mini btn-primary" href="{{ path('project_demote', { 'courseid':course.id, 'projectId':project.id}) }}"> <i class = "icon-search icon-white icon-arrow-down"></i></a>
        </td>
    </tr>
     <tr id="confirm{{project.id}}" class="toggle">
        <th>{{ project.name }}</th>         
        <td>
            <form action="{{ path('project_delete', { 'courseid':course.id,'id': project.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </td>  
        <td>
        <button  class="btn btn-info" onclick="$('#confirm{{project.id}}').toggle();$('#delete{{project.id}}').toggle()" type="submit">Cancel</button> 
        </td>       
    </tr>   
    {% endif %}{% endfor %}
    
    </tbody>
    </table>
    
    <hr/> 
    <div class='row'>
        <div class='span2'><a class="btn btn-primary" href="{{ path('project_new', {'courseid': course.id}) }}">New Project/Resource</a></div>
    </div>
    

    
</div>        

<div class="span4 well"> 

    <h2>Roll</h2>
    <table class="table table-condensed"><tbody>  
    {% for roll in roll %}
    <tr>
        <td>{{ roll.lastname }}, {{ roll.firstname }}{% if roll.role == 2 %}**{% endif %}</td> 

        <td> {% if roll.role == 0 %} PENDING <a class="btn btn-mini btn-primary" href="{{ path('roll_approve', { 'id': roll.id,'courseid':course.id, }) }}">Approve</a>{% endif %}<a class="btn btn-mini btn-primary" href="{{ path('roll_edit', { 'id': roll.id,'courseid':course.id, }) }}">Edit</a></td>
    
    </tr>
    {% endfor %}
    </tbody>
     </table>
    
    {{ roll.render()|raw }}

    {% if course.hasPendingStudents %}<a class="btn btn-primary" href="{{ path('roll_approve_all', {'courseid':course.id, }) }}">Approve All Pending</a>{% endif %}
    
    <hr/>
    <h2>Teams</h2>
    <ul class="unstyled"> 
    {% for team in teams %}
            <li  class="pad05"><strong>{{ team.name }}</strong> {{ team.description }} <a class="btn btn-mini btn-primary" href="{{ path('team_edit', { 'id': team.id,'courseid': course.id }) }}">Edit</a>
            <ol  class="pad05">      
                 {% for listing in team.rolls %}
                      <li>{{ listing.user.firstname }} {{ listing.user.lastname }} </li>
                 {% endfor %}     
            </ol>           
            </li>
    {% endfor %}
     </ul>       
     <hr/> 
    <div class='row'>
        <div class='span2'><a class="btn btn-primary" href="{{ path('new_team', {'courseid': course.id}) }}">New Team</a></div>
    </div>            
</div>
        
       
</div>
        
        
</div>
{% endblock %}
