{# Marca/UserBundle/Resources/views/Enroll/findCourse.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}

{% if pending %}
<div class="col-md-11 well">
<h2>Courses Pending</h2>     
<div class='alert alert-info'>Enrollment pending.  Please check back soon.
                  <a class='btn btn-primary btn-xs pull-right' href="{{ path('user_home') }}">Check now</a></div>
<table class="table">
<tbody>
    {% for course in pending %}
        <tr>
            <td>{{ course.name }}</td>
            <td> {{course.user.lastname}}, {{course.user.firstname}} </td>
            <td>{{ course.time|date('h:i a') }}</td>
        </tr>
    {% endfor %}   
    </tbody>
</table>
</div> 
{% endif %}

{% if courses %}
<div class="col-md-11 well">
<h2 class='verysmall'>Courses Enrolled</h2>  
<div class='alert alert-success'>Click name to enter.</div>
<table class="table">
<tbody>
    {% for course in courses %}
        <tr>
            <td><a class="" href="{{ path('course_home', { 'courseid': course.id }) }}">{{ course.name }}</a></td>
            <td> {{course.user.lastname}}, {{course.user.firstname}} </td>
            <td>{{ course.time|date('h:i a') }}</td>
        </tr>
     {% endfor %}   
    </tbody>
</table>
</div> 
{% endif %} 

<div class="col-md-11 well">
    <div class='alert alert-info'>Enter your instructor's last name to find her or his course.</div> 
<form action="{{ path('enroll_list') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Find Course</button>
    </div>
</form>
</div>

{% endblock %}