{# Marca/UserBundle/Resources/views/Enroll/listCourse.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}

    <div class="col-md-6">
        <div class="panel panel-marca">
            <div class="panel-heading">
                <h2 class="panel-title">Courses found</h2>
            </div>
            <div class="panel-body">

                <table class="table">
                    <tbody>
                    {% for course in possible_courses %}
                        {% for exiting_course in courseids if exiting_course.id == course.id %}
                    {%else%}
                        <tr>
                            <td>{{ course.name }}</td>
                            <td>{{ course.lastname }}, {{ course.firstname }}</td>
                            <td>{{ course.time|date('h:i a') }}</td>
                            <td>
                                <a class="btn btn-primary" title="Enroll in this course" href="{{ path('enroll_enroll', { 'courseid': course.id } ) }}">Enroll</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        Shoot, didn't find anyone with that name. Want to try again?
                    <form action="{{ path('enroll_list') }}" method="post" {{ form_enctype(form) }}>
                        {{ form_widget(form) }}

                <button class="btn btn-primary margin-top" type="submit">Find Course</button>

                    {% endfor %}
                    </tbody>
                </table>


                <div class='alert alert-info'>Enter your instructor's last name to find her or his course.</div>

            </div>
            </form>
        </div>
    </div>

    {% if pending %}
        <div class="col-md-6">
            <div class="panel panel-marca">
                <div class="panel-heading">
                    <h2 class="panel-title">Courses Pending</h2>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        {% for course in pending %}
                            <tr>
                                <td>{{ course.name }}</td>
                                <td> {{course.user.lastname}}, {{course.user.firstname}} </td>
                                <td>{{ course.time|date('h:i a') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <span class="text-muted">Enrollment pending.  Please check back soon.</span><a class='btn btn-primary btn-xs pull-right' href="{{ path('user_home') }}">Check now</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if courses %}
        <div class="col-md-6">
            <div class="panel panel-marca">
                <div class="panel-heading">
                    <h2 class='panel-title'>Courses Enrolled</h2>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td><a class="" href="{{ path('course_home', { 'courseid': course.id }) }}">{{ course.name }}</a></td>
                                <td> {{course.user.lastname}}, {{course.user.firstname}} </td>
                                <td>{{ course.time|date('h:i a') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <span class="text-muted">Click name to enter.</span>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}