{# Marca/UserBundle/Resources/views/Enroll/listCourse.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span8 well">
    {% if courses %}
    <div class='alert alert-info'>Select the course in which you wish to enroll.  Be sure to check the time.</div>
    {% else %}
    <div class='alert alert-warning'>No courses were found.  Please check the name and try again.</div>
    {% endif %}
<table class="table">    
<tbody>
    {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.lastname }}, {{ course.firstname }}</td>
            <td>{{ course.time|date('h:i a') }}</td>
            <td>
            <a class="btn btn-primary" title="Enroll in this course" href="{{ path('enroll_enroll', { 'courseid': course.id } ) }}">Enroll</a>
            </td>
        </tr>
    {% else %}
    <form action="{{ path('enroll_list') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Find Course</button>
    </div>
    </form>    
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}