{# Marca/UserBundle/Resources/views/Enroll/listCourse.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span8 well">
    <div class='alert alert-info'>Select the course in which you wish to enroll.  Be sure to check the time.</div>
<table class="table">
<thead>
        <tr>
            <th>Course</th><th>Instructor</th><th>Time</th>
        </tr>
</thead>    
<tbody>
    {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.lastname }}, {{ course.firstname }}</td>
            <td>{{ course.time|date('h:i a') }}</td>
            <td>
            <a class="btn btn-primary" title="Enroll in this course" href="{{ path('enroll_enroll', { 'courseid': course.id } ) }}">Enroll</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}