{# Marca/FileBundle/Resources/views/projects_sidebar.html.twig #}
{# esi fragment for file projects_sidebar #}

<h1>
    <a  title='Projects'
       href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'user': '0', 'resource': '0', 'tag': '0', 'userid': '0' }) }}"
       class="">Projects</a>
</h1>

{# check to see if projects are in the current course  #}
    {% for project in projects if project.course.id == app.request.get('courseid') %}
        {# if for resources (only instructor can post to resources)  #}
        {% if loop.first %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Create
                    <i class="glyphicon glyphicon-pencil glyphicon-white"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a id='file_new_doc' title='Create new document' href='javascript:void(0);'><i
                                    class="glyphicon glyphicon-edit"></i> Document</a></li>
                    <li><a id='file_new_upload' title='Upload document' href="javascript:void(0);"><i
                                    class="glyphicon glyphicon-upload"></i> Upload</a></li>
                    <li><a id='file_new_link' title='Create new link' href="javascript:void(0);"><i
                                    class="glyphicon glyphicon-adjust"></i> Link</a></li>
                </ul>
            </div>
        {% endif %}
    {% else %}
    {% endfor %}

<hr class="marca-spacer"/>
<li><a data-scope-index="myfiles" class="project-sidebar"  href="{{ course_path('file_list', { 'userid':  0, 'resource': app.request.get('resource') }) }}">My
        Files</a></li>
<li><a data-scope-index="reviews" class="project-sidebar" href="{{ course_path('file_reviews', { 'userid':  0,
    'resource': app.request.get('resource') }) }}">My Reviews</a></li>

{{ render_esi(controller('MarcaCourseBundle:Course:createRoll', { 'courseid': app.request.get('courseid') })) }}


{# Projects  Find for instructors only #}
{% if role == 2 %}
<hr class="marca-spacer"/>

{# Projects  Find #}
    {% for project in projects %}
        <li id="project_list">
            <a data-project-index="{{ project.id }}" title='{{ project.name }}' class="project-sidebar"
               href='{{ course_path('file_listbyproject', { 'project': project.id, 'resource': 0}) }}'>{{ project.name }}</a>
        </li>
    {% endfor %}

{% endif %}
<hr class="marca-spacer"/>

{# Labels  Find #}

    {% for tag in tags %}
        <li>
            <a data-tag-index="{{ tag.id }}"  href="javascript:void(0);" class="tag_anchor project-sidebar">
                {{ tag.name }}
                <span class="pull-left color-flag" style="{% if tag.color != '' %}background: {{tag.color}};color:{{tag.color}};{% endif %}">&#183;</span>
            </a>
        </li>
    {% endfor %}
<li>
    <a data-tag-index="0"  href="javascript:void(0);" class="tag_anchor project-sidebar">
        All Labels
        <span class="pull-left color-flag" style="background: white;color:white;">&#183;</span>
    </a>
</li>


