{# Marca/FileBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca Projects{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %}
<li><legend>{% if app.request.get('resource')=='1' %}Resources{% else %}Projects{% endif %}</legend></li>


{# if for resources (only instructor can post to resources)  #}
{% if app.request.get('resource')=='0' or course.isOwner(app.user.username) %}
<div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Create
    <i class="icon-pencil icon-white"></i>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{{ course_path('doc_new', { 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}">Document<i class="icon-pencil"></i></a></li>
    <li><a href="{{ course_path('file_upload', { 'resource': app.request.get('resource'),  'tag': app.request.get('tag') }) }}">Upload<i class="icon-upload"></i></a></li>  
    <li><a href="{{ course_path('file_new', { 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}">Link<i class="icon-adjust"></i></a></li> 
  </ul>
</div>
{% endif %}


{# if for resources (no need to display My/All Files links  #}
{% if app.request.get('resource')=='0' %}

<li class="margin-top {% if app.request.get('scope')=='mine' %}active{% endif %}">
     <a href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': app.request.get('userid') }) }}">My Files</a>
</li>
<li class="{% if app.request.get('scope')=='all' %}active{% endif %}">
     <a href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': app.request.get('userid')}) }}">All Files</a>
</li>
{% endif %}

{# if for resources (No tags for resources)  #}
{% if app.request.get('resource')=='0' %}

    <ul class="nav nav-list">
    {% for tag in tags %}
      <li><a href="{{ course_path('file_tag_list', { 'project': 'recent', 'scope': app.request.get('scope'), 'resource': app.request.get('resource'), 'tag': tag.id, 'userid': app.request.get('userid') }) }}"><span class="label {{ tag.color }}">{{ tag.name }}</span></a></li>
    {% endfor %}
    </ul> 

 {% endif %} 

<li class="dropdown">
   <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">Roll<b class="caret"></b></a>
       <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
           {% for roll in roll %}
           <li><a href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'byuser', 'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': roll.userid }) }}">{{roll.firstname}} {{roll.lastname}}</a></li> 
           {% endfor %}
       </ul>
 </li>
{% endblock %}  
