{# Marca/FileBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}{{ application_name }} {% if app.request.get('resource')=='1' %}Resources{% else %}Projects{% endif %}{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %}
<script language="javascript">
$(document).ready(function()
{    
$('#file_new_doc').click(function(){
  $('#file_modal').load('{{ course_path('file_new_modal', { 'fileid':'0','resource': app.request.get('resource'), 'tag': app.request.get('tag'),'type': 'doc' }) }}');
  $('#file_modal').modal();
});
$('#file_new_link').click(function(){
  $('#file_modal').load('{{ course_path('file_new_modal', { 'fileid':'0','resource': app.request.get('resource'), 'tag': app.request.get('tag'),'type': 'link' }) }}');
  $('#file_modal').modal();
});
    $('#file_new_rubric').click(function(){
        $('#file_modal').load('{{path('reviewrubric_new') }}');
        $('#file_modal').modal();
    });
});
</script>
<h1>{% if app.request.get('resource')=='1' %}Resources{% else %}Projects{% endif %}</h1>

{% if app.request.attributes.get('_route') == 'file_list'%}
{# check to see if projects are in the current course  #}
{% for project in projects if project.course.id == app.request.get('courseid') %}
{# if for resources (only instructor can post to resources)  #}
{% if (app.request.get('resource')=='0' or role=='2') and loop.first %}
<div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Create
    <i class="icon-pencil icon-white"></i>
  </a>
  <ul class="dropdown-menu">
    <li><a id='file_new_doc' title='Create new document' href='javascript:void(0);'><i class="icon-edit"></i> Document</a></li>
    <li><a id='file_new_upload' title='Upload document' href="{{ course_path('file_upload', { 'resource': app.request.get('resource'),  'tag': app.request.get('tag') }) }}"><i class="icon-upload"></i> Upload</a></li>  
    <li><a id='file_new_link' title='Create new link' href="javascript:void(0);"><i class="icon-adjust"></i> Link</a></li>
    {% if app.request.get('resource')!='0' %}<li><a id='file_new_rubric' title='Create new rubric' href="javascript:void(0);"><i class="icon-adjust"></i> Rubric</a></li>{% endif %}
  </ul>
</div>
{% endif %}
{% else %}
{% endfor %}


{# Projects  Find #}
<h2 class="nav-header">{% if app.request.get('resource')=='1' %}Units{% else %}Folders{% endif %}</h2>
{% if app.request.get('resource')=='0' %}Folders
<li><a class="{% if active_project == 0 %}active{% endif %}" href="{{ course_path('file_list', { 'project': 'recent', 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': app.request.get('userid') }) }}">
<i class="icon-folder-{% if active_project == 0 %}open{% else %}close{% endif %}"></i>        
All Folders </a></li>
{%else%}
{% endif %}
{% for project in projects %}
<li>
<a title='{% if app.request.get('resource')=='1' %}{{ project.course.name }}: {%endif%}{{ project.name }}' class="{% if active_project == project.id %}active{% endif %}" href="{{ course_path('file_list', { 'project': project.id, 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': app.request.get('userid') }) }}">
<i class="icon-folder-{% if active_project == project.id %}open{% else %}close{% endif %}"></i>
{% if app.request.get('resource')=='1' and project.course.name!=app.session.get('course') %}{{ project.course.name }}: {%endif%}{{ project.name }}</a>
</li>
{% endfor %}



{# Labels  Find #} 
{% if app.request.get('project') == 'recent' and app.request.get('resource')!=0 %}
{% else %}
<li>
<h2 class="nav-header">Labels</h2>
<a href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag':'0', 'userid': app.request.get('userid') }) }}"><span class="label {% if app.request.get('tag')=='0' %} margin-left{% endif %}">All Labels</span></a></li>
{% for tag in tags %}
<li>    
<a href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag': tag.id, 'userid': app.request.get('userid') }) }}"><span class="label {{ tag.color }} {% if app.request.get('tag')== tag.id %}margin-left{% endif %} ">{{ tag.name }}</span></a></li>
{% endfor %}
{% endif %}
{% endif %}



{% endblock %}  
