{# Marca/FileBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca Projects{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %}
<li><legend>{% if app.request.get('resource')=='1' %}Resources{% else %}Projects{% endif %}</legend></li>


{# if for resources (only instructor can post to resources)  #}
{% if app.request.get('resource')=='0' or course.isOwner(app.user.username) %}

<li class="" style='margin-bottom: 10px;'>
   
<a class='btn btn-primary' href="{{ course_path('doc_new', { 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}">Create<i class="icon-pencil icon-white"></i></a>

<a class='btn  btn-primary' href="{{ course_path('file_upload', { 'resource': app.request.get('resource'),  'tag': app.request.get('tag') }) }}">Upload</a>
</li>
         
{% endif %}


{# if for resources (no need to display My/All Files links  #}
{% if app.request.get('resource')=='0' %}

<li class="{% if app.request.get('scope')=='mine' %}active{% endif %}">
     <a href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}">My Files</a>
</li>
<li class="{% if app.request.get('scope')=='all' %}active{% endif %}">
     <a href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}">All Files</a>
</li>
{% endif %}

{# if for resources (No tags for resources)  #}
{% if app.request.get('resource')=='0' %}
             
    <ul class="nav nav-list">
    {% for tag in tags %}
      <li><a href="{{ course_path('file_tag_list', { 'project': 'recent', 'scope': app.request.get('scope'), 'resource': app.request.get('resource'), 'tag': tag.id }) }}"><span class="label {{ tag.color }}">{{ tag.name }}</span></a></li>
    {% endfor %}
    </ul> 
             
 {% endif %}            
{% endblock %}  
