{# Marca/FileBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca | Projects{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %}
<script language="javascript">
$(document).ready(function()
{    
$('#file_new_doc').click(function(){
  $('#file_modal').load('{{ course_path('file_new_modal', { 'resource': app.request.get('resource'), 'tag': app.request.get('tag'),'type': 'doc' }) }}');
  $('#file_modal').modal();
});
$('#file_new_link').click(function(){
  $('#file_modal').load('{{ course_path('file_new_modal', { 'resource': app.request.get('resource'), 'tag': app.request.get('tag'),'type': 'link' }) }}');
  $('#file_modal').modal();
});
});
</script>
<li><legend>{% if app.request.get('resource')=='1' %}Resources{% else %}Projects{% endif %}</legend></li>


{# if for resources (only instructor can post to resources)  #}
{% if app.request.get('resource')=='0' or course.isOwner(app.user.username) %}
<div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Create
    <i class="icon-pencil icon-white"></i>
  </a>
  <ul class="dropdown-menu">
    <li><a id='file_new_doc' title='Create new document' tabindex='1' href='javascript:void(0);'>Document<i class="icon-edit"></i></a></li>
    <li><a id='file_new_upload' title='Upload document' tabindex='1' href="{{ course_path('file_upload', { 'resource': app.request.get('resource'),  'tag': app.request.get('tag') }) }}">Upload<i class="icon-upload"></i></a></li>  
    <li><a id='file_new_link' title='Create new link' tabindex='1' href="javascript:void(0);">Link<i class="icon-adjust"></i></a></li>
  </ul>
</div>
{% endif %}


{# if for resources (no need to display My/All Files links  #}
{% if app.request.get('resource')=='0' %}

<li class="margin-top {% if app.request.get('scope')=='mine' %}active{% endif %}">
     <a href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'user': '0', 'resource': app.request.get('resource'), 'tag': '0', 'userid': '0' }) }}">My Files</a>
</li>
<li class="{% if app.request.get('scope')=='all' %}active{% endif %}">
     <a href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0', 'resource': app.request.get('resource'), 'tag': '0', 'userid': '0'}) }}">All Files</a>
</li>
{% endif %}

{% if app.request.get('resource')=='0' %}
<li class="dropdown {% if app.request.get('scope')=='byuser' %}active{% endif %}">
   <a href="javascript:void(0);" role="button" class="dropdown-toggle " data-toggle="dropdown" id="dLabel">Roll<b class="caret"></b></a>
       <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
           {% for roll in roll %}
           <li><a id="{{loop.index}}" href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': 'byuser', 'user': loop.index,'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': roll.userid }) }}">{{roll.firstname}} {{roll.lastname}}</a></li> 
           {% endfor %}
           {#  add jquery next previous #}
       </ul>
 </li>
{% endif %}
 
{# if for resources (No tags for resources)  #}
{% if app.request.get('resource')=='0' %}

    <ul class="nav nav-list">
        <li><a href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag':'0', 'userid': app.request.get('userid') }) }}"><span class="label">All Labels</span></a></li>
    {% for tag in tags %}
      <li><a href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag': tag.id, 'userid': app.request.get('userid') }) }}"><span class="label {{ tag.color }}">{{ tag.name }}</span></a></li>
    {% endfor %}
    </ul> 

 {% endif %} 


{% endblock %}  
