{# Marca/FileBundle/Resources/views/resources_sidebar.html.twig #}
{# esi fragment for file resources_sidebar #}

<h1><a href="{{ course_path('file_listbyproject', { 'project': default_resource, 'resource': 1}) }}" >Resources</a></h1>

{# check to see if projects are in the current course  #}
    {% for project in projects if project.course.id == app.request.get('courseid') %}
        {# if for resources (only instructor can post to resources)  #}
        {% if (role=='2') and loop.first %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Create
                    <i class="glyphicon glyphicon-pencil glyphicon-white"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a id='file_new_doc' title='Create new document' href='javascript:void(0);'><i
                                    class="glyphicon glyphicon-edit"></i> Document</a></li>
                    <li><a id='file_new_upload' title='Upload document' href="javascript:void(0);"><i
                                    class="glyphicon glyphicon-upload"></i> Upload</a></li>
                    <li><a id='file_new_link' title='Create new link' href="javascript:void(0);"><i
                                    class="glyphicon glyphicon-adjust"></i> Link</a></li>
                </ul>
            </div>
        {% endif %}
    {% else %}
    {% endfor %}

<hr class="marca-spacer"/>

    {# Projects  Find #}
    {% for project in projects %}
        <li id="project_list">
            <a data-project-index="{{ project.id }}" title='{{ project.course.name }}: {{ project.name }}'
               class="project-sidebar"
               href='{{ course_path('file_listbyproject', { 'project': project.id, 'resource': 1}) }}'>
                {{ project.course.name }}: {{ project.name }}</a>
        </li>
    {% endfor %}

<hr class="marca-spacer"/>

{# Labels Hide Show #}
    {% for tag in tags %}
        <li>
            <a href="#" class="link-filter project-sidebar" data-filter-column="2" data-filter-text="{{ tag.name }}">{{ tag.name }}
                <span class="pull-left color-flag" style="{% if tag.color != '' %}background: {{tag.color}};color:{{tag.color}};{% endif%}">&#183;</span>
            </a>
        </li>
    {% endfor %}
<li>
    <a href="#" class="link-filter project-sidebar" data-filter-column="2" data-filter-text="">
        All Labels
        <span class="pull-left color-flag" style="background: white;color:white;">&#183;</span>
    </a>
</li>

