{# Marca/CalendarBundle/Resources/views/Calendar/index.html.twig #}

{% extends 'MarcaCalendarBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/fullcalendar.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/marcahome/js/jquery.timepicker.min.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/spectrum.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/fullcalendar.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/smoothness/jquery-ui-1.8.17.custom.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/spectrum.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/jquery.timepicker.css') }}">
{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {       
$('#calendar').fullCalendar(   
    {      
        dayClick: function(date, allDay, jsEvent, view) {
        {% if is_granted('ROLE_INSTR') %}    
        var format_date = $.datepicker.formatDate('yy-mm-dd', date)   
        var route = "{{ course_path('calendar_new', {'set_date': "event_gotodate" }) }}"; 
        route = route.replace("event_gotodate", format_date);   
        window.location.href = route;  
        {% endif %}
    }, 
        eventClick: function(calEvent, jsEvent, view) {
        if (calEvent.isOwner == 'yes') {   
        var route = "{{ course_path('calendar_edit', { 'id': "event_id", 'gotodate': "event_gotodate" }) }}";        
        route = route.replace("event_id", calEvent.id);
        route = route.replace("event_gotodate", calEvent.gotodate);
        window.location.href = route; 
        }
        else {
        var route = "{{ course_path('calendar_show_modal', { 'id': "event_id", 'gotodate': "event_gotodate" }) }}";        
        route = route.replace("event_id", calEvent.id);
        route = route.replace("event_gotodate", calEvent.gotodate);
        $('#calendar_modal').load(route);
        $('#calendar_modal').modal();
    }
        
        
    },
        header: 
            {
              left:   'title',
              center: '',
              right:  'today month,agendaWeek,agendaDay,prev,next'
             },
       events: [
       {% for calendar in events %}
        {
            title  : '{{ calendar.title| escape('js') }}',
            color  : '{{ calendar.color }}',
            start  : '{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date(' H:i:s') }}', 
            allDay : false,
            textColor: 'black',
            description: '{{ calendar.description| escape('js') }}',
            id: '{{ calendar.id }}',
            gotodate: {{gotodate}},
            isOwner: {% if calendar.isOwner(app.user.username) %}'yes'{%else%}'no'{%endif%}
        },
       {% endfor %} 
       ], 
       eventMouseover: function( event, jsEvent, view ) {  },
    });
{# Go to month #}    
{% set gotoyear = gotodate|date('Y') %}
{% set gotomonth = gotodate|date('m') -1 %}     
$('#calendar').fullCalendar( "gotoDate", {{gotoyear}},  {{gotomonth}} ); 
});
</script>


{# Calendar #}
<div class="span9 well">
        <div id='calendar'></div>
</div>

 
{# Modal #}
<div id="calendar_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">     
</div>
{% endblock %}