{# Marca/CalendarBundle/Resources/views/Calendar/index.html.twig #}

{% extends 'MarcaCalendarBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/fullcalendar.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/fullcalendar.css') }}">
{% endblock %}

{% block content %}
<script language="javascript">
$(document).ready(function() {
    $('#calendar').fullCalendar({
        header: 
            {
              left:   'title',
              center: '',
              right:  'today month,agendaWeek,agendaDay,prev,next'
             },
       events: [
       {% for calendar in calendar %}
    
        {
            title  : '{{ calendar.title }}',
            color  : '{{ calendar.color }}',
            start  : '{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date(' H:i:s') }}',
            allDay : false,
            textColor: 'black',
        },

       {% endfor %} 
       ]
       
    })
});
</script>
<div class="span10">
        <div id='calendar'></div>
</div>
{% endblock %}
