{# Marca/CalendarBundle/Resources/views/Calendar/index.html.twig #}

{% extends 'MarcaCalendarBundle::layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/marcahome/js/moment.min.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/fullcalendar.min.js') }}"></script>

    <script language="javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar(
                    {
                        dayClick: function(date, jsEvent, view)
                        {
                            {% if role==2 %}
                            var format_date = date.format();
                            var route = "{{ course_path('calendar_new', {'set_date': "event_gotodate" }) }}";
                            route = route.replace("event_gotodate", format_date);
                            window.location.href = route;
                            {% endif %}
                        },
                        eventClick: function(calEvent, jsEvent, view) {
                            var role = "{{ role }}";
                            if (calEvent.isOwner == 'yes' && role == '2') {
                                var route = "{{ course_path('calendar_edit', { 'id': "event_id"  }) }}";
                                route = route.replace("event_id", calEvent.id);
                                window.location.href = route;
                            }
                            else {
                                var route = "{{ course_path('calendar_show_modal', { 'id': "event_id"}) }}";
                                route = route.replace("event_id", calEvent.id);
                                $('#calendar_modal').load(route);
                            }
                        },
                        header:
                        {
                            left:   'title',
                            center: '',
                            right:  'today month,agendaWeek,agendaDay,prev,next'
                        },
                        events: [
                            {% for calendar in events %}
                            {
                                title  : '{{ calendar.title| escape('js') }}',
                                color  : '{{ calendar.color }}',
                                start  : '{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date('H:i:s') }} {{ offset }}',
                                allDay : false,
                                textColor: 'black',
                                description: '{{ calendar.description| escape('js') }}',
                                id: '{{ calendar.id }}',
                                isOwner: {% if calendar.isOwner(app.user.username) %}'yes'{%else%}'no'{%endif%}
                            },
                            {% endfor %}
                        ],
                        eventMouseover: function( event, jsEvent, view ){}
                    });
            var e = "{{ event.startDate|date('c') }}";
            $('#calendar').fullCalendar('gotoDate', e);
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/fullcalendar.min.css') }}">
{% endblock %}

{% block content %}
    {# Calendar #}
    <div class="col-sm-12">
        <div class="panel panel-marca">
            <div class="panel-body">
                <div id='calendar'></div>
            </div>
        </div>
    </div>


    {# Modal #}
    <div id="calendar_modal" class="modal fade">
    </div>
{% endblock %}


