{# Marca/CalendarBundle/Resources/views/Calendar/edit.html.twig #}

{% extends 'MarcaCalendarBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/jquery.timepicker.min.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/spectrum.js') }}"></script>
    <script language="javascript">
        $(document).ready(function()
        {
            {% set gotoyear = gotodate|date('Y') %}
            {% set gotomonth = gotodate|date('m') -1 %}
            $( '#marca_calendarbundle_calendartype_startDate' ).datepicker({
                showButtonPanel: true,
            });
            $( '#marca_calendarbundle_calendartype_startTime' ).timepicker(({ 'timeFormat': 'H:i' }));
            $( '#marca_calendarbundle_calendartype_endDate' ).datepicker({
                showButtonPanel: true,
            });
            $( '#marca_calendarbundle_calendartype_endTime' ).timepicker(({ 'timeFormat': 'H:i' }));
            $("#marca_calendarbundle_calendartype_color").spectrum({
                preferredFormat: "name",
                showPaletteOnly: true,
                showInput: true,
                color: '{{calendar.color}}',
                palette: [
                    ['royalblue', 'seagreen', 'slateblue','darkorange'],
                    ['darkmagenta', 'darkslategrey', 'teal','firebrick'],
                    ['orange', 'cadetblue', 'tomato','blueviolet']
                ]
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/smoothness/jquery-ui-1.8.17.custom.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/spectrum.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/jquery.timepicker.css') }}">
{% endblock %}

{% block content %}
<div class="span8 well"> 
<form action="{{ course_path('calendar_update', { 'id': calendar.id, 'gotodate': gotodate  }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">
    {{ form_widget(edit_form) }}
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn" href="{{ course_path('calendar_display', { 'gotodate': "now"|date('Y-m-d')}) }}">Cancel</a>
</form>

        
<form id='calendar_delete' action="{{ course_path('calendar_delete', { 'id': calendar.id, 'gotodate': gotodate  }) }}" method="post">
            {{ form_widget(delete_form) }}  
    <button class="btn btn-delete" type="submit">Delete</button>
</form>      
</div>
{% endblock %}
