{# Marca/CalendarBundle/Resources/views/Calendar/index.html.twig #}

{% extends 'MarcaCalendarBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well">
<table class="table">   
<tbody>
    {% for calendar in calendar %}
    <tr>                
        <td style="width:20%">{% if calendar.startDate %}{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date('g:i A') }}{% endif%}</td>               
           
        <td style="width:20%;{% if calendar.color != '' %}background: {{calendar.color}}{% endif%}">{{ calendar.title }}</td>        
        <td style="width:40%">{{ calendar.description|raw }}</td>             
        <td style="width:20%">
            <a class="btn btn-primary" href="{{ course_path('calendar_edit', { 'id': calendar.id }) }}">Edit</a>
       </td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
        
<div class="navigation">
    {{ calendar.render()|raw }}
</div>
        
</div>
{% endblock %}
