{# Marca/CalendarBundle/Resources/views/Calendar/index.html.twig #}

{% extends 'MarcaCalendarBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well">
<table class="table">   
<tbody>
    {% for calendar in calendar %}
    <tr>                
        <td class='span2'>{% if calendar.startDate %}{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date('g:i A') }}{% endif%}</td>               
           
        <td class='span2 {{calendar.color}}'>{{ calendar.title }}</td>        
        <td class='span5'>{{ calendar.description|raw }}</td>             
        <td class='span2'>
            {% if calendar.isOwner(app.user.username) %}<a class="btn btn-primary" href="{{ course_path('calendar_edit', { 'id': calendar.id,'gotodate': calendar.startdate|date('Y-m-d')}) }}">Edit</a>{% endif %}
       </td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
        
<div class="navigation">
    {{ calendar.render()|raw }}
</div>
        
</div>
{% endblock %}
