{# Marca/CalendarBundle/Resources/views/Calendar/index.html.twig #}

{% extends 'MarcaCalendarBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/marcahome/js/jquery.timepicker.min.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/spectrum.js') }}"></script>
    <script language="javascript">
        $(document).ready(function() {
            $('#calendar_new').click(function(){
                window.location.href = "{{ course_path('calendar_new', {'set_date': "now"|date("Y-m-d")} ) }}";
            });
            {% for calendar in calendar %}
            $('#calendar_edit{{calendar.id}}').click(function(){
                window.location.href = "{{ course_path('calendar_edit', { 'id': calendar.id, 'gotodate': gotodate }) }}";
            });
            {% endfor %}
        });
    </script>
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/smoothness/jquery-ui-1.8.17.custom.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/spectrum.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/jquery.timepicker.css') }}">
{% endblock %}


{% block content %}
<div class="col-md-11 well">
<table class="table">   
<tbody>
    {% for calendar in calendar %}
    <tr>                
        <td class='col-md-2'>{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date('g:i A') }}</td>
           
        <td class='col-md-2 {{calendar.color}}'>{{ calendar.title }}</td>
        <td class='span5'>{{ calendar.description|raw }}</td>             
        <td class='col-md-2'>
            {% if calendar.isOwner(app.user.username) %}<a id='calendar_edit{{calendar.id}}' class="btn btn-primary btn-small" href="javascript:void(0);">Edit</a>{% endif %}
       </td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
        
<div class="navigation">
    {{ knp_pagination_render(calendar) }}
</div>
        
</div>

{# Modal #}
<div id="calendar_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">     
</div>
{% endblock %}
