{# Marca/CalendarBundle/Resources/views/Calendar/new.html.twig #}

{% extends 'MarcaHomeBundle::dialog.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/jquery.timepicker.min.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/spectrum.js') }}"></script>
    {% set set_date = app.request.get('set_date')|date("m/d/Y")%}

    <script language="javascript">
        $(document).ready(function()
        {
            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function(){
                window.location.href='{{ course_path('calendar_display', { 'gotodate': "now"|date('Y-m-d')}) }}';
            });
            $('#marca_calendarbundle_calendartype_startDate').val('{{set_date}}');
            $( '#marca_calendarbundle_calendartype_startDate' ).datepicker({
                showButtonPanel: true,
            });
            $( '#marca_calendarbundle_calendartype_startTime' ).timepicker(({ 'timeFormat': 'H:i' }));
            $( '#marca_calendarbundle_calendartype_endDate' ).datepicker({
                showButtonPanel: true,
            });
            $( '#marca_calendarbundle_calendartype_endTime' ).timepicker(({ 'timeFormat': 'H:i' }));
            $("#marca_calendarbundle_calendartype_color").spectrum({
                preferredFormat: "name",
                showPaletteOnly: true,
                showInput: true,
                color: 'royalblue',
                palette: [
                    ['royalblue', 'seagreen', 'slateblue','darkorange'],
                    ['darkmagenta', 'darkslategrey', 'teal','firebrick'],
                    ['orange', 'cadetblue', 'tomato','blueviolet'],
                    ['lavender', 'lavenderblush', 'lightblue','lightcoral'],
                    ['lightcyan', 'lightgoldenrodyellow', 'lightgray','lightpink'],
                    ['lightsalmon', 'lightskyblue', 'lightsteelblue','lightyellow'],
                    ['palegreen', 'paleturquoise', 'peachpuff','plum']
                ]
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/spectrum.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/jquery.timepicker.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/smoothness/jquery-ui-1.8.17.custom.css') }}">
{% endblock %}

{% block content %}
    <div class="col-sm-8 center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button id="close_form" type="button" class="close">&times;</button>
                <h2 class="panel-title small">Calendar Event</h2>
            </div>
            <div class="panel-body">
                    {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}


