{# Marca/CalendarBundle/Resources/views/Calendar/new.html.twig #}

{% extends 'MarcaCalendarBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/jquery.timepicker.min.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/spectrum.js') }}"></script>
    {% set set_date = app.request.get('set_date')|date("m/d/Y")%}

    <script language="javascript">
        $(document).ready(function()
        {
            $('#marca_calendarbundle_calendartype_startDate').val('{{set_date}}');
            $( '#marca_calendarbundle_calendartype_startDate' ).datepicker({
                showButtonPanel: true,
            });
            $( '#marca_calendarbundle_calendartype_startTime' ).timepicker(({ 'timeFormat': 'H:i' }));
            $( '#marca_calendarbundle_calendartype_endDate' ).datepicker({
                showButtonPanel: true,
            });
            $( '#marca_calendarbundle_calendartype_endTime' ).timepicker(({ 'timeFormat': 'H:i' }));
            $("#marca_calendarbundle_calendartype_color").spectrum({
                preferredFormat: "name",
                showPaletteOnly: true,
                showInput: true,
                color: 'royalblue',
                palette: [
                    ['royalblue', 'seagreen', 'slateblue','darkorange'],
                    ['darkmagenta', 'darkslategrey', 'teal','firebrick'],
                    ['orange', 'cadetblue', 'tomato','blueviolet'],
                    ['lavender', 'lavenderblush', 'lightblue','lightcoral'],
                    ['lightcyan', 'lightgoldenrodyellow', 'lightgray','lightpink'],
                    ['lightsalmon', 'lightskyblue', 'lightsteelblue','lightyellow'],
                    ['palegreen', 'paleturquoise', 'peachpuff','plum']
                ]
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/smoothness/jquery-ui-1.8.17.custom.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/spectrum.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/jquery.timepicker.css') }}">
{% endblock %}

{% block content %}
<div class="col-md-8 well">
<form action="{{ course_path('calendar_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn" href="{{ course_path('calendar_display', { 'gotodate': "now"|date('Y-m-d')}) }}">Cancel</a>
</form>
</div>
{% endblock %}
