{# Marca/DocBundle/Resources/views/Doc/pdf.html.twig #}

<html>
<head>
    <style>
        body {
            background: #fff;
            margin: 0em;
            height: 100%;
            width: 100%;
        }

        .agenda {
            margin: 0em;
            height: 100%;
            width: 100%;
        }

        .color-flag {
            height: 100%;
            width: 3em;
            text-align: center;
            margin-right: 6px;
            border-radius: 0 4px 4px 0;
            color: #006DCC;
            background-color: #006DCC;
        }
    </style>
</head>
<body>
{# Agenda display #}
<div class="col-sm-12">
    <div class="agenda">
        <h1>Agenda for {{ calendar[0].course.name }}</h1>

        {% for calendar in calendar %}
            {{ calendar.startDate|date('M j Y') }} {{ calendar.startTime|date('g:i A') }}

            <p style="font-weight: bold">
                <span class="pull-left color-flag"
                      style="{% if calendar.color != '' %}background: {{calendar.color}};color:{{calendar.color}};{% endif %}">&#183;&#183;&#183;&#183;&#183;</span>
                {{ calendar.title }}
            </p>
            <p>{{ calendar.description|html_raw }}</p>
            <hr/>
        {% endfor %}

    </div>
</div>
</body>

</html>

