{# Marca/CalendarBundle/Resources/views/Calendar/show.html.twig #}

{% extends 'MarcaCalendarBundle::layout.html.twig' %}

{% block content %}

<div class="span6">
<a class="btn btn-primary" href="{{ course_path('calendar_edit', { 'id': calendar.id }) }}">Edit</a>
        
<form action="{{ course_path('calendar_delete', { 'id': calendar.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
  
<table class="table">
<tbody>             
    <tr>
        <th>Startdate</th>        <td>{{ calendar.startDate|date('Y-m-d') }}</td>         
    </tr>        
    <tr>
        <th>Starttime</th>         
        <td>{{ calendar.startTime|date('H:i:s') }}</td>         
    </tr>        
    <tr>
        <th>Enddate</th>        <td>{{ calendar.endDate|date('Y-m-d') }}</td>         
    </tr>        
    <tr>
        <th>Endtime</th>         
        <td>{{ calendar.endTime|date('H:i:s') }}</td>         
    </tr>        
    <tr>
        <th>Title</th>         
        <td>{{ calendar.title }}</td>         
    </tr>        
    <tr>
        <th>Description</th>         
        <td>{{ calendar.description|raw }}</td>         
    </tr>         
</tbody>
</table>
</div>          
{% endblock %}
