{# Marca/CalendarBundle/Resources/views/Calendar/show_modal.html.twig #}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ calendar.title }}</h4>
        </div>
        <div class="modal-body">
            <p><span class="pull-left color-flag" style="{% if calendar.color != '' %}background: {{calendar.color}};color:{{calendar.color}};{% endif%}">&#183;</span>{{ calendar.startDate|date('j M Y') }} {{ calendar.startTime|date('g:i A') }}</p>
            <p>{{ calendar.description|html_raw }}</p>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->






