{# Marca/CourseBundle/Resources/views/Project/edit.html.twig #}


{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well">
<h2>Edit {% if project.resource==0%}Folder in Projects{%else%}Unit in Resources{%endif%}</h2>   
<form action="{{ course_path('project_update', { 'id': project.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">
    {{ form_errors(edit_form) }}   
        
        {{ form_row (edit_form.name) }}      
        {{ form_row (edit_form.resource) }} 
        
    {{ form_rest(edit_form) }}     
<button class="btn btn-primary margin-top" type="submit">Update</button>
<a class="btn  margin-top" href="{{ path('course_show', { 'courseid': courseid }) }}">Cancel</a>        
</form>
</div>
{% endblock %}
