
{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span6 well">
<form action="{{ path('project_update', { 'id': project.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">
{{ form_errors(edit_form) }}    
<table class="table table-bordered table-condensed table-striped">
    <tbody>
    <tr><th>Name</th><td>{{ form_widget (edit_form.name) }}</td></tr>       
    <tr><th>Display in Resources</th><td>{{ form_widget (edit_form.resource) }}</td></tr>      
    <tr><th></th><td><button class="btn btn-primary" type="submit">Update Project</button>
            <a class="btn" href="{{ course_path('course_show') }}">Cancel</a></td></tr>    
</tbody>
</table>
{{ form_rest(edit_form) }}         
</form>
</div>
{% endblock %}
