{# Marca/CourseBundle/Resources/views/Project/new.html.twig #}


{% extends 'MarcaUserBundle::layout.html.twig' %}
{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script> 
{% endblock %}
{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('form li').addClass('alert alert-error');
});
</script>

<div class="col-md-11 well">
<h2>New {% if project.resource==0%}Folder in Projects{%else%}Unit in Resources{%endif%}</h2>     
<form class="form" action="{{ path('project_create', { 'courseid': courseid, 'resource':project.resource }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_errors(form) }}   
        
        {{ form_row (form.name) }}      
        {{ form_row (form.resource) }} 
        
    {{ form_rest(form) }}           
<button class="btn btn-primary margin-top" type="submit">Update</button>
<a class="btn btn-default margin-top" href="{{ path('course_show', { 'courseid': courseid }) }}">Cancel</a>
</form>
</div>
{% endblock %}
