{# Marca/CourseBundle/Resources/views/Project/new.html.twig #}


{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span6 well">
<form class="form" action="{{ path('project_create', { 'courseid': courseid }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_errors(form) }}   
        
        {{ form_row (form.name) }}      
        {{ form_row (form.resource) }} 
        
    {{ form_rest(form) }}           
        <input type="submit"/>
    </form>
</div>
{% endblock %}
