{% extends 'MarcaCourseBundle:Course:layout.html.twig' %}
 
{% block body %}

<form action="{{ path('user_profile_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<div class="btn-group">
        <a class="btn" href="{{ path('user_profile') }}">
            Back to the list
        </a>
        <form action="{{ path('user_profile_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn" type="submit">Delete</button>
        </form>
    </div>
{% endblock %} 