{% extends 'MarcaCourseBundle:Course:layout.html.twig' %}
 
{% block body %}
<ul>
    <li>
        <a href="{{ path('user_profile_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

<table class="records_list">
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('user_profile_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.lastname }}</td>
            <td>{{ entity.firstname }}</td>
            <td>{{ entity.email }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('user_profile_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_profile_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %} 