{% extends 'MarcaCourseBundle:Course:layout.html.twig' %}
 
{% block body %}
    <div class="row-fluid">
      <div class="span12">
        <a class="btn btn-primary" href="{{ path('user_profile_new') }}">
            Create a new entry
        </a>
      </div>
    </div> 

    <div class="row-fluid">
      <div class="span12">
        <table class="table table-bordered">
        <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.lastname }}</td>
            <td>{{ entity.firstname }}</td>
            <td>{{ entity.email }}</td>
            <td>
                <div class="btn-group">
                 <a class="btn" href="{{ path('user_profile_show', { 'id': entity.id }) }}">show</a>
                 <a class="btn" href="{{ path('user_profile_edit', { 'id': entity.id }) }}">edit</a>
                </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    </div>         
{% endblock %} 