
{% extends 'MarcaUserBundle:Profile:layout.html.twig' %}

{% block body %}
<div class="row-fluid">
<div class="span4">    
<div class="span12">
        <a class="btn" href="{{ path('user_profile') }}">List</a>
        <a class="btn" href="{{ path('user_profile_edit', { 'id': entity.id }) }}">Edit</a>
</div>

<table class="table table-bordered table-condensed table-striped">
    <tbody>        <tr>
            <th>Id</th><td>{{ entity.id }}</td>        </tr>        <tr>
            <th>Username</th><td>{{ entity.username }}</td>        </tr>        <tr>
            <th>Lastname</th><td>{{ entity.lastname }}</td>        </tr>        <tr>
            <th>Firstname</th><td>{{ entity.firstname }}</td>        </tr>        <tr>
            <th>Email</th><td>{{ entity.email }}</td>        </tr>        <tr>
            <th>Created</th><td>{{ entity.created|date('Y-m-d H:i:s') }}</td>        </tr>        <tr>
            <th>Updated</th><td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>        </tr>    </tbody>
</table>
</div>        
</div>

{% endblock %}
