
{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
      
<div class="row-fluid">
<div class="span6 well">
    <h3>Thanks</h3>
<table class="table table-bordered table-condensed table-striped">
<tbody>
<tr><th>Username</th><td>{{ entity.username }}</td></tr>
<tr><th>Firstname</th><td>{{ entity.firstname }}</td></tr>
<tr><th>Lastname</th><td>{{ entity.lastname }}</td></tr>
<tr><th>Email</th><td>{{ entity.email }}</td></tr>
</tbody>
</table>
   
{% if is_granted('ROLE_ADMIN') %}<a class="btn" href="{{ path('user_profile') }}">List</a>{% endif %}
<a class="btn btn-primary" href="{{ path('user_profile_edit', { 'id': entity.id }) }}">Edit Profile</a>
</div>
</div>  
{% endblock %}
