{# Marca/app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Welcome!{% endblock %}</title>
<script src="{{ asset('bundles/marcahome/js/jquery-1.7.2.min.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/bootstrap-tour.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/welcome-tour.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/jquery.cookie.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/jquery.form.js') }}"></script>

{% include '::external.html.twig' %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/bootstrap.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/bootstrap-responsive.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/local.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/external.css') }}">
{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}
<link rel="icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_32.png') }}" />
<link rel="icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_64.png') }}" />
<link rel="apple-touch-icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_57.png') }}" />
<link rel="apple-touch-icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_114.png') }}" sizes="114x114" />
<link rel="apple-touch-icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_72.png') }}" sizes="72x72" />
<link rel="apple-touch-icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_144.png') }}" sizes="144x144" />
<link rel="shortcut icon" href="{{ asset('bundles/marcahome/img/favicon.ico') }}">

</head>
<body>

    
{% if app.request.get('view') != 'window' %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
          
            
            {% if is_granted('ROLE_USER') %}
            <a class="brand" href="{{ path('user_home') }}" title="Marca Homepage">Marca</a> 
            <div class="nav-collapse">
            <ul class="nav">  
            {% block subnav %}{% endblock %} 
            </ul>
            <ul class="nav pull-right">
                <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">{{ app.session.get('username') }}<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledb|slice(0, 25)y="dLabel">
                        <li><a href="{{ path('user_show') }}">Profile</a></li>
                        <li><a class="" title="Enroll" href="{{ path('enroll_find') }}">Enroll</a></li>
                        <li><a title="Logout" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                 </li>
            </ul>
            </div>{#  nav-collapse  #}
            {% else %}
            <a class="brand" href="{{ path('home') }}" title="Marca Homepage">Marca</a>
            <ul class="nav pull-right">
            <li> <a class='active' title="Login" href="{{ path('fos_user_security_login') }}">Login</a></li>
            </ul>
            {% endif %} 
             
             
                    
         

      </div>{#  container  #}
    </div>{#  navbar-inner  #}
  </div>{#  navbar  #}    
{% endif %}
<div class="container" id="mainContainer">

{%if block('sidebar') %}
    <div class="row">  
    <div class="span2">
     <ul class="nav nav-list">
    {{block('sidebar')}}
    </div>  
         
    <div class="span10"> 
    {% block content %}          
    {% endblock %}
    </div>   
    </div>
{% else %}

    
    {{block('body')}}
{% endif %}

</div>{#  container  #} 

{# Modal #}
<div id="base_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">     
</div>


</body>
</html>