{# Marca/app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Welcome!{% endblock %}</title>
<script src="{{ asset('bundles/marcahome/js/jquery-1.7.2.min.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/bootstrap.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/bootstrap-responsive.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/local.css') }}">
{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse">
          <ul class="nav">  
            
            {% if is_granted('ROLE_USER') %}
            <li><a class="brand" href="{{ path('user_home') }}" title="Marca Homepage">Marca</a></li>  
            {% block subnav %}{% endblock %} 
            <li> <a class='active' title="Logout" href="{{ path('fos_user_security_logout') }}">Logout</a></li> 
            {% else %}
            <li><a class="brand" href="{{ path('home') }}" title="Marca Homepage">Marca</a></li>            
            <li> <a class='active' title="Login" href="{{ path('fos_user_security_login') }}">Login</a></li> 
            {% endif %} 
             
            </ul>
         </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->    

<div class="container-fluid">

{%if block('sidebar') %}
    <div class="row">  
    <div class="span2">
     <ul class="nav nav-list">
    {{block('sidebar')}}
    </div>  
         
    <div class="span10"> 
    {% block content %}          
    {% endblock %}
    </div>   
    </div>
{% else %}

    
    {{block('body')}}
{% endif %}
    
<!-- Footer
================================================== -->
<footer class="footer">
<p>The Calliope Initiative offers hosting, support, consulting, and development for the  Marca writing web application.</p>
<p>For more information about Calliope, please contact robin@calliopeinitiative.org</p>    
</footer> 

</div><!-- /container --> 

</body>
</html>
