{# Marca/app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Welcome!{% endblock %}</title>

{% block stylesheets %}
{% stylesheets '@bootstrap_less' combine=true  output='css/compiled/main.css' %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/local.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/external.css') }}">
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts '@jquery_js' '@bootstrap_js' combine=true output='js/compiled/main.js' %}
<script src="{{ asset_url }}"></script>
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/jquery.form.js') }}"></script>
{% endjavascripts %}
{% include '::external.html.twig' %}
<script language="javascript">    
$(document).ready(function() { 
$('#course_select').click(function(){
  $('#base_modal').load('{{ path('course_select_modal') }}');
  $('#base_modal').modal();
});
});
</script>
{% endblock %}

<link rel="icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_32.png') }}" />
<link rel="icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_64.png') }}" />
<link rel="apple-touch-icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_57.png') }}" />
<link rel="apple-touch-icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_114.png') }}" sizes="114x114" />
<link rel="apple-touch-icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_72.png') }}" sizes="72x72" />
<link rel="apple-touch-icon" type="image/png" href="{{ asset('bundles/marcahome/img/favicons/favicon_144.png') }}" sizes="144x144" />
<link rel="shortcut icon" href="{{ asset('bundles/marcahome/img/favicon.ico') }}">
</head>
<body>

<div id="skipmenu" class="">
<a href="#skip" class="skippy">Skip Navigation</a>
<a name="top"></a>
</div>   
    
{% if app.request.get('view') != 'window' %}
<nav class="navbar navbar-inverse navbar-fixed-top">
{% if is_granted('ROLE_USER') %}    
  <div class="navbar-header">
    <a class="navbar-brand" href="{{ path('user_home') }}" title="{{ application_name }} Homepage">{{ application_name }}</a> 
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-header navbar-right">
  	  <ul class="nav">
                <li class="dropdown">
                <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">{{ app.session.get('username') }}<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="{{ path('user_show') }}">Profile</a></li>
                        <li><a class="" title="Enroll" href="{{ path('enroll_find') }}">Enroll</a></li>
                        <li><a title="Logout" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                 </li>
            </ul>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
           <li class="navbar-icon">
            <a title='Select course' id='course_select' href="javascript:void(0);"><i alt='Select course' class="glyphicon glyphicon-list glyphicon-white"></i></a>
            </li>    
            {% block subnav %}{% endblock %} 
    </ul>
  </div>
{% endif %}         
</nav>     
{% endif %}
    
<div class="container" id="mainContainer">

{%if block('sidebar') %}
    <div class="row " role="navigation">  
    <div class="col-md-2 sidebar">
     <a name="skip"></a>   
     <ul class="nav nav-list">
    {{block('sidebar')}}
    </div>          
    <div class="col-md-10" role="main">      
    {% block content %}          
    {% endblock %}                                          
    </div>   
    </div>
{% else %}
    <a name="skip"></a>
    {{block('body')}}
{% endif %}

</div>

{# Modal #}
<div id="base_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">     
</div>


</body>
</html>