{% extends 'MarcaPortfolioBundle::port_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {

            function check_assessement() {
                var count = 0
                $("input[type=radio]:checked").each(function () {
                    if ($(this).next().text() == 'No answer') {
                        count = count +1;
                    };
                });
                if (count == 0 ){
                    $('#submit').show();
                    $('#assess_alert').hide();
                }
                else {
                    $('#submit').hide();
                    $('#assess_alert').show();
                }
            };

            $('#submit').hide();
            check_assessement();
            $("input[type=radio]").click(function () {
                check_assessement();
            });


            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function () {
                window.location.href = '{{ course_path('portfolio_user', { 'courseid': app.request.get('courseid'), 'userid':app.request.get('userid'),
                    'user':app.request.get('user') }) }}';
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-8 center">

        <div class="panel panel-default">
            <div class="panel-heading">
                <button id="close_form" type="button" class="close">&times;</button>
                <h2 class="panel-title">Portfolio Assessment</h2>

                <p>{{ assessmentset.description|html_raw }}</p>
            </div>
            <div class="panel-body">
                <form action="{{ course_path('ratingset_update', { 'id': ratingset.id, 'courseid': app.request.get('courseid'), 'userid':app.request.get('userid'), 'user':app.request.get('user') }) }}"
                      method="post" novalidate="novalidate">
                    <h3 class="margin-top-small">Notes and Grade for {{ user.firstname }} {{ user.lastname }}</h3>
                    {{ form_errors(edit_form) }}
                    {{ form_row(edit_form.notesforstudent) }}
                    {{ form_row(edit_form.notesforreviewer) }}
                    {{ form_row(edit_form.grade) }}
                    <hr/>
                    <h3>{{ assessmentset.name|html_raw }}</h3>
                    {% for rating in edit_form.ratings %}
                        <p><strong>{{ ratingset.ratings[loop.index-1].objective.objective|html_raw }}</strong></p>
                        <p>{{ ratingset.ratings[loop.index-1].objective.description|html_raw }}</p>
                        {{ form_row(rating.scaleitem) }}
                        <hr/>
                    {% endfor %}
                    {{ form_rest(edit_form) }}
                    <div id="assess_alert" class="alert alert-warning">
                        You must complete the assessment before you can post.
                    </div>
                    <button id="submit" class="btn btn-primary pull-right" type="submit">Post</button>
                    <a class="btn btn-warning" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                </form>
            </div>
        </div>
    </div>

    {# Modal for Delete confirmation #}
    {{ form(delete_form)|delete_modal }}
{% endblock %}
