{% extends 'BorrowersHomeBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-11 well">
        <a class="btn btn-primary" href="{{ path('ratingset_new') }}">New</a>
    </div>

    {% for entity in entities %}
        <div class="col-sm-11 well">
            <a href="{{ path('ratingset_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
            {% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}
            {% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}
            <a class="btn" href="{{ path('ratingset_show', { 'id': entity.id }) }}">show</a>
            <a class="btn btn-default" href="{{ path('ratingset_edit', { 'id': entity.id }) }}">edit</a>
        </div>
    {% endfor %}

{% endblock %}
