{# Marca/ForumBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}{{ application_name }} Forum{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}


{% block sidebar %} 
       <h1>Forum</h1>
       {% if is_granted('ROLE_INSTR') %}
             <a class='btn btn-primary' href="{{ course_path('forum_new') }}">Create<i class="icon-pencil icon-white"></i></a>
             {% endif %} 
             <li><a href="{{ course_path('forum', { 'set': 0 }) }}">All Discussions</a></li>
             
           
{% endblock %}  
