{# Marca/AssessmentBundle/Resources/views/Objective/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block content %}
<div class="col-md-11 well">
<h2>Assessment</h2>
<a class="btn" href="{{ path('assessmentset') }}">List Assessment Sets</a>
</div> 

<div class="col-md-11 well">
<form action="{{ path('objective_create', {'assessmentsetid':assessmentsetid}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button><a class="btn" href="{{ path('assessmentset_show', {'id':assessmentsetid}) }}">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
