{# Marca/AdminBundle/Resources/views/Default/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-11 well">
<h2>Users</h2>

        <form action="{{ path('admin_find') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button class="btn btn-primary btn-sm" type="submit">Find</button>
        </form>
</div>
<div class="col-md-11 well">
    <div class='alert alert-info'>Number in Find:  {{ count }}</div>
<table class="table">   
<tbody>    
{% for user in users %}
        <tr>
            <td><a href="{{ path('user_admin', { 'username': user.username }) }}">{{user.lastname}}, {{user.firstname}}</a></td>
            <td><a class="" target="_blank" href="mailto:{{ user.email }}">{{ user.email }}</a></td>
       </tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="navigation">
    {{ knp_pagination_render(users) }}
</div>

{% endblock %}