{# Marca/AdminBundle/Resources/views/Default/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well">
<legend>Permissions</legend>

        <form action="{{ path('admin_find') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <button class="btn btn-primary btn-small" type="submit">Find</button>
        </form>  
<a class="btn btn-small btn-primary" href="{{ path('admin') }}">List All</a>

</div>
<div class="span9 well">
<table class="table">   
<tbody>    
{% for user in users %}
        <tr>
            <td><a href="{{ path('user_admin', { 'username': user.username, 'role': 'ROLE_INSTR' }) }}">{{user.lastname}}, {{user.firstname}}</a></td>
            <td><a class="" target="_blank" href="mailto:{{ user.email }}">{{ user.email }}</a></td>
       </tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="navigation">
    {{ knp_pagination_render(users) }}
</div>

{% endblock %}