{# Marca/HomeBundle/Resources/views/Default/index.html.twig #}

{% extends 'MarcaHomeBundle:Default:layout.html.twig' %}
 
{% block body %}

<div class="row-fluid">
<div class="col-md-8">
    <h1>Welcome to {{ application_name }}</h1>  
</div>
             
<div class="col-md-4">
<p>
    {% if ldap_auth!='yes' %}   
        <a class="btn btn-primary" title="Get an Account" href="{{ path('fos_user_registration_register') }}" >Get an Account</a>
    {% endif %}    
    <a class="btn btn-primary" title="Get an Account" href="{{ path('fos_user_security_login') }}" >Login</a></p>
</div>
        
</div>

<div class="row-fluid">
<div class="col-md-12">
{% for page in pages %}    
{{ page.body|raw }}
{% endfor %} 
        
</div>
</div> 


<div class="row-fluid">
<div class="col-md-6">
<h2>Intuitive peer editing</h2>
{{ application_name }} makes peer editing a breeze. Students can easily share their work with each other, offer comments, and provide detailed feedback using custom tags created by their instructors.

<h2>Simply beautiful portfolios</h2>
<p>Using {{ application_name }}, your students can create beautiful portfolios that combine text and rich multimedia.</p>  
</div>

<div class="col-md-6">
<h2>Powerful, flexible markup</h2>
<p>Whether you’re leaving initial feedback on a rough draft or thoroughly grading a final project, {{ application_name }} provides instructors with simple yet powerful and customizable tools for marking up documents. {{ application_name }} will help you grade more effectively and efficiently.</p>
</div>
</div>

       
{% endblock %}