{# Marca/HomeBundle/Resources/views/Default/index.html.twig #}

{% extends 'MarcaHomeBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="jumbotron" style="margin-top: -80px;background-color: #ffffff">
        <div class="container">
            <h1>{{ application_name }}</h1>
            <p>Learn together. Write better.</p>
            <p>
                <a class="btn btn-primary btn-lg " href="{{ path('fos_user_security_login') }}">Sign in</a>
                {% if cas!='yes' %}
                    <a class="btn btn-primary btn-lg pull-right " title="Sign up for an account"
                       href="{{ path('fos_user_registration_register') }}">Sign up</a>
                {% endif %}
            </p>
            {% if pages %}
                <div class="row" style="margin-top: 50px;">
                    {% for page in pages %}
                        {{ page.body|html_raw }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>


    <div class="row">
        <div class="container">
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default" style="min-height:100%">
                    <div class="panel-body">
                        <h2>Intuitive peer editing. <i class="fa fa-comments fa-2x"></i></h2>
                        <p>On {{ application_name }}, students can easily share their work with each other, offer
                            comments,
                            and provide detailed feedback.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default" style="min-height:100%">
                    <div class="panel-body">
                        <h2>Simply beautiful portfolios. <i class="fa fa-archive fa-2x"></i></h2>
                        <p>Using {{ application_name }}, your students can create beautiful portfolios that combine text
                            and
                            rich multimedia.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default" style="min-height:100%">
                    <div class="panel-body">
                        <h2>Powerful, flexible markup. <i class="fa fa-pencil fa-2x"></i></h2>
                        <p>{{ application_name }} provides instructors with simple yet powerful and customizable
                            tools for marking up documents.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


