{# Marca/PortfolioBundle/Resources/views/Portitem/edit.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function () {
                window.location.href = '{{ path('portset_show', { 'id': portitem.portset.id }) }}';
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-8 well center">
        <h2>Portfolios</h2>

        <form action="{{ path('portitem_update', { 'id': portitem.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
            <button class="btn btn-primary pull-right" type="submit">Post</button>
            <a class="btn btn-warning" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
        </form>
    </div>

    {# Modal for Delete confirmation #}
    {{ form(delete_form)|delete_modal }}
{% endblock %}
