{# Marca/PortfolioBundle/Resources/views/Portitem/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
CKEDITOR.replace( 'marca_portfoliobundle_portitemtype_description',  {
    customConfig: '{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_config.js') }}'
} );
});
</script>
<div class="span9 well">
<legend>Portfolios</legend> 
</div> 
       
<div class="span9 well">
<form class="form" action="{{ path('portitem_create', { 'portsetid': portsetid }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
    {{ form_rest(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>
     
{% endblock %}
