{# Marca/PortfolioBundle/Resources/views/Portitem/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}

    <div class="col-md-12">
        <form class="form" action="{{ path('portitem_create', { 'portsetid': portsetid }) }}" method="post" {{ form_enctype(form) }}>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="margin-top-small">Portfolios</h2>
                </div>
                <div class="panel-body">
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_rest(form) }}
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Create</button>
                        <a class="btn btn-default" href="{{ path('portset_show', { 'id': portsetid }) }}">Cancel</a>

                    </div>
                </div>
            </div>
        </form>

    </div>

{% endblock %}
