{# Marca/PortfolioBundle/Resources/views/Portitem/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block content %}
<div class="span9 well">
<h2>Portfolios</h2>
</div> 
       
<div class="span9 well">
<form class="form" action="{{ path('portitem_create', { 'portsetid': portsetid }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
    {{ form_rest(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button><a class="btn" href="{{ path('portset_show', { 'id': portsetid }) }}">Cancel</a>
    </div>
</form>
</div>
     
{% endblock %}
