{# This subnav is the top navigation when inside a course.  Included from layout.html.twig #}

<li><a href="{{ path('journal') }}">Calendar</a></li>
<li><a href="{{ path('journal') }}">Projects</a></li>
<li><a href="{{ path('journal') }}">Journal</a></li>
<li><a href="{{ path('journal') }}">Forum</a></li>
<li><a href="{{ path('journal') }}">Portfolio</a></li>




