{# Marca/PortfolioBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}{{ application_name }} | Portfolio{% endblock %}

{% block coursenav %}
    {{ render_esi(controller('MarcaCourseBundle:Course:createCoursenav', { 'courseid': app.request.get('courseid') })) }}
{% endblock %}

{% block sidebar %}
    <h1><a  title='Course Portfolio' href="{{ course_path('portfolio') }}" class="marca-gray">Portfolio</a></h1>
    {#
    {% if portStatus == 'true' %}
        <a class='btn btn-primary margin-bottom-medium' href="{{ course_path('portfolio_find', { 'project': 'recent', 'portitemid':'0' }) }}">Add to Portfolio<i class="glyphicon glyphicon-plus glyphicon-white"></i></a>
    {% endif %}
    #}
    {% if app.request.attributes.get('_route') == 'portfolio_find'%}
        <li>
            <a class="project-sidebar {% if active_project == 0 %}current-filter{% endif %}" href="{{ course_path('portfolio_find', { 'project': 'recent', 'portitemid': '0' })}}">
                All Folders </a>
        </li>
        {% for project in projects %}
            <li>
                <a title='{% if app.request.get('resource')=='1' %}{{ project.course.name }}: {%endif%}{{ project.name }}' class="project-sidebar {% if active_project == project.id %}current-filter{% endif %}" href="{{ course_path('portfolio_find', { 'project': project.id, 'portitemid':'0'}) }}">
                    {% if app.request.get('resource')=='1' and project.course.name!=app.session.get('course') %}{{ project.course.name }}: {%endif%}{{ project.name }}</a>
            </li>
        {% endfor %}
        <hr class="marca-spacer" />
    {% endif %}

    {% if not private_port %}    
    <li><a href="{{ course_path('portfolio_user', { 'userid': '0', 'user': '0' }) }}">View My Portfolio</a></li>
    {% else %} 
    <li><a href="{{ course_path('portfolio_self', { 'userid': '0', 'user': '0' }) }}">View My Portfolio</a></li>
    {% endif %}
    
    {% if not private_port %}
    <li class="dropdown">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">View Portfolio by Author<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% for roll in roll %}
                <li><a data-index="{{loop.index}}" data-id='{{roll.user.id}}' href="{{ course_path('portfolio_user', { 'userid': roll.user.id, 'user': loop.index }) }}">{{roll.firstname}} {{roll.lastname}}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% elseif role == 2 %}
    <li class="dropdown">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">View Portfolio by Author<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% for roll in roll %}
                <li><a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('portfolio_user', { 'userid': roll.userid, 'user': loop.index }) }}">{{roll.firstname}} {{roll.lastname}}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    
    {% if role == 2 %}
        <hr class="marca-spacer" />
        <li><a href="{{ course_path('port_status_toggle') }}">Portfolio editing: {% if portStatus == 'true' %}Open{% else %}Closed{% endif %}</a></li>
    {% endif %}
{% endblock %}





 