{# Marca/PortfolioBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}{{ application_name }} Portfolio{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}


{% block sidebar %}
    <h1>Portfolio</h1>
    <a class='btn btn-primary' href="{{ course_path('portfolio_find', { 'project': 'recent', 'scope': 'mine', 'resource': '0', 'tag': '0', 'userid': '0','user':'0' }) }}">Add<i class="glyphicon glyphicon-plus glyphicon-white"></i></a>
    <li><a href="{{ course_path('portfolio_user', { 'userid': '0', 'user': '0' }) }}">View My Portfolio</a></li>

    <li class="dropdown">
        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">View Portfolio by Author<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% for roll in roll %}
                <li><a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('portfolio_user', { 'userid': roll.userid, 'user': loop.index }) }}">{{roll.firstname}} {{roll.lastname}}</a></li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}  
 