
<div class="col-sm-2">
<a class="btn btn-info" href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">List</a>
{% if ('edit' in actions) and (not hide_edit) %}
<a class="btn btn-primary" href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}">Edit</a>
{% endif %} 
</div>       
{% if ('delete' in actions) and (not hide_delete) %}  
<div class="col-sm-1">
<form action="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}" method="post">
            {{ '{{ form_widget(delete_form) }}' }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
{% endif %}  

