{# Marca/ResponseBundle/Resources/views/Response/edit.html.twig #}

{% extends 'MarcaHomeBundle::dialog.html.twig' %}

{% block title %}Response{% endblock %}

{% block sidebar %}<h1 class="marca-gray">Response</h1>{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function(){
                window.location.href='{{ course_path('journal_list', { 'page': app.request.get('page'), 'user': app.request.get('user'), 'userid': app.request.get('userid') }) }}';
            });
            {# standard delete confirmation #}
            $('#toggle_modal').click(function(){
                $('#delete_modal').modal();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-11 center">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title small">
                            {{ journal.title }}
                        </h2>
                        <span>Created  {{ journal.created|date('M d Y, h:ia') }}  / Updated  {{ journal.updated|date('M d Y, h:ia') }}</span>
                    </div>
                    <div class="panel-body">
                        {{ journal.body|html_raw }}
                    </div>
                </div>
            </div>


        <div class="col-sm-4">
            <form action="{{ course_path('response_update', { 'id': response.id, 'sourceid': sourceid,'page': app.request.get('page'),'user': app.request.get('user') }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button id="close_form" type="button" class="close">&times;</button>
                        <h2 class="panel-title small">
                            Response
                        </h2>
                    </div>
                    <div class="panel-body">
                        {{ form(edit_form) }}
                        <a class="btn btn-warning" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {# Modal for Delete confirmation #}
    <div id="delete_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <span class="modal-title">Delete</span>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                    {{ form(delete_form) }}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}


