{# Marca/ResponseBundle/Resources/views/Response/edit.html.twig #}

{% extends 'MarcaResponseBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
 <script language="javascript"> 
$(document).ready(function()
{
CKEDITOR.replace( 'marca_responsebundle_responsetype_body',  {
    customConfig: '{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_config.js') }}'
} );
$('form li').addClass('alert alert-error');
});
</script>    
   
    <div class="span8 well">  
        <form action="{{ course_path('response_update', { 'id': response.id, 'source': source, 'sourceid': sourceid,'view': app.request.get('view') }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}  
            <button class="btn btn-primary" type="submit">Update</button>
            <a class="btn" href="{{ course_path(source, { 'id': sourceid,'view': app.request.get('view') }) }}">Cancel</a> 
        </form>
        
        <form action="{{ course_path('response_delete', { 'id': response.id, 'source': source, 'sourceid': sourceid,'view': app.request.get('view') }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-delete" type="submit">Delete</button>
        </form>    
    </div>

{% endblock %}
