{# Marca/ResponseBundle/Resources/views/Response/edit.html.twig #}

{% extends 'MarcaResponseBundle::layout.html.twig' %}

{% block javascripts %}
    <script language="javascript">
        $(document).ready(function()
        {
            $('form li').addClass('alert alert-error');
        });
    </script>
{% endblock %}

{% block content %}
{% if journal %}
<div class="col-md-11 well">
<div class="col-md-8 center">
<h2><span class="journal-title">{{ journal.title }}</span></h2>
<span>Created  {{ journal.created|date('M d Y, h:ia') }}  / Updated  {{ journal.updated|date('M d Y, h:ia') }}</span>
<hr/>
<div class="journal-body">
{{ journal.body|raw }}
</div>
</div>
</div> 
{%endif %}

    <div class="col-md-11 well">
        <form action="{{ course_path('response_update', { 'id': response.id, 'source': source, 'sourceid': sourceid,'view': app.request.get('view'),'page': app.request.get('page'),'user': app.request.get('user') }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">
            {{ form_widget(edit_form) }}  
            <button class="btn btn-primary" type="submit">Update</button>
            {% if journal %}
            <a class="btn btn-default" href="{{ course_path('journal_user', { 'id': response.id, 'source': source, 'sourceid': sourceid,'view': app.request.get('view'),'page': app.request.get('page'),'user': app.request.get('user'),'userid':app.request.get('userid') }) }}">Cancel</a>
            {%else %}
            <a class="btn btn-default" href="{{ course_path(source, { 'id': sourceid,'view': app.request.get('view') }) }}">Cancel</a>
            {%endif %}
            </form>
        
        <form action="{{ course_path('response_delete', { 'id': response.id, 'source': source, 'sourceid': sourceid,'view': app.request.get('view'),'page': app.request.get('page'),'user': app.request.get('user'),'userid':app.request.get('userid')  }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-delete" type="submit">Delete</button>
        </form>    
    </div>

{% endblock %}
