{# Marca/ResponseBundle/Resources/views/Response/index.html.twig #}

{% extends 'MarcaResponseBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-6">
<table class="table table-bordered table-condensed table-striped">
<thead>
    <tr>        
        <th>Id</th>        
        <th>Body</th>        
        <th>Created</th>        
        <th>Updated</th>        
        <th>Actions</th>
    </tr>
</thead>    
<tbody>
    {% for response in responses %}
    <tr>        
        <td><a href="{{ path('response_show', { 'id': response.id }) }}">{{ response.id }}</a></td>        
        <td>{{ response.body }}</td>        
        <td>{% if response.created %}{{ response.created|date('Y-m-d H:i:s') }}{% endif%}</td>        
        <td>{% if response.updated %}{{ response.updated|date('Y-m-d H:i:s') }}{% endif%}</td>        
        <td><a class="btn" href="{{ path('response_show', { 'id': response.id }) }}">show</a><a class="btn" href="{{ path('response_edit', { 'id': response.id }) }}">edit</a>
</td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
