{# Marca/ResponseBundle/Resources/views/Response/edit.html.twig #}

{% extends 'MarcaResponseBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function(){
                window.location.href='{{ course_path('journal_list', { 'page': app.request.get('page'), 'user': app.request.get('user'), 'userid': app.request.get('userid') }) }}';
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-11 center">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title small">
                            {{ journal.title }}
                        </h2>
                        <span>Created  {{ journal.created|date('M d Y, h:ia') }}  / Updated  {{ journal.updated|date('M d Y, h:ia') }}</span>
                    </div>
                    <div class="panel-body">
                        {{ journal.body|raw }}
                    </div>
                </div>
            </div>

        <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button id="close_form" type="button" class="close">&times;</button>
                        <h2 class="panel-title small">
                            Journal Response
                        </h2>
                    </div>
                    <div class="panel-body">
                        {{ form(form) }}
                    </div>
                </div>
        </div>
    </div>

{% endblock %}



