{# Marca/ResponseBundle/Resources/views/Response/new.html.twig #}

{% extends 'MarcaResponseBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            $('form li').addClass('alert alert-error');
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        {% if journal %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><span class="journal-title">{{ journal.title }}</span></h2>
                    <span>Created  {{ journal.created|date('M d Y, h:ia') }}  / Updated  {{ journal.updated|date('M d Y, h:ia') }}</span>
                </div>
                <div class="panel-body">
                    <div class="journal-body">
                        {{ journal.body|raw }}
                    </div>
                </div>
            </div>

        {%endif %}


        <form action="{{ course_path('response_create', { 'source': source, 'sourceid': sourceid,'view': app.request.get('view'),'page': app.request.get('page'),'user': app.request.get('user') }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title small">
                        {% if journal %}Journal Response{% else %}Feedback{% endif %}
                    </h2>
                </div>
                <div class="panel-body">
                    {{ form_widget(form) }}
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                        {% if journal %}
                            <a class="btn btn-default" href="{{ course_path('journal_user', { 'id': response.id, 'source': source, 'sourceid': sourceid,'view': app.request.get('view'),'page': app.request.get('page'),'user': app.request.get('user'),'userid':app.request.get('userid') }) }}">Cancel</a>
                        {%else %}
                            <a class="btn btn-default" href="{{ course_path(source, { 'id': sourceid,'view': app.request.get('view') }) }}">Cancel</a>
                        {%endif %}
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}


