{# Marca/ResponseBundle/Resources/views/Response/show.html.twig #}

{% extends 'MarcaResponseBundle::layout.html.twig' %}

{% block content %}

<div class="col-sm-2">
<a class="btn btn-info" href="{{ path('response') }}">List</a>
<a class="btn btn-primary" href="{{ path('response_edit', { 'id': response.id }) }}">Edit</a>
 
</div>       
  
<div class="col-sm-1">
<form action="{{ path('response_delete', { 'id': response.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
  

        

<div class="col-sm-6">
<table class="table table-bordered table-condensed table-striped">
<tbody>        
    <tr>
        <th>Id</th>         
        <td>{{ response.id }}</td>         
    </tr>        
    <tr>
        <th>Body</th>         
        <td>{{ response.body }}</td>         
    </tr>        
    <tr>
        <th>Created</th>        <td>{{ response.created|date('Y-m-d H:i:s') }}</td>         
    </tr>        
    <tr>
        <th>Updated</th>        <td>{{ response.updated|date('Y-m-d H:i:s') }}</td>         
    </tr>  
</tbody>
</table>
</div>          
{% endblock %}
