{# Marca/AssessmentBundle/Resources/views/Assessmentset/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
CKEDITOR.replace( 'marca_assessmentbundle_assessmentsettype_description',  {
    customConfig: '{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_config.js') }}'
} );
});
</script>

<div class="span9 well">
<legend>Assessment</legend> 
</div>

<div class="span9 well">
        <form action="{{ path('assessmentset_update', { 'id': assessmentset.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
        <div>
            <button class="btn btn-primary" type="submit">Update</button><a class="btn" href="{{ path('assessmentset') }}">Cancel</a>
        </div>
        </form>
        
        <form action="{{ path('assessmentset_delete', { 'id': assessmentset.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-delete" type="submit">Delete</button>
        </form>
</div>

{% endblock %}
