{# Marca/AssessmentBundle/Resources/views/Assessmentset/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            $('#toggle_modal').click(function(){
                $('#delete_modal').modal();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <form action="{{ path('assessmentset_update', { 'id': assessmentset.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                <div class="panel-heading">
                    <h2 class="panel-title small">Assessment set</h2>
                </div>
                <div class="panel-body">
                    {{ form_widget(edit_form) }}
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                        <a class="btn btn-default" href="{{ path('assessmentset_show', { 'id': assessmentset.id }) }}">Cancel</a>
                    </div>
                    {% if assessmentset.objectives|length == 0%}

                    <a class="btn btn-warning pull-right" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                    {% else %}
                    <span class='alert pull-right'>Since this set has at least one learning objective, it can't be deleted.</span>

                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    {# Modal for Delete confirmation #}
    <div id="delete_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                    <form action="{{ path('assessmentset_delete', { 'id': assessmentset.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <div class="btn-group">
                            <button class="btn btn-danger" type="submit">Delete</button>
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</a>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
