{# Marca/AssessmentBundle/Resources/views/Assessmentset/edit.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            $('#toggle_modal').click(function(){
                $('#delete_modal').modal();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-8 center">
        <div class="panel panel-default">
            <form action="{{ path('assessmentset_update', { 'id': assessmentset.id }) }}" method="post">
                <div class="panel-heading">
                    <h2 class="panel-title small">Assessment Set</h2>
                </div>
                <div class="panel-body">
                    {{ form_widget(edit_form) }}
                </div>
                <div class="panel-footer">
                    {#<div class="btn-group">#}
                        {#<button class="btn btn-primary" type="submit">Update</button>#}
                        {#<a class="btn btn-default" href="{{ path('assessmentset_show', { 'id': assessmentset.id }) }}">Cancel</a>#}
                    {#</div>#}

                    <button class="btn btn-primary  pull-right" type="submit">Post</button>
                    {% if assessmentset.objectives|length == 0%}
                        <div class="panel-body">
                            {{ form_widget(edit_form) }}
                            <a class="btn btn-warning" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                        </div>
                    {% else %}
                    <span class='alert pull-right'>Since this set has at least one learning objective, it can't be deleted.</span>

                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    {# Modal for Delete confirmation #}
    {{ form(delete_form)|delete_modal }}
{% endblock %}
