{# Marca/AssessmentBundle/Resources/views/Assessmentset/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-11 well">
<legend>Assessment</legend> 

<div class="span"> 
</div>

</div>



<div class="col-md-4 well">
<h4>Assessment Sets</h4>    
<a class="btn btn-default" href="{{ path('assessmentset_new') }}">New Assessment Set</a>
<hr/>

{% for assessmentset in assessmentsets %}
<h4><a class="" href="{{ path('assessmentset_show', { 'id': assessmentset.id }) }}">{{ assessmentset.name }}</a></h4>   
<a class="btn btn-default btn-sm pull-right" href="{{ path('assessmentset_edit', { 'id': assessmentset.id }) }}">Edit</a>
{{ assessmentset.description|raw }}
<hr/>
{% endfor %}
</div>

<div class="col-md-4 well">
<h4>Assessment Scales</h4>     
<a class="btn btn-default" href="{{ path('scale_new') }}">New Scale</a>
<hr/>

{% for scale in scales %}           
<h4><a class="" href="{{ path('scale_show', { 'id': scale.id }) }}">{{ scale.name }}</a></h4>  
<a class="btn btn-default btn-sm pull-right" href="{{ path('scale_edit', { 'id': scale.id }) }}">Edit</a>
<br/> 
<hr/>
{% endfor %}
</div>
{% endblock %}
