{# Marca/AssessmentBundle/Resources/views/Assessmentset/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-primary pull-right margin-top-small" href="{{ path('assessmentset_new') }}">Create Set<i class="glyphicon glyphicon-pencil glyphicon-white"></i></a>
            <h2 class="margin-top-small">Assessment Sets</h2>
        </div>
        <div class="panel-body">
            <div class="list-group">
                {% for assessmentset in assessmentsets %}

                    <a class="list-group-item" href="{{ path('assessmentset_show', { 'id': assessmentset.id }) }}">
                        <h3 class="margin-top-small">{{ assessmentset.name }}</h3>
                        {{ assessmentset.description|raw }}
                    </a>

                {% endfor %}
            </div>
        </div>
        <div class="panel-footer">
            <span class="text-muted">Click name to view. </span>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-primary pull-right margin-top-small" href="{{ path('scale_new') }}">Create Scale<i class="glyphicon glyphicon-pencil glyphicon-white"></i></a>
            <h2 class="margin-top-small">Assessment Scales</h2>
        </div>
        <div class="panel-body">
            <div class="list-group">
                {% for scale in scales %}

                    <a class="list-group-item" href="{{ path('scale_show', { 'id': scale.id }) }}">
                        <h3 class="margin-top-small">{{ scale.name }}</h3>
                    </a>

                {% endfor %}
            </div>
        </div>
        <div class="panel-footer">
            <span class="text-muted">Click name to view. </span>
        </div>
    </div>
</div>
{% endblock %}
