{# Marca/AssessmentBundle/Resources/views/Assessmentset/new.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="col-sm-8 center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title small">Assessment Set</h2>
            </div>
            <form action="{{ path('assessmentset_create') }}" method="post" {{ form_start(form) }}>
                <div class="panel-body">
                    {{ form_widget(form) }}
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Create</button>
                        <a class="btn btn-default" href="{{ path('assessmentset') }}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
