{# Marca/AssessmentBundle/Resources/views/Assessmentset/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
CKEDITOR.replace( 'marca_assessmentbundle_assessmentsettype_description',  {
    customConfig: '{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_config.js') }}'
} );
});
</script>


<div class="span9 well">
<legend>Assessment</legend> 
</div> 

<div class="span9 well"> 
<form action="{{ path('assessmentset_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button><a class="btn" href="{{ path('assessmentset') }}">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
