{# Marca/AssessmentBundle/Resources/views/Assessmentset/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{ assessmentset.name }}</h2>
                <p>{{ assessmentset.description|raw }}</p>

                <div class="btn-group">
                    <a class="btn btn-default btn-sm" href="{{ path('assessmentset_edit', { 'id': assessmentset.id }) }}">Edit Assessment Sets</a>
                    <a class="btn btn-default btn-sm" href="{{ path('objective_new', { 'assessmentsetid': assessmentset.id }) }}">Add Learning Objective</a>
                    <a class="btn btn-default btn-sm" href="{{ path('assessmentset') }}">List Assessment Sets</a>
                </div>
            </div>
            <div class="panel-body">


                <div class="list-group">
                    {% for objective in assessmentset.objectives %}

                        <a class="list-group-item" href="{{ path('objective_edit', { 'id': objective.id }) }}">
                            <h3>{{ objective.objective|raw }}</h3>
                            {{ objective.description|raw }}
                            <strong>{{ objective.scale.name }}</strong>:
                            <p>
                                {% for scaleitem in objective.scale.scaleitems %}
                                <strong>{{ scaleitem.name }}</strong> (value:{{ scaleitem.value }})
                                {% endfor %}
                            </p>

                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="panel-footer">
                <span class="text-muted">Click Learning Objective to edit.</span>
            </div>
        </div>
    </div>
{% endblock %}
