{# Marca/AssessmentBundle/Resources/views/Assessmentset/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group pull-right">
                    <a class="btn btn-default btn-sm"
                       href="{{ path('assessmentset_edit', { 'id': assessmentset.id }) }}">Edit Assessment Set</a>
                    <a class="btn btn-default btn-sm"
                       href="{{ path('objective_new', { 'assessmentsetid': assessmentset.id }) }}">Add Learning
                        Objective</a>
                    <a class="btn btn-default btn-sm" href="{{ path('assessmentset') }}">List Assessment Sets</a>
                </div>
                <h2 class="margin-top-small">{{ assessmentset.name }}</h2>

                <p>{{ assessmentset.description|html_raw }}</p>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    {% for objective in assessmentset.objectives %}

                        <a class="list-group-item" href="{{ path('objective_edit', { 'id': objective.id }) }}">
                            <h3 class="margin-top-small">{{ objective.objective|html_raw }}</h3>
                            {{ objective.description|html_raw }}
                            <strong>{{ objective.scale.name }}</strong>:
                            <p>
                                {% for scaleitem in objective.scale.scaleitems %}
                                    <strong>{{ scaleitem.name }}</strong> (value:{{ scaleitem.value }})
                                {% endfor %}
                            </p>
                        </a>

                    {% endfor %}
                </div>
            </div>
            <div class="panel-footer">
                <span class="text-muted">Click Learning Objective to edit. </span>
            </div>
        </div>
    </div>
{% endblock %}