{# Marca/AssessmentBundle/Resources/views/Assessmentset/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}

<div class="span9 well">
<legend>Assessment</legend> 
<a class="btn" href="{{ path('assessmentset') }}">List Assessment Sets</a>
<a class="btn" href="{{ path('scale') }}">List Scales</a>



</div>

<div class="span9 well">                    
<h3 class="inline">{{ assessmentset.name }}</h3>{{ assessmentset.description }}  
<a class="btn btn-primary pull-right" href="{{ path('objective_new', { 'assessmentsetid': assessmentset.id }) }}">Add Learning Objective</a>
<hr/>     

{% for objective in assessmentset.objectives %}
<div class="span8">             
        <div class="row"><strong>{{ objective.objective }}</strong>
        <a class="btn btn-primary btn-small pull-right" href="{{ path('objective_edit', { 'id': objective.id }) }}">Edit</a>  
        </div>  
        <div class="row">{{ objective.description }}</div>
</div>
{% endfor %}

<form class="margin-top pull-right" action="{{ path('assessmentset_delete', { 'id': assessmentset.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn" type="submit">Delete Assessment Set</button>
</form>
</div>          
{% endblock %}
