{# Marca/AssessmentBundle/Resources/views/Assessmentset/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}

<div class="span9 well">
<legend>Assessment</legend> 
<a class="btn" href="{{ path('assessmentset') }}">List Assessment Sets and Scales</a>
</div>

<div class="span9 well">                    
<h4>{{ assessmentset.name }}</h4>
{{ assessmentset.description|raw }}  

<hr/>     

{% for objective in assessmentset.objectives %}
<div class="col-md-8">
    <div class="row"><h5 class='inline'>{{ objective.objective|raw }}</h5>
        <a class="btn btn-primary btn-small pull-right" href="{{ path('objective_edit', { 'id': objective.id }) }}">Edit</a>  
        </div>  
        <div class="row">{{ objective.description|raw }}</div>
        <div class="row"><strong>{{ objective.scale.name }}</strong>:  
         {% for scaleitem in objective.scale.scaleitems %}<span class="margin-left">{{ scaleitem.name }} (value:{{ scaleitem.value }})</span>  {% endfor %}</div>
         <hr/>
</div>
{% endfor %}


<a class="btn btn-primary " href="{{ path('objective_new', { 'assessmentsetid': assessmentset.id }) }}">Add Learning Objective</a>

</div>          
{% endblock %}
