{# Marca/AssessmentBundle/Resources/views/Scaleitem/new.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <script language="javascript">
        $(document).ready(function()
            {
            });
    </script>

    <div class="col-sm-6 center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title small">Scale Item</h2>
            </div>
            <div class="panel-body">
                <form action="{{ path('scaleitem_create', {'scaleid':scaleid}) }}" method="post" {{ form_start(form) }}>
                    {{ form_widget(form) }}
            </div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit">Create</button>
                    <a class="btn btn-default" href="{{ path('scale_show', {id:scaleid}) }}">Cancel</a>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
