{# Marca/PortfolioBundle/Resources/views/Portfolio/edit.html.twig #}

{% extends 'MarcaPortfolioBundle::layout.html.twig' %}

{% block content %}
<div class="row">   
<div class="span6 well"> 
<form class="form" action="{{ course_path('portfolio_update', { 'id': portfolio.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
            {{ form_row(edit_form.portitem) }}
            {{ form_row(edit_form.portorder) }}
    {{ form_rest(edit_form) }}
    <div>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
</div>
</div> 
{% endblock %}
