{# Marca/PortfolioBundle/Resources/views/Portfolio/edit.html.twig #}

{% extends 'MarcaPortfolioBundle::layout.html.twig' %}

{% block content %}
    <div class="col-md-6 col-md-offset-1">
        <div class="panel panel-default">
            <form class="form" action="{{ course_path('portfolio_update', { 'id': portfolio.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                <div class="panel-heading">
                    {{ form_errors(edit_form) }}
                    <h3 class="panel-title">Portfolio</h3>
                </div>
                <div class="panel-body">
                    <p>{{ form_row (edit_form.portitem) }}</p>
                    <p>{{ form_row (edit_form.portorder) }}</p>
                    {{ form_rest(edit_form) }}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
