{# Marca/PortfilioBundle/Resources/views/Portfolio/find.html.twig #}

{% extends 'MarcaPortfolioBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function() {
            $( "tr" ).hover(
                    function() {
                        $(".file-menu").hide();$( ".file-menu", this ).toggle();
                    }
            );
            $('.file_name').bind('focus', function(){ $(".file-menu").hide();$(this).parent().children("div").children("div").toggle(); });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="file-wrapper well">
        <table id="file_list" class="col-sm-12 table">
            <thead>
            <tr class="file">

                <th><span>Title</span></th>
                <th>Author</th>
                <th class="hidden-xs">Folder</th>
                <th class="hidden-xs">Labels</th>
                <th>Modified</th>
            </tr>
            </thead>
            {% for file in files if  file.portfolio|length ==0 %}
                {# main list of files #}
                <tr class="file">
                    <td>
                        {# different functions for different file types #}
                        {# doc files #}
                        {% if file.doc %}
                            <a class="file_name" href="{{ course_path('doc_show', { 'id': file.id, 'view': 'window' }) }}" title="View {{ file.name }}" target="_blank">
                                <span class="label label-file" data-toggle="tooltip" title="This an html file ">html</span>
                                {{ file.name }}
                            </a>
                            {# links #}
                        {% elseif file.url %}
                            <a class="file_name" href="{{ file.url}}" target="_blank" title='This link will open in a new window or tab.'>
                                <span class="label label-file" data-toggle="tooltip" title="This a link ">link</span>
                                {{ file.name }}
                            </a>
                            {# ODT files #}
                        {% elseif file.ext == 'odt' or file.ext == 'ods' or file.ext == 'odp' or file.ext == 'pdf' %}
                            <a class="file_name" href="{{ course_path('file_view', { 'id': file.id, 'view': 'window' }) }}" title="View {{ file.name }}"  target="_blank">
                                <span class="label label-file" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                                {{ file.name }}
                            </a>
                        {% else %}
                            <a class="file_name" href="{{ course_path('file_get', { 'id': file.id}) }}" title="View {{ file.name }}" >
                                <span class="label label-file" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                                {{ file.name }}
                            </a>
                        {% endif %}
                        <div class="file-menu">
                            {% if portitemid !='0'%}
                                <a class="" href="{{ course_path('portfolio_add', { 'fileid': file.id, 'portitemid': portitemid }) }}">Add to Portfolio</a>
                            {% else %}
                                <a class="" href="{{ course_path('portfolio_new', { 'fileid': file.id }) }}">Add to Portfolio</a>
                            {% endif %}
                        </div>
                    </td>
                    <td>{{ file.user.firstname|title }} {{ file.user.lastname|title }}</td>
                    <td class="hidden-xs">{% if app.request.get('project')=='recent' %}{% if app.request.get('resource')=='1' %}{{ file.project.course.name }}: {% endif %}{{ file.project.name }}{% endif %}</td>
                    <td class="labels hidden-xs">{% if file.access!=1 and file.portfolio|length ==0 and file.tag |length ==0%}&mdash;{% endif %}

                        {% if file.access==1 %} <span class="label label-success" data-toggle="tooltip" title="This file is shared with the rest of the class.">Shared</span>{% endif %}
                        {% if file.portfolio|length !=0 %} <span class="label label-info" data-toggle="tooltip" title="This file is in your portfolio.  You must remove files from the portfolio before you can delete them.">Portfolio</span>{% endif %}
                        {% for tag in file.tag %}<span class="label label-default" style="background-color: {{ tag.color }};">{{ tag.name }}</span>{% endfor %}</td>
                    <td>{% if file.doc %}{{ file.doc.updated|date('m/d/y, g:i a') }}{% else %}{{ file.updated|date('m/d/y, g:i a') }}{% endif %}</td>
                </tr>
            {% else %}
                <tr><td colspan="6">No files match your request.  Make sure they are "Shared."</td> </tr>
            {% endfor %}

        </table>

  

<div class="navigation">
{{ knp_pagination_render(files) }}
</div>

</div>
{% endblock %}
