{# Marca/PortfilioBundle/Resources/views/Portfolio/find.html.twig #}

{% extends 'MarcaPortfolioBundle::layout.html.twig' %}

{% block content %}
<script language="javascript">
$(document).ready(function() { 

});
</script>

{# Project navigation #} 
<div id='project_nav' class="col-md-11 well">
<ul id='project_nav_pills' class="nav nav-pills">
<li class="{% if active_project == 0 %}active{% endif %}">
<a href="{{ course_path('portfolio_find', { 'project': 'recent' })}}">
Recent Files</a>
</li>
{% for project in projects %}
<li class="{% if active_project == project.id %}active{% endif %} ">
<a class="" href="{{ course_path('portfolio_find', { 'project': project.id}) }}">
{{ project.name }}</a>
</li>
{% endfor %}
</ul>  
</div>

<div class="col-md-11 well">
<table class="table">
{% for file in files if  file.portfolio|length ==0 %}
{# list headings #}        
{% if loop.first %}        
<thead>
<th>Title</th>
<th>{% if (app.request.get('scope')=='all' or app.request.get('scope')=='byuser') and app.request.get('resource')=='0' %}Owner{% endif %}</th>
<th>{% if app.request.get('project')=='recent' %}Project{% endif %}</th>
<th>Labels</th>
<th>{% if app.request.get('resource')=='0' %}Modified{% endif %}</th>
<th></th>
<th></th>
</thead> 
<tbody>
{% endif %}

{# main list of files #}
<tr>
<td> 
    
{# different functions for different file types #}    
{% if file.doc %}<i class="icon-edit"></i> <a href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'app' }) }}">{{ file.name|slice(0, 25) }}</a>
 <a target ='_blank' href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'window' }) }}"><i class="icon-share-alt"></i></a>
{% elseif file.url %}<i class="icon-adjust"></i> <a href="{{ file.url}}" target="_blank">{{ file.name }}</a>
{% elseif file.ext == 'odt' %}<i class="icon-file"></i> <a href="{{ course_path('file_view_odt', { 'id': file.id, 'view': 'app' }) }}" title="View {{ file.name }}" >{{ file.name }}</a>  <a href="{{ course_path('file_view', { 'id': file.id }) }}" title="Download {{ file.name }}" ><i class="icon-download"></i></a>
{% else %}
<i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': file.id}) }}" title="View {{ file.name }}" >{{ file.name }}</a>
{% endif %}

{% if file.access==1 %} <span class="label label-success margin-left">Shared</span>{% endif %}
</td>
<td>{% if (app.request.get('scope')=='all' or app.request.get('scope')=='byuser') and app.request.get('resource')=='0' %}{{ file.user.firstname|title }} {{ file.user.lastname|title }}{% endif%}</td>
<td>{% if app.request.get('project')=='recent' %}<strong>{{ file.project.name }}</strong>{% endif %}</td>
<td>{% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}</td>

<td>{% if app.request.get('resource')=='0' %}{% if file.doc %}{{ file.doc.updated|date('M d Y, g:i a') }}{% else %}{{ file.updated|date('M d Y, g:i a') }}{% endif %}{% endif %}</td>
<td>
<a class="" href="{{ course_path('portfolio_new', { 'fileid': file.id }) }}">Add to Portfolio</a> 
</td>
<td></td>
</tr>

{# peer reviews #}
{% for review in file.reviews if  review.portfolio|length ==0 %}  
{# show if parent is owner or if the review is shared or if the user is instructor #}
{% if file.isOwner(app.user.username) or review.isOwner(app.user.username) or review.access==1 or role==2 %} 
<tr style="background:#FAF9C8;"> 
<td colspan="2" style="padding-left:3em;"> 
<i class="icon-edit"></i> <a href="{{ course_path('doc_show', { 'id': review.doc.id, 'view': 'app' }) }}">Review by {{ review.user.firstname|title }} {{ review.user.lastname|title }}</a>
 <a target ='_blank' href="{{ course_path('doc_show', { 'id': review.doc.id, 'view': 'window' }) }}"><i class="icon-share-alt"></i></a>
{% if review.access==1 %} <span class="label label-success margin-left">Shared</span>{% endif %}
</td>

<td></td>
<td>{% for tag in review.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}</td>

<td>{% if app.request.get('resource')=='0' %}{% if review.doc %}{{ review.doc.updated|date('M d Y, g:i a') }}{% else %}{{ review.updated|date('M d Y, g:i a') }}{% endif %}{% endif %}</td>
<td>
<a class="" href="{{ course_path('portfolio_new', { 'fileid': review.id }) }}">Add to Portfolio</a> 
</td>
<td></td>
</tr>
{% endif %}
{% endfor %}

{% if loop.first %}  
</tbody>
{% endif %}
{% else %}
No files match your request.
{% endfor %}

</table>
  

<div class="navigation">
{{ knp_pagination_render(files) }}
</div>

</div>
{% endblock %}