{# Marca/PortfolioBundle/Resources/views/Portfolio/index.html.twig #}

{% extends 'MarcaPortfolioBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
   <div class="span4">
      
   </div>
</div> 

<div class="row-fluid">
<div class="span6">
<table class="table">
<thead>
    <tr>             
        <th>Userid</th>        
        <th>Courseid</th>        
        <th>Fileid</th>        
        <th>Portorder</th>        
        <th>Actions</th>
    </tr>
</thead>    
<tbody>
    {% for portfolio in portfolios %}
    <tr>              
        <td>{{ portfolio.userid }}</td>        
        <td>{{ portfolio.courseid }}</td>        
        <td>{{ portfolio.fileid }}</td>        
        <td>{{ portfolio.portOrder }}</td>        
        <td><div class="btn-group"><a class="btn" href="{{ course_path('portfolio_show', { 'id': portfolio.id }) }}">show</a><a class="btn" href="{{ course_path('portfolio_edit', { 'id': portfolio.id }) }}">edit</a></div>

</td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
