{# Marca/PortfolioBundle/Resources/views/Portfolio/index.html.twig #}

{% extends 'MarcaPortfolioBundle::layout.html.twig' %}

{% block content %}
<div class="row">        
<div class="span6 well">
    <div class="page-header"><h3>{{ portset.name }}</h3></div>
    <dl>
        {% for portitem in portset.portitem %}

           <dt class="pad2"><h4>{{portitem.name}}</h4></dt>
           
           {% for file in portitem.file if file.user==user and  file.course==course %}
            <dd class="pad1">
             {% if file.doc.id %}<i class="icon-edit"></i> <a href="{{ course_path('doc_show', { 'id': file.doc.id }) }}">{{ file.name }}</a> 
             {% else %}
             <i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': file.id }) }}" title="View {{ file.name }} (will open in a new window or tab)" target="_blank">{{ file.name }}</a>
             {% endif %}
             {% endfor %} 
            </dd>    
          {% endfor %}
     </dl>
</div>        
</div>  

{% endblock %}
