{# Marca/PortfolioBundle/Resources/views/Portfolio/index.html.twig #}

{% extends 'MarcaPortfolioBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function() {

            {% for portfolio in portfolioset.portfolioitems %}
            $('#port_{{portfolio.id}}').click(function(){
                $('#port_modal').load('{{ course_path('portfolio_show_modal', { 'id': portfolio.id}) }}');
                $('#port_modal').modal();
            });
            {% endfor %}
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="list-group">
                    <h2 class="small">{{ portset.name }}</h2>
                    <p>{{ portset.description|raw }}</p>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for portitem in portset.portitem %}
                        <li class="list-group-item">
                        <h3 class="small">{{portitem.name}}</h3>
                        <em>{{portitem.description|raw}}</em>

                        {% for portfolio in portfolioset.portfolioitems if portfolio.portitem.name==portitem.name %}
                            <p class="col-sm-12">
                            {% if portStatus == 'true' %}
                                <div class="btn-group btn-group pull-right">
                                    <a class="btn btn-primary btn-xs" href="{{ course_path('portfolio_edit', { 'id': portfolio.id }) }}">Change</a>
                                    <a class="btn btn-default btn-xs" id='port_{{portfolio.id}}' href="javascript:void(0);" title='Remove from portfolio'>Remove</a>
                                </div>
                            {% endif %}

                            {% if portfolio.file.doc %}
                                <span class="label label-file" data-toggle="tooltip" title="This an html file ">html</span>
                                <a href="{{ course_path('doc_show', { 'id': portfolio.file.id, 'view':'window' }) }}" target="_blank">{{ portfolio.file.name }}</a>
                            {% elseif portfolio.file.url %}
                                <span class="label label-file" data-toggle="tooltip" title="This a Link ">link</span>
                                <a href="{{ portfolio.file.url}}" target="_blank">{{ portfolio.file.name }}</a>
                            {% elseif portfolio.file.ext == 'odt' or portfolio.file.ext == 'odp' or portfolio.file.ext == 'ods' or portfolio.file.ext == 'pdf' %}
                                <span class="label label-file" data-toggle="tooltip" title="This an {{ portfolio.file.ext }} file ">{{ portfolio.file.ext }}</span>
                                <a class="file_name" href="{{ course_path('file_view', { 'id': portfolio.file.id, 'view': 'window' }) }}" title="View {{ portfolio.file.name }}" target="_blank">{{ portfolio.file.name }}</a>
                            {% else %}
                                <span class="label label-file" data-toggle="tooltip" title="This an {{ portfolio.file.ext }} file ">{{ portfolio.file.ext }} </span>
                                <a href="{{ course_path('file_get', { 'id': portfolio.file.id }) }}" title="View {{ portfolio.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio.file.name }}</a>
                            {% endif %}
                            </p>

                        {% endfor %}
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>

    {# Modal #}
    <div id="port_modal" class="modal fade">

    </div>
{% endblock %}

