{# Marca/PortfolioBundle/Resources/views/Portfolio/index.html.twig #}

{% extends 'MarcaPortfolioBundle::layout.html.twig' %}

{% block content %}
<div class="row">        
<div class="span6 well">
    {{ portset.description|raw }}
    
    {% for portitem in portitems %}
         <h4>{{ portitem.name }}</h4>
        {% for file in portitem %}
            <div class="span4">
            {% if file.docid %}<i class="icon-edit"></i> <a href="{{ course_path('doc_show', { 'id': file.docid }) }}">{{ file.name }}</a> 
            {% else %}
            <i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': file.id }) }}" title="View {{ file.name }} (will open in a new window or tab)" target="_blank">{{ file.name }}</a>
            {% endif %}
            </div>
    {% endfor %} 
    {% endfor %}
    
    
  
</div>        
</div>  

{% endblock %}
