{# Marca/PortfolioBundle/Resources/views/Portfolio/new.html.twig #}

{% extends 'MarcaPortfolioBundle::layout.html.twig' %}

{% block content %}       
<div class="row">   
<div class="span6 well"> 
<form class="form" action="{{ course_path('portfolio_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
        <legend>Portfolio</legend>
            {{ form_row(form.portitem) }}
            {{ form_row(form.portorder) }}
    {{ form_rest(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>
</div> 
{% endblock %}
