{# Marca/PortfolioBundle/Resources/views/Portfolio/new.html.twig #}

{% extends 'MarcaPortfolioBundle::layout.html.twig' %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
<form class="form" action="{{ course_path('portfolio_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
        <legend>Portfolio</legend>
        </div>
            <div class="panel-default">
            {{ form_row(form.portitem) }}
            {{ form_row(form.portorder) }}
    {{ form_rest(form) }}
                </div>
    <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>
</div>
{% endblock %}
