{# Marca/PortfolioBundle/Resources/views/Portfolio/show.html.twig #}

{% extends 'MarcaPortfolioBundle::port_layout.html.twig' %}

{% block content %}

{# Doc header #}
{% for portfolio_doc in portfolio_docs %}
{% if portfolio_doc.file.doc %}
<div class="span11"> 
<legend>{{portfolio_doc.file.name}}</legend> 
</div>


{# Doc display #}

<div class="span8 doc border pad">   
{{ portfolio_doc.file.doc.body|raw }} 

<div class="navigation">
{{ portfolio_docs.render()|raw }}
</div>        
</div>

{% else %} 

<legend>{{portfolio_doc.file.name}}</legend>   

{# Doc display #}

<div class="span8 doc border pad"> 
{% if portfolio_doc.file.url %}
Please click link to to view.        
<i class="icon-adjust"></i> <a href="{{ portfolio_doc.file.url}}" title="View {{ portfolio_doc.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio_doc.file.name }}</a>        
{% else %}        
Please download this file to view.
<i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': portfolio_doc.file.id }) }}" title="View {{ portfolio_doc.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio_doc.file.name }}</a>
{% endif %} 
<div class="navigation">
{{ portfolio_docs.render()|raw }}
</div>
</div>

{% endif %} 
{% endfor %} 

{# Doc tools #}        
<div class="span3">         
<div class="span3 well doc" style='position:fixed; margin-left: -1em;'>  
<div class='cell clear'>
   

<dl>
        {% for portfolio in portfolio %}
         {% if loop.first %}<div class=""><legend>{{ portfolio.user.firstname }} {{ portfolio.user.lastname }}'s Portfolio</legend></div>{% endif %}
            <dd class="pad05">
             {% if portfolio.file.doc %}<i class="icon-edit"></i> 
             <a href="{{ course_path('doc_show', { 'id': portfolio.file.doc.id }) }}" target="_blank">{{ portfolio.file.name }}</a> 
             {% elseif portfolio.file.url %}<i class="icon-adjust"></i> <a href="{{ portfolio.file.url}}" target="_blank">{{ portfolio.file.name }}</a>
             {% else %}
             <i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': portfolio.file.id }) }}" title="View {{ portfolio.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio.file.name }}</a>
             {% endif %}
             </dd> 
             <dd class="">
             ({{portfolio.portitem.name}}) 
             </dd>
             
            
        {% endfor %} 
</dl>


    
</div>        
</div>
</div>


{% endblock %}
