{# Marca/PortfolioBundle/Resources/views/Portfolio/show.html.twig #}

{% extends 'MarcaPortfolioBundle::port_layout.html.twig' %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#doc-display').css('height', function(index) {
  return $(window).height()* .79;
});

$('.doc-body').css('height', function(index) {
  return $(window).height() * .65;
});
$('#doctools').css('height', function(index) {
  return $(window).height() * .79;
});
 });
</script>  

<div class="span12 center">
 
<div class="span12">    
{% for portfolio in portfolio %}
{% if loop.first %}<h3 class='inline' style='margin-left:1em'>{{ portfolio.user.firstname }} {{ portfolio.user.lastname }}'s Portfolio</h3>{% endif %} 
{% else %}
<h3 class='inline' style='margin-left:1em'>Portfolio</h3>
{% endfor %}

<div class="inline pull-right" style='margin-top:1em;margin-right: 4em'>
{% for roll in roll %}
{% if loop.index == app.request.get('user') + 1 %}  
<a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('portfolio_user', { 'userid': roll.userid, 'user': loop.index, }) }}">
{{roll.firstname}} {{roll.lastname}}<i class="icon-chevron-right"></i></a>
{% endif %}
{% if loop.index == app.request.get('user') - 1%}
<a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('portfolio_user', { 'userid': roll.userid, 'user': loop.index, }) }}">
<i class="icon-chevron-left"></i>{{roll.firstname}} {{roll.lastname}}<span style='margin-right:2em;'></span> 
</a>{% endif %}
{% endfor %}
</div>
</div>
                        
{% for portfolio_doc in portfolio_docs %}
<div class="span8" style='margin-top:-4em;'>
<div class="pull-right"'>    
{{ knp_pagination_render(portfolio_docs) }}
</div>
</div>

        
{# Doc display #}
<div id='doc-display' class="span8 well">          
<div class="doc-body">    
{% if portfolio_doc.file.doc %}    
{{ portfolio_doc.file.doc.body|raw }} 
{% elseif portfolio_doc.file.url %}
Please click link to to view.        
<i class="icon-adjust"></i> <a href="{{ portfolio_doc.file.url}}" title="View {{ portfolio_doc.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio_doc.file.name }}</a>        
{% else %}        
Please download this file to view.
<i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': portfolio_doc.file.id }) }}" title="View {{ portfolio_doc.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio_doc.file.name }}</a>
{% endif %}        
</div>              
</div>
{% else %}
<div id='doc-display' class="span8 well">          
<div class="doc-body">
There are no files in this portfolio.    
</div>              
</div>    
{% endfor %} 

{# Doc tools #}        
<div class="span3"> 
<div id='doctools' class="span3 well" style='margin-top: -.1em;'> 
<a class="btn btn-small pull-right" href="{{ course_path('portfolio') }}">Close</a>     
<dl>
        {% for portfolio in portfolio %} 
            <dd class="pad5">
             {{portfolio.portitem.name}}
             </dd> 
            <dd class="pad5">
             {% if portfolio.file.doc %}<i class="icon-edit"></i> 
             <a href="{{ course_path('doc_show', { 'id': portfolio.file.doc.id, 'view':'window' }) }}" target="_blank">{{ portfolio.file.name }}</a> 
             {% elseif portfolio.file.url %}<i class="icon-adjust"></i> <a href="{{ portfolio.file.url}}" target="_blank">{{ portfolio.file.name }}</a>
             {% else %}
             <i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': portfolio.file.id }) }}" title="View {{ portfolio.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio.file.name }}</a>
             {% endif %}<i class="icon-share-alt"></i>
             </dd>    
        {% endfor %} 
            
</dl>


{#
{% for objective in assessmentset.objectives %}         
<strong class='margin-top'>{{ objective.objective }}</strong><br/>
{% for scaleitem in objective.scale.scaleitems %}
{{ scaleitem.name }}
{% endfor %}
{% endfor %}
#}
<hr/> 
{# hide ratings is there is no portfolio #}
{% if portfoliosetid != 0 %}
{% if userid == app.user.id or role == 2 %}
<h5>{{ assessmentset.name }}</h5>

{% for ratingset in ratingset %}
<h5>Rating by {{ ratingset.rater.firstname }}  {{ ratingset.rater.lastname }}</h5>


{% for rating in ratingset.ratings %} 
<strong class='margin-top'>{{ rating.objective.objective }}</strong>
{{ rating.scaleitem.name }}<br/>
{% endfor %}
{% if loop.last and role == 2 %}
<a class="btn btn-primary margin-top btn-small" href="{{ course_path('ratingset_edit', {'id':ratingset.id, 'userid':app.request.get('userid'), 'user':app.request.get('user')}) }}">Edit Rating</a>
{% endif %}
{%else%}
{% if role == 2 %}
<a class="btn btn-primary margin-top btn-small" href="{{ course_path('ratingset_new', {'portfoliosetid':portfoliosetid,'userid':userid,'user':app.request.get('user')}) }}">New Rating</a>
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
</div>        
</div>
</div>

{% endblock %}
