{# Marca/PortfolioBundle/Resources/views/Portfolio/show.html.twig #}

{% extends 'MarcaPortfolioBundle::port_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
<script language="javascript">
    $(document).ready(function()
    {
        $('#doc-display').css('height', function(index) {
            return $(window).height()* .79;
        });

        $('.doc-body').css('height', function(index) {
            return $(window).height() * .65;
        });
        $('#doctools').css('height', function(index) {
            return $(window).height() * .79;
        });

        {% if not app.request.get('page') %}$('#port_td1').addClass('active');{% endif %}
        {% for portfolio in portfolio %}
        {% if app.request.get('page')==loop.index %}$('#port_td{{loop.index}}').addClass('active');{% endif %}
        {% endfor %}


    });
</script>
{% endblock %}


{% block content %}
<div class="col-md-12">
    <div class="panel panel-default">
        {# Doc header #}
        <div class="panel-heading">
            {% for portfolio in portfolio %}
                {% if loop.first %}<h2 class="small inline-block">{{ portfolio.user.firstname }} {{ portfolio.user.lastname }}'s Portfolio</h2>{% endif %}
            {% else %}
                <h2 class="small inline-block">Portfolio</h2>
            {% endfor %}
            <span class="pull-right">
                {% for roll in roll %}
                    {% if loop.index == app.request.get('user') + 1 %}
                        <a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('portfolio_user', { 'userid': roll.userid, 'user': loop.index, }) }}">
                            {{roll.firstname}} {{roll.lastname}}<i class="glyphicon glyphicon-chevron-right"></i></a>
                    {% endif %}
                    {% if loop.index == app.request.get('user') - 1%}
                <a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('portfolio_user', { 'userid': roll.userid, 'user': loop.index, }) }}">
                    <i class="glyphicon glyphicon-chevron-left"></i>{{roll.firstname}} {{roll.lastname}}<span style='margin-right:2em;'></span>
                    </a>{% endif %}
                {% endfor %}
                <a class="btn btn-default btn-sm" href="{{ course_path('portfolio') }}">Close</a>
            </span>
        </div>




        {# Doc display #}
        <div class="panel-body">
            <div id='doc-display' class="col-md-8 well">
                <div class="doc-body">
                    {% for portfolio_doc in portfolio_docs %}
                        {% if portfolio_doc.file.doc %}
                            {{ portfolio_doc.file.doc.body|raw }}
                        {% elseif portfolio_doc.file.url %}
                            Please click link to to view.
                            <i class="glyphicon glyphicon-adjust"></i> <a href="{{ portfolio_doc.file.url}}" title="View {{ portfolio_doc.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio_doc.file.name }}</a>
                        {% else %}
                            Please download this file to view.
                            <i class="glyphicon glyphicon-file"></i> <a href="{{ course_path('file_view', { 'id': portfolio_doc.file.id }) }}" title="View {{ portfolio_doc.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio_doc.file.name }}</a>
                        {% endif %}
                    {% else %}
                        There are no files in this portfolio.
                    {% endfor %}
                </div>
            </div>

            {# Doc tools #}
            <div id='doctools' class="col-md-4">
                {# Port files #}
                <ul class="list-group">
                    {% for portfolio in portfolio %}
                        <li class="list-group-item" id="port_td{{loop.index}}">
                            {{portfolio.portitem.name}}:

                            {% if portfolio.file.doc %}<i class="glyphicon glyphicon-edit"></i>
                            <a class='active' href="{{ course_path('doc_show', { 'id': portfolio.file.doc.id, 'view':'window' }) }}" target="_blank">{{ portfolio.file.name }}</a>
                        {% elseif portfolio.file.url %}<i class="glyphicon glyphicon-adjust"></i> <a href="{{ portfolio.file.url}}" target="_blank">{{ portfolio.file.name }}</a>
                        {% else %}
                            <i class="glyphicon glyphicon-file"></i> <a href="{{ course_path('file_view', { 'id': portfolio.file.id }) }}" title="View {{ portfolio.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio.file.name }}</a>
                            {% endif %}<i class="glyphicon glyphicon-share-alt"></i>
                        </li>
                    {% endfor %}
                </ul>




                {# hide ratings is there is no portfolio #}
                {% if portfoliosetid != 0 %}
                    {% if userid == app.user.id or role == 2 or role == 4 %}
                        {% for ratingset in ratingset %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Rating by {{ ratingset.rater.firstname }}  {{ ratingset.rater.lastname }}</h3>
                                    {% if ratingset.isOwner(app.user.username) %}
                                        <a class="btn btn-primary btn-xs pull-right" href="{{ course_path('ratingset_edit', {'id':ratingset.id, 'userid':app.request.get('userid'), 'user':app.request.get('user')}) }}">Edit Rating</a>
                                    {% endif %}
                                </div>
                                <div class="panel-body">

                                    {% for rating in ratingset.ratings %}
                                        <div class='hide'><strong class='margin-top'>{{ rating.objective.objective|raw }}</strong>
                                            {{ rating.scaleitem.name }}</div>
                                    {% endfor %}

                                    <p>Notes for Student:</p>
                                    {{ ratingset.notesforstudent }}

                                    {% if role == 2 or role == 4 %}
                                        <p>Notes for Reviewer:</p>
                                        {{ ratingset.notesforreviewer }}
                                        <p>Grade:</p>
                                        {{ ratingset.grade }}
                                    {% endif %}




                                </div>
                            </div>

                        {% endfor %}

                        {% for ratingset in ratingset if ratingset.isOwner(app.user.username) %}
                        {% else %}
                            {% if role == 2 or role == 4 %}
                                <hr/>
                                <a class="btn btn-primary margin-top btn-sm" href="{{ course_path('ratingset_new', {'portfoliosetid':portfoliosetid,'userid':userid,'user':app.request.get('user')}) }}">New Rating</a>
                            {% endif %}
                        {% endfor %}


                        {% if (role == 2 or role == 4) and ratingset|length > 1 %}
                            {% set sumratings = 0 %}
                            {% set countratings = ratingset|length %}
                            {% for ratingset in ratingset %}
                                {% set sumratings = sumratings + ratingset.grade %}
                            {% endfor %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"></h3>
                                </div>
                                <div class="panel-body">
                                    <p>Average Grade: {{  sumratings / countratings }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}

            </div>


        </div>
</div>
</div>

{% endblock %}
