{# Marca/PortfolioBundle/Resources/views/Portfolio/show.html.twig #}

{% extends 'MarcaPortfolioBundle::port_layout.html.twig' %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#doc-display').css('height', function(index) {
  return $(window).height()* .79;
});

$('.doc-body').css('height', function(index) {
  return $(window).height() * .65;
});
$('#doctools').css('height', function(index) {
  return $(window).height() * .79;
});

{% if not app.request.get('page') %}$('#port_td1').addClass('active');{% endif %}  
{% for portfolio in portfolio %} 
{% if app.request.get('page')==loop.index %}$('#port_td{{loop.index}}').addClass('active');{% endif %}             
{% endfor %} 


});
</script>  

<div class="span12 center">
 
<div class="span12">    
{% for portfolio in portfolio %}
{% if loop.first %}<h3 class='inline' style='margin-left:1em'>{{ portfolio.user.firstname }} {{ portfolio.user.lastname }}'s Portfolio</h3>{% endif %} 
{% else %}
<h3 class='inline' style='margin-left:1em'>Portfolio</h3>
{% endfor %}

<div class="inline pull-right" style='margin-top:1em;margin-right: 4em'>
{% for roll in roll %}
{% if loop.index == app.request.get('user') + 1 %}  
<a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('portfolio_user', { 'userid': roll.userid, 'user': loop.index, }) }}">
{{roll.firstname}} {{roll.lastname}}<i class="icon-chevron-right"></i></a>
{% endif %}
{% if loop.index == app.request.get('user') - 1%}
<a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('portfolio_user', { 'userid': roll.userid, 'user': loop.index, }) }}">
<i class="icon-chevron-left"></i>{{roll.firstname}} {{roll.lastname}}<span style='margin-right:2em;'></span> 
</a>{% endif %}
{% endfor %}
</div>
</div>
                        
{% for portfolio_doc in portfolio_docs %}
<div class="span8" style='margin-top:-4em;'>
<div class="pull-right"'>    
{{ knp_pagination_render(portfolio_docs) }}
</div>
</div>

        
{# Doc display #}
<div id='doc-display' class="span8 well">          
<div class="doc-body">    
{% if portfolio_doc.file.doc %}    
{{ portfolio_doc.file.doc.body|raw }} 
{% elseif portfolio_doc.file.url %}
Please click link to to view.        
<i class="icon-adjust"></i> <a href="{{ portfolio_doc.file.url}}" title="View {{ portfolio_doc.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio_doc.file.name }}</a>        
{% else %}        
Please download this file to view.
<i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': portfolio_doc.file.id }) }}" title="View {{ portfolio_doc.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio_doc.file.name }}</a>
{% endif %}        
</div>              
</div>
{% else %}
<div id='doc-display' class="span8 well">          
<div class="doc-body">
There are no files in this portfolio.    
</div>              
</div>    
{% endfor %} 

{# Doc tools #}        
<div class="span3"> 
<div id='doctools' class="span3 well" style='margin-top: -.1em;'> 
<a class="btn btn-small pull-right" href="{{ course_path('portfolio') }}">Close</a>     
<table class="table table-hover"> 
        {% for portfolio in portfolio %} 
        <tr>
        <td id="port_td{{loop.index}}" class="port">
             {{portfolio.portitem.name}}:  

             {% if portfolio.file.doc %}<i class="icon-edit"></i> 
             <a class='active' href="{{ course_path('doc_show', { 'id': portfolio.file.doc.id, 'view':'window' }) }}" target="_blank">{{ portfolio.file.name }}</a> 
             {% elseif portfolio.file.url %}<i class="icon-adjust"></i> <a href="{{ portfolio.file.url}}" target="_blank">{{ portfolio.file.name }}</a>
             {% else %}
             <i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': portfolio.file.id }) }}" title="View {{ portfolio.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio.file.name }}</a>
             {% endif %}<i class="icon-share-alt"></i>
             </td>
            </tr>
        {% endfor %} 
</table>


{# hide ratings is there is no portfolio #}
{% if portfoliosetid != 0 %}
{% if userid == app.user.id or role == 2 or role == 4 %}

{% for ratingset in ratingset %}

<hr/>
<h5>Rating by {{ ratingset.rater.firstname }}  {{ ratingset.rater.lastname }}</h5>

{% for rating in ratingset.ratings %} 
<strong class='margin-top'>{{ rating.objective.objective|raw }}</strong>
{{ rating.scaleitem.name }}<br/>
{% endfor %}

<h5>Notes for student:</h5>
{{ ratingset.notesforstudent }}
{% if role == 2 or role == 4 %}
<h5>Notes for Reviewer:</h5>
{{ ratingset.notesforreviewer }}
<h5>Grade:</h5>
{{ ratingset.grade }}
{% endif %}
<br/>

{% if ratingset.isOwner(app.user.username) %}
<a class="btn btn-primary margin-top btn-small" href="{{ course_path('ratingset_edit', {'id':ratingset.id, 'userid':app.request.get('userid'), 'user':app.request.get('user')}) }}">Edit Rating</a>
{% endif %}
{% endfor %}

{% for ratingset in ratingset if ratingset.isOwner(app.user.username) %} 
{% else %}
{% if role == 2 or role == 4 %}
<hr/>
<a class="btn btn-primary margin-top btn-small" href="{{ course_path('ratingset_new', {'portfoliosetid':portfoliosetid,'userid':userid,'user':app.request.get('user')}) }}">New Rating</a>
{% endif %}
{% endfor %}

{% if (role == 2 or role == 4) and ratingset|length > 1 %}
{% set sumratings = 0 %}
{% set countratings = ratingset|length %}
{% for ratingset in ratingset %}
  {% set sumratings = sumratings + ratingset.grade %}
{% endfor %}
<h5>Average Grade: {{  sumratings / countratings }}</h5>
{% endif %}

{% endif %}
{% endif %}
</div>        
</div>
</div>

{% endblock %}
