{# Marca/PortfolioBundle/Resources/views/Portfolio/show.html.twig #}

{% extends 'MarcaPortfolioBundle::port_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
<script language="javascript">
    $(document).ready(function()
    {
        $('#doc-display').css('height', function(index) {
            return $(window).height()* .88;
        });
        $('#doctools').css('height', function(index) {
            return $(window).height() * .88;
        });
        $('.eDoc_highlight').each(function(index) {
            var span_number = index + 1;
            var span_append = '<span class="hide eDoc_super">' + span_number + '</span>';
            $(this).append(span_append);
        });

        $('[title]').each( function() {
            var $this = $(this);
            $this.data('title',$this.attr('title'));
            $this.removeAttr('title');
        });

        $('.markup').mouseover(function (){
            var id = "div[data-id='" + $(this).attr('data-id') + "']";
            var offset = $(this).offset();
            $('.popover').hide();$(id).show().offset({ top: offset.top -30, left: offset.left + 80});
        });

        $('.popover-close, #doc-display').click(function(){
            $('.popover').hide();
        });
        {% if not app.request.get('page') %}$('#port_file_1').addClass('active');{% endif %}
        {% for portfolio in portfolio %}
        {% if app.request.get('page')==loop.index %}$('#port_file_{{loop.index}}').addClass('active');{% endif %}
        {% endfor %}

        $('iframe').css('height', function(index) {
            return $(window).height() * .88;
        });
    });
</script>
{% endblock %}

{% block content %}

    <div class="col-sm-12">
        {# Port nav #}
        <nav class="navbar  navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header col-sm-6">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a name="top"></a>

                    {% for portfolio in portfolio %}
                        {% if loop.first %}<h1 class="small" style="margin-top:11px;color:white;">{{ portfolio.user.firstname }} {{ portfolio.user.lastname }}'s Portfolio</h1>{% endif %}
                    {% else %}
                        Portfolio
                    {% endfor %}
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    {% for roll in roll %}
                        {% if loop.index == app.request.get('user') + 1 %}
                            <li><a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('portfolio_user', { 'userid': roll.userid, 'user': loop.index, }) }}">
                                    {{roll.firstname}} {{roll.lastname}}<i class="glyphicon glyphicon-chevron-right"></i></a></li>
                        {% endif %}
                        {% if loop.index == app.request.get('user') - 1%}
                            <li><a data-index="{{loop.index}}" data-id='{{roll.userid}}' href="{{ course_path('portfolio_user', { 'userid': roll.userid, 'user': loop.index, }) }}">
                                <i class="glyphicon glyphicon-chevron-left"></i>{{roll.firstname}} {{roll.lastname}}<span style='margin-right:2em;'></span>
                            </a></li>{% endif %}
                    {% endfor %}
                    <li><a class="" href="{{ course_path('portfolio') }}">Close</a></li>
                </ul>
            </div>
        </nav>

    <div class="col-sm-11 center">
    {# Doc display #}
    {% for portfolio_doc in portfolio_docs %}
        {% if portfolio_doc.file.doc %}
            <div id='doc-display' class="col-sm-8 well">
                <div class="doc-body">
                    {{ portfolio_doc.file.doc.body|raw }}
                </div>
            </div>
        {% elseif portfolio_doc.file.url %}
            </div>
            </div>
            <div id='doc-display' class="col-sm-8 well">
                <div class="doc-body">
                    Please click link to to view.
                    <i class="glyphicon glyphicon-adjust"></i> <a href="{{ portfolio_doc.file.url}}" title="View {{ portfolio_doc.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio_doc.file.name }}</a>
                </div>
            </div>
        {% elseif portfolio_doc.file.ext == 'odt' or portfolio_doc.file.ext == 'odp' or portfolio_doc.file.ext == 'ods' or portfolio_doc.file.ext == 'pdf'%}
            <iframe class="col-sm-8" id="viewer" src="{{ asset('bundles/marcahome/Viewer.js/index.html') }}#{{ course_path('file_get', { 'id': portfolio_doc.file.id }) }}/{{ portfolio_doc.file.name }}.{{ portfolio_doc.file.ext }}" allowfullscreen="true" webkitallowfullscreen="true"></iframe>
        {% else %}
            <div id='doc-display' class="col-sm-8 well">
                <div class="doc-body">
                    Please download this file to view.
                    <i class="glyphicon glyphicon-file"></i> <a href="{{ course_path('file_get', { 'id': portfolio_doc.file.id, 'view': 'window'}) }}" title="View {{ portfolio_doc.file.name }} (will open in a new window or tab)" target="_blank">{{ portfolio_doc.file.name }}</a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div id='doc-display' class="col-sm-8 well">
            <div class="doc-body">
                There are no files in this portfolio.
            </div>
        </div>
    {% endfor %}








            {# Doc tools #}
            <div id='doctools' class="col-sm-4">


                {# Port files #}
                <div class="list-group">
                    <h2>Portfolio Artifacts</h2>

                    {% for portfolio in portfolio %}
                        {% if portfolio.file.url %}
                            <a id="port_file_{{ loop.index }}" class='list-group-item' href="{{ portfolio.file.url}}" target="_blank">
                                <span class="label label-file" data-toggle="tooltip" title="This a Link ">link</span>
                                <strong>{{portfolio.portitem.name}}:</strong>
                                {{ portfolio.file.name }}
                            </a>
                        {% elseif portfolio.file.doc %}
                            <a id="port_file_{{ loop.index }}" class='list-group-item' href="{{ course_path('portfolio_user', { 'userid': app.request.get('userid'), 'user': app.request.get('user'), 'page': loop.index }) }}">
                                <span class="label label-file" data-toggle="tooltip" title="This an html file ">html</span>
                                <strong>{{portfolio.portitem.name}}:</strong>
                                {{ portfolio.file.name }}
                            </a>
                        {% elseif portfolio.file.ext == 'odt' or portfolio.file.ext == 'odp' or portfolio.file.ext == 'ods' or portfolio.file.ext == 'pdf' %}
                            <a id="port_file_{{ loop.index }}" class="list-group-item" href="{{ course_path('portfolio_user', { 'userid': app.request.get('userid'), 'user': app.request.get('user'), 'page': loop.index }) }}" title="View {{ portfolio.file.name }}" >
                                <span class="label label-file" data-toggle="tooltip" title="This an {{ portfolio.file.ext }} file ">{{ portfolio.file.ext }}</span>
                                <strong>{{portfolio.portitem.name}}:</strong>
                                {{ portfolio.file.name }}
                            </a>
                        {% else %}
                            <a id="port_file_{{ loop.index }}" class='list-group-item' href="{{ course_path('portfolio_user', { 'userid': app.request.get('userid'), 'user': app.request.get('user'), 'page': loop.index }) }}">
                                <span class="label label-file" data-toggle="tooltip" title="This an html file ">html</span>
                                <strong>{{portfolio.portitem.name}}:</strong>
                                {{ portfolio.file.name }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                {# hide ratings is there is no portfolio #}
                {% if portfoliosetid != 0 %}
                    {% if userid == app.user.id or role == 2 or role == 4 %}
                        {% for ratingset in ratingset %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Rating by {{ ratingset.rater.firstname }}  {{ ratingset.rater.lastname }}</h3>
                                    {% if ratingset.isOwner(app.user.username) %}
                                        <a class="btn btn-primary btn-xs pull-right" href="{{ course_path('ratingset_edit', {'id':ratingset.id, 'userid':app.request.get('userid'), 'user':app.request.get('user')}) }}">Edit Rating</a>
                                    {% endif %}
                                </div>
                                <div class="panel-body">
                                    {% for rating in ratingset.ratings %}
                                        <div class='hide'><strong class='margin-top'>{{ rating.objective.objective|raw }}</strong>
                                            {{ rating.scaleitem.name }}</div>
                                    {% endfor %}

                                    <p>Notes for Student:</p>
                                    {{ ratingset.notesforstudent }}

                                    {% if role == 2 or role == 4 %}
                                        <p>Notes for Reviewer:</p>
                                        {{ ratingset.notesforreviewer }}
                                        <p>Grade:</p>
                                        {{ ratingset.grade }}
                                    {% endif %}
                                </div>
                                <div class="panel-footer">
                                    <span class="text-muted">{% if role == 2 or role == 4 %}Notes for reviewer and grades are not seen by students.{% endif %}</span>
                                </div>
                            </div>

                        {% endfor %}

                        {% for ratingset in ratingset if ratingset.isOwner(app.user.username) %}
                    {% else %}
                        {% if role == 2 or role == 4 %}
                            <hr/>
                            <a class="btn btn-primary margin-top btn-sm" href="{{ course_path('ratingset_new', {'portfoliosetid':portfoliosetid,'userid':userid,'user':app.request.get('user')}) }}">New Rating</a>
                        {% endif %}
                    {% endfor %}


                        {% if (role == 2 or role == 4) and ratingset|length > 1 %}
                            {% set sumratings = 0 %}
                            {% set countratings = ratingset|length %}
                            {% for ratingset in ratingset %}
                                {% set sumratings = sumratings + ratingset.grade %}
                            {% endfor %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"></h3>
                                </div>
                                <div class="panel-body">
                                    <p>Average Grade: {{  sumratings / countratings }}</p>
                                </div>
                                <div class="panel-footer">
                                    <span class="text-muted">Grades are not seen by students.</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                {% endif %}
            </div>
        </div>

        {% if app.request.get('_route') != 'file_viewer' %}
            {# Markup #}
            {% for markup in markup %}
                <div data-id='{{ markup.id }}' id='{{ markup.value }}' class='popover left'>
                    <button type="button" class="close popover-close" data-dismiss="popover" aria-hidden="true">&times;</button>
                    <div class="popover-title">
                        <span class="pull-left color-flag" style="background: {{markup.color}};">&#183;</span>
                        {{ markup.name }}
                    </div>
                    <div class="popover-content">
                        {{ markup.mouseover|raw }}
                        {% if markup.url != '' or markup.url is not null %}<a href="{{ markup.url }}" target="_blank">{{ markup.linktext }}</a>{% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>

    </div>
{% endblock %}



