
{% extends 'MarcaTagBundle::layout.html.twig' %}

{% block content %}
<div class="row"> 
<div class="span6 well">    
<form action="{{ path('tagset_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <div>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
</div>
</div>
<div class="row"> 
<div class="span6 well">        
<form action="{{ path('tagset_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
</div>        
{% endblock %}
