{# Marca/TagBundle/Resources/views/Tagset/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well">
<legend>Labels</legend>
        <a class='btn btn-primary' href="{{ path('tagset_new') }}">New Label set</a>
</div>


<div class="accordion" id="markup_accordian">
  
{% for tagset in tagsets%}   
 <div class="accordion-group span8 well">     

    <div class="accordion-heading">
      <a class="accordion-toggle" style='display:inline;' data-toggle="collapse" data-parent="#tag_accordian" href="#collapse{{loop.index}}">
        {{ tagset.name }}
      </a> {% if tagset.shared==1 %}Shared{% elseif tagset.shared==2 %}Default{%endif%}
      {% if tagset.isOwner(app.user.username) %}{% if tagset.isOwner(app.user.username) %}<a class='btn btn-primary btn-small  pull-right' href="{{ path('tag_new') }}">Add Label</a><a class="btn btn-primary  btn-small pull-right" href="{{ path('tagset_edit', { 'id': tagset.id }) }}">Edit</a> {% endif %} {% endif %}       
    </div>
    <div id="collapse{{loop.index}}" class="accordion-body collapse">
      <div class="accordion-inner">
          
           <table class="table">
           {% for tag in tagset.tag %}
            <tr><td><span class="label {{ tag.color }}">{{ tag.name }}</span></td><td>{% if tagset.isOwner(app.user.username) %}<a class="btn btn-primary  btn-small pull-right" href="{{ path('tag_edit', { 'id': tag.id }) }}">Edit</a>{% endif %}</td></tr>
           {% endfor %}
           </table>
          
    </div>
    </div>

</div>    
{% endfor %}    
    


</div>


{% endblock %}
