{# Marca/TabBundle/Resources/views/Tagset/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well">
<legend>Labels</legend>
        <a class='btn btn-primary' href="{{ path('tagset_new') }}">New Label set</a>
</div>


<div class="span9 well">
    {% for tagset in tagsets%}
    
    <strong>{{ tagset.name }}</strong> {% if tagset.isOwner(app.user.username) %}<a class='btn btn-primary btn-small  pull-right' href="{{ path('tag_new') }}">Add Label</a><a class="btn btn-primary  btn-small pull-right" href="{{ path('tagset_edit', { 'id': tagset.id }) }}">Edit</a> {% endif %} 
    <table class="table">
    {% for tag in tagset.tag %}
            <tr><td><span class="label {{ tag.color }}">{{ tag.name }}</span></td><td>{% if tagset.isOwner(app.user.username) %}<a class="btn btn-primary  btn-small pull-right" href="{{ path('tag_edit', { 'id': tag.id }) }}">Edit</a>{% endif %}</td></tr>
    {% endfor %}
    </table> 
    
    {% endfor %}
</div>
{% endblock %}
