{# Marca/ForumBundle/Resources/views/Forum/edit.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#marca_forumbundle_forumtype_body').ckeditor( function() {}, {height:200, skin: 'BootstrapCK-Skin',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
});
</script>

<div class="span8 well">    
<form class="form" action="{{ course_path('forum_update', { 'id': forum.id }) }}" method="post" {{ form_enctype(edit_form) }}>
     {{ form_errors(edit_form) }}
         {{ form_row(edit_form.title) }}
         {{ form_row(edit_form.body) }}
    {{ form_rest(edit_form) }}
        <button class="btn btn-primary" type="submit">Update</button>
</form>

<form action="{{ course_path('forum_delete', { 'id': forum.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
{% endblock %}
