{# Marca/ForumBundle/Resources/views/Forum/edit.html.twig #}

{% extends 'MarcaHomeBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function(){
                window.location.href='{{ course_path('forum') }}';
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-8 center">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <button id="close_form" type="button" class="close">&times;</button>
                    <h2 class="panel-title small">Forum</h2>
                </div>
                <div class="panel-body">
                    {{ form(edit_form) }}
                    {% if forum.comments|length == 0%}
                        <form method="post" action="{{ path('forum_delete', {'id': forum.id, 'courseid': courseid }) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forum.id) }}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    {% else %}
                        <span>Since this forum has at least one comment, it can not be deleted.</span>
                    {% endif %}
                </div>
        </div>
    </div>

{% endblock %}
