{# Marca/ForumBundle/Resources/views/Forum/index.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block content %}

<div class="span10" >
{% for forumEntry in forumEntries %}
    <div class="row">        
        <div class="page-header" >
            <h3>{{ forumEntry.title }}</h3>
        </div>
    <div class="pull-right" >
         Created  {{ forumEntry.created|date('M d, Y h:i a') }}  / Modified  {{ forumEntry.updated|date('M d, Y h:i a') }} 

    </div>
    </div>
     <div class="row">
         {{ forumEntry.body|raw }} 
         <a class="btn btn-primary btn-small" href="{{ course_path('forum_show', { 'id': forumEntry.id }) }}">Open Forum</a> 
         {% if forumEntry.user==app.user %}<a class="btn btn-primary btn-small" href="{{ course_path('forum_edit', { 'id': forumEntry.id }) }}">Edit</a>{% endif%}
     </div>
{% endfor %}

    
<div class="navigation">
    {{ forumEntries.render()|raw }}
</div>
        
</div>        
{% endblock %}
