{# Marca/ForumBundle/Resources/views/Forum/index.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block content %}
<script language="javascript">
$(document).ready(function() { 
$('.well').animate({ borderColor: '#2F96B4', borderWidth: '1.5px' }, 2000).delay(500).animate({ borderColor: '#E3E3E3', borderWidth: '1px'  }, 2000);    
});
</script>

{% for forum in forumEntries %}    
<div class="span9 well" style="padding:0">     
      <div class="well-header" >
         <span class="pull-right"><a class="close" title="Close this discussion" href="{{ course_path('forum') }}">&times;</a></span>
         <h2 class="inline"><a class="forum_title" title="Open this discussion" href="{{ course_path('forum_show', { 'id': forum.id }) }}">{{ forum.title }}</a></h2>
          
         <span class="margin-left">by {{ forum.user.firstname|capitalize }} {{ forum.user.lastname|capitalize }}</span>
         <p>Created  {{ forum.created|date('M d Y, h:ia') }}  / Updated  {{ forum.updated|date('M d Y, h:ia') }} 
         <span class="pull-right">
         {% if forum.user==app.user %}<a class="btn btn-small" title="Edit this discussion" href="{{ course_path('forum_edit', { 'id': forum.id }) }}">Edit</a>{% endif%}
         </span></p>
      </div>
         
         <div class="span7 pad margin-bottom" >{{ forum.body|raw }}  </div>   
    </div>
         

{% else %}
   
There are no open discussions at this time.  
        
{% endfor %}

    
<div class="navigation">
    {{ knp_pagination_render(forumEntries) }}
</div>
        
      
{% endblock %}
