{# Marca/ForumBundle/Resources/views/Forum/index.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Discussions</h2>
            </div>
            <div class="panel-body">
                <div class="list-group">

                    {% for forum in forumEntries %}

                        <a class="list-group-item" title="Open this discussion" href="{{ course_path('forum_show', { 'id': forum.id }) }}">
                            {% if forum.user.photo %}
                                <img alt="Thumbnail image of {{ forum.user.firstname|capitalize }} {{ forum.user.lastname|capitalize }}" src="{{ forum.user.photo }}" class="user-photo-sm img-rounded pull-left margin-top-small"/>
                            {% endif%}
                            <h3 class="inline-block margin-top-small">{{ forum.title }}</h3>

                            <span class="margin-left">by {{ forum.user.firstname|capitalize }} {{ forum.user.lastname|capitalize }}</span>
                            <p class="hidden-xs">Created  {{ forum.created|date('M d Y, h:ia') }}  / Updated  {{ forum.updated|date('M d Y, h:ia') }}</p>

                        </a>
                    {% else %}
                        There are no open discussions at this time.
                    {% endfor %}
                </div>

                <div class="navigation">
                    {{ knp_pagination_render(forumEntries) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
