{# Marca/ForumBundle/Resources/views/Forum/new.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#marca_forumbundle_forumtype_body').ckeditor( function() {}, {height:200, skin: 'BootstrapCK-Skin',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
});
</script>

<div class="span10"> 
<form action="{{ course_path('forum_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
        <legend>Forum Entry</legend>
         {{ form_row(form.title) }}
         {{ form_row(form.body) }}
    {{ form_rest(form) }}
    <div>
        <button class="btn" type="submit">Create</button>
    </div>
</form>
</div>
{% endblock %}
