{# Marca/ForumBundle/Resources/views/Forum/show.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well" style="padding:0">     
      <div class="well-header" >
         <span class="pull-right"><a class="close" title="Close this discussion" href="{{ course_path('forum') }}">&times;</a></span>
         <h2 class="inline"><a class="forum_title" title="Open this discussion" href="{{ course_path('forum') }}">{{ forum.title }}</a></h2>
          
         <span class="margin-left">by {{ forum.user.firstname|capitalize }} {{ forum.user.lastname|capitalize }}</span>
         <p>Created  {{ forum.created|date('M d Y, h:ia') }}  / Updated  {{ forum.updated|date('M d Y, h:ia') }} 
         <span class="pull-right">
         <a class="btn btn-small margin-left" title="Comment on this discussion" href="{{ course_path('comment_new', { 'parentid': forum.id ,'forumid': forum.id }) }}">Comment</a>
         {% if forum.user==app.user %}<a class="btn btn-small" title="Edit this discussion" href="{{ course_path('forum_edit', { 'id': forum.id }) }}">Edit</a>{% endif%}
         </span></p>
      </div>
         
         <div class="span7 pad margin-bottom" >{{ forum.body|raw }}  </div>       


   {% for comment in forum.comments%}
         
     <div class="span8 pull-right well" style="padding:0">
         <div class="well-header" >{{ comment.user.firstname|capitalize }} {{ comment.user.lastname|capitalize }} says:
         <span class="pull-right" >
          Created  {{ comment.created|date('M d Y, h:ia') }}  / Updated  {{ comment.updated|date('M d Y, h:ia') }}
          <a class="btn btn-small margin-left"  title="Reply to this comment" href="{{ course_path('reply_new', { 'commentid': comment.id  }) }}">Comment</a>
         {% if comment.user==app.user %}<a class="btn btn-small"  title="Edit this comment" href="{{ course_path('comment_edit', { 'id': comment.id, 'parentid': forum.id }) }}">Edit</a>{% endif%}
         </span>
         </div>        
             
         <div class="span7 pad  margin-bottom">{{ comment.body|raw }}</div>    
 
         
         {% for reply in comment.replies%}
           <div class="span7 pull-right well" style="padding:0">
           <div class="well-header" >{{ reply.user.firstname|capitalize }} {{ reply.user.lastname|capitalize }} says:
           <span class="pull-right" >
           Created  {{ reply.created|date('M d Y, h:ia') }}  / Updated  {{ reply.updated|date('M d Y, h:ia') }} 
           {% if reply.user==app.user %}
           <a class="btn  btn-small margin-left"  title="Edit this reply" href="{{ course_path('reply_edit', { 'id': reply.id, 'commentid': comment.id }) }}">Edit</a>  
           {% endif%}
           </span>
           </div>
                   
           <div class="span6 pad margin-bottom" >{{ reply.body|raw }}</div>    
           
           </div>
        {% endfor %}                
     </div>
{% endfor %}
 </div>       
{% endblock %}
