{# Marca/ForumBundle/Resources/views/Forum/show.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well" >     
      <div class="page-header" >
          <strong><span class="forum_title">{{ forum.title }}</span></strong>
          <span class="pull-right"><a class="btn btn-warning btn-mini" title="Close this discussion" href="{{ course_path('forum') }}">Close</a></span><br />
          <span>by {{ forum.user.firstname }} {{ forum.user.lastname }}</span><br />
          <span> Created  {{ forum.created|date('M d Y, h:ia') }}  / Updated  {{ forum.updated|date('M d Y, h:ia') }}
             
          
      </div>
         
         <div class="span8" >{{ forum.body|raw }}  </div>       
         <div class="span8" ><a class="btn btn-primary  btn-mini" title="Comment on this discussion" href="{{ course_path('comment_new', { 'parentid': forum.id ,'forumid': forum.id }) }}">Comment</a>
         {% if forum.user==app.user %}<a class="btn btn-primary btn-mini" title="Edit this discussion" href="{{ course_path('forum_edit', { 'id': forum.id }) }}">Edit</a>{% endif%}
         </div>   



   {% for comment in forum.comments%}
         
     <div class="span8 pad1" style="border-top: 1px gray solid;margin-top: 1em;float:right;margin-right: 5em;">
         <div class="pull-left" >{{ comment.user.firstname }} {{ comment.user.lastname }} says:</div>
         <div class="pull-right" >
          Created  {{ comment.created|date('M d Y, h:ia') }}  / Updated  {{ comment.updated|date('M d Y, h:ia') }} 
         </div>
             
         <div class="span7">{{ comment.body|raw }}</div>    
         <div class="span7" ><a class="btn btn-primary btn-mini"  title="Reply to this comment" href="{{ course_path('reply_new', { 'commentid': comment.id  }) }}">Comment</a>
         {% if comment.user==app.user %}<a class="btn btn-primary btn-mini"  title="Edit this comment" href="{{ course_path('comment_edit', { 'id': comment.id }) }}">Edit</a>{% endif%}</div>  
         
         {% for reply in comment.replies%}
           <div class="span7 pad1" style="border-top: 1px gray solid;margin-top: 1em;float:right;">
           <div class="pull-left" >{{ reply.user.firstname }} {{ reply.user.lastname }} says:</div>
           <div class="pull-right" >
           Created  {{ reply.created|date('M d Y, h:ia') }}  / Updated  {{ reply.updated|date('M d Y, h:ia') }} 
           </div>
             
           <div class="span7" >{{ reply.body|raw }}</div>    
           {% if reply.user==app.user %}
           <div class="span7" ><a class="btn btn-primary btn-mini"  title="Edit this reply" href="{{ course_path('reply_edit', { 'id': reply.id }) }}">Edit</a></div>  
           {% endif%}
           </div>
        {% endfor %}                
     </div>
{% endfor %}
 </div>       
{% endblock %}
