{# Marca/ForumBundle/Resources/views/Forum/show.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" >
                <div class="btn-group pull-right">

{#                    <a class="btn btn-primary btn-sm" title="Comment on this discussion" href="{{ course_path('comment_new', { 'parentid': forum.id ,'forumid': forum.id }) }}">Comment</a>#}
{#                    {% if forum.user==app.user %}<a class="btn btn-default btn-sm" title="Edit this discussion" href="{{ course_path('forum_edit', { 'id': forum.id }) }}">Edit</a>{% endif%}#}
                </div>
                {% if forum.user.photo %}
                    <img alt="Thumbnail image of {{ forum.user.firstname|capitalize }} {{ forum.user.lastname|capitalize }}"  src="{{ forum.user.photo }}" class="user-photo-sm img-rounded pull-left"/>
                {% endif%}
                <h2 class="inline-block marca-blue"><a class="forum_title" title="Open this discussion" href="{{ course_path('forum') }}" tabindex="0">{{ forum.title }}</a></h2>
                <p tabindex="0">by {{ forum.user.firstname|capitalize }} {{ forum.user.lastname|capitalize }}, {{ forum.updated|date('M d Y') }}
                </p>
            </div>

            <div class="panel-body">
                <div class="margin-bottom" tabindex="0">{{ forum.body|html_raw }}
                </div>
                {% for comment in forum.comments%}
                    <div class="panel panel-default">
                        <div class="panel-heading padding-bottom"  tabindex="0">
                            {% if comment.user.photo %}
                                <img alt="Thumbnail image of {{ comment.user.firstname|capitalize }} {{ comment.user.lastname|capitalize }}"  src="{{ comment.user.photo }}" class="user-photo-xs img-rounded" />
                            {% endif%}
                            {{ comment.user.firstname|capitalize }} {{ comment.user.lastname|capitalize }} says:
                            <span class="pull-right" >
                            {{ comment.updated|date('M d Y') }}
                                <div class="btn-group">
{#                                    <a class="btn btn-primary  btn-sm"  title="Reply to this comment" href="{{ course_path('reply_new', { 'commentid': comment.id  }) }}">Reply</a>#}
                                    {% if comment.user==app.user %}
{#                                        <a class="btn btn-default  btn-sm"  title="Edit this comment" href="{{ course_path('comment_edit', { 'id': comment.id, 'parentid': forum.id }) }}">Edit</a>#}
                                    {% endif%}
                                </div>
                        </span>
                        </div>
                        <div class="panel-body">
                            <div tabindex="0">{{ comment.body|html_raw }}</div>
                            {% for reply in comment.replies%}
                                <div class="panel panel-default">
                                    <div class="panel-heading padding-bottom"  tabindex="0">
                                        {% if comment.user.photo %}
                                            <img alt="Thumbnail image of {{ reply.user.firstname|capitalize }} {{ reply.user.lastname|capitalize }}"  src="{{ reply.user.photo }}" class="user-photo-xs img-rounded" />
                                        {% endif%}
                                        {{ reply.user.firstname|capitalize }} {{ reply.user.lastname|capitalize }} says:
                                             <span class="pull-right" >
                                            {{ reply.updated|date('M d Y') }}
                                                 <div class="btn-group">
                                                     {% if reply.user==app.user %}
{#                                                         <a class="btn btn-default btn-sm"  title="Edit this reply" href="{{ course_path('reply_edit', { 'id': reply.id, 'commentid': comment.id }) }}">Edit</a>#}
                                                     {% endif%}
                                                 </div>
                                            </span>
                                    </div>
                                    <div class="panel-body"  tabindex="0">{{ reply.body|html_raw }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
