{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row">
<div class="span5">  
<h1 class="verysmall">Welcome to {{ application_name }}</h1> 
</div>


    
    
<div class="span3 well">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
<a href="{{ path('fos_user_security_logout') }}">
{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
</a>
{% endif %}

{% for key, message in app.session.getFlashes() %}
<div class="{{ key }}">
{{ message|trans({}, 'FOSUserBundle') }}
</div>
{% endfor %}

{% block fos_user_content %}
{% endblock fos_user_content %}

{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") and ldap_auth!='yes' %}
<a href="{{ path('fos_user_resetting_request') }}">Forgot Password?</a>
{% endif %} 
</div>
</div>
{% endblock %}

