{# Marca/CourseBundle/Resources/views/Roll/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-4 well">
<h3>Update Roll for {{ roll.firstname }} {{ roll.lastname }}</h3>     
<form action="{{ course_path('roll_update', { 'id': roll.id, }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
        
        {{ form_row (edit_form.role) }}
        {{ form_row (edit_form.status) }}
        
    {{ form_rest(edit_form) }} 
    <div>
        <button class="btn" type="submit">Update</button>
    </div>
</form>
        
<form action="{{ course_path('roll_delete', { 'id': roll.id, }) }}" method="post">
     {{ form_widget(delete_form) }}
     <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
{% endblock %}
