{# Marca/CourseBundle/Resources/views/Roll/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group pull-right margin-top">
                    {#{% if course.hasPendingStudents %}#}<a class="btn btn-primary" href="{{ path('roll_approve_all', {'courseid':course.id, }) }}">Approve All Pending</a>{#{% endif %}#}
                    <a class="btn btn-default" href="{{ path('roll', { 'courseid':course.id}) }}">Refresh this list</a>
                    <a class="btn btn-default" href="{{ path('course_show', { 'courseid': course.id }) }}">Course Settings </a>
                </div>
                <h2><a href="{{ path('course_home',{'courseid':course.id}) }}">{{course.name}}</a> Roll</h2>

            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead><tr><th>Name</th><th>Role</th><th>Approve/Change Role</th></tr></thead>
                    <tbody>
                    {% for roll in roll %}
                        <tr>
                            <td><a class="" href="{{ course_path('course_roll_profile', { 'rollid': roll.id, 'user': loop.index }) }}">{{ roll.lastname|capitalize }}, {{ roll.firstname|capitalize }}</a></td>
                            <td>{% if roll.role == 2 %}Instructor{% elseif roll.role == 3 %}TA{% elseif roll.role == 4 %}Portfolio Review{% else %}Student{% endif %}</td>
                            <td> {% if roll.role == 0 %}
                                    Pending:
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-sm" href="{{ path('roll_approve', { 'id': roll.id,'courseid':course.id, }) }}">Approve</a>
                                        <a class="btn btn-default btn-sm" href="{{ path('roll_show', { 'id': roll.id,'courseid':course.id, }) }}">Remove</a>
                                    </div>
                                {% else %}
                                    Change role to:
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-sm " href="{{ path('roll_promote', { 'id': roll.id,'courseid':course.id, 'role':'1'}) }}">Student</a>
                                        <a class="btn btn-default btn-sm " href="{{ path('roll_promote', { 'id': roll.id,'courseid':course.id, 'role':'3'}) }}">TA</a>
                                        <a class="btn btn-default btn-sm " href="{{ path('roll_promote', { 'id': roll.id,'courseid':course.id, 'role':'2'}) }}">Instructor</a>
                                        <a class="btn btn-default btn-sm " href="{{ path('roll_promote', { 'id': roll.id,'courseid':course.id, 'role':'4'}) }}">Portfolio Review</a>
                                        <a class="btn btn-default btn-sm" href="{{ path('roll_show', { 'id': roll.id,'courseid':course.id, }) }}">Remove</a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(roll) }}

            </div>

        </div>
    </div>
{% endblock %}



