{# Marca/DocBundle/Resources/views/Rubric/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_styles.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_tools.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#marca_docbundle_doctype_body').ckeditor( function() {}, {extraPlugins:'autogrow', autoGrow_maxHeight : 700, skin: 'BootstrapCK-Skin',forcePasteAsPlainText : true, stylesSet:'marca_styles',contentsCss:'{{ asset('bundles/marcahome/css/ckeditor41.css') }}', 
toolbar : [
['Preview','-', 'Print','Templates','Undo','Redo','Find','Replace','SelectAll','RemoveFormat'],
['Bold','Italic','Underline','Strike','Subscript','Superscript','NumberedLst','BulletedList','Outdent','Indent','Blockquote'],
['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','Link','Unlink','Image','Table','HorizontalRule','Smiley','SpecialChar'],
['Styles','Format','Font','FontSize','TextColor','BGColor','Maximize', 'ShowBlocks','About']
],} );
$('#backup_alert').toggle();

var editor = $('#marca_docbundle_doctype_body').ckeditorGet();
});
</script>

<form action="{{ path('rubric_create', {'resource': app.request.get('resource')}) }}" method="post" {{ form_enctype(form) }}>
<div class="col-sm-11">
<div>
    {{ form_errors(form) }}
    {{ form_errors(form.body) }}
    {{ form_widget(form.body) }}
    {{ form_rest(form) }}    
</div>
</div>
<div class="col-sm-2 well doc" style="">
<div class="cell clear divider">
    <p style='min-height:1.5em;'><span id='backup_alert' class='alert'>Backing up work</span></p>
    <input class="btn btn-primary btn-sm" type="submit" id="doc_save" value="Save"/>
    <a class="btn btn-primary btn-sm" href="{{ path('home')}}">Cancel</a>
</div>      
</div>         
</div>         
</form>  

{% endblock %}