{# Marca/AssignmentBundle/Resources/Views/Review #}

{% extends 'MarcaAssignmentBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well">
<h1>Review edit</h1>

<form action="{{ path('review_update', { 'id': review.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
     <ul class="">  
        {% for reviewresponse in edit_form.reviewresponses %}
            <li>        {{ review.reviewresponses[loop.index-1].reviewPrompt.type }}
                        <strong>
                        {{ review.reviewresponses[loop.index-1].reviewPrompt.prompt|raw }}
                        </strong>
                        <br/>
                        {{ review.reviewresponses[loop.index-1].reviewPrompt.helptext|raw }}
                        <div class="{%if review.reviewresponses[loop.index-1].reviewPrompt.type!=0%} hide {%endif%}">
                        {{ form_row(reviewresponse.responseText) }}
                        </div>
                         <div class="{%if review.reviewresponses[loop.index-1].reviewPrompt.type!=1%} hide {%endif%}">
                        {{ form_row(reviewresponse.responseBool) }}
                        </div>
                        <div class="{%if review.reviewresponses[loop.index-1].reviewPrompt.type!=2%} hide {%endif%}">
                        {{ form_row(reviewresponse.responseInt) }}
                        </div>
            </li>
            <hr/>
        {% endfor %}
            <li>{{ form_row(edit_form.grade) }}</li>
            <li>{{ form_row(edit_form.notes) }}</li>
     </ul>
    {{ form_rest(edit_form) }} 
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('review') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('review_delete', { 'id': review.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</div>
{% endblock %}