{# Marca/AssignmentBundle/Resources/Views/Review #}

{% extends 'MarcaAssignmentBundle::layout.html.twig' %}

{% block content %}
<h1>Review edit</h1>

<form action="{{ path('review_update', { 'id': review.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
        {% for reviewresponse in edit_form.reviewresponses %}
            <li>
                        {{ form_row(reviewresponse.responseText) }}</li>
        {% endfor %}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('review') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('review_delete', { 'id': review.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}