{# Marca/FileBundle/Resources/views/File/index.html.twig #}

{% extends 'MarcaAssignmentBundle::layout.html.twig' %}

{% block content %}
<h2>Reviews</h2>

<table class="table">
    <tbody>
    {% for review in reviews %}
        <tr>
            <td>Review of {{review.file.name}}, created {{ review.created|date('Y-m-d H:i:s') }}</td>
	    <td>by {{review.file.user.firstname}} {{review.file.user.lastname}}</td>
            <td><a href="{{ path('review_show', { 'id': review.id }) }}">show</a></td>
	    <td><a href="{{ path('review_edit', { 'id': review.id }) }}">edit</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

