{# Marca/JournalBundle/Resources/views/Journal/edit.html.twig #}

{% extends 'MarcaHomeBundle::dialog.html.twig' %}

{% block javascripts %}
{{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            $('#toggle_modal').click(function(){
                $('#delete_modal').modal();
            });
            $('form li').addClass('alert alert-error');
            $('#saving_alert').toggle();
            var editor = CKEDITOR.instances.marca_journalbundle_journaltype_body;
            var autoSave = setInterval(function(){var buffer = editor.checkDirty(); if (buffer==1) {editor.resetDirty(); var title = $('#marca_journalbundle_journaltype_title').val(); var body =  editor.getData();$.post("{{ course_path('journal_ajax', { 'id': journal.id }) }}", {journalBody:body, journalTitle:title}, function(data){});$('#saving_alert').fadeIn();$('#saving_alert').delay(2000).fadeOut();}}, 30000);
            
        });
    </script>
{% endblock %}

{% block content %}

    <div class="col-sm-8 center">
        <span id='saving_alert' class='alert alert-info margin-left' style="padding-right: 15px;position:fixed;z-index:200;right:15%;top:10%;">Saving</span>
        <form class="form" action="{{ course_path('journal_update', { 'id': journal.id }) }}" method="post" {{ form_enctype(edit_form) }}novalidate="novalidate">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title small">Journal Entry</h2>
                </div>
                <div class="panel-body">
                    {{ form_errors(edit_form) }}
                    {{ form_row(edit_form.title) }}
                    {{ form_row(edit_form.body) }}
                    {{ form_rest(edit_form) }}
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                        <a class='btn btn-default' href="{{ course_path('journal_list') }}">Cancel</a>
                    </div>
                    {% if journal.responses|length == 0%}
                        <a class="btn btn-warning pull-right" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                    {% else %}
                        <span  class='alert pull-right' >Since this journal entry has at least one response, it can not be deleted.</span>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
    {# Modal for Delete confirmation #}
    <div id="delete_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <span class="modal-title">Delete</span>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                    <form id='delete' action="{{ course_path('journal_delete', { 'id': journal.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <div class="btn-group">
                            <button class="btn btn-danger" type="submit">Delete</button>
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</a>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

