{# Marca/JournalBundle/Resources/views/Journal/edit.html.twig #}

{% extends 'MarcaJournalBundle::layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/marcahome/js/jquery.checknet-1.6.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function()
        {
            $.fn.checknet();
            checknet.config.checkInterval = 15000;
            checknet.config.warnMsg = 'No internet connection detected.  Please restore your connection before you continue working.';
            $('a#cancel_delete').toggle();$('form#delete').toggle();
            $('a#confirm_delete').click(function() {
                $('a#confirm_delete').toggle();$('form#delete').toggle();$('a#cancel_delete').toggle();
            });
            $('a#cancel_delete').click(function() {
                $('a#confirm_delete').toggle();$('form#delete').toggle();$('a#cancel_delete').toggle();
            });
            $('form li').addClass('alert alert-error');
            $('#saving_alert').toggle();
            var editor = CKEDITOR.instances.marca_journalbundle_journaltype_body;
            var autoSave = setInterval(function(){var buffer = editor.checkDirty(); if (buffer==1) {editor.resetDirty(); var title = $('#marca_journalbundle_journaltype_title').val(); var body =  editor.getData();$.post("{{ course_path('journal_ajax', { 'id': journal.id }) }}", {journalBody:body, journalTitle:title}, function(data){});$('#saving_alert').fadeIn();$('#saving_alert').delay(2000).fadeOut();}}, 30000);
            
        });
    </script>
{% endblock %}

{% block content %}
<div class="col-md-11 well">
    <span id='saving_alert' class='alert alert-info margin-left' style="padding-right: 15px;position:fixed;z-index:200;right:15%;top:10%;">Saving</span>
<form class="form" action="{{ course_path('journal_update', { 'id': journal.id }) }}" method="post" {{ form_enctype(edit_form) }}novalidate="novalidate">
    {{ form_errors(edit_form) }}
         {{ form_row(edit_form.title) }}
         {{ form_row(edit_form.body) }}
    {{ form_rest(edit_form) }}
        <button class="btn btn-primary" type="submit">Update</button><a class='btn btn-default' href="{{ course_path('journal') }}">Cancel</a>
</form>
        
{% if journal.responses|length == 0%}
    <a href='javascript:void(0);' id='confirm_delete' class="btn btn-delete" type="submit">Delete</a>
<form id='delete' action="{{ course_path('journal_delete', { 'id': journal.id }) }}" method="post">
{{ form_widget(delete_form) }}
<button class="btn btn-delete btn-warning" type="submit">Confirm Delete</button>
</form> 
{% else %}    
    <span  class='alert pull-right' >Since this journal entry has at least one response, it can not be deleted.</span>
{% endif %}
    
</div>
{% endblock %}
