{# Marca/JournalBundle/Resources/views/Journal/edit.html.twig #}

{% extends 'MarcaHomeBundle::dialog.html.twig' %}

{% block title %}Journal{% endblock %}

{% block sidebar %}<h1 class="marca-gray">Journal</h1>{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/marcahome/js/jquery-idleTimeout-iframes.min.js') }}"></script>
    <script src="{{ asset('bundles/marcahome/js/store.legacy.min.js') }}"></script>
        <script language="javascript">
        $(document).ready(function()
        {
            $(document).idleTimeout({
                customCallback: function () {
                    alert('xxx');
                },
                redirectUrl:  '/user/home',      // trailing comma
                idleTimeLimit: 10,          // trailing comma
                sessionKeepAliveTimer: false,
                dialogTitle: 'Inactivity Notice',
                dialogText: 'Looks like you have stopped working.  We will save your journal.'
            });
            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function(){
                window.location.href='{{ course_path('journal_list') }}';
            });
            {# autosave scripts #}
            $('#saving_alert').toggle();
            var editor = CKEDITOR.instances.marca_journalbundle_journaltype_body;
            var autoSave = setInterval(function(){var buffer = editor.checkDirty(); if (buffer==1) {editor.resetDirty(); var title = $('#marca_journalbundle_journaltype_title').val(); var body =  editor.getData();$.post("{{ course_path('journal_ajax', { 'id': journal.id }) }}", {journalBody:body, journalTitle:title}, function(data){});$('#saving_alert').fadeIn();$('#saving_alert').delay(2000).fadeOut();}}, 30000);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-8 center">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button id="close_form" type="button" class="close">&times;</button>
                    <h2 class="panel-title small">Journal Entry</h2>
                    <span id='saving_alert' class='margin-left'><em>Saving</em></span>
                </div>
                <div class="panel-body">
                    {{ form(edit_form) }}
                    {# if journal has responses, do no show delete button #}
                    {% if journal.responses|length == 0%}
                        {# standard delete button for confirm #}
                        <a class="btn btn-warning" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                    {% else %}
                        <span  class='alert' >Since this journal entry has at least one response, it can not be deleted.</span>
                    {% endif %}
                </div>
            </div>
    </div>

    {# Modal for Delete confirmation #}
    {{ form(delete_form)|delete_modal }}

{% endblock %}

