{# Marca/JournalBundle/Resources/views/Journal/index.html.twig #}

{% extends 'MarcaJournalBundle::layout.html.twig' %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
var string = $(".journal-body").text();
var count = string.split(" ");
$("#word-count").text(count.length);
});
</script>


<div class="span9 well"> 
<h2>Journal entries by {{ user.firstname }} {{ user.lastname }} </h2>  

<div class="span6"  role="navigation" style="margin-top:-20px;">
    {{ knp_pagination_render(journal) }}
</div> 
<div class="span2  pull-right" role="navigation">
{% if app.request.attributes.get('_route')=='journal_user' %} 
{# next previous users on roll #} 

{% for roll in roll %}
{% if loop.index == app.request.get('user') + 1 %}  
<span style='margin-right:3em;'></span>        
<a data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('journal_user', { 'userid': roll.userid, 'user': loop.index }) }}">{{roll.firstname}} {{roll.lastname}}<i class="icon-chevron-right"></i></a>
{% endif %}

{% if loop.index == app.request.get('user') - 1 %}
<a class='' data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('journal_user', { 'userid': roll.userid, 'user': loop.index }) }}"><i class="icon-chevron-left"></i>{{roll.firstname}} {{roll.lastname}}</a>
{% endif %}
{% endfor %}
{% endif %}
</div>
   
</div>



{% for journal in journal %}
<div class="span9 well">  
<div class="span8 center"> 
<h3>{{ journal.title }}</h3> 
<span>Created  {{ journal.created|date('M d Y, h:ia') }}  / Updated  {{ journal.updated|date('M d Y, h:ia') }} </span>
<span class="pull-right">
<span id="word-count"></span> word(s)    
{% if journal.isOwner(app.user.username) %}
        <a class="btn btn-primary btn-small" href="{{ course_path('journal_edit', { 'id': journal.id }) }}">Edit</a>
{% endif %} 
        <a class="btn btn-info btn-small" href="{{ course_path('response_new', { 'sourceid': journal.id, 'source': 'journal','view': 'app','page': app.request.get('page') }) }}">Respond</a>
</span>         

<hr/>
<div class="journal-body">
{{ journal.body|raw }}
</div>
</div>

<div class="span8 pull-right">
{% for response in journal.responses %}    
            <div class="span7 well">
                <strong>Response by {{ response.user.firstname}} {{ response.user.lastname}}</strong>
               {{ response.body|raw }} 
                {% if response.isOwner(app.user.username) %}
                <a class="btn btn-primary btn-mini pull-right" href="{{ course_path('response_edit', 
                { 'id': response.id,'sourceid': journal.id, 'source': 'journal','view': 'app','page': app.request.get('page')  }) }}">Edit</a>
                {% endif %}
            </div>   
{% endfor %}    
            
</div>        
</div> 
{% else %}  
<div class="span9 well">  
<div class="span8 center"> 
{% if app.request.get('_route') == 'journal_user' %}  
Sorry, no entries were found.
{% else %}    
You don’t have any journals yet. Why not <a href="{{ course_path('journal_new') }}">write one</a>?
{% endif %}
</div>              
</div>
{% endfor %}



{% endblock %}
