
{% extends 'MarcaJournalBundle:Default:layout.html.twig' %}

{% block content %}

{% for entity in entities %}
<div class="row-fluid">
<div class="span10 well" >
<div class="span2" ><h4>{{ entity.title }}</h4></div>
<div class="pull-right" >
 Created  {{ entity.created|date('M d, Y h:i a') }}  / Modified  {{ entity.updated|date('M d, Y h:i a') }} 
<a class="btn btn-primary btn-small" href="{{ path('journal_edit', { 'id': entity.id }) }}">edit</a>
</div>
</div>
</div>
  
<div class="row-fluid">
<div class="span10 pad">{{ entity.body|raw }} </div>
</div>
{% endfor %}

<div class="row-fluid">
<div class="span10 well" >
{% if set >= 1 %}    
<div class="pull-left"><a title="View previous entries" href="{{ path('journal', { 'set': set - 1 } ) }}">Previous entries</a></div>  
{% endif %}
<div class="pull-right"><a title="View more entries" href="{{ path('journal', { 'set': set + 1 } ) }}">Next entries</a></div>
</div>
</div>

{% endblock %}
