{# Marca/JournalBundle/Resources/views/Journal/index.html.twig #}

{% extends 'MarcaJournalBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            var txt = $('.journal-body').text();
            var count = txt.trim().replace(/\s+/gi, ' ').split(' ').length;
            $("#word-count").text(count);
        });
    </script>
{% endblock %}


{% block content %}


<div class="panel panel-default">

<div class="panel-heading" role="navigation">
<div class="row">
    <div class="col-md-6">
        <span class="panel-title">Journal entries by {{ user.firstname }} {{ user.lastname }} </span>
    </div>
    <div class="col-md-6">

        {% if app.request.attributes.get('_route')=='journal_user' %}
            <div class="pagination">
            <span>
            {# next previous users on roll #}
                {% for roll in roll %}
                    {% if loop.index == app.request.get('user') + 1 %}
                        <a data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('journal_user', { 'userid': roll.userid, 'user': loop.index }) }}">{{roll.firstname}} {{roll.lastname}} &gt;</a>
                    {% endif %}
                {% if loop.index == app.request.get('user') - 1 %}
                    <a class='' data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('journal_user', { 'userid': roll.userid, 'user': loop.index }) }}">&lt; {{roll.firstname}} {{roll.lastname}}</a>
                {% endif %}
                {% endfor %}
            </span>
            </div>
        {% endif %}
        {{ knp_pagination_render(journal) }}

    </div>
</div>
</div>

</div>

    {% for journal in journal %}
        <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ journal.title }}</h2>
            <span class="pull-right">
                <span id="word-count"></span> word(s)

                {% if journal.isOwner(app.user.username) %}
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" href="{{ course_path('journal_edit', { 'id': journal.id }) }}">Edit</a>
                    {% endif %}
                    <a class="btn btn-default btn-sm" href="{{ course_path('response_new',
                    { 'sourceid': journal.id, 'source': 'journal_user','view': 'app','page': app.request.get('page'),'user':app.request.get('user'),'userid':journal.user.id }) }}">Respond</a>
                </div>
            </span>

            <p>Created  {{ journal.created|date('M d Y, h:ia') }}  / Updated  {{ journal.updated|date('M d Y, h:ia') }} </p>
        </div>
        <div class="panel-body">
            <div class="journal-body">
                {{ journal.body|raw }}
            </div>

            {% for response in journal.responses %}
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Response by {{ response.user.firstname}} {{ response.user.lastname}}
                            {% if response.isOwner(app.user.username) %}<a class="btn btn-default btn-sm pull-right" href="{{ course_path('response_edit',{ 'id': response.id,'sourceid': journal.id, 'source': 'journal_user','view': 'app','page': app.request.get('page'),'user':app.request.get('user'),'userid':journal.user.id  }) }}">Edit</a>
                            {% endif %}
                        </div>

                        <div class="panel-body">
                            {{ response.body|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    {% else %}

        <div class="panel panel-default">
            <div class="panel-heading">
            </div>

            <div class="panel-body">
                {% if app.request.get('_route') == 'journal_user' %}
                    Sorry, no entries were found.
                {% else %}
                    You don’t have any journals yet. Why not <a href="{{ course_path('journal_new') }}">write one</a>?
                {% endif %}
            </div>
        </div>
        </div>
    {% endfor %}



{% endblock %}
