{# Marca/JournalBundle/Resources/views/Journal/index.html.twig #}

{% extends 'MarcaJournalBundle::layout.html.twig' %}

{% block content %}

<div class="span9 well">       

{% for journal in journal %}
<div class="span8" >
<div class="page-header" >
<strong>{{ journal.title }}</strong>
<span class='pull-right'>Created  {{ journal.created|date('M d, Y h:i a') }}  / Modified  {{ journal.updated|date('M d, Y h:i a') }}
{% if journal.isOwner(app.user.username) %}
        <a class="btn btn-primary btn-small" href="{{ course_path('journal_edit', { 'id': journal.id }) }}">Edit</a>
{% endif %} 
        <a class="btn btn-info btn-small" href="{{ course_path('response_new', { 'sourceid': journal.id, 'source': 'journal','view': 'app' }) }}">Respond</a>
</span>         
</div>

{{ journal.body|raw }}
    
    <div class="span7 ">
    {% for response in journal.responses %}
    {% if loop.first %}    
    <div class="page-header" >
    <strong>Responses</strong>
    </div>       
    {% endif %}      
            <div class="span7 well">
                <strong>By {{ response.user.firstname}} {{ response.user.lastname}}</strong>
               {{ response.body|raw }} 
                {% if response.isOwner(app.user.username) %}
                <a class="btn btn-primary btn-mini pull-right" href="{{ course_path('response_edit', { 'id': response.id,'sourceid': journal.id, 'source': 'journal','view': 'app' }) }}">Edit</a>
                {% endif %}
            </div>   
    {% endfor %}    
            
    </div>        
</div> 

   
{% else %}   
{% if app.request.get('_route') == 'journal_user' %}  
Sorry, no entries were found.
{% else %}    
You don’t have any journals yet. Why not <a href="{{ course_path('journal_new') }}">write one</a>?
{% endif %}

{% endfor %}

<div class="span8" > 
<div class="navigation">
    {{ journal.render()|raw }}
</div>              
</div>
</div>
{% endblock %}
