
{% extends 'MarcaJournalBundle::layout.html.twig' %}

{% block content %}

{% for entity in entities %}
<div class="row">
<div class="page-header" >
<h3>{{ entity.title }}</h3>
</div>
</div>
 
<div class="row" >
 <div class="span10">   
 Created  {{ entity.created|date('M d, Y h:i a') }}  / Modified  {{ entity.updated|date('M d, Y h:i a') }} 
<a class="btn btn-primary btn-small pull-right" href="{{ path('journal_edit', { 'id': entity.id }) }}">edit</a>
</div>
</div>

<div class="row">
<div class="span10 pad">{{ entity.body|raw }} </div>
</div>
{% endfor %}

<div class="row">
<div class="span10" >   
<ul class="pager">
  <li class="previous">
    {% if set >= 1 %}<a title="View previous entries" href="{{ course_path('journal', { 'set': set - 1 } ) }}">&larr; Previous</a>{% endif %}
  </li>
  <li class="next">
    <a title="View more entries" href="{{ course_path('journal', { 'set': set + 1 } ) }}">Next &rarr;</a>
  </li>
</ul>
    
</div>
</div>

{% endblock %}
