{# Marca/JournalBundle/Resources/views/Journal/index.html.twig #}

{% extends 'MarcaJournalBundle::layout.html.twig' %}

{% block content %}

<div class="span9 well">       

    
{% for journal in journal %}

<div class="page-header" >
<strong>{{ journal.title }}</strong>
<span class='pull-right'>Created  {{ journal.created|date('M d, Y h:i a') }}  / Modified  {{ journal.updated|date('M d, Y h:i a') }}
<a class="btn btn-primary btn-mini" href="{{ course_path('journal_edit', { 'id': journal.id }) }}">edit</a></span> 
</div>

{{ journal.body|raw }}
    

{% else %}
You don’t have any journals yet. Why not <a href="{{ course_path('journal_new') }}">write one</a>?
{% endfor %}

<div class="navigation">
    {{ journal.render()|raw }}
</div>        
        
</div>
{% endblock %}
