{# Marca/JournalBundle/Resources/views/Journal/new.html.twig #}

{% extends 'MarcaJournalBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#marca_journalbundle_journaltype_body').ckeditor( function() {}, {height:300, skin: 'BootstrapCK-Skin',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
});
</script>
<div class="span8 well"> 
<form class="form" action="{{ course_path('journal_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
     {{ form_errors(form) }}
         {{ form_row(form.title) }}
         {{ form_row(form.body) }}
    {{ form_rest(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>
{% endblock %}
