{# Marca/JournalBundle/Resources/views/Journal/new.html.twig #}

{% extends 'MarcaJournalBundle::layout.html.twig' %}

{% block javascripts %}
    <script language="javascript">
        $(document).ready(function()
        {
            $('form li').addClass('alert alert-error');
        });
    </script>
{% endblock %}

{% block content %}
<div class="span9 well">
<form class="form" action="{{ course_path('journal_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
     {{ form_errors(form) }}
         {{ form_row(form.title) }}
         {{ form_row(form.body) }}
    {{ form_rest(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Submit</button><a class='btn' href="{{ course_path('journal') }}">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
