{# Marca/JournalBundle/Resources/views/Journal/show.html.twig #}

{% extends 'MarcaJournalBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
<div class="span2">
<div class="btn-group">
<a class="btn" href="{{ course_path('journal') }}">List</a>
<a class="btn" href="{{ course_path('journal_edit', { 'id': journal.id }) }}">Edit</a>
 
</div> 
</div>       
  
<div class="span1">        
<form action="{{ course_path('journal_delete', { 'id': journal.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
  
</div>
        
<div class="row-fluid">
<div class="span4">    
<table class="table table-bordered table-condensed table-striped">
<tbody>        
    <tr>
        <th>Id</th>         
        <td>{{ journal.id }}</td>         
    </tr>        
    <tr>
        <th>Userid</th>         
        <td>{{ journal.userid }}</td>         
    </tr>        
    <tr>
        <th>Courseid</th>         
        <td>{{ journal.courseid }}</td>         
    </tr>        
    <tr>
        <th>Title</th>         
        <td>{{ journal.title }}</td>         
    </tr>        
    <tr>
        <th>Body</th>         
        <td>{{ journal.body }}</td>         
    </tr>  
</tbody>
</table>
</div>        
</div>      
{% endblock %}
