{# Marca/AssessmentBundle/Resources/views/Scale/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}

{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{

});
</script>

<div class="span2">

 
</div>       
  
<div class="span1">        

</div>
  


<div class="span9 well">
<legend>Scales</legend> 
</div>

<div class="span9 well">
        <form action="{{ path('scale_update', { 'id': scale.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
        <div>
            <button class="btn btn-primary" type="submit">Edit</button><a class="btn" href="{{ path('assessmentset') }}">Cancel</a>
        </div>
        </form>
        
        <form action="{{ path('scale_delete', { 'id': scale.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn" type="submit">Delete</button>
        </form>
        
</div>

{% endblock %}
