{# Marca/AssessmentBundle/Resources/views/Scale/edit.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/marcahome/js/jquery.timepicker.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $('#toggle_modal').click(function () {
                $('#delete_modal').modal();
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="col-sm-6 center">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title small">Scales</h2>
        </div>
        <div class="panel-body">
            <form action="{{ path('scale_update', { 'id': scale.id }) }}" method="post">
                {{ form_widget(edit_form) }}
                {% if scale.scaleitems|length > 0 %}
                <span class="pull-right">Scales that have scale items can not be deleted.</span>
                {% else %}
                <a class="btn btn-warning pull-right" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                {% endif %}
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit">Update</button>
                    <a class="btn btn-default" href="{{ path('assessmentset') }}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

    <div id="delete_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <span class="modal-title">Delete</span>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>

                    <form action="{{ path('scale_delete', { 'id': scale.id }) }}"
                          method="post">
                        {{ form_widget(delete_form) }}
                        <div class="btn-group">
                            <button class="btn btn-danger" type="submit">Yes</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
