{# Marca/AssessmentBundle/Resources/views/Scale/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block content %}
<div class="col-md-11 well">
<h2>Scales</h2>
</div>

<div class="col-md-11 well">
        <form action="{{ path('scale_update', { 'id': scale.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
        <div>
            <button class="btn btn-primary" type="submit">Update</button><a class="btn" href="{{ path('assessmentset') }}">Cancel</a>
        </div>
        </form>
        
        <form action="{{ path('scale_delete', { 'id': scale.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-delete" type="submit">Delete</button>
        </form>
        
</div>
{% endblock %}
