{# Marca/AssessmentBundle/Resources/views/Scale/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group pull-right">
                    <a class="btn btn-default" href="{{ path('assessmentset') }}">List Assessment Sets</a>
                    <a class="btn btn-default" href="{{ path('reviewrubric') }}">List Review Rubrics</a>
                </div>
                <h2 class="margin-top-small">Scales</h2>
            </div>
            <div class="panel-body">
                <h3 class="panel-title small">{{ scale.name }}</h3>
                <hr />
                {% for scaleitem in scale.scaleitems %}

                    <div class="col-sm-3 margin-top">
                        <strong>{{ scaleitem.name }}</strong>  (value::{{ scaleitem.value }})
                        <a class="btn btn-primary btn-xs" href="{{ path('scaleitem_edit', { 'id': scaleitem.id, 'scaleid':scale.id }) }}">Edit</a>
                    </div>

                {% endfor %}
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary" href="{{ path('scaleitem_new', {'scaleid':scale.id }) }}">Add Scale Item</a>
            </div>
        </div>
    </div>
{% endblock %}
