{# Marca/NoteBundle/Resources/views/Note/edit.html.twig #}

{% extends 'MarcaNoteBundle::layout.html.twig' %}

{% block javascripts %}
    <script language="javascript">
        $(document).ready(function()
        {
            $('a#cancel_delete').toggle();$('form#delete').toggle();
            $("a#confirm_delete").click(function() {
                $('a#confirm_delete').toggle();$('form#delete').toggle();$('a#cancel_delete').toggle();
            });
            $("a#cancel_delete").click(function() {
                $('a#confirm_delete').toggle();$('form#delete').toggle();$('a#cancel_delete').toggle();
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="col-md-11 well">
        <form action="{{ course_path('note_update', { 'id': note.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            {{ form_widget(edit_form) }}
        <div>
            <button class="btn btn-primary" type="submit">Update</button><a class="btn" href="{{ course_path('note') }}">Cancel</a>
        </div>
        </form>
        
    
        <a href='javascript:void(0);' id='confirm_delete' class="btn btn-delete" type="submit">Delete</a>
        <form id='delete' action="{{ course_path('note_delete', { 'id': note.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button class="btn btn-delete btn-warning" type="submit">Confirm Delete</button>
        </form>
</div>
{% endblock %}
