{# Marca/NoteBundle/Resources/views/Note/edit.html.twig #}

{% extends 'MarcaNoteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            $('a#cancel_delete').toggle();$('form#delete').toggle();
            $('a#confirm_delete').click(function() {
                $('a#confirm_delete').toggle();$('form#delete').toggle();$('a#cancel_delete').toggle();
            });
            $('a#cancel_delete').click(function() {
                $('a#confirm_delete').toggle();$('form#delete').toggle();$('a#cancel_delete').toggle();
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="col-md-12">
        <form action="{{ course_path('note_update', { 'id': note.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Note
                </div>
                <div class="panel-body">
            {{ form_widget(edit_form) }}
                </div>
            </form>
    <div class="panel-footer">
        <div class="btn-group">
            <button class="btn btn-primary" type="submit">Update</button>
            <a class='btn btn-default' href="{{ course_path('note') }}">Cancel</a>
        </div>

        <span class="pull-right">
        <a class="btn btn-default btn-warning btn-delete" href='javascript:void(0);' id='confirm_delete' type="submit">Delete</a>
        <form id='delete' action="{{ course_path('note_delete', { 'id': note.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-default btn-warning btn-delete" type="submit">Confirm Delete</button>
        </form>
        </span>
        </div>
        </div>
</div>
{% endblock %}
