{# Marca/NoteBundle/Resources/views/Note/index.html.twig #}

{% extends 'MarcaNoteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block content %}

    <div class="notes-panel">
        {% for note in notes %}
            <div class="panel panel-default" style="display: inline-block;margin-bottom: 10px;width: 100%;min-height:115px;">
                <div class="panel-heading">
                    <a class="btn btn-default btn-sm pull-right" href="{{ course_path('note_edit', { 'id': note.id }) }}">Edit</a>
                    <h2 class="panel-title small">{{ note.title }}</h2>
                </div>
                <div class="panel-body">
                    {{ note.description|html_raw }}
                </div>
            </div>
        {%else%}
            <div class="panel panel-default" style="display: inline-block;margin-bottom: 10px;width: 100%;min-height:115px;">
                <div class="panel-heading">
                    Notes
                </div>
                <div class="panel-body">
                    You don't have any notes yet.  <br/><br/>
                    Just click <a class="btn btn-primary margin-bottom-medium" href="{{ course_path('note_new') }}" >Create<i class="glyphicon glyphicon-pencil glyphicon-white"></i></a> to get started.
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
