
{% extends 'MarcaNoteBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
CKEDITOR.replace( 'marca_notebundle_notetype_description',  {
    customConfig: '{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_config.js') }}'
} );
});
</script>

<div class="span9 well"> 
<form action="{{ course_path('note_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn" type="submit">Create</button><a class="btn" href="{{ course_path('note') }}">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
