{# Marca/NoteBundle/Resources/views/Note/show.html.twig #}

{% extends 'MarcaYourBundle::layout.html.twig' %}

{% block content %}

<div class="span2">
<a class="btn btn-info" href="{{ path('note') }}">List</a>
<a class="btn btn-primary" href="{{ path('note_edit', { 'id': entity.id }) }}">Edit</a>
 
</div>       
  
<div class="span1">        
<form action="{{ path('note_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
  

        

<div class="span9 well">
<legend></legend> 
</div>

<div class="span9 well">        
        Id         
        {{ entity.id }}        
        Title         
        {{ entity.title }}        
        Description         
        {{ entity.description }}        
        Color         
        {{ entity.color }}        
        Sortorder         
        {{ entity.sortOrder }}        
        Citation         
        {{ entity.citation }}        
        Quotations         
        {{ entity.quotations }}        
        Notetype         
        {{ entity.noteType }}  

</div>          
{% endblock %}
