{% extends 'MarcaCourseBundle::layout.html.twig' %}

{% block title %}
Assignments
{% endblock %}

{% block sidebar %}
    {{ render_esi(controller('MarcaAssignmentBundle:Assignment:createSidebar', { 'courseid': app.request.get('courseid') } )) }}
{% endblock %}
{% block content %}
    <script>
        $(document).ready(function() {
            $('.submission_new').click(function () {
                var assignmentStageid = $(this).data('id');
                var url = "{{ course_path('file_new_modal', { 'type':'doc', 'assignmentStageid':'stageid'}) }}";
                url = url.replace("stageid", assignmentStageid);
                $('#file_modal').load(url);
            });
        });

    </script>
    <div class="col-md-12">
        <h2>{{ assignment.name }}</h2>
        <h3>Assignment Description:</h3>
        {{ assignment.description }}
        {% if role == 2 %}
        <a class="btn pull-right btn-success" href="{{ course_path('assignment_review', {'id':assignment.id}) }}">Review all submissions for this assignment</a>
        {% endif %}
        <h3>Resources:</h3>
        <ul>
        {% for resource in assignment.resources %}
            <li>{% if resource.doc or resource.etherpaddoc %}
                <a href="{{ course_path('doc_show', {'view':'window', 'id': resource.id }) }}">{{ resource.name }}</a>
                {% else %}
                <a href="{{ course_path('file_view', {'view':'window', 'id':resource.id }) }}">{{ resource.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <h3>Assignment Stages:</h3>
        </ul>
        {% for stage in assignment.stages %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ stage.name }}
                {% if submissions[stage.id] is defined %}
                    {% if submissions[stage.id].submitted %}
                        <button class="btn btn-danger panel-heading-button pull-right">Stage Submitted</button>
                    {% else %}
                    <a href="{{ course_path('doc_edit', {'id':submissions[stage.id].file.id, 'view':'app', 'submissionid':submissions[stage.id].id}) }}" class="btn btn-primary panel-heading-button pull-right">Continue work on this submission</a>
                    {% endif %}
                {% else %}
                {% if stage.previous.id is defined %}
                    {% if submissions[stage.previous.id] is defined and submissions[stage.previous.id].submitted %}
                        <a href="{{ course_path('submission_continue', {'stageid': stage.id, 'submissionid':submissions[stage.previous.id].id}) }}" class="btn btn-primary panel-heading-button pull-right">Continue from previous Stage</a>
                    {% endif %}
                {% endif %}
                <a href="javascript:void(0);" class="submission_new btn btn-primary panel-heading-button pull-right" data-id="{{ stage.id }}">Create Submission</a>
                {% endif %}
            </div>
            <div class="panel-body">
            {{ stage.instructions }}
                {% if submissions[stage.id] is defined %}
                    <h4>Reviews of my work</h4>
                    <table id="file_list" class="col-sm-12 table">
                    {% for review in submissions[stage.id].reviews %}
                        <tr>
                        <td>Review by: {{ review.user.firstname }} {{ review.user.lastname }}</td>
                        <td><a class="btn btn-primary" href="{{ course_path('doc_show', {'id':review.id, 'view':'window'}) }}">View this review</a>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}

            </div>
        </div>
        {% endfor %}
    </div>
    <div class="modal fade" id="file_modal">
    </div><!-- /.modal -->
{% endblock %}
