{# Marca/DocBundle/Resources/views/Doc/doctools.html.twig #}

{# Doc tools #}
<div class="panel-group" id="accordion">
    <div class="panel panel-default ">
        <div class="panel-heading" style="color:white; background-color: #428bca;">
                <a class="accordion-toggle" style="color:white;"  data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    {{ file.name }}
                </a>
            <span class="pull-right">by {{ file.user.firstname }} {{ file.user.lastname }}</span>
        </div>

        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <dl>
                    <dt>Updated</dt>
                    <dd>{{ file.updated|date('m/d/y, g:i a') }}</dd>
                    <dt>Created</dt>
                    <dd>{{ file.created|date('m/d/y, g:i a') }}</dd>
                </dl>
                <strong>Labels</strong>
                {% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}
                {% if file.access==1 %} <span class="label label-success margin-left">Shared</span>
                {% elseif file.access==0 %}<span class="label label-success margin-left">Private</span>
                {% endif %}
                {% if file.portfolio|length !=0 %} <span class="label label-info">Portfolio</span>{% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-12 margin-bottom">
    <div class="btn-group pull-right" style="margin-right: -15px;">
        {# <a class="btn btn-default" id="toggle-tools" href="javascript:void(0);">Doc Tools</a> #}
        <span class="btn btn-default" id='saving_alert'>Saving</span>
        <input class="btn btn-default"  type="submit" id="doc_save" value="Save and Close"/>

    </div>
        </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Markup
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
                {# INSERT NOTE #}
                <form id='note_insert_form' name='note_insert_form'>
                    <label for="insert_value">Note</label>
                    <textarea  class='form-control' id="insert_value" name="html_insert"></textarea>
                    <a id='note_insert_submit' href="javascript:void(0)" class="btn btn-default btn-sm"  title="Submit entry">Insert Note</a>
                </form>

                <hr/>
                <div class="panel-group" id="accordionMarkup">

                    {% for markupset in markupsets %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionMarkup" href="#collapseMarkup{{markupset.id}}">
                                        {{ markupset.name }}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseMarkup{{markupset.id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {% for markup in markupset.markup %}
                                        <a href="javascript:{{markup.function}}('{{markup.id}}', '{{markup.value}}','{{markup.color}}')" title="Submit entry"><span style='color:black;' class="label {{ markup.color }}">{{ markup.name }}</span></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if role == 2 and pages %}
                    <hr/>
                    <a id='insert_rubric' class='btn btn-default' href="javascript:void(0);" title="Insert Rubric: Be sure to place your cursor where you want the rubric to go.">Insert Rubric</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Feedback ({{ file.responses|length }} response(s))
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                {# Responses #}
                {% for response in file.responses %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">{{ response.user.firstname}} {{ response.user.lastname}} says:</h2>

                            {% if response.isOwner(app.user.username) %}
                                <a class="btn btn-default btn-xs pull-right" href="{{ course_path('response_edit', { 'id': response.id,'sourceid': file.id, 'source': app.request.get('_route'),'view': app.request.get('view'),'userid': file.user.id  }) }}">Edit</a>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            {{ response.body|raw }}
                        </div>
                    </div>

                {% else %}
                    <div class="pad">No one has has offered feedback.</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
