{# Marca/DocBundle/Resources/views/Doc/doctools.html.twig #}
{# INSERT NOTE #}

<div id='doctools' class="span3 well" style='position:fixed; margin-left: -1em;'>  
<div  class='cell clear'>
<div class='' id='insert_note_tools'>

<form id='note_insert_form' name='note_insert_form'>
<textarea  class='span3' id="insert_value" name="html_insert" tabindex="1"></textarea>
<a id='note_insert_submit' href="javascript:void(0)" class="label label-info" tabindex="1" title="Submit entry">Insert Note</a>
</form>     

</div>
<hr/>

<div class=''>
{% for markupset in markupsets%}
{% if loop.first %}
{% for markup in markupset.markup  %}
                 <a href="javascript:{{markup.function}}('{{markup.id}}', '{{markup.value}}','{{markup.color}}')" tabindex="1" title="Submit entry"><span style='color:black;' class="label {{ markup.color }}">{{ markup.name }}</span></a></li> 
{% endfor %}  
{% endif %}
{% endfor %}
</div>
<hr/>
<div class = "accordion" id="markup" style='margin:-1em; width:100%;'>
    <div class="accordion-group">
        <div class="accordion-heading">
           <a class="accordion-toggle" data-toggle="collapse" data-parent="markup" href="#collapseOne">All Markup Tags</a>
            </div>
             <div id="collapseOne" class="accordion-body collapse">    

                {% for markupset in markupsets%}
                {% if not loop.first %}
                <div class="accordion-group">
                <div class='accordion-heading'  >
                <a class="accordion-toggle" data-toggle="collapse" data-parent="markup" href="#markup_{{markupset.id}}">{{ markupset.name }}</a>
                </div>
                <div id="markup_{{markupset.id}}" class=" accordion-body collapse">
                <div class="accordion-inner">
                    
                {% for markup in markupset.markup %}
                 <a href="javascript:{{markup.function}}('{{markup.id}}', '{{markup.value}}','{{markup.color}}')" tabindex="1" title="Submit entry"><span style='color:black;' class="label {{ markup.color }}">{{ markup.name }}</span></a></li> 
                {% endfor %}  
                
                </div>
                </div>                  
                </div> 
                {% endif %} 
                {% endfor %}
              
        </div>
     </div>
</div>   
</div>
</div>

{# EMBED 

<div class='cell clear divider'>
<a href="javascript:void(0)" class="" tabindex="1" onclick="$('#embed_tools').toggle()" title="Embed Slides or Video">Embed Slides or Video</a>
</div>

<div id='embed_tools' class='hide clear'>

<div class='cell alert alert-info'>
Place the cursor where you'd like to place your slides or video, paste in the embed code, and click <em>Embed.</em>
</div>


<div class='cell'>
<form id='embed_insert_form' name='note_insert_form'>
<textarea id="embed_value" name="embed_insert" tabindex="1"></textarea>
</form>
</div>

<div class='cell'>
<a id='embed_insert_submit' href="javascript:void(0)" class="label label-info" tabindex="1" title="Submit entry">Embed</a>
</div>
</div>



<div class='cell clear divider'>
<a id='insert_rubric_link' href="javascript:void(0)" class="label label-info" tabindex="1" title="Insert Grading Rubric">Insert Grading Rubric</a>
</div>
#}