{# Marca/DocBundle/Resources/views/Doc/doctools.html.twig #}
<div id="docTab">
<ul class="nav nav-tabs">
  <li class="active"><a href="#docMarkup" data-toggle="tab">Markup</a></li>
  <li><a href="#docFeedback" data-toggle="tab">Feedback</a></li>
  <li><a href="#docInfo" data-toggle="tab">Info</a></li>
</ul>
        
<div id="docTabContent" class="tab-content">
<div class="tab-pane fade in active" id="docMarkup">
{# INSERT NOTE #}
<form id='note_insert_form' name='note_insert_form'>
<textarea  class='span3' id="insert_value" name="html_insert" tabindex="0"></textarea>
<a id='note_insert_submit' href="javascript:void(0)" class="label label-info" tabindex="0.1" title="Submit entry">Insert Note</a>
</form>     



<div class=''>
{% for markupset in markupsets%}
{% if loop.first %}
        <h5>{{ markupset.name }}</h5>     
{% for markup in markupset.markup  %}
                 <a href="javascript:{{markup.function}}('{{markup.id}}', '{{markup.value}}','{{markup.color}}')" tabindex="1" title="Submit entry"><span style='color:black;' class="label {{ markup.color }}">{{ markup.name }}</span></a></li> 
{% endfor %}  
{% endif %}
{% endfor %}
</div>


<hr/>
<div class = "accordion" id="markup">
    <div class="accordion-group">
        <div class="accordion-heading">
           <a class="accordion-toggle" data-toggle="collapse" data-parent="markup" href="#collapseOne">All Markup Tags</a>
            </div>
             <div id="collapseOne" class="accordion-body collapse">    

                {% for markupset in markupsets%}
                {% if not loop.first %}
                <div class="accordion-group">
                <div class='accordion-heading'  >
                <a class="accordion-toggle" data-toggle="collapse" data-parent="markup" href="#markup_{{markupset.id}}">{{ markupset.name }}</a>
                </div>
                <div id="markup_{{markupset.id}}" class=" accordion-body collapse">
                <div class="accordion-inner">
                    
                {% for markup in markupset.markup %}
                 <a href="javascript:{{markup.function}}('{{markup.id}}', '{{markup.value}}','{{markup.color}}')" tabindex="1" title="Submit entry"><span style='color:black;' class="label {{ markup.color }}">{{ markup.name }}</span></a></li> 
                {% endfor %}  
                
                </div>
                </div>                  
                </div> 
                {% endif %} 
                {% endfor %}
              
        </div>
     </div>
</div>   


</div> {# End docMarkup #}

<div class="tab-pane fade" id="docFeedback">
{% for response in file.responses %}    
<div>
    <h5 class='inline'>{{ response.user.firstname}} {{ response.user.lastname}} says:</h5>
{% if response.isOwner(app.user.username) %}
<a class="btn btn-primary btn-mini pull-right" href="{{ course_path('response_edit', { 'id': response.id,'sourceid': doc.id, 'source': 'doc_show','view': app.request.get('view')  }) }}">Edit</a>
{% endif %}
<div class="divider">
{{ response.body|raw }} 
</div>               
</div> 
{% else %} No one has has offered feedback.       
{% endfor %} 
</div> {# End docFeedback #}

<div class="tab-pane fade" id="docInfo">
<h5>Author</h5>
{{ file.user.firstname }} {{ file.user.lastname }}
<h5>Document Name</h5>
{{ file.name }}
{% if file.access==1 %} <span class="label label-success margin-left">Shared</span>
{% elseif file.access==0 %}<span class="label label-success margin-left">Private</span>
{% endif %}
<h5>Project</h5>
{% if file.project.name %}{{ file.project.name }}{% endif%}
<h5>Created:</h5>
{{ file.created|date('M d Y, g:i a') }}
<h5>Updated:</h5>
{{ file.updated|date('M d Y, g:i a') }}
<h5>Labels</h5>
{% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}
</div> {# End docInfo #}

</div>
        
</div>{# end docTab  #}        