{# Marca/DocBundle/Resources/views/Doc/doctools.html.twig #}
<div id="docTab">
<ul class="nav nav-tabs">
  <li class="active"><a href="#docMarkup" data-toggle="tab">Markup</a></li>
  <li><a href="#docFeedback" data-toggle="tab">Feedback</a></li>
  <li><a href="#docInfo" data-toggle="tab">Info</a></li>
</ul>

<div id="docTabContent" class="tab-content">
<div class="tab-pane fade in active" id="docMarkup">
{# INSERT NOTE #}

<form id='note_insert_form' name='note_insert_form'>
    <label for="insert_value">Note</label>
<textarea  class='span3' id="insert_value" name="html_insert"></textarea>
<a id='note_insert_submit' href="javascript:void(0)" class="label label-info"  title="Submit entry">Insert Note</a>
</form>


<hr/>
<div class="margin-top">
{% for markupset in markupsets%}
{% if loop.first %}
<div>{{ markupset.name }}</div>
{% for markup in markupset.markup  %}
<a href="javascript:{{markup.function}}('{{markup.id}}', '{{markup.value}}','{{markup.color}}')" title="Submit entry"><span style='color:black;' class="label {{ markup.color }}">{{ markup.name }}</span></a></li>
{% endfor %}
{% endif %}
{% endfor %}
</div>



    <div class="accordion margin-top" id="markup">
        {% for markupset in markupsets %}
            {% if not loop.first %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" style='display:inline;' data-toggle="collapse" data-parent="#markup" href="#collapse{{markupset.id}}">
                        {{ markupset.name }}
                    </a>
                </div>
                <div id="collapse{{markupset.id}}" class="accordion-body collapse">
                    <div class="accordion-inner">
                            {% for markup in markupset.markup %}
                                <a href="javascript:{{markup.function}}('{{markup.id}}', '{{markup.value}}','{{markup.color}}')" title="Submit entry"><span style='color:black;' class="label {{ markup.color }}">{{ markup.name }}</span></a>
                            {% endfor %}
                    </div>
                </div>

            </div>
            {% endif %}
        {% endfor %}
    </div>


{% if role == 2 and pages %}
    <div class='span3' style='margin-left: 0px'>
    <div class='alert alert-info'>Be sure to place your cursor where you want the rubric to go.</div>
    <a id='insert_rubric' class='btn' href="javascript:void(0);" title="Insert Rubric: Be sure to place your cursor where you want the rubric to go.">Insert Rubric</a>
    </div>
{% endif %}

</div> {# End docMarkup #}

<div class="tab-pane fade" id="docFeedback">
{% for response in file.responses %}
<div>
<h5 class='inline'>{{ response.user.firstname}} {{ response.user.lastname}} says:</h5>
<div class="divider">
{{ response.body|raw }}
</div>
</div>
{% else %} No one has has offered feedback.
{% endfor %}
</div> {# End docFeedback #}

<div class="tab-pane fade" id="docInfo">
<h5>Author</h5>
{{ file.user.firstname }} {{ file.user.lastname }}
<h5>Document Name</h5>
{{ file.name }}
{% if file.access==1 %} <span class="label label-success margin-left">Shared</span>
{% elseif file.access==0 %}<span class="label label-success margin-left">Private</span>
{% endif %}
<h5>Project</h5>
{% if file.project.name %}{{ file.project.name }}{% endif%}
<h5>Created:</h5>
{{ file.created|date('M d Y, g:i a') }}
<h5>Updated:</h5>
{{ file.updated|date('M d Y, g:i a') }}
<h5>Labels</h5>
{% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}
</div> {# End docInfo #}

</div>

</div>{# end docTab  #}