{# Marca/DocBundle/Resources/views/Doc/doctools.html.twig #}
{# INSERT NOTE #}

<div class='cell clear divider'>
<a href="javascript:void(0)" class="" tabindex="1" onclick="$('#insert_note_tools').toggle()" title="Toggle Insert Note">Insert Note</a>
</div>

<div id='insert_note_tools'>

<div class='cell alert alert-info'>
Highlight text, type your note and click <em>Insert.</em>
</div>


<div class='cell'>
<form id='note_insert_form' name='note_insert_form'>
<textarea id="insert_value" name="html_insert" tabindex="1"></textarea>
<a id='note_insert_submit' href="javascript:void(0)" class="label label-info" tabindex="1" title="Submit entry">Insert</a>
</form>     
</div>

</div>

<div class='cell clear divider'>
<a href="javascript:void(0)" class="" tabindex="1" onclick="$('#markup').toggle()" title="Toggle Markup Tags">Markup tags</a>
</div>

<div id='markup' class='hide clear'>

<div class='cell alert alert-info'>
Hightlight text and then select tag.
</div>

    {% for markupset in markupsets%}
    <div class='cell clear divider'>
        <strong>{{ markupset.name }}</strong>
    
    {% for markup in markupset.markup %}
    <a href="javascript:{{markup.function}}('{{markup.value}}','{{markup.color}}')" class="label label-info" tabindex="1" title="Submit entry"><span class="label {{ markup.color }}">{{ markup.name }}</span></a></li> 
    {% endfor %} 
    </div>
    {% endfor %}
    
</div>    
{# EMBED 

<div class='cell clear divider'>
<a href="javascript:void(0)" class="" tabindex="1" onclick="$('#embed_tools').toggle()" title="Embed Slides or Video">Embed Slides or Video</a>
</div>

<div id='embed_tools' class='hide clear'>

<div class='cell alert alert-info'>
Place the cursor where you'd like to place your slides or video, paste in the embed code, and click <em>Embed.</em>
</div>


<div class='cell'>
<form id='embed_insert_form' name='note_insert_form'>
<textarea id="embed_value" name="embed_insert" tabindex="1"></textarea>
</form>
</div>

<div class='cell'>
<a id='embed_insert_submit' href="javascript:void(0)" class="label label-info" tabindex="1" title="Submit entry">Embed</a>
</div>
</div>



<div class='cell clear divider'>
<a id='insert_rubric_link' href="javascript:void(0)" class="label label-info" tabindex="1" title="Insert Grading Rubric">Insert Grading Rubric</a>
</div>
#}