{# Marca/DocBundle/Resources/views/Doc/doctools.html.twig #}

<div id="docTabContent" class="tab-content">
<div class="tab-pane fade in active" id="docMarkup">
{# INSERT NOTE #}
<form id='note_insert_form' name='note_insert_form'>
<textarea  class='span3' id="insert_value" name="html_insert" tabindex="0"></textarea>
<a id='note_insert_submit' href="javascript:void(0)" class="label label-info" tabindex="0.1" title="Submit entry">Insert Note</a>
</form>     



<div class=''>
{% for markupset in markupsets%}
{% if loop.first %}
        <h5>{{ markupset.name }}</h5>     
{% for markup in markupset.markup  %}
                 <a href="javascript:{{markup.function}}('{{markup.id}}', '{{markup.value}}','{{markup.color}}')" tabindex="1" title="Submit entry"><span style='color:black;' class="label {{ markup.color }}">{{ markup.name }}</span></a></li> 
{% endfor %}  
{% endif %}
{% endfor %}
</div>


<hr/>
<div class = "accordion" id="markup">
    <div class="accordion-group">
        <div class="accordion-heading">
           <a class="accordion-toggle" data-toggle="collapse" data-parent="markup" href="#collapseOne">All Markup Tags</a>
            </div>
             <div id="collapseOne" class="accordion-body collapse">    

                {% for markupset in markupsets%}
                {% if not loop.first %}
                <div class="accordion-group">
                <div class='accordion-heading'  >
                <a class="accordion-toggle" data-toggle="collapse" data-parent="markup" href="#markup_{{markupset.id}}">{{ markupset.name }}</a>
                </div>
                <div id="markup_{{markupset.id}}" class=" accordion-body collapse">
                <div class="accordion-inner">
                    
                {% for markup in markupset.markup %}
                 <a href="javascript:{{markup.function}}('{{markup.id}}', '{{markup.value}}','{{markup.color}}')" tabindex="1" title="Submit entry"><span style='color:black;' class="label {{ markup.color }}">{{ markup.name }}</span></a></li> 
                {% endfor %}  
                
                </div>
                </div>                  
                </div> 
                {% endif %} 
                {% endfor %}
              
        </div>
     </div>
</div>   


{# EMBED 

<div class='cell clear divider'>
<a href="javascript:void(0)" class="" tabindex="1" onclick="$('#embed_tools').toggle()" title="Embed Slides or Video">Embed Slides or Video</a>
</div>

<div id='embed_tools' class='hide clear'>

<div class='cell alert alert-info'>
Place the cursor where you'd like to place your slides or video, paste in the embed code, and click <em>Embed.</em>
</div>


<div class='cell'>
<form id='embed_insert_form' name='note_insert_form'>
<textarea id="embed_value" name="embed_insert" tabindex="1"></textarea>
</form>
</div>

<div class='cell'>
<a id='embed_insert_submit' href="javascript:void(0)" class="label label-info" tabindex="1" title="Submit entry">Embed</a>
</div>
</div>



<div class='cell clear divider'>
<a id='insert_rubric_link' href="javascript:void(0)" class="label label-info" tabindex="1" title="Insert Grading Rubric">Insert Grading Rubric</a>
</div>
#}
</div> <!--End docMarkup-->

<div class="tab-pane fade" id="docFeedback">
Feedback goes here.
</div> <!--End docFeedback-->

<div class="tab-pane fade" id="docInfo">
<h5>Author</h5>
{{ file.user.firstname }} {{ file.user.lastname }}
<h5>Document Name</h5>
{{ file.name }}
{% if file.access==1 %} <span class="label label-success margin-left">Shared</span>
{% elseif file.access==0 %}<span class="label label-success margin-left">Private</span>
{% endif %}
<h5>Project</h5>
{% if file.project.name %}{{ file.project.name }}{% endif%}
<h5>Created:</h5>
{{ file.created|date('M d Y, g:i a') }}</td>
<h5>Updated:</h5>
{{ file.updated|date('M d Y, g:i a') }}
<h5>Labels</h5>
{% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}
</div> <!--End docInfo-->

</div>