{# Marca/DocBundle/Resources/views/Doc/edit.html.twig #}

{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_styles.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_tools.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#marca_docbundle_doctype_body').ckeditor( function() {}, {removePlugins: 'elementspath', extraPlugins:'autogrow', autoGrow_maxHeight : 700, skin: 'BootstrapCK-Skin',forcePasteAsPlainText : true, stylesSet:'marca_styles',contentsCss:'{{ asset('bundles/marcahome/css/ckeditor41.css') }}', 
toolbar : [
['Styles','Bold','Italic','Underline','Strike','Font','FontSize','JustifyLeft','JustifyCenter','JustifyRight','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat']
],} );
$('#backup_alert').toggle();

var editor = $('#marca_docbundle_doctype_body').ckeditorGet();

var intervalID = setInterval(function(){var buffer = editor.checkDirty(); if (buffer==1) {editor.resetDirty(); $.post("{{ course_path('doc_ajax', { 'id': doc.id }) }}", {test:$('#marca_docbundle_doctype_body').val()}, function(data){
    alert(data.test)});$('#backup_alert').fadeIn();$('#backup_alert').delay(2000).fadeOut();}}, 5000);
});
</script>


<h3 class='inline'>{{file.name}}</h3>  
<span id='backup_alert' class='alert alert-info margin-left'>Backing up work</span>

<form id="doc_form" class="fixed-height" action="{{ course_path('doc_update', { 'id': doc.id,'view': app.request.get('view') }) }}" method="post" {{ form_enctype(edit_form) }}>
<div class="span8 margin-top">         

    {{ form_errors(edit_form) }}
    {{ form_errors(edit_form.body) }}
    {{ form_widget(edit_form.body) }}
    {{ form_rest(edit_form) }}    

</div>

<div class="span3 well" style='margin-top:-3em'>
    Updated {{doc.updated|date('M d Y,   g:i a')}}<hr/>
    <input class="btn btn-primary btn-small" type="submit" id="doc_save" value="Save"/>
    <a class="btn btn-small" href="{{ course_path('doc_show', { 'id': doc.id, 'view': app.request.get('view') }) }}">Cancel</a>
</div>
        
<div class="span3 well">  
{%include 'MarcaDocBundle:Doc:doctools.html.twig' %}
</div>         
        
</form>      

{% endblock %}
