{# Marca/DocBundle/Resources/views/Doc/edit.html.twig #}

{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/marcahome/ckeditor/ckeditor_tools.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/jquery.checknet-1.6.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function()
        {
            $.fn.checknet();
            checknet.config.checkInterval = 15000;
            checknet.config.warnMsg = 'No internet connection detected.  Please restore your connection before you continue working.';

            var editorheight = $(document).height() * .82;
            $('#saving_alert').toggle();
            $('#doctools').css('height', function(index) {
                return $(window).height() * .82;
            });
            var editor = CKEDITOR.instances.marca_docbundle_doctype_body;
            var autoSave = setInterval(function(){var buffer = editor.checkDirty(); if (buffer==1) {editor.resetDirty(); var body =  editor.getData();$.post("{{ course_path('doc_ajax', { 'id': doc.id }) }}", {docBody:body}, function(data){});$('#saving_alert').fadeIn();$('#saving_alert').delay(2000).fadeOut();}}, 15000);
            $(function(){
                var rubric = CKEDITOR.dom.element.createFromHtml('<div class="eDoc_rubric"><hr/>{% spaceless %}{% for page in pages %}{{ page.body|raw }}{% endfor %}{% endspaceless %}</div>');
                $('#insert_rubric').click(function(){
                    editor.insertElement( rubric );
                });
            });
            editor.on('instanceReady', function(){ editor.resize('72%',editorheight);});
            {% if not file.reviewed %}
            $('#doc-edit').toggleClass('col-md-12');$('#doctools').toggleClass('hide');
            {% endif %}
            $('#toggle-tools').click(function(){
                $('#doc-edit').toggleClass('col-md-12');$('#doctools').toggleClass('hide');
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-md-12 center">
        <form id="doc_form" class="" action="{{ course_path('doc_update', { 'id': doc.id,'view': app.request.get('view') }) }}" method="post" {{ form_enctype(edit_form) }}>

            <a name="skip"></a>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="doc-header">{{file.name}}</h1>
                    <div class="pull-right">
                    <span id='saving_alert' class='alert alert-info'>Saving</span>
                    <div class="btn-group">
                        <a id="toggle-tools" class="btn btn-default btn-sm" href="javascript:void(0);">Doc Tools</a>
                        <input class="btn btn-primary btn-sm" type="submit" id="doc_save" value="Save and Close"/>
                    </div>

                    </div>
                </div>

            <div class="panel-body ">

                <div id='doc-edit' class="col-md-8">
                    {{ form_errors(edit_form) }}
                    {{ form_errors(edit_form.body) }}
                    {{ form_widget(edit_form.body) }}
                    {{ form_rest(edit_form) }}
                </div>

                {# Doc tools #}
                <div id='doctools' class="col-md-4">

                    {%include 'MarcaDocBundle:Doc:doctools.html.twig' %}

                </div>
            </div>
        </form>
    </div>

{% endblock %}
