{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_styles.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_tools.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#marca_docbundle_doctype_body').ckeditor( function() {}, {removePlugins : 'resize',extraPlugins:'autosave,autogrow',autosaveTargetUrl:'/marca/web/autosave.php', skin: 'BootstrapCK-Skin',forcePasteAsPlainText : true, stylesSet:'marca_styles',contentsCss:'/marca/web/bundles/marcahome/css/ckeditor41.css', 
toolbar : [
['Save','Preview','-', 'Autosave','Print','Templates','Undo','Redo','Find','Replace','SelectAll','RemoveFormat'],
['Bold','Italic','Underline','Strike','Subscript','Superscript','NumberedLst','BulletedList','Outdent','Indent','Blockquote'],
['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','Link','Unlink','Image','Table','HorizontalRule','Smiley','SpecialChar'],
['Styles','Format','Font','FontSize','TextColor','BGColor','Maximize', 'ShowBlocks','About']
],} );
});
</script>


<form action="{{ course_path('doc_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
 
<div class="row pad-left">
    <input class="btn btn-primary btn-small" type="submit" value="Save"/>
    <a class="btn btn-primary btn-small" href="{{ course_path('doc_show', { 'id': entity.id }) }}">Cancel</a>
</div>

<div class="row">
<div class="span9">         
<div>
    {{ form_errors(edit_form) }}
    {{ form_errors(edit_form.body) }}
    {{ form_widget(edit_form.body) }}
    {{ form_rest(edit_form) }}    
</div>
</div>
<div class="span3" style="position:fixed;left:960px;">
{%include 'MarcaDocBundle:Doc:doctools.html.twig' %}
</div>    
</div>        
</div> 
    
       
</form>


        

{% endblock %}
