{# Marca/DocBundle/Resources/views/Doc/edit.html.twig #}

{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/marcahome/ckeditor/ckeditor_tools.js') }}"></script>

    <script language="javascript">
        $(document).ready(function()
        {
            var editorheight = $(document).height() * .88;
            $('#saving_alert').toggle();
            $('#doctools').css('height', function(index) {
                return $(window).height() * .88;
            });
            var editor = CKEDITOR.instances.marca_docbundle_doctype_body;
            var autoSave = setInterval(function(){var buffer = editor.checkDirty(); if (buffer==1) {editor.resetDirty(); var body =  editor.getData();$.post("{{ course_path('doc_ajax', { 'id': doc.id }) }}", {docBody:body}, function(data){});$('#saving_alert').fadeIn();$('#saving_alert').delay(2000).fadeOut();}}, 15000);
            $(function(){
                var rubric = CKEDITOR.dom.element.createFromHtml('<div class="eDoc_rubric"><hr/>{% spaceless %}{% for page in pages %}{{ page.body|raw }}{% endfor %}{% endspaceless %}</div>');
                $('#insert_rubric').click(function(){
                    editor.insertElement( rubric );
                });
            });
            editor.on('instanceReady', function(){ editor.resize('72%',editorheight);});
            $('#toggle-tools').click(function(){
            $('#doctools').toggleClass('hide');$('#doc-edit').toggleClass('col-sm-12');
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-12 center">
        <form id="doc_form" class="" action="{{ course_path('doc_update', { 'id': doc.id,'view': app.request.get('view') }) }}" method="post" {{ form_enctype(edit_form) }}>

            {# Doc nav #}
            <nav class="navbar  navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header col-sm-2 col-sm-2">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a name="top"></a>
                    <h2 style="margin-top:11px;"><a href="#" style="color:white;" title="{{file.name}}">{{file.name}}</a></h2>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li><span id='saving_alert' class='alert alert-info'>Saving</span></li>
                        <li><a id="toggle-tools" class="" href="javascript:void(0);">Doc Tools</a></li>
                        <li><input class="btn btn-default" type="submit" id="doc_save" value="Save and Close"/></li>

                    </ul>
                </div>
            </nav>

                <div class="col-sm-11 center">
                <div id='doc-edit' class="col-sm-8">
                    {{ form_errors(edit_form) }}
                    {{ form_errors(edit_form.body) }}
                    {{ form_widget(edit_form.body) }}
                    {{ form_rest(edit_form) }}
                </div>

                {# Doc tools #}
                <div id='doctools' class="col-sm-4">

                    {%include 'MarcaDocBundle:Doc:doctools.html.twig' %}

                </div>
                </div>
        </form>
    </div>

{% endblock %}
