{# Marca/DocBundle/Resources/views/Doc/edit.html.twig #}

{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}

{% endblock %}

{% block content %}
    <div class="col-sm-12 center">

        {# Doc Nav #}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header col-sm-0">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="javascript:void(0);" title="Edit {{ file.name }}">
                            <span>{{ file.name }} </span>
                            <span class="small">by me</span>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" style="padding-right: 25px">
                        {% if submission %}
                            <li><a href="{{ course_path('submission_save', {'id':submission.id }) }}">Save Progress Without Submitting</a></li>
                            <li><a href="{{ course_path('assignment_submit', {'id':submission.id }) }}">Submit Assignment</a></li>
                        {% elseif file.submissionReviewed %}
                            <li><a href="{{ course_path('doc_save', {'id':file.id ,'view': view }) }}" class="" id="doc_save">Save Without Releasing</a></li>
                            <li><a>Release Review to Student</a></li>
                        {% else %}
                            <li><a href="{{ course_path('doc_save', {'id':file.id ,'view': view }) }}" class="" id="doc_save">Save and Preview</a></li>
                        {% endif %}

                </ul>
            </div>
        </nav>


        <div class="col-sm-11 center">
                <div class="col-sm-12 center">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div id="notice" class="col-sm-12 alert alert-info">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    <div class="col-sm-11">
                        <iframe name='embed_readwrite' src='{{ etherpad_url }}/p/{{ etherpad_doc }}?showControls=true&showChat=true&useMonospaceFont=false' width="100%" height="600px"></iframe>
                    </div>

                    {# Doc tools #}
                    <div id='doc-tools' class="col-sm-4" style="margin-top: 15px;">

                    </div>

                </div>
        </div>
    </div>

{% endblock %}