{# Marca/DocBundle/Resources/views/Doc/edit.html.twig #}

{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_styles.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_tools.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{   
var winheight = $(document).height() * .75;
$('#marca_docbundle_doctype_body').ckeditor( function() {}, {removePlugins: 'elementspath, autogrow', height: winheight, stylesSet:'marca_styles',contentsCss:'{{ asset('bundles/marcahome/css/ckeditor41.css') }}', 
toolbar : [
['Styles','Bold','Italic','Underline','Strike','Font','FontSize','JustifyLeft','JustifyCenter','JustifyRight','TextColor','BGColor','Link','Unlink','NumberedList','BulletedList','Outdent','Indent','RemoveFormat'],
['Image','oembed','SpecialChar']
],} );
$('#backup_alert').toggle();

var editor = $('#marca_docbundle_doctype_body').ckeditorGet();
editor.resize( '50%', $(document).height(), true );

var intervalID = setInterval(function(){var buffer = editor.checkDirty(); if (buffer==1) {editor.resetDirty(); $.post("{{ course_path('doc_ajax', { 'id': doc.id }) }}", {test:$('#marca_docbundle_doctype_body').val()}, function(data){
    alert(data.test)});$('#backup_alert').fadeIn();$('#backup_alert').delay(2000).fadeOut();}}, 5000);
});
</script>

<div class="span12 center" style='margin-top:-2em'>
<form id="doc_form" class="" action="{{ course_path('doc_update', { 'id': doc.id,'view': app.request.get('view') }) }}" method="post" {{ form_enctype(edit_form) }}>

<div class="span8">
    <h3  class='inline'>{{file.name}}</h3>     
    <span class="pull-right">
    <span id='backup_alert' class='alert alert-info margin-left'>Backing up work</span>    
    <input class="btn btn-primary btn-small margin-left" type="submit" id="doc_save" value="Save"/>
    <a class="btn btn-small" href="{{ course_path('doc_show', { 'id': doc.id, 'view': app.request.get('view') }) }}">Cancel</a>
    </span>
</div>

<div id='doc-gui' class="span8 margin-top">         

    {{ form_errors(edit_form) }}
    {{ form_errors(edit_form.body) }}
    {{ form_widget(edit_form.body) }}
    {{ form_rest(edit_form) }}    

</div>
     
              
{# Doc tools #}        
<div class="span3" style=''>         
<div id='doctools' class="span3 well" style='position:fixed;'>  
<div  class='cell clear' style='width: 99%'>
{%include 'MarcaDocBundle:Doc:doctools.html.twig' %}
</div> 
</div>
</div>
    
        
</form>      
</div>
{% endblock %}
