{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#marca_docbundle_doctype_body').ckeditor( function() {}, {height:600, skin: 'BootstrapCK-Skin',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
});
</script>
<div class="row-fluid">
<div class="span10"> 
<form action="{{ course_path('doc_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

<div>
    {{ form_errors(form.body) }}
    {{ form_widget(form.body) }}
</div>

    {{ form_rest(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>
</div>
{% endblock %}
