{# Marca/DocBundle/Resources/views/Doc/new.html.twig #}

{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_styles.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_tools.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#marca_docbundle_doctype_body').ckeditor( function() {}, {skin: 'BootstrapCK-Skin',forcePasteAsPlainText : true, stylesSet:'marca_styles',contentsCss:'{{ asset('bundles/marcahome/css/ckeditor41.css') }}', 
toolbar : [
['Save','Preview','-', 'Autosave','Print','Templates','Undo','Redo','Find','Replace','SelectAll','RemoveFormat'],
['Bold','Italic','Underline','Strike','Subscript','Superscript','NumberedLst','BulletedList','Outdent','Indent','Blockquote'],
['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','Link','Unlink','Image','Table','HorizontalRule','Smiley','SpecialChar'],
['Styles','Format','Font','FontSize','TextColor','BGColor','Maximize', 'ShowBlocks','About']
],} );
});
</script>

<form action="{{ course_path('doc_create', {'resource': app.request.get('resource')}) }}" method="post" {{ form_enctype(form) }}>
<div class="span9">         
<div>
    {{ form_errors(form) }}
    {{ form_errors(form.body) }}
    {{ form_widget(form.body) }}
    {{ form_rest(form) }}    
</div>
</div>
<div class="span3" style="position:fixed;left:960px;">
<div class="row pad-left">
    <input class="btn btn-primary btn-small" type="submit" value="Save"/>
    <a class="btn btn-primary btn-small" href="{{ course_path('file_list', { 'project': 'recent', 'tag': 0, 'scope': 'mine', 'resource': app.request.get('resource') }) }}">Cancel</a>
</div>    
{%include 'MarcaDocBundle:Doc:doctools.html.twig' %}
</div>         
</div>         
</form>  

{% endblock %}
