{# Marca/DocBundle/Resources/views/Doc/new.html.twig #}

{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_styles.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_tools.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#marca_docbundle_doctype_body').ckeditor( function() {}, {extraPlugins:'autogrow', autoGrow_maxHeight : 700, skin: 'BootstrapCK-Skin',forcePasteAsPlainText : true, stylesSet:'marca_styles',contentsCss:'{{ asset('bundles/marcahome/css/ckeditor41.css') }}', 
toolbar : [
['Undo','RemoveFormat','Bold','Italic','Underline','Strike','NumberedLst','BulletedList','Outdent','Indent','JustifyLeft','JustifyCenter','JustifyRight','Link','Unlink','Image','Table','Styles','FontSize','TextColor','BGColor']
],} );
$('#backup_alert').toggle();

var editor = $('#marca_docbundle_doctype_body').ckeditorGet();

var intervalID = setInterval(function(){var buffer = editor.checkDirty(); if (buffer==1) {editor.resetDirty(); $.post("{{ course_path('doc_ajax', { 'id': doc.id }) }}", {test:$('#marca_docbundle_doctype_body').val()}, function(data){
    alert(data.test)});$('#backup_alert').fadeIn();$('#backup_alert').delay(2000).fadeOut();}}, 5000);
});
</script>


<ul class="nav nav-tabs">
    <li><legend>New eDoc</legend></li>    
    <li class="nav-header"></li>
    <li></li>
</ul>

<form action="{{ course_path('doc_create', {'resource': app.request.get('resource')}) }}" method="post" {{ form_enctype(form) }}>
<div class="span8">         
<div>
    {{ form_errors(form) }}
    {{ form_errors(form.body) }}
    {{ form_widget(form.body) }}
    {{ form_rest(form) }}    
</div>
</div>
<div class="span3 well doc" style="">
<div class="cell clear divider">
    <input class="btn btn-primary btn-small" type="submit" id="doc_save" value="Save"/>
    <a class="btn btn-small" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'resource': '0', 'tag': '0' }) }}">Cancel</a>
</div>      
{%include 'MarcaDocBundle:Doc:doctools.html.twig' %}
</div>         
</div>         
</form>  

{% endblock %}
