{# Marca/DocBundle/Resources/views/Doc/pdf.html.twig #}
{% if ip != '::1' %}
<html>
<head>   
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/bootstrap.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/bootstrap-responsive.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/local.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/external.css') }}">
<style>
body {background: #fff }
.doc-body {margin:0em;height:100%;width:100%;}
</style>
</head> 
{# Doc display #}
<div class="row margin-top clear">
<div class="col-md-8 pad">
<div class="doc-body">
{{ doc.body|raw }}     
</div>           
</div>       
</div> 
   
</html>
{%endif%}
