{# Marca/DocBundle/Resources/views/Doc/show.html.twig #}

{% extends app.request.xmlHttpRequest
? '::ajax.html.twig'
: 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $('.eDoc_highlight').each(function (index) {
                var span_number = index + 1;
                var span_append = '<span class="eDoc_super">' + span_number + '</span>';
                $(this).append(span_append);
            });
            $('.eDoc_super').toggle();
            $('[title]').each(function () {
                var $this = $(this);
                $this.data('title', $this.attr('title'));
                $this.removeAttr('title');
            });
            $('#close_window').click(function () {
                window.close();
            });
            $('#new_rubricreview').click(function () {
                $('#doc_modal').load('{{ course_path('selectrubric', { 'fileid': file.id }) }}').modal();
                $('#reviews_container').slideDown();
            });
            {# Parent file #}
            $('#review_{{ parent_file.id }}').click(function () {
                {% if parent_file.doc %}
                $('#file-container').load('{{ course_path('doc_show_ajax', { 'id': parent_file.id}) }}');
                {% elseif parent_file.ext == 'odt' or parent_file.ext == 'ods' or parent_file.ext == 'odp' or parent_file.ext == 'pdf' %}
                $('#file-container').load('{{ course_path('file_view_ajax', { 'id': parent_file.id}) }}');
                {% elseif parent_file.url %}
                var win = window.open("{{ parent_file.url}}");
                {% else %}
                var win = window.open("{{ course_path('file_get', { 'id': parent_file.id}) }}");
                {% endif %}

                $('.document').removeClass('active');
                $(this).addClass('active');
                $('.review_nav').hide();
                $('#parent_nav').fadeIn();
                $('.collapse').collapse('hide');
                $('#loading').fadeIn();
            });

            {# Review files/docs #}
            {% for review in parent_file.reviews%}
            {% if review.id == app.request.get('id') %}$('#parent_nav').hide();
            $('#review_nav_{{ review.id }}').fadeIn();
            {% endif %}
            $('#review_{{ review.id }}').click(function () {
                {% if review.doc %}
                $('#file-container').load('{{ course_path('doc_show_ajax', { 'id': review.id}) }}');
                {% elseif review.ext == 'odt' or review.ext == 'ods' or review.ext == 'odp' or review.ext == 'pdf' %}
                $('#file-container').load('{{ course_path('file_view_ajax', { 'id': review.id}) }}');
                {% elseif parent_file.url %}
                var win = window.open("{{ review.url}}");
                {% else %}
                var win = window.open("{{ course_path('file_get', { 'id': review.id}) }}");
                {% endif %}

                $('.document').removeClass('active');
                $(this).addClass('active');
                $('#parent_nav').hide();
                $('.review_nav').hide();
                $('#review_nav_{{ review.id }}').fadeIn();
                $('.collapse').collapse('hide');
                $('#loading').fadeIn();
            });
            {% endfor %}
            {# Notes #}
            $("#notes").click(function () {
                $('#inline-toggle').text(($('#inline-toggle').text() == 'Inline' ? 'Marginal' : 'Inline'));
                $('.eDoc_note').toggle();
                $('.eDoc_super').toggle();
            });
            {% if file.project.resource == 'true' %}
            $('#notes, #feedback').hide();
            {% endif %}
            {% include 'MarcaDocBundle:Doc:js.html.twig' %}
        });
    </script>



{% endblock %}

{% block content %}
    {# Doc display #}
    <div class="col-sm-12 center" style="margin-top: -70px">
        <div id="loading" class="col-sm-offset-3 col-sm-1 alert alert-info"
             style="position:absolute;z-index: 1000;text-align: center">Loading
        </div>
        <a id="main_content"></a>

        {# Ajax fragment  #}
        {% block ajax %}
            <script language="javascript">
                $(document).ready(function () {
                    {% if file.project.resource and role==2 %}{% set resource=1 %}{% else %}{% set resource=0 %}{% endif %}
                    $('#new_saveas').click(function () {
                        $('#doc_modal').load('{{ course_path('file_new_modal', { 'resource' : resource, 'tag' : '0', 'type': 'saveas', 'fileid': file.id }) }}').modal();
                    });
                    var txt = $('.doc-body').text();
                    var count = txt.trim().replace(/\s+/gi, ' ').split(' ').length;
                    $("#word-count").text(count);
                    $('#doc-display').css('height', function () {
                        return $(window).height() * .96;
                    });
                    $('#doc-tools').css('height', function () {
                        return $(window).height() * .98;
                    });
                    $('iframe').css('height', function () {
                        return $(window).height() * .98;
                    });
                    $('.popover').hide();
                    $('.markup').mouseover(function () {
                        var id = "div[data-id='" + $(this).attr('data-id') + "']";
                        var offset = $(this).offset();
                        $('.popover').hide();
                        $(id).show().offset({ top: offset.top - 30, left: offset.left + 80});
                    });
                    $('.popover-close, #doc-display').click(function () {
                        $('.popover').hide();
                    });
                    $('#notes_container').empty();
                    var numNotes = $('.eDoc_note').length;
                    if (numNotes > 0) {
                        $('.eDoc_note').each(function (index) {
                            var note_index = index + 1;
                            var note_number = '<span class="blue">' + note_index + '</span>';
                            var note = '<div>' + note_number + $(this).html() + '</div>';
                            $('#notes_container').append(note);
                        });
                    }
                    else {
                        var note = '<div class="cell divider clear">There are no notes in this document.</div>';
                        $('#notes_container').append(note);
                    }
                    ;
                    $('.eDoc_highlight').each(function (index) {
                        var span_number = index + 1;
                        var span_append = '<span class="eDoc_super">' + span_number + '</span>';
                        $(this).append(span_append);
                    });
                    $('.eDoc_super').toggle();
                    $('#inline-toggle').text('Inline');
                    $('.collapse').collapse('hide');
                    $('#loading').fadeOut();
                });
            </script>

            {# Document display or File Viewer #}
            <div id='file-container'>
                {% if app.request.get('_route') == 'file_view' or app.request.get('_route') == 'file_view_ajax' %}
                    <iframe class="col-sm-8" id="viewer"
                            src="{{ asset('bundles/marcahome/Viewer.js/index.html') }}#{{ course_path('file_get', { 'id': file.id }) }}/{{ file.name }}.{{ file.ext }}"
                            allowfullscreen="true" webkitallowfullscreen="true"></iframe>
                {% else %}
                    <div id="doc-container" class="col-sm-8">
                        <div id='doc-display' class="col-sm-12 well">
                            <div id='doc-body' class="doc-body">
                                {{ doc.body|raw }}
                            </div>
                        </div>
                        <div class="doc-footer col-sm-12"><span class="pull-right">Words: <span id="word-count"></span></span>
                        </div>
                    </div>
                {% endif %}
            </div>

            {# Markup pops for this document #}
            {% for markup in markup %}
                <div data-id='{{ markup.id }}' id='{{ markup.value }}' class='popover left'>
                    <button type="button" class="close popover-close" data-dismiss="popover"
                            aria-hidden="true">&times;</button>
                    <div class="popover-title">
                        <span class="pull-left color-flag" style="background: {{ markup.color }};">&#183;</span>
                        {{ markup.name }}</div>
                    <div class="popover-content">
                        {{ markup.mouseover|raw }}
                        {% if markup.url != '' or markup.url is not null %}<a href="{{ markup.url }}"
                                                                              target="_blank">{{ markup.linktext }}</a>{% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endblock %}

        {# Doc tools #}
        <div id='doc-tools' class="col-sm-4">
            {% include 'MarcaDocBundle:Doc:doctools.html.twig' %}
        </div>

    </div>

    {# Modal #}
    <div class="modal fade" id="doc_modal" role="dialog">
    </div>
{% endblock %}
