{# Marca/DocBundle/Resources/views/Doc/show.html.twig #}

{% extends app.request.xmlHttpRequest
? '::ajax.html.twig'
: 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            $('.eDoc_highlight').each(function (index) {
                var span_number = index + 1;
                var span_append = '<span class="eDoc_super">' + span_number + '</span>';
                $(this).append(span_append);
            });
            $('.eDoc_super').toggle();
            $('[title]').each(function () {
                var $this = $(this);
                $this.data('title', $this.attr('title'));
                $this.removeAttr('title');
            });
            $('#close_window').click(function () {
                window.close();
            });
            $('#new_rubricreview').click(function () {
                $('#doc_modal').load('{{ course_path('selectrubric', { 'fileid': file.id }) }}').modal();
                $('#reviews_container').slideDown();
            });
            {# Parent file #}
            $('#review_{{ parent_file.id }}').click(function () {
                {% if parent_file.doc %}
                $('#file-container').load('{{ course_path('doc_show_ajax', { 'id': parent_file.id}) }}');
                {% elseif parent_file.ext == 'odt' or parent_file.ext == 'ods' or parent_file.ext == 'odp' or parent_file.ext == 'pdf' %}
                $('#file-container').load('{{ course_path('file_view_ajax', { 'id': parent_file.id}) }}');
                {% elseif parent_file.url %}
                var win = window.open("{{ parent_file.url}}");
                {% else %}
                var win = window.open("{{ course_path('file_get', { 'id': parent_file.id}) }}");
                {% endif %}

                $('.document').removeClass('active');
                $(this).addClass('active');
                $('.review_nav').hide();
                $('#parent_nav').fadeIn();
                $('.collapse').collapse('hide');
                $('#loading').fadeIn();
            });

            {# Review files/docs #}
            {% for review in parent_file.reviews%}
            {% if review.id == app.request.get('id') %}$('#parent_nav').hide();
            $('#review_nav_{{ review.id }}').fadeIn();
            {% endif %}
            $('#review_{{ review.id }}').click(function () {
                {% if review.doc %}
                $('#file-container').load('{{ course_path('doc_show_ajax', { 'id': review.id}) }}');
                {% elseif review.ext == 'odt' or review.ext == 'ods' or review.ext == 'odp' or review.ext == 'pdf' %}
                $('#file-container').load('{{ course_path('file_view_ajax', { 'id': review.id}) }}');
                {% elseif parent_file.url %}
                var win = window.open("{{ review.url}}");
                {% else %}
                var win = window.open("{{ course_path('file_get', { 'id': review.id}) }}");
                {% endif %}

                $('.document').removeClass('active');
                $(this).addClass('active');
                $('#parent_nav').hide();
                $('.review_nav').hide();
                $('#review_nav_{{ review.id }}').fadeIn();
                $('.collapse').collapse('hide');
                $('#loading').fadeIn();
            });
            {% endfor %}

            {# Review feedback #}
            {% for review in reviews %}
            $('#review_{{ review.id }}').click(function () {
                $('#loading-feedback').fadeIn();
                $('#review_container').load('{{ course_path('review_show_ajax', { 'id': review.id }) }}').show();
                $('.question').removeClass('active');
                $(this).addClass('active');
            });
            {% endfor %}
            $('.review_nav,#loading, #loading-feedback').hide();
            $('#review_container').toggle();
            $('#toggle_docs').click(function () {
                if ($('#doc_container').is(':hidden')) {
                    $('#doc_container').slideDown();
                } else {
                    $('#doc_container').slideUp();
                }
            });
            $('#expand').click(function () {
                $('#feedback').toggleClass("expand_feedback");
                $('#doc-display').toggleClass("col-sm-6");
                $('#glyph_expand').toggleClass("glyphicon-resize-small");
            });
            $("#notes").click(function(){
                $('#inline-toggle').text(($('#inline-toggle').text() == 'Inline' ? 'Marginal' : 'Inline'));
                $('.eDoc_note').toggle();$('.eDoc_super').toggle();
            });
            {% if file.project.resource == 'true' %}
            $('#notes, #feedback').hide();
            {% endif %}
        });
    </script>
{% endblock %}

{% block content %}
    {# Doc display #}
    <div class="col-sm-12 center" style="margin-top: -70px">
    <div id="loading" class="col-sm-offset-3 col-sm-1 alert alert-info"
         style="position:absolute;z-index: 1000;text-align: center">Loading
    </div>
    <a id="main_content"></a>

    {# Ajax fragment  #}
    {% block ajax %}
        <script language="javascript">
            $(document).ready(function () {
                {% if file.project.resource and role==2 %}{% set resource=1 %}{% else %}{% set resource=0 %}{% endif %}
                $('#new_saveas').click(function () {
                    $('#doc_modal').load('{{ course_path('file_new_modal', { 'resource' : resource, 'tag' : '0', 'type': 'saveas', 'fileid': file.id }) }}').modal();
                });
                var txt = $('.doc-body').text();
                var count = txt.trim().replace(/\s+/gi, ' ').split(' ').length;
                $("#word-count").text(count);
                $('#doc-display').css('height', function () {
                    return $(window).height() * .98;
                });
                $('#doctools').css('height', function () {
                    return $(window).height() * .98;
                });
                $('iframe').css('height', function () {
                    return $(window).height() * .98;
                });
                $('.popover').hide();
                $('.markup').mouseover(function () {
                    var id = "div[data-id='" + $(this).attr('data-id') + "']";
                    var offset = $(this).offset();
                    $('.popover').hide();
                    $(id).show().offset({ top: offset.top - 30, left: offset.left + 80});
                });
                $('.popover-close, #doc-display').click(function () {
                    $('.popover').hide();
                });
                $('#notes_container').empty();
                var numNotes = $('.eDoc_note').length;
                if (numNotes > 0) {
                    $('.eDoc_note').each(function (index) {
                        var note_index = index + 1;
                        var note_number = '<span class="blue">' + note_index + '</span>';
                        var note = '<div>' + note_number + $(this).html() + '</div>';
                        $('#notes_container').append(note);
                    });
                }
                else {
                    var note = '<div class="cell divider clear">There are no notes in this document.</div>';
                    $('#notes_container').append(note);
                };
                $('.eDoc_highlight').each(function (index) {
                    var span_number = index + 1;
                    var span_append = '<span class="eDoc_super">' + span_number + '</span>';
                    $(this).append(span_append);
                });
                $('.eDoc_super').toggle();
                $('#inline-toggle').text('Inline');
                $('.collapse').collapse('hide');
                $('#loading').fadeOut();
            });
        </script>
        <div id='file-container'>
            {% if app.request.get('_route') == 'file_view' or app.request.get('_route') == 'file_view_ajax' %}
                <iframe class="col-sm-8" id="viewer"
                        src="{{ asset('bundles/marcahome/Viewer.js/index.html') }}#{{ course_path('file_get', { 'id': file.id }) }}/{{ file.name }}.{{ file.ext }}"
                        allowfullscreen="true" webkitallowfullscreen="true"></iframe>
            {% else %}
                <div id='doc-display' class="col-sm-8 well">
                    <div id='doc-body' class="doc-body">
                        {{ doc.body|raw }}
                    </div>
                </div>
            {% endif %}
        </div>

        {# Markup #}
        {% for markup in markup %}
            <div data-id='{{ markup.id }}' id='{{ markup.value }}' class='popover left'>
                <button type="button" class="close popover-close" data-dismiss="popover"
                        aria-hidden="true">&times;</button>
                <div class="popover-title">
                    <span class="pull-left color-flag" style="background: {{ markup.color }};">&#183;</span>
                    {{ markup.name }}</div>
                <div class="popover-content">
                    {{ markup.mouseover|raw }}
                    {% if markup.url != '' or markup.url is not null %}<a href="{{ markup.url }}"
                                                                          target="_blank">{{ markup.linktext }}</a>{% endif %}
                </div>
            </div>
        {% endfor %}
    {% endblock %}


    {# Doc tools #}
    <div id="doctools" class="col-sm-4">


        {# File/Doc nav #}
        <div class="clearfix">
            {# Parent nav #}
            <div id='parent_nav' class="btn-group">
                {% if  parent_file.doc and parent_file.isOwner(app.user.username) %}
                    <a title="Edit this document" class="btn btn-default"
                       href="{{ course_path('doc_edit', { 'id': parent_file.id,'view': app.request.get('view') }) }}">Edit</a>
                {% endif %}
                {# Don't show Review button if it is a review or a Resource #}
                {% if parent_file.doc and parent_file.reviewed|length == 0 and parent_file.project.resource != 'true' %}
                    <a title="Create a copy of this document for peer review" id="new_review"
                       class="btn btn-default"
                       href="{{ course_path('file_new_modal', { 'resource' : '0', 'tag' : '3', 'type': 'review', 'fileid': file.id }) }}">Create
                        Review</a>
                {% endif %}

                {# conditional to SaveAs project for students and Saveas Resource for instructors #}
                {% if (parent_file.doc and parent_file.isOwner(app.user.username) and file.project.resource != 'true') or (parent_file.doc and parent_file.isOwner(app.user.username) and file.project.resource == 'true'  and local_resource) or (not parent_file.isOwner(app.user.username) and parent_file.doc and file.project.resource == 'true') %}
                    <a title="Create a copy of this document" id="new_saveas" class="btn btn-default"
                       href="javascript:void(0)">SaveAs</a>
                {% endif %}
                {% if parent_file.doc %}
                    <a title="Print this document" class="btn btn-default"
                       href="{{ course_path('doc_pdf', { 'id': parent_file.doc.id }) }}">Printable PDF</a>
                {% elseif parent_file.ext == 'odt' or parent_file.ext == 'ods' or parent_file.ext == 'odp' or parent_file.ext == 'pdf' %}
                    <a title="Download this document" class="btn btn-default"
                       href="{{ course_path('file_get', { 'id': parent_file.id }) }}">Download</a>
                {% endif %}
            </div>

            {# Review docs nav #}
            {% for review in parent_file.reviews %}
                <div id="review_nav_{{ review.id }}" class="btn-group review_nav clearfix">
                    {% if review.doc and review.doc.isOwner(app.user.username) %}
                        <a title="Edit this document" class="btn btn-default"
                           href="{{ course_path('doc_edit', { 'id': review.id,'view': app.request.get('view') }) }}">Edit</a>
                        <a title="Print this document" class="btn btn-default"
                           href="{{ course_path('doc_pdf', { 'id': review.doc.id }) }}">Printable PDF</a>
                    {% elseif review.ext == 'odt' or review.ext == 'ods' or review.ext == 'odp' or review.ext == 'pdf' %}
                        <a title="Download this document" class="btn btn-default"
                           href="{{ course_path('file_get', { 'id': review.id }) }}">Download</a>
                    {% endif %}
                </div>
            {% endfor %}


            {% if app.request.get('view') == 'window' %}
                <a title="Close the current window or tab" id="close_window" class="btn btn-default pull-right"
                   href="javascript:void(0);">Close</a>
            {% elseif file.project.resource == 'true' %}
                {% if app.session.get('resource_referrer') %}
                    <a title="Close this document" class="btn btn-default pull-right"
                       href="{{ app.session.get('resource_referrer') }} ">Close</a>
                {% else %}
                    <a title="Close this document" class="btn btn-default pull-right"
                       href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0','resource': '1', 'tag': '0', 'userid': '0' }) }}">Close</a>
                {% endif %}
            {% else %}
                {% if app.session.get('referrer') %}
                    <a title="Close this document" class="btn btn-default pull-right"
                       href="{{ app.session.get('referrer') }} ">Close</a>
                {% else %}
                    <a title="Close this document" class="btn btn-default pull-right"
                       href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'user': '0', 'resource': '0', 'tag': '0', 'userid': '0' }) }}">Close</a>
                {% endif %}
            {% endif %}

        </div>

        {# Parent file listing #}
        <div class="list-group margin-top" style="margin-bottom: 0px;">
            <a class="list-group-item document {% if parent_file.id == app.request.get('id') %}active{% endif %}"
               id="review_{{ parent_file.id }}" href="javascript:void(0);"
               title="View {{ parent_file.name }}">
                <span>{{ parent_file.name }} </span><br/>
                <span class="small">by {% if parent_file.isOwner(app.user.username) %}me{% else %}{{ parent_file.user.firstname }} {{ parent_file.user.lastname }}{% endif %}</span>
                <span class="small pull-right">
                    {% if parent_file.doc %}
                         {{ parent_file.doc.created|date('m/d/y, g:i a') }}{% if parent_file.doc.created != parent_file.doc.updated  %} / {{ parent_file.doc.updated|date('m/d/y, g:i a') }}{% endif %}
                    {% else %}
                         {{ parent_file.created|date('m/d/y, g:i a') }}{% if parent_file.created != parent_file.updated  %} / {{ parent_file.updated|date('m/d/y, g:i a') }}{% endif %}
                    {% endif %}
                 </span>
            </a>
        </div>

        {# Review listing #}
        <div id="doc_container" class="list-group">
            {% for review in parent_file.reviews %}
                {% if (parent_file.isOwner(app.user.username) and review.access!=2) or review.isOwner(app.user.username) or review.access==1 or role==2 %}
                    <a class="list-group-item document {% if review.id == app.request.get('id') %}active{% endif %}"
                       id="review_{{ review.id }}" href="javascript:void(0);"
                       title="View {{ review.name }}">
                        <span class="glyphicon glyphicon-comment" style="color:#888;" title="Review"></span>
                        Review<br/>
                        <span class="small">by {% if review.isOwner(app.user.username) %}me{% else %}{{ review.user.firstname }} {{ review.user.lastname }}{% endif %}</span>

                        <span class="small pull-right">
                                {% if review.doc %}
                                    {{ review.doc.created|date('m/d/y, g:i a') }}{% if review.doc.created != review.doc.updated  %} / {{ review.doc.updated|date('m/d/y, g:i a') }}{% endif %}
                                {% else %}
                                    {{ review.created|date('m/d/y, g:i a') }}{% if review.created != review.updated  %} / {{ review.updated|date('m/d/y, g:i a') }}{% endif %}
                                {% endif %}
                            </span>
                    </a>
                {% endif %}
            {% endfor %}


        </div>

        {# Notes Panel #}
        {% if app.request.get('_route') != 'file_view' %}
            <div id="notes" class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne"
                           data-toggle="tab">Comments <span id="inline-toggle">Inline</span>
                        </a>
                    </h2>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="docNotes">
                            <div id='notes_container'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {# Feedback Panel #}
        <div id="feedback">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <h2 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo">
                            Feedback ({{ reviews|length }})
                        </a>
                    </h2>
                    <div class="btn-group  pull-right">
                <span id="expand" title="Create a new review" class="btn btn-default btn-xs pull-right"
                      href="javascript:void(0);"><i id="glyph_expand"
                                                    class="glyphicon glyphicon-resize-full glyphicon-white"
                                                    style="margin-left: 0px;"></i></span>
                <span id="new_rubricreview" title="Create a new review" class="btn btn-default btn-xs pull-right"
                      href="javascript:void(0);">Add <i
                            class="glyphicon glyphicon-plus glyphicon-white"></i></span>
                    </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body margin-bottom" style="padding:0px;">
                        <div id="loading-feedback" class="alert alert-info small"
                             style="position:absolute;z-index: 1000;text-align: center">Loading
                        </div>
                        {# Reviews #}
                        {% for review in reviews %}
                            <a class="list-group-item question" id="review_{{ review.id }}" href="javascript:void(0);">
                                by {% if review.reviewer.username==app.user.username %}me{% else %}{{ review.reviewer.firstname }} {{ review.reviewer.lastname }}{% endif %}
                                <span class="pull-right"> {{ review.updated|date('m/d/y, g:i a') }}</span>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="" id="review_container">
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>

    {# end of Doc tools #}


    {# Modal #}
    <div class="modal fade" id="doc_modal" role="dialog">

    </div><!-- /.modal -->
{% endblock %}
