{# Marca/DocBundle/Resources/views/Doc/show.html.twig #}


{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block content %} 
<script language="javascript"> 
$(document).ready(function()
{
var numNotes = $('.eDoc_note').length;
if (numNotes > 0)
{$('.eDoc_note').each(function(index) { 
note_index = index + 1;
var note_number = '<span class="blue">' + note_index + '</span>';
var note = '<div class="cell divider clear">'+ note_number + $(this).html() + '</div>';
$('#notes_container').append(note); 
});
}
else
{var note = '<div class="cell divider clear">There are no notes in this document.</div>';
$('#notes_container').append(note); 
};
 
$('.eDoc_highlight').each(function(index) { 
var span_number = index + 1;
var span_append = '<span class="hide eDoc_super">' + span_number + '</span>';
$(this).append(span_append); 
});

{# display with title attr now deprecated #}
$('.markup').mouseover(function (){    
var name = '#' + $(this).attr('title');   
var id = "[data-id='" + $(this).attr('data-id') + "']"; 
$('.popover').hide();$(name).show();$(id).show();
});

$('.popover-close').click(function(){
$('.popover').hide();
});

$('#close_window').click(function(){
    window.close();
});

$('#new_review, #new_grade').click(function(){
  $('#file_modal').load('{{ course_path('file_new_modal', { 'resource' : '0', 'tag' : '3', 'type': 'review', 'fileid': file.id }) }}');
  $('#file_modal').modal();
});
$('#new_saveas').click(function(){
  $('#file_modal').load('{{ course_path('file_new_modal', { 'resource' : '0', 'tag' : '0', 'type': 'saveas', 'fileid': file.id }) }}');
  $('#file_modal').modal();
});
var string = $(".doc-body").text();
var count = string.split(" ");
$("#word-count").text(count.length);

});
</script>


<div class="span12 center">

<h3 class='inline'>{{file.name}}</h3>
<span class="margin-left">Word count: <span id="word-count"></span></span>
{# Created {{doc.created|date('M d Y, g:ia')}} / Updated {{doc.updated|date('M d Y, g:ia')}} / Word count: <span id="word-count"></span> #}
<span class="pull-right" style='margin-right:3em'>
<div class="btn-group">
{% if doc.isOwner(app.user.username) %}<a title="Edit this document" class="btn btn-primary btn-small" href="{{ course_path('doc_edit', { 'id': doc.id,'view': app.request.get('view') }) }}">Edit</a> {% endif %} 

{# Don't show Review button if it is a review #}
{% if file.reviewed|length == 0 %}
<a title="Create a copy of this document for peer review" id="new_review" class="btn btn-small" href="javascript:void(0)">Peer Review</a>
{% if role == 2 %}
<a title="Create a copy of this document for peer review" id="new_grade" class="btn btn-small" href="javascript:void(0)">Instructor Review</a>
{% endif %}
{% endif %}
{% if doc.isOwner(app.user.username) %}
<a title="Create a copy of this document" id="new_saveas" class="btn btn-small" href="javascript:void(0)">SaveAs</a>
{% endif %}
{#
<a title="Print this document" class="btn btn-small" href="{{ course_path('doc_pdf', { 'id': doc.id }) }}">Printable PDF</a>
#}


{% if app.request.get('view') == 'window' %}
<a title="Close the current window or tab" id="close_window"  class="btn btn-small" href="javascript:void(0);">Close</a>
{% elseif file.project.resource == 'true' %}
<a  title="Close this document" class="btn btn-small" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0','resource': '1', 'tag': '0', 'userid': '0' }) }}">Close</a>
{% else %}
<a title="Close this document" class="btn btn-small" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'user': '0', 'resource': '0', 'tag': '0', 'userid': '0' }) }}">Close</a>
{% endif %}
</div>
</span>

{# Doc display #}
<div class="row margin-top clear">
<div class="span8 well pad">          
<div class="doc-body">
{{ doc.body|raw }}     
</div>
               
</div>
 
{# Doc tools #}        
<div class="span3"> 
<div id='doctools' class="span3 well" style='position:fixed; margin-left: -1em; margin-top: -.1em;'>   
    
<div id="docTab">
<ul class="nav nav-tabs">
  <li class="active"><a href="#docFeedback" data-toggle="tab">Feedback</a></li>
  <li><a href="#docNotes" onclick="$('#notes_container').toggle();$('.eDoc_note').toggle();$('.eDoc_super').toggle();" data-toggle="tab">Notes</a></li>
</ul>    
    
<div id="docTabContent" class="tab-content">
<div class="tab-pane fade" id="docNotes"> 
<div id='notes_container' class=''>
</div> 
</div> 
        
<div class="tab-pane fade in active" id="docFeedback">
{# Responses #}
<a class="btn btn-primary btn-small" href="{{ course_path('response_new', { 'sourceid': doc.id, 'source': 'doc_show' ,'view': app.request.get('view') }) }}">Offer Feedback</a>  <hr/>      
{% for response in file.responses %}    
<div>
    <h5 class='inline'>{{ response.user.firstname}} {{ response.user.lastname}} says:</h5>
{% if response.isOwner(app.user.username) %}
<a class="btn btn-primary btn-mini pull-right" href="{{ course_path('response_edit', { 'id': response.id,'sourceid': doc.id, 'source': 'doc_show','view': app.request.get('view')  }) }}">Edit</a>
{% endif %}
<div class="divider">
{{ response.body|raw }} 
</div>               
</div> 
{% else %} No one has has offered feedback.       
{% endfor %} 

    
</div>       
</div>       
</div> 

</div>
</div>{# end of Doc tools #}


{# Markup #}
{% for markup in markup %}
<div data-id='{{ markup.id }}' id='{{ markup.value }}' class='popover hide'>
<button type="button" class="close popover-close" aria-hidden="true">×</button>
<span  class="label {{ markup.color }} " style='color:black;'>{{ markup.name }}</span>
<br/>
{{ markup.mouseover }}
{% if markup.url != '' or markup.url is not null %}<a href="{{ markup.url }}" target="_blank">{{ markup.linktext }}</a>{% endif %}<hr/>
</div>        
{% endfor %} 


{# Modal #}
<div id="file_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">  
</div>

</div> 


{% endblock %}
