{# Marca/DocBundle/Resources/views/Doc/show.html.twig #}


{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function () {
            var numNotes = $('.eDoc_note').length;
            if (numNotes > 0) {
                $('.eDoc_note').each(function (index) {
                    var note_index = index + 1;
                    var note_number = '<span class="blue">' + note_index + '</span>';
                    var note = '<div>' + note_number + $(this).html() + '</div>';
                    $('#notes_container').append(note);
                });
            }
            else {
                var note = '<div class="cell divider clear">There are no notes in this document.</div>';
                $('#notes_container').append(note);
            }

            $('.eDoc_highlight').each(function (index) {
                var span_number = index + 1;
                var span_append = '<span class="eDoc_super">' + span_number + '</span>';
                $(this).append(span_append);
            });
            $('.eDoc_super').toggle();

            $('[title]').each(function () {
                var $this = $(this);
                $this.data('title', $this.attr('title'));
                $this.removeAttr('title');
            });

            $('.markup').mouseover(function () {
                var id = "div[data-id='" + $(this).attr('data-id') + "']";
                var offset = $(this).offset();
                $('.popover').hide();
                $(id).show().offset({ top: offset.top - 30, left: offset.left + 80});
            });

            $('.popover-close, #doc-display').click(function () {
                $('.popover').hide();
            });

            $('#close_window').click(function () {
                window.close();
            });

            {% if file.project.resource %}{% set resource=1 %}{% else %}{% set resource=0 %}{% endif %}
            $('#new_saveas').click(function () {
                $('#doc_modal').load('{{ course_path('file_new_modal', { 'resource' : resource, 'tag' : '0', 'type': 'saveas', 'fileid': file.id }) }}').modal();
            });

            var txt = $('.doc-body').text();
            var count = txt.trim().replace(/\s+/gi, ' ').split(' ').length;
            $("#word-count").text(count);


            $('#doc-display').css('height', function () {
                return $(window).height() * .88;
            });

            $('#doctools').css('height', function () {
                return $(window).height() * .88;
            });

            $('iframe').css('height', function () {
                return $(window).height() * .88;
            });
            $('#new_rubricreview').click(function () {
                $('#doc_modal').load('{{ course_path('selectrubric', { 'fileid': file.id }) }}').modal();
            });
            $('#review_{{ file.id }}').click(function () {
                $('#doc-body').load('{{ course_path('doc_show_ajax', { 'id': file.id}) }}');
                $('.document').removeClass('active');
                $(this).addClass('active');
                $('#loading').fadeIn();
            });
            {% for review in file.reviews%}
            $('#review_{{ review.id }}').click(function () {
                $('#doc-body').load('{{ course_path('doc_show_ajax', { 'id': review.id}) }}');
                $('.document').removeClass('active');
                $(this).addClass('active');
                $('#loading').fadeIn();
            });
            {% endfor %}
            {% for review in reviews %}
            $('#review_{{ review.id }}').click(function () {
                $('#review_container').load('{{ course_path('review_show_ajax', { 'id': review.id }) }}').show();
                $('.question').removeClass('active');
                $(this).addClass('active');
                $('#doc_container').slideUp();
            });
            {% endfor %}
            $('#loading').fadeOut();
            $('#review_container').toggle();
            $('#toggle_docs').click(function () {
                if ( $('#doc_container').is(':hidden') ) {
                    $('#doc_container').slideDown();
                } else {
                    $('#doc_container').slideUp();
                }
            });
            $('#toggle_questions').click(function () {
                if ( $('#reviews_container').is(':hidden') ) {
                    $('#reviews_container').slideDown();
                } else {
                    $('#reviews_container').slideUp();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-12 center">
    <div id="loading" class="col-sm-offset-3 col-sm-1 alert alert-info"
         style="position:absolute;z-index: 1000;text-align: center">Loading
    </div>
    {# Doc nav #}
    <nav class="navbar  navbar-inverse navbar-fixed-top" role="navigation">
        <div class="col-sm-12 center">
            <div class="navbar-header col-sm-5">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a name="top"></a>

                <h2 style="margin-top:11px;color:white;"
                    title="{{ file.name }}">{{ file.name|slice(0, 20) }}{% if file.name|length > 19 %}...{% endif %}</h2>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li id="skip"><a href="#main_content">Skip Navigation</a></li>
                    {% if app.request.get('_route') != 'file_view' %}
                        {% if doc.isOwner(app.user.username) %}
                            <li>
                                <a title="Edit this document" class=""
                                   href="{{ course_path('doc_edit', { 'id': file.id,'view': app.request.get('view') }) }}">Edit</a>
                            </li>
                        {% endif %}


                        {# Don't show Review button if it is a review or a Resource #}
                        {% if file.reviewed|length == 0 and file.project.resource != 'true' %}
                            <li>
                                <a title="Create a copy of this document for peer review" id="new_review" class=""
                                   href="{{ course_path('file_new_modal', { 'resource' : '0', 'tag' : '3', 'type': 'review', 'fileid': file.id }) }}">Create
                                    Review</a>
                            </li>
                        {% endif %}

                        {% if doc.isOwner(app.user.username) or file.project.resource == 'true' %}
                            <li>
                                <a title="Create a copy of this document" id="new_saveas" class=""
                                   href="javascript:void(0)">SaveAs</a>
                            </li>
                        {% endif %}
                        <li>
                            <a title="Print this document" class=""
                               href="{{ course_path('doc_pdf', { 'id': doc.id }) }}">Printable PDF</a>
                        </li>
                    {% endif %}
                    <li>
                        {% if app.request.get('view') == 'window' %}
                            <a title="Close the current window or tab" id="close_window" class=""
                               href="javascript:void(0);">Close</a>
                        {% elseif file.project.resource == 'true' %}
                            {% if app.session.get('resource_referrer') %}
                                <a title="Close this document" class=""
                                   href="{{ app.session.get('resource_referrer') }} ">Close</a>
                            {% else %}
                                <a title="Close this document" class=""
                                   href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0','resource': '1', 'tag': '0', 'userid': '0' }) }}">Close</a>
                            {% endif %}
                        {% else %}
                            {% if app.session.get('referrer') %}
                                <a title="Close this document" class=""
                                   href="{{ app.session.get('referrer') }} ">Close</a>
                            {% else %}
                                <a title="Close this document" class=""
                                   href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'user': '0', 'resource': '0', 'tag': '0', 'userid': '0' }) }}">Close</a>
                            {% endif %}
                        {% endif %}
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    {# Doc display #}
    <div class="col-sm-12 center">
        <a id="main_content"></a>

        {% if app.request.get('_route') == 'file_view' %}
            <iframe class="col-sm-8" id="viewer"
                    src="{{ asset('bundles/marcahome/Viewer.js/index.html') }}#{{ course_path('file_get', { 'id': file.id }) }}/{{ file.name }}.{{ file.ext }}"
                    allowfullscreen="true" webkitallowfullscreen="true"></iframe>
        {% else %}
            <div id='doc-display' class="col-sm-8 well">
                <div id='doc-body' class="doc-body">
                    {{ doc.body|raw }}
                </div>
            </div>
        {% endif %}


        {# Doc tools #}
        <div class="col-sm-4" id="doctools">

            {# Doc Reviews #}
            <h3 id="toggle_docs" class="small" style="cursor: pointer">Review documents</h3>

            <div id="doc_container" class="list-group">
                <a class="list-group-item document active" id="review_{{ file.id }}" href="javascript:void(0);"
                   title="View {{ file.name }}">
                    {{ file.name }} by {{ file.user.firstname }} {{ file.user.lastname }}
                    <span class="pull-right"> {{ file.updated|date('m/d/y, g:i a') }}</span>
                </a>

                {% for review in file.reviews %}
                    {% if (file.isOwner(app.user.username) and review.access!=2) or review.isOwner(app.user.username) or review.access==1 or role==2 %}

                        {# different functions for different file types #}
                        {# doc files #}
                        {% if review.doc %}
                            <a class="list-group-item document" id="review_{{ review.id }}" href="javascript:void(0);"
                               title="View {{ review.name }}">
                                <span class="glyphicon glyphicon-comment" style="color:#888;" title="Review"></span>
                                by {{ review.user.firstname }} {{ review.user.lastname }}
                                <span class="pull-right"> {{ review.updated|date('m/d/y, g:i a') }}</span>
                            </a>
                            {# links #}
                        {% elseif review.url %}
                            <a class="list-group-item document" href="{{ review.url }}" target="_blank"
                               title='This link will open in a new window or tab.'>
                                <span class="glyphicon glyphicon-comment" style="color:#888;" title="Review"></span>
                                by {{ review.user.firstname }} {{ review.user.lastname }}
                                <span class="pull-right"> {{ review.updated|date('m/d/y, g:i a') }}</span>
                            </a>
                            {# ODT files #}
                        {% elseif review.ext == 'odt' or review.ext == 'ods' or review.ext == 'odp' or review.ext == 'pdf' %}
                            <a class="list-group-item document"
                               href="{{ course_path('file_view', { 'id': review.id, 'view': 'app' }) }}"
                               title="View {{ review.name }}">
                                <span class="glyphicon glyphicon-comment" style="color:#888;" title="Review"></span>
                                by {{ review.user.firstname }} {{ review.user.lastname }}
                                <span class="pull-right"> {{ review.updated|date('m/d/y, g:i a') }}</span>
                            </a>
                        {% else %}
                            <a class="list-group-item document" href="{{ course_path('file_get', { 'id': review.id}) }}"
                               title="View {{ review.name }}">
                                <span class="glyphicon glyphicon-comment" style="color:#888;" title="Review"></span>
                                by {{ review.user.firstname }} {{ review.user.lastname }}
                                <span class="pull-right"> {{ review.updated|date('m/d/y, g:i a') }}</span>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>


            <h3  id="toggle_questions" class="inline-block small" style="cursor: pointer">Review questions</h3>
            <a id="new_rubricreview" title="Create a new review" class="btn btn-default btn-xs pull-right" style="margin-top: 20px;"
               href="javascript:void(0);">Answer Questions</a>
            <div id="reviews_container">
            <div class="list-group">
                {% for review in reviews %}
                    <a class="list-group-item question" id="review_{{ review.id }}" href="javascript:void(0);">
                        by {{ review.reviewer.firstname }} {{ review.reviewer.lastname }}
                        <span class="pull-right"> {{ review.updated|date('m/d/y, g:i a') }}</span>
                    </a>
                {% else %}
                    <div class="pad">No one has answered the review questions.</div>
                {% endfor %}
            </div>

            <div class="" id="review_container">

            </div>
            </div>

            {# Notes Panel #}
            {% if app.request.get('_route') != 'file_view' %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne" onclick="$('.eDoc_note').toggle();$('.eDoc_super').toggle();"
                               data-toggle="tab">Notes
                            </a>
                        </h2>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="docNotes">
                                <div id='notes_container'>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}


            {# Feedback Panel #}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">

                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo">
                            Feedback ({{ file.responses|length }})
                        </a>
                    </h2>

                    <div class="btn-group  pull-right">
                        <a class="btn btn-default btn-xs"
                           href="{{ course_path('response_new', { 'sourceid': file.id, 'source': app.request.get('_route') ,'view': app.request.get('view'),'userid': file.user.id }) }}">Add<i
                                    class="glyphicon glyphicon-plus glyphicon-white"></i></a>
                    </div>

                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        {# Responses #}

                        {% for response in file.responses %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">{{ response.user.firstname }} {{ response.user.lastname }}
                                        says:</h2>

                                    {% if response.isOwner(app.user.username) %}
                                        <a class="btn btn-default btn-xs pull-right"
                                           href="{{ course_path('response_edit', { 'id': response.id,'sourceid': file.id, 'source': app.request.get('_route'),'view': app.request.get('view'),'userid': file.user.id  }) }}">Edit</a>
                                    {% endif %}
                                </div>
                                <div class="panel-body">
                                    {{ response.body|raw }}
                                </div>
                            </div>

                        {% else %}
                            <div class="pad">No one has has offered feedback.</div>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </div>

    </div>


    {# end of Doc tools #}
    {% if app.request.get('_route') != 'file_view' %}
        {# Markup #}
        {% for markup in markup %}
            <div data-id='{{ markup.id }}' id='{{ markup.value }}' class='popover left'>
                <button type="button" class="close popover-close" data-dismiss="popover"
                        aria-hidden="true">&times;</button>
                <div class="popover-title">
                    <span class="pull-left color-flag" style="background: {{ markup.color }};">&#183;</span>
                    {{ markup.name }}</div>
                <div class="popover-content">
                    {{ markup.mouseover|raw }}
                    {% if markup.url != '' or markup.url is not null %}<a href="{{ markup.url }}"
                                                                          target="_blank">{{ markup.linktext }}</a>{% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {# Modal #}
    <div class="modal fade" id="doc_modal" role="dialog">

    </div><!-- /.modal -->
{% endblock %}
