{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block content %} 

<div class="row">
  
<div class="span10  well">
    <h4>{{file.name}}</h4>
    {% if file.project %}<span class="label label-info">{{file.project.name}}</span>{% endif%}  {{file.updated|date('M d Y,   g:i a')}} 
    <div class="btn-group pull-right">
    <a class=" btn btn-info" href="{{ path('file') }}">List Files</a> 
    <a class="btn btn-primary" href="{{ path('file_edit', { 'id': file.id }) }}">Edit Listing</a>    
    </div>
</div>
</div>


<div class="row">
<div class="span10 well">    
       
{{ entity.body|raw }}       

    
 <a class="pull-right btn btn-primary" href="{{ path('doc_edit', { 'id': entity.id }) }}">Edit Content</a>
</div>        
</div>


{% endblock %}
