{# Marca/DocBundle/Resources/views/Doc/show.html.twig #}


{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block content %} 
<script language="javascript"> 
$(document).ready(function()
{
var numNotes = $('.eDoc_note').length;
if (numNotes > 0)
{$('.eDoc_note').each(function(index) { 
note_index = index + 1;
var note_number = '<span class="blue">' + note_index + '</span>';
var note = '<div class="cell divider clear">'+ note_number + $(this).html() + '</div>';
$('#notes_container').append(note); 
});
}
else
{var note = '<div class="cell divider clear">There are no notes in this document.</div>';
$('#notes_container').append(note); 
};
 
$('.eDoc_highlight').each(function(index) { 
var span_number = index + 1;
var span_append = '<span class="hide eDoc_super">' + span_number + '</span>';
$(this).append(span_append); 
});

$('.markup').mouseover(function (){ 
var name = '#' + $(this).attr('title');    
$('.popup').hide();$(name).show();
});
$('#close_window').click(function(){
    window.close();
});

});
</script>

{# Doc header #}
<legend>{{file.name}}</legend></li>    
Last updated on {{doc.updated|date('M d Y,   g:i a')}}
{% if file.isOwner(app.user.username) %}<a class="btn btn-primary btn-small" href="{{ course_path('file_edit', { 'id': file.id, 'resource': 'f', 'tag': '0' }) }}">Rename</a>{% endif%}


{# Doc display #}
<div class="row margin-top clear">
<div class="span8 doc border pad">          
{{ doc.body|raw }}
        
<a class="btn btn-info btn-small pull-right" href="{{ course_path('response_new', { 'sourceid': doc.id, 'source': 'doc_show' ,'view': app.request.get('view') }) }}">Respond</a>        
</div>
 
{# Doc tools #}        
<div class="span3">         
<div class="span3 well doc" style='position:fixed; margin-left: -1em;'>  
<div class='cell clear'>
    
    {# Markup #}
    {% for markupset in markupsets%}
    {% for markup in markupset.markup %}
    <div id='{{ markup.value }}' class='popup hide'>
            <span  class="label {{ markup.color }} ">{{ markup.name }}</span>
            <br/>
            {{ markup.mouseover }}
            {% if markup.url != '' or markup.url is not null %}<a href="{{ markup.url }}" target="_blank">URL</a>{% endif %}<hr/>
    </div>        
{% endfor %} 
{% endfor %}
   
</div> 

{# Doc edit button #}
<div class='cell clear'>
{% if doc.isOwner(app.user.username) %}<a class="btn btn-primary btn-small" href="{{ course_path('doc_edit', { 'id': doc.id,'view': app.request.get('view') }) }}">Edit</a> {% endif %} 

<a class="btn btn-info btn-small" href="{{ course_path('doc_review', { 'fileid': file.id,'view': app.request.get('view'),'resource': '0' }) }}">Review</a>

{% if app.request.get('view') == 'window' %}
<a id="close_window" title="Will close the current window or tab" class="btn btn-warning btn-small" href="javascript:void(0);">Close</a>
{% elseif file.project.resource == 'true' %}
<a class="btn btn-warning btn-small" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0','resource': '1', 'tag': '0', 'userid': '0' }) }}">Close</a>
{% else %}
<a class="btn btn-warning btn-small" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'user': '0', 'resource': '0', 'tag': '0', 'userid': '0' }) }}">Close</a>
{% endif %}

{# Notes #}
<a class="btn btn-info btn-small" href="javascript:void(0);" 
 onclick="$('#notes_container').toggle();$('.eDoc_note').toggle();$('.eDoc_super').toggle();" tabindex="11" title="Show Notes">Notes</a>

</div>

<div id='notes_container' class='divider cell clear hide'>
</div> 
              
</div> 
</div>
        
        
{# Responses #}
<div class="span8 doc border pad"> 
{% for response in file.responses %}
{% if loop.first %}    
<div class="page-header" >
<strong>Responses</strong>
</div>       
{% endif %}      
<div class="divider cell clear ">
<strong>By {{ response.user.firstname}} {{ response.user.lastname}}</strong>
{% if response.isOwner(app.user.username) %}
<a class="btn btn-primary btn-mini pull-right" href="{{ course_path('response_edit', { 'id': response.id,'sourceid': doc.id, 'source': 'doc_show','view': app.request.get('view')  }) }}">Edit</a>
{% endif %}
{{ response.body|raw }}                
</div>   
{% endfor %}    
            
</div>         
</div>


    
{% endblock %}
