{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block content %} 
<script language="javascript"> 
$(document).ready(function()
{
var numNotes = $('.eDoc_note').length;
if (numNotes > 0)
{$('.eDoc_note').each(function(index) { 
note_index = index + 1;
var note_number = '<span class="blue">' + note_index + '</span>';
var note = '<div class="cell divider clear">'+ note_number + $(this).html() + '</div>';
$('#notes_container').append(note); 
});
}
else
{var note = '<div class="cell divider clear">There are no notes in this document.</div>';
$('#notes_container').append(note); 
};
 
$('.eDoc_highlight').each(function(index) { 
var span_number = index + 1;
var span_append = '<span class="hide eDoc_super">' + span_number + '</span>';
$(this).append(span_append); 
});
});
</script>
<ul class="nav nav-tabs">
    <li><h2 class="">{{file.name}}</h2></li>
    <li class='pad-left'><a class="" href="{{ course_path('file') }}">Return to Files</a></li>    
    <li><a class="" href="{{ course_path('doc_edit', { 'id': doc.id }) }}">Edit Content</a></li>
    <li class="nav-header">Last updated on {{file.updated|date('M d Y,   g:i a')}}</li>
</ul>


<div class="row margin-top clear">
<div class="span9 doc border pad">          
{{ doc.body|raw }}       
</div>        
       
<div class="span2 well doc">    
<div class='cell clear'>
<a class="btn btn-info btn-small" href="javascript:void(0);" 
 onclick="$('#notes_container').toggle();$('.eDoc_note').toggle();$('.eDoc_super').toggle();" tabindex="11" title="Show Notes">Notes</a>
</div>

<div id='notes_container' class='divider cell clear hide'>

</div>
</div>    
</div>
    
{% endblock %}
