{# Marca/DocBundle/Resources/views/Doc/show.html.twig #}


{% extends 'MarcaDocBundle::layout.html.twig' %}

{% block content %} 
<script language="javascript"> 
$(document).ready(function()
{
var numNotes = $('.eDoc_note').length;
if (numNotes > 0)
{$('.eDoc_note').each(function(index) { 
note_index = index + 1;
var note_number = '<span class="blue">' + note_index + '</span>';
var note = '<div class="cell divider clear">'+ note_number + $(this).html() + '</div>';
$('#notes_container').append(note); 
});
}
else
{var note = '<div class="cell divider clear">There are no notes in this document.</div>';
$('#notes_container').append(note); 
};
 
$('.eDoc_highlight').each(function(index) { 
var span_number = index + 1;
var span_append = '<span class="hide eDoc_super">' + span_number + '</span>';
$(this).append(span_append); 
});

{# display with title attr now deprecated #}
$('.markup').mouseover(function (){    
var name = '#' + $(this).attr('title');   
var id = "[data-id='" + $(this).attr('data-id') + "']"; 
$('.popup').hide();$(name).show();$(id).show();
});
$('#close_window').click(function(){
    window.close();
});

});
</script>

{# Doc header #}
<div class="span12 center">
<h3>{{file.name}}</h3>
 
Created {{doc.created|date('M d Y, g:ia')}} / Updated {{doc.updated|date('M d Y, g:ia')}}


{# Doc display #}
<div class="row margin-top clear">
<div class="span8 well pad">          
<div class="doc-body">
{{ doc.body|raw }}
</div>
        
<a class="btn btn-info btn-small pull-right" href="{{ course_path('response_new', { 'sourceid': doc.id, 'source': 'doc_show' ,'view': app.request.get('view') }) }}">Respond</a>        
</div>
 
{# Doc tools #}        
<div class="span3" style='margin-top:-6em'>         
<div class="span3 well" style='position:fixed; margin-left: -1em;'>  
<div class='cell clear'>
    
{# Markup #}
{% for markup in markup %}
<div data-id='{{ markup.id }}' id='{{ markup.value }}' class='popup hide'>
<span  class="label {{ markup.color }} " style='color:black;'>{{ markup.name }}</span>
<br/>
{{ markup.mouseover }}
{% if markup.url != '' or markup.url is not null %}<a href="{{ markup.url }}" target="_blank">{{ markup.linktext }}</a>{% endif %}<hr/>
</div>        
{% endfor %} 

   
</div> 

{# Doc edit button #}
<div class='cell clear'>
{% if doc.isOwner(app.user.username) %}<a class="btn btn-primary btn-small" href="{{ course_path('doc_edit', { 'id': doc.id,'view': app.request.get('view') }) }}">Edit</a> {% endif %} 

{# Don't show Review button if it is a review #}
{% if file.reviewed|length == 0 %}
<a class="btn btn-small" href="{{ course_path('doc_review', { 'fileid': file.id,'view': app.request.get('view'),'resource': '0' }) }}">Review</a>
{% endif %}

{% if app.request.get('view') == 'window' %}
<a id="close_window" title="Will close the current window or tab" class="btn btn-warning btn-small" href="javascript:void(0);">Close</a>
{% elseif file.project.resource == 'true' %}
<a class="btn btn-warning btn-small" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0','resource': '1', 'tag': '0', 'userid': '0' }) }}">Close</a>
{% else %}
<a class="btn btn-small" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'user': '0', 'resource': '0', 'tag': '0', 'userid': '0' }) }}">Close</a>
{% endif %}

{# Notes #}
<a class="btn btn-small" href="javascript:void(0);" 
 onclick="$('#notes_container').toggle();$('.eDoc_note').toggle();$('.eDoc_super').toggle();" tabindex="11" title="Show Notes">Notes</a>

</div>

<div id='notes_container' class='divider cell clear hide'>
</div> 
              
</div> 
</div>
        
        
{# Responses #}
   
{% for response in file.responses %}
{% if loop.first %}         
<div class="span7 well pad"> 
<div class="page-header" >
<span class="responses">Responses</span>
</div>       
{% endif %}      
<div class="divider cell clear ">
<span class="response-poster">{{ response.user.firstname}} {{ response.user.lastname}} says:</response>
{% if response.isOwner(app.user.username) %}
<a class="btn btn-primary btn-mini pull-right" href="{{ course_path('response_edit', { 'id': response.id,'sourceid': doc.id, 'source': 'doc_show','view': app.request.get('view')  }) }}">Edit</a>
{% endif %}
<div class="span6 pad1">
{{ response.body|raw }} 
</div>               
</div>   
{% endfor %}    
            
</div>         
</div>


</div>    
{% endblock %}
