{# Marca/HomeBundle/Resources/views/Page/edit.html.twig #}

{% extends 'MarcaHomeBundle::layout.html.twig' %}

{% block javascripts %}
    <script language="javascript">
        $(document).ready(function()
        {
            var winheight = $(document).height() * .55;
            $('body').height(winheight);
        });
    </script>
{% endblock %}

{% block content %}
<div class="col-md-11 well">
<form action="{{ path('page_update', { 'id': page.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
        <button class="btn btn-primary" type="submit">Update</button><a class='btn btn-default' href="{{ path('page') }}">Cancel</a>
</form>
<form action="{{ path('page_delete', { 'id': page.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-delete" type="submit">Delete</button>
</form>        
</div>
{% endblock %}
