{# Marca/HomeBundle/Resources/views/Page/new.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
<div class="col-sm-11 center">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">New Page</h2>
        </div>
        <div class="panel-body">
<form action="{{ path('page_create') }}" method="post" {{ form_start(form) }}>
    {{ form_widget(form) }}
    <div class="btn-group pull-left" style="clear:both;">
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-default" href="{{ path('page') }}">Cancel</a>

    </div>
</form>
</div>
        </div>

</div>
{% endblock %}
