{# Marca/TabBundle/Resources/views/Tag/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/marcahome/js/spectrum.js') }}"></script>
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/spectrum.css') }}">
{% endblock %}

{% block content %}
<script language="javascript">
    $(document).ready(function()
    {
    $("#marca_tagbundle_tagtype_color").spectrum({
    preferredFormat: "name",
    showPaletteOnly: true,
    showInput: true,
    color: '{{tag.color}}',
    palette: [
        ['royalblue', 'seagreen', 'slateblue','darkorange'],
        ['darkmagenta', 'darkslategrey', 'teal','firebrick'],
        ['orange', 'cadetblue', 'tomato','blueviolet']        
    ]
    });
    });
</script>

<div class="span9 well">
    <legend>Label Sets</legend>
</div> 

<div class="span9 well">
<form class="form" action="{{ path('tag_update', { 'id': tag.id }) }}" method="post" {{ form_enctype(edit_form) }}>
     {{ form_errors(edit_form) }}
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.color) }}
    {{ form_rest(edit_form) }}
    <div class="margin-top">
        <button class="btn btn-primary" type="submit">Update</button><a class="btn" href="{{ path('tagset') }}">Cancel</a> 
    </div>
</form>
     
<form action="{{ path('tag_delete', { 'id': tag.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <div class="delete">
            <button class="btn btn-delete" type="submit">Delete</button>
        </div>
</form>
</div>
</div>         
{% endblock %}
