{# Marca/TabBundle/Resources/views/Tag/edit.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/marcahome/js/spectrum.js') }}"></script>
    <script language="javascript">
        $(document).ready(function()
        {
            $('#toggle_modal').click(function(){
                $('#delete_modal').modal();
            });
            $("#marca_tagbundle_tagtype_color").spectrum({
                preferredFormat: "name",
                showPaletteOnly: true,
                showInput: true,
                color: '{{tag.color}}',
                palette: [
                    ['royalblue', 'seagreen', 'slateblue','darkorange'],
                    ['darkmagenta', 'darkslategrey', 'teal','firebrick'],
                    ['orange', 'cadetblue', 'tomato','blueviolet'],
                    ['lavender', 'lavenderblush', 'lightblue','lightcoral'],
                    ['lightcyan', 'lightgoldenrodyellow', 'lightgray','lightpink'],
                    ['lightsalmon', 'lightskyblue', 'lightsteelblue','lightyellow'],
                    ['palegreen', 'paleturquoise', 'peachpuff','plum']
                ]
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/spectrum.css') }}">
{% endblock %}

{% block content %}
    <div class="col-sm-8 center">
        <form class="form" action="{{ path('tag_update', { 'id': tag.id,'tagsetid': tagset.id  }) }}" method="post" {{ form_enctype(edit_form) }}>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Label Set
                </div>
                <div class="panel-body">
                    {{ form_errors(edit_form) }}
                    {{ form_row(edit_form.name) }}
                    {{ form_row(edit_form.color) }}
                    {{ form_rest(edit_form) }}
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                        <a class="btn btn-default" href="{{ path('tagset') }}">Cancel</a>
                    </div>
                    <a class="btn btn-warning pull-right" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                </div>
            </div>
        </form>
    </div>

    {# Modal for Delete confirmation #}
    <div id="delete_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <span class="modal-title">Delete</span>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                    <form action="{{ path('tag_delete', { 'id': tag.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <div class="btn-group">
                            <button class="btn btn-danger" type="submit">Delete</button>
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</a>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
