
{% extends 'MarcaUserBundle::layout.html.twig' %}


{% block content %}
<div class="row-fluid">
    
    <ul class="nav nav-tabs">
            <li class="nav-header">Tag sets:</a></li>
            <li class="{% if tagsetid == 0 %}active{% endif %}"><a href="{{ path('tag') }}">All Tags</a></li>
    {% for tagset in tagsets %}
            <li class="{% if tagsetid == tagset.id %}active{% endif %}"><a  href="{{ path('tag_bytagset', { 'id': tagset.id }) }}">{{ tagset.name }}</a></li>
    {% endfor %}
     </ul>
</div>
<div class="row-fluid">
<div class="span6">
<table class="table table-bordered table-condensed table-striped">
<thead>
    <tr>           
        <th>Name</th> 
        <th>Color</th>               
        <th>Icon</th>        
        <th></th>
    </tr>
</thead>    
<tbody>
    {% for tag in tags %}
    <tr>         
        <td>{{ tag.name }}</td>
        <td>{{ tag.color }}</td>             
        <td>{{ tag.icon }}</td>        
        <td><div class="btn-group"><a class="btn" href="{{ path('tag_edit', { 'id': tag.id }) }}">edit</a></div>

</td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
        

       {% if is_granted('ROLE_USER') %}
             <a class='btn btn-primary' href="{{ path('tag_new') }}">New Tag</a>
             <a class='btn btn-primary' href="{{ path('tagset_new') }}">New Tagset</a>
       {% endif %}
        
</div>
</div>
{% endblock %}
