{# Marca/TabBundle/Resources/views/Tag/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script> 
<script src="{{ asset('bundles/marcahome/js/spectrum.js') }}"></script>
    <script language="javascript">
        $(document).ready(function()
        {
            $("#marca_tagbundle_tagtype_color").spectrum({
                preferredFormat: "name",
                showPaletteOnly: true,
                showInput: true,
                color: '{{tag.color}}',
                palette: [
                    ['royalblue', 'seagreen', 'slateblue','darkorange'],
                    ['darkmagenta', 'darkslategrey', 'teal','firebrick'],
                    ['orange', 'cadetblue', 'tomato','blueviolet']
                ]
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/spectrum.css') }}">
{% endblock %}

{% block content %}
<div class="col-md-11 well">
    <h2>Label Sets</h2>
</div> 

<div class="col-md-11 well">
<form action="{{ path('tag_create', { 'tagsetid': tagset.id }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button><a class="btn btn-default" href="{{ path('tagset') }}">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
