{# Marca/TabBundle/Resources/views/Tag/new.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/marcahome/js/colorPick.js') }}"></script>
    <script language="javascript">
        $(document).ready(function () {
            $('#toggle_modal').click(function () {
                $('#delete_modal').modal();
            });
            $("#marca_tagbundle_tagtype_color").colorPick({
                'initialColor': 'lightblue',
                'allowRecent': true,
                'recentMax': 5,
                'allowCustomColor': false,
                'palette': ['lightblue', 'lightgrey', 'lightpink', 'thistle',
                    'moccasin', 'palegreen', 'lemonchiffon', 'gold', 'lightsalmon',
                    'mediumaquamarine', 'lightcoral', 'plum'],
                'onColorSelected': function () {
                    this.element.css({'backgroundColor': this.color, 'color': this.color});
                    var selectedColor = this.color;
                    selectedColor = selectedColor.toLowerCase();
                    this.element.val(selectedColor);
                }
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/colorPick.css') }}">
{% endblock %}


{% block content %}
    <div class="col-sm-8 center">
        <form action="{{ path('tag_create', { 'tagsetid': tagset.id }) }}" method="post">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Label Set
                </div>
                <div class="panel-body">
                    {{ form_widget(form) }}
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Create</button>
                        <a class="btn btn-default" href="{{ path('tagset') }}">Cancel</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}
