{# Marca/PortfolioBundle/Resources/views/Portset/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
CKEDITOR.replace( 'marca_portfoliobundle_portsettype_description',  {
    customConfig: '{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_config.js') }}'
} );
});
</script>
<div class="span9 well">
<legend>Portfolios</legend> 


</div>
       
<div class="span9 well">   
<form action="{{ path('portset_update', { 'id': portset.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.description) }}
    {{ form_rest(edit_form) }}
    <div>
        <button class="btn btn-primary" type="submit">Update</button><a class="btn" href="{{ path('portset') }}">Cancel</a>
    </div>
</form>
<form class="form" action="{{ path('portset_delete', { 'id': portset.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-delete" type="submit">Delete</button>
</form>        
</div>
      
{% endblock %}
