{# Marca/PortfolioBundle/Resources/views/Portset/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            $('#toggle_modal').click(function(){
                $('#delete_modal').modal();
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="col-sm-12">
        <form action="{{ path('portset_update', { 'id': portset.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title small">Portfolio Set</h2>
                </div>
                <div class="panel-body">
                    {{ form_errors(edit_form) }}
                    {{ form_row(edit_form.name) }}
                    {{ form_row(edit_form.description) }}
                    {{ form_rest(edit_form) }}
                </div>
                <div class="panel-footer">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">Update</button>
                        <a class="btn btn-default" href="{{ path('portset') }}">Cancel</a>
                    </div>
                    <a class="btn btn-warning pull-right" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                </div>
            </div>
        </form>
    </div>

    <div id="delete_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                    <form class="form" action="{{ path('portset_delete', { 'id': portset.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <div class="btn-group">
                            <button class="btn btn-danger" type="submit">Delete</button>
                            <a class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</a>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
