{# Marca/PortfolioBundle/Resources/views/Portset/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
$('#marca_portfoliobundle_portsettype_description').ckeditor( function() {}, {height:200, skin: 'BootstrapCK-Skin',forcePasteAsPlainText : true,
toolbar : [
['Bold','Italic','Underline','Font','FontSize','TextColor','BGColor','Link','Unlink','NumberedList',
'BulletedList','Outdent','Indent','Image','SpecialChar','RemoveFormat'],
],} );
});
</script>
<div class="row"> 
<div class="span6 well">
<a class="btn btn-info" href="{{ path('portset') }}">List Portfolio Sets</a>
<form class="form" action="{{ path('portset_delete', { 'id': portset.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
</div>        
<div class="row"> 
<div class="span6 well">    
<form action="{{ path('portset_update', { 'id': portset.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_errors(edit_form) }}
            {{ form_row(edit_form.name) }}
            {{ form_row(edit_form.description) }}
    {{ form_rest(edit_form) }}
    <div>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
</div>
</div>        
{% endblock %}
