{# Marca/PortfolioBundle/Resources/views/Portset/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}


<div class="col-md-11 well">
<h1>Portfolios</h1> 
    <a class="btn btn-primary" href="{{ path('portset_new') }}">New Portfolio Set</a>
</div>


{% for portset in portsets %}
<div class="col-md-11 well">
        <h1 class='inline'><a class="" href="{{ path('portset_show', { 'id': portset.id }) }}">{{ portset.name }}</a></h1> {% if portset.shared ==2 %}Default{%endif %}
        <a class="btn btn-primary btn-small pull-right" href="{{ path('portset_edit', { 'id': portset.id }) }}">Edit</a>
        {{ portset.description|raw }}
</div>
{% endfor %}



{% endblock %}
