{# Marca/PortfolioBundle/Resources/views/Portset/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}


<div class="span9 well">
<legend>Portfolios</legend> 
    <a class="btn btn-primary" href="{{ path('portset_new') }}">New Portfolio Set</a>
</div>


{% for portset in portsets %}
<div class="span9 well">
        <h4>{{ portset.name }}</h4>
        <a class="btn btn-primary btn-small pull-right" href="{{ path('portset_show', { 'id': portset.id }) }}">Show</a><a class="btn btn-primary btn-small pull-right" href="{{ path('portset_edit', { 'id': portset.id }) }}">Edit</a>
        {{ portset.description|raw }}
</div>
{% endfor %}



{% endblock %}
