{# Marca/PortfolioBundle/Resources/views/Portset/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bundles/marcahome/js/ckeditor/adapters/jquery.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
CKEDITOR.replace( 'marca_portfoliobundle_portsettype_description',  {
    customConfig: '{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_config.js') }}'
} );
});
</script>
<div class="span9 well">
<legend>Portfolios</legend> 
</div> 
      
<div class="span9 well">
<form class="form" action="{{ path('portset_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
    {{ form_rest(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button><a class="btn" href="{{ path('portset') }}">Cancel</a>
    </div>
</form>
</div>       
{% endblock %}
