{# Marca/PortfolioBundle/Resources/views/Portset/new.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
{% endblock %}

{% block content %}
<div class="col-md-11 well">
<h2>Portfolios</h2>
</div> 
      
<div class="col-md-11 well">
<form class="form" action="{{ path('portset_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
    {{ form_rest(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Create</button><a class="btn" href="{{ path('portset') }}">Cancel</a>
    </div>
</form>
</div>       
{% endblock %}
