{# Marca/PortfolioBundle/Resources/views/Portset/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}

    <div class="well">
        <h2 class="margin-top-small">{{ portset.name }}</h2>

        <div class="btn-group pull-right" style="margin-top: -15px;">
            <a class="btn btn-default btn-sm" role="button" href="{{ path('portitem_new', { 'portsetid': portset.id }) }}">Add Item<i
                        class="glyphicon glyphicon-plus glyphicon-white"></i></a>
            <a class="btn btn-default btn-sm" role="button" href="{{ path('portset_edit', { 'id': portset.id }) }}">Edit Set<i
                        class="glyphicon glyphicon-edit glyphicon-white"></i></a>
            <a class="btn btn-default btn-sm" href="{{ path('portset') }}">List Portfolio Sets</a>
        </div>

        {{ portset.description|html_raw }}
        <div class="list-group">
            {% for portitem in portitems %}

                <a class="list-group-item" href="{{ path('portitem_edit', { 'id': portitem.id }) }}">
                    <h4 class="margin-top-small">{{ portitem.name }}</h4>
                    {{ portitem.description|html_raw }}
                </a>

            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}
