{# Marca/PortfolioBundle/Resources/views/Portset/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="btn btn-default pull-right margin-top-small" href="{{ path('portset') }}">List Portfolio Sets</a>
            <h2 class="margin-top-small">Portfolios</h2>
        </div>
        <div class="panel-body">

            <div class="col-md-12">
                <h3 class="margin-top-small">{{ portset.name }}</h3>
                <div class="btn-group pull-right" style="margin-top: -15px;">
                    <a class="btn btn-default btn-sm" role="button" href="{{ path('portitem_new', { 'portsetid': portset.id }) }}">Add Item<i class="glyphicon glyphicon-plus glyphicon-white"></i></a>
                    <a class="btn btn-default btn-sm" role="button" href="{{ path('portset_edit', { 'id': portset.id }) }}">Edit Set<i class="glyphicon glyphicon-edit glyphicon-white"></i></a>
                </div>

                {{ portset.description|raw }}
                <div class="list-group">
                    {% for portitem in portitems %}

                        <a class="list-group-item" href="{{ path('portitem_edit', { 'id': portitem.id }) }}">
                            <h4 class="margin-top-small">{{ portitem.name }}</h4>
                            {{ portitem.description|raw }}
                        </a>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span class="text-muted">Click item to edit. </span>
        </div>
    </div>

{% endblock %}
