{% extends '::base.html.twig' %}
{% block title %}Marca Profile{% endblock %}

{% block stylesheets %}
{% stylesheets 
  'bundles/marcauser/css/*'
  filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
{% endblock %}

{% block body %}
<div class="row-fluid">
{% block sidebar %}
<div class="span2">
    <div class="well sidebar-nav">
     <ul class="nav nav-list">
         
       {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
             <li><a href="{{ path('fos_user_resetting_request') }}">Forgot Password?</a></li>
       {% endif %}      
       {% if is_granted('ROLE_USER') %}
             <li><a href="{{ path('user_home') }}">Home</a></li>
             <li><a href="{{ path('user_profile') }}">Profile</a></li>
             <li><a href="{{ path('enroll_find') }}">Enroll</a></li>
             <li> <a class='last' title="Logout" href="{{ path('fos_user_change_password') }}">Change Password</a></li> 
       {% endif %}
       {% if is_granted('ROLE_INSTR') %}
             <li class="nav-header">Instructors</li>
             <li><a href="{{ path('course') }}">Course Creation/Editing</a></li>
             <li><a href="{{ path('tag') }}">Tag Creation/Editing</a></li>
             <li><a href="{{ path('markup') }}">Markup Creation/Editing</a></li>
       {% endif %}
     </ul>
    </div> 
    </div>        
{% endblock %}  
<div class="span10"> 
{% block content %}          
{% endblock %}
</div>   
</div>         
{% endblock %} 

