{# Marca/UserBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}{{ application_name }}{% endblock %}

{% block stylesheets %}{{ parent() }}{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}



{% block sidebar %}
<h1><a title="Click to list your current or pending courses" href="{{ path('user_home') }}" class="marca-gray">Home</a> </h1>
       {% if is_granted('ROLE_USER') %}
             <li><a title="Click to enroll in a new course" class="" title="Enroll" href="{{ path('enroll_find') }}">Enroll in a course</a></li>

       {% endif %}
       {% if is_granted('ROLE_INSTR') %}
             <h2 class="nav-header">Settings</h2>
             <li><a title="Click to create a new course" class="" href="{{ path('course_new', {'type':'0'}) }}">Create Course</a></li>
             <li><a title="Click to create a new module" class="" href="{{ path('course_new', {'type':'1'}) }}">Create Module</a></li>
             <li><a title="Click to manage your labels" href="{{ path('tagset') }}">Manage Labels</a></li>
             <li><a title="Click to manage your markup tags" href="{{ path('markupset') }}">Manage Markup</a></li>
       {% endif %} 
       {% if is_granted('ROLE_ADMIN') %} 
             <h2 class="nav-header">Admin Settings</h2>
             <li><a title="Click to create or edit portfolio rubrics" href="{{ path('portset') }}">Portfolios</a></li>
             <li><a title="Click to create or edit assessment tools" href="{{ path('assessmentset') }}">Assessment</a></li> 
             <li><a title="Click to administer terms" href="{{ path('term') }}">Terms</a></li>
             <li><a title="Click to administer users" href="{{ path('admin') }}">Users</a></li>
             <li><a title="Click to create or edit institutions" href="{{ path('institution') }}">Institutions</a></li>
             <li><a title="Click to create or edit information pages" href="{{ path('page') }}">Pages</a></li>
       {% endif %}      
{% endblock %}  
