{# Marca/UserBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}{{ application_name }}{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}


{% block sidebar %}
       <li><legend>Home</legend></li>
       {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
             <li><a href="{{ path('fos_user_resetting_request') }}">Forgot Password?</a></li>
       {% endif %}      
       {% if is_granted('ROLE_USER') %}
             <li><a href="{{ path('user_home') }}">Welcome</a>
             <li><a class="" title="Enroll" href="{{ path('enroll_find') }}">Enroll</a></li>

       {% endif %}
       {% if is_granted('ROLE_INSTR') %}
             <li class="nav-header">Settings</li>
             <li><a href="{{ path('course') }}">Courses</a></li>
             <li><a href="{{ path('tagset') }}">Labels</a></li>
             <li><a href="{{ path('markupset') }}">Markup</a></li>
       {% endif %} 
       {% if is_granted('ROLE_ADMIN') %} 
             <li class="nav-header">Admin Settings</li>
             <li><a href="{{ path('portset') }}">Portfolios</a></li> 
             <li><a href="{{ path('assessmentset') }}">Assessment</a></li> 
             <li><a href="{{ path('term') }}">Terms</a></li>
             <li><a href="{{ path('admin') }}">Permissions</a></li>
             <li><a href="{{ path('institution') }}">Institutions</a></li>
       {% endif %}      
{% endblock %}  
