{# Marca/UserBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}Marca Profile{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}


{% block sidebar %}
       {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
             <li><a href="{{ path('fos_user_resetting_request') }}">Forgot Password?</a></li>
       {% endif %}      
       {% if is_granted('ROLE_USER') %}
             <li><a href="{{ path('user_home') }}">Home</a></li>
             <li><a href="{{ path('user_show') }}">Profile</a></li>
             <li><a href="{{ path('enroll_find') }}">Enroll</a></li>
             <li> <a class='last' title="Logout" href="{{ path('fos_user_change_password') }}">Change Password</a></li> 
       {% endif %}
       {% if is_granted('ROLE_INSTR') %}
             <li class="nav-header">Instructors</li>
             <li><a href="{{ path('course') }}">Course Creation/Editing</a></li>
             <li><a href="{{ path('tag') }}">Tag Creation/Editing</a></li>
             <li><a href="{{ path('markup') }}">Markup Creation/Editing</a></li>
             <li><a href="{{ path('portset') }}">Portfolio Set Creation/Editing</a></li>
       {% endif %}        
{% endblock %}  
