{# Marca/CourseBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}
{% block title %}{{ application_name }} {{ course.name }} Home{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block subnav %}
{%include 'MarcaCourseBundle::subnav.html.twig' %}
{% endblock %}

{% block sidebar %}
<li class=""><a href="{{ course_path('course_home') }}">Home</a></li>
<li class=""><a href="{{ course_path('course_roll') }}">Roll</a></li> 

{% if is_granted('ROLE_INSTR') %}
<li class="nav-header">Settings</li>
<li><a href="{{ course_path('course_show') }}">Course Settings</a></li>
<li><a href="{{ course_path('roll') }}">Manage Roll</a></li>
<li><a href="{{ course_path('teams') }}">Manage Teams</a></li>          
{% endif %} 
{% endblock %} 

