{# Marca/CourseBundle/Resources/views/subnav.html.twig #}
{# This subnav is the top navigation when inside a course.  Included from layout.html.twig #}

{% if app.session.get('portReviewSwitch')!= 4 %}
    <li class="dropdown">
        <a class="dropdown-toggle" data-hover="dropdown" title='Course Home' id="course-home" href="{{ course_path('course_home')}}">{% if app.session.get('course') %}{{ app.session.get('course')|slice(0, 15) }}{% else %}Course Home{% endif %}<b class="caret"></b></a>

        <ul class="dropdown-menu" style="margin-left:15px;">
            <li>
                <a tabindex="-1" title='Select course' id='course_select' href="javascript:void(0);">Switch Course</a>
            </li>
            {% if app.session.get('module')== 0 %}<li><a tabindex="-1" href="{{ course_path('course_roll') }}">Class Roll</a></li>{%endif%}
            {% if is_granted('ROLE_INSTR') %}
                <li><a tabindex="-1" href="{{ course_path('course_show') }}">{% if app.session.get('module')== 0 %}Course{% else %}Module{% endif %} Settings</a></li>
            {% endif %}
        </ul>
    </li>


    <li class="dropdown">
        {% if app.session.get('resource_referrer')%}
            <a class="dropdown-toggle" data-hover="dropdown" title='Course Resources' href="{{app.session.get('resource_referrer')}} ">Resources<b class="caret"></b></a>
        {%else%}
            <a class="dropdown-toggle" data-hover="dropdown" title='Course Resources' href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0', 'resource': '1', 'tag': '0', 'userid': '0' }) }}">Resources<b class="caret"></b></a>
        {%endif%}

        <ul class="dropdown-menu">
            <li><a tabindex="-1" id='file_new_doc' title='Create new document' href='javascript:void(0);'><i class="glyphicon glyphicon-edit"></i> Document</a></li>
            <li><a tabindex="-1" id='file_new_upload' title='Upload document' href="javascript:void(0);"><i class="glyphicon glyphicon-upload"></i> Upload</a></li>
            <li><a tabindex="-1" id='file_new_link' title='Create new link' href="javascript:void(0);"><i class="glyphicon glyphicon-adjust"></i> Link</a></li>
        </ul>

            </li>
    {% if app.session.get('module')== 0 %}
        <li class="dropdown">
            {% if app.session.get('referrer')%}
                <a class="dropdown-toggle" data-hover="dropdown" title='Course Projects' href="{{app.session.get('referrer')}} ">Projects<b class="caret"></b></a>
            {%else%}
                <a class="dropdown-toggle" data-hover="dropdown" title='Course Projects' href="{{ course_path('file_list', { 'project': 'default', 'scope': 'mine', 'user': '0', 'resource': '0', 'tag': '0', 'userid': '0' }) }}">Projects<b class="caret"></b></a>
            {%endif%}

            <ul class="dropdown-menu">
                <li><a tabindex="-1" id='file_new_doc' title='Create new document' href='javascript:void(0);'><i class="glyphicon glyphicon-edit"></i> Document</a></li>
                <li><a tabindex="-1" id='file_new_upload' title='Upload document' href="javascript:void(0);"><i class="glyphicon glyphicon-upload"></i> Upload</a></li>
                <li><a tabindex="-1" id='file_new_link' title='Create new link' href="javascript:void(0);"><i class="glyphicon glyphicon-adjust"></i> Link</a></li>
            </ul>

        </li>
    {%endif%}
    <li class="dropdown"><a class="dropdown-toggle" data-hover="dropdown" title='Course Calendar' href="{{ course_path('calendar_display', { 'gotodate': "now"|date('Y-m-d')}) }}">Calendar<b class="caret"></b></a>

        <ul class="dropdown-menu">
            {% if is_granted('ROLE_INSTR') %}
            <li><a tabindex="-1"  href="{{ course_path('calendar_new', {'set_date': "now"|date("Y-m-d")} ) }}" >New Event</a></li>
            {% endif %}
            <li> <a tabindex="-1" href="{{ course_path('calendar_upcoming') }}">View Agenda</a></li>
        </ul>

    </li>

    {% if app.session.get('journalSwitch')=='true' and app.session.get('module')== 0 %}<li class="dropdown"><a class="dropdown-toggle" data-hover="dropdown" title='Course Journal' href="{{ course_path('journal_list') }}">Journal<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li> <a tabindex="-1" href="{{ course_path('journal_new')  }}">New Journal</a></li>
        </ul>
        </li>
    {%endif%}

    {% if app.session.get('forumSwitch')=='true' and app.session.get('module')== 0 %}<li><a  title='Course Forum' href="{{ course_path('forum') }}">Forum</a></li>{%endif%}

    {% if app.session.get('notesSwitch')=='true' and app.session.get('module')== 0 %}<li class="dropdown"><a class="dropdown-toggle" data-hover="dropdown" title='Course Notes' href="{{ course_path('note') }}">Notes<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li> <a tabindex="-1" href="{{ course_path('note_new')  }}">New Note</a></li>
        </ul>
        </li>
    {%endif%}
{%endif%}
{% if app.session.get('portSwitch')=='true' and app.session.get('module')== 0 %}
    <li><a  title='Course Portfolio' href="{{ course_path('portfolio') }}">Portfolio</a></li>
{%endif%}









