{# Marca/CourseBundle/Resources/views/subnav.html.twig #}
{# This subnav is the top navigation when inside a course.  Included from layout.html.twig #}

<script language="javascript">    
$(document).ready(function() { 
$('#course_select').click(function(){
  $('#base_modal').load('{{ course_path('course_select_modal') }}');
  $('#base_modal').modal();
});
});
</script>

<li><a id='course_select' href="javascript:void(0);">{% if app.session.get('course') %}{{ app.session.get('course') }}{% else %}Course Home{% endif %}</a></li>
<li><a href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0', 'resource': '1', 'tag': '0', 'userid': '0' }) }}">Resources</a></li>
<li><a href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'user': '0', 'resource': '0', 'tag': '0', 'userid': '0' }) }}">Projects</a></li>
<li><a href="{{ course_path('calendar_display', { 'gotodate': "now"|date('Y-m-d')}) }}">Calendar</a></li>
<li><a href="{{ course_path('journal') }}">Journal</a></li>
<li><a href="{{ course_path('forum') }}">Forum</a></li>
{% if app.session.get('portSwitch')=='true'%}<li><a href="{{ course_path('portfolio') }}">Portfolio</a></li>{%endif%}







