{# Marca/CourseBundle/Resources/views/subnav.html.twig #}
{# This subnav is the top navigation when inside a course.  Included from layout.html.twig #}

{% if app.session.get('portReviewSwitch')!= 4 %}
    <li class="dropdown" style="margin-left:-15px;">
        <a class="dropdown-toggle" data-hover="dropdown" title='Course Home' id="course-home" href="{{ course_path('course_home')}}">{% if app.session.get('course') %}{{ app.session.get('course')|slice(0, 15) }}{% else %}Course Home{% endif %}<b class="caret"></b></a>

        <ul class="dropdown-menu" style="margin-left:30px;">
            <li>
                <a tabindex="-1" title='Select course' id='course_select' href="javascript:void(0);"><span class="glyphicon glyphicon-random"></span>Switch Course</a>
            </li>
            <li class="divider"></li>
            {% if app.session.get('module')== 0 %}<li><a tabindex="-1" href="{{ course_path('course_roll') }}">Class Roll</a></li>{%endif%}
            {% if is_granted('ROLE_INSTR') %}
                <li><a tabindex="-1" href="{{ course_path('course_show') }}">{% if app.session.get('module')== 0 %}Course{% else %}Module{% endif %} Settings</a></li>
            {% endif %}
        </ul>
    </li>


    <li>
        {% if app.session.get('resource_referrer')%}
            <a title='Editor's Desk' href="{{app.session.get('resource_referrer')}} ">Editor's Desk</a>
        {%else%}
            <a title='Editor's Desk href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0', 'resource': '1', 'tag': '0', 'userid': '0' }) }}">Editor's Desk</a>
        {%endif%}

            </li>
    {% if app.session.get('module')== 0 %}
        <li>
            {% if app.session.get('referrer')%}
                <a title='Reporter's Desk href="{{app.session.get('referrer')}} ">Reporter's Desk</a>
            {%else%}
                <a title='Reporter's Desk' href="{{ course_path('file_list', { 'project': 'default', 'scope': 'mine', 'user': '0', 'resource': '0', 'tag': '0', 'userid': '0' }) }}">Reporter's Desk</a>
            {%endif%}

        </li>
    {%endif%}
    <li class="hidden-sm hidden-md dropdown"><a class="dropdown-toggle" data-hover="dropdown" title='Course Calendar' href="{{ course_path('calendar_display', { 'gotodate': "now"|date('Y-m-d')}) }}">Calendar<b class="caret"></b></a>

        <ul class="dropdown-menu">
            {% if is_granted('ROLE_INSTR') %}
            <li><a tabindex="-1"  href="{{ course_path('calendar_new', {'set_date': "now"|date("Y-m-d")} ) }}" ><span class="glyphicon glyphicon-calendar"></span>New Event</a></li>
            {% endif %}
            <li> <a tabindex="-1" href="{{ course_path('calendar_upcoming') }}">View Agenda</a></li>
        </ul>

    </li>

    {% if app.session.get('journalSwitch')=='true' and app.session.get('module')== 0 %}<li class="dropdown hidden-sm hidden-md"><a class="dropdown-toggle" data-hover="dropdown" title='Course Journal' href="{{ course_path('journal_list') }}">Journal<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li> <a tabindex="-1" href="{{ course_path('journal_new')  }}"><span class="glyphicon glyphicon-pencil"></span>New Journal</a></li>
        </ul>
        </li>
    {%endif%}

    {% if app.session.get('forumSwitch')=='true' and app.session.get('module')== 0 %}<li class="hidden-sm hidden-md"><a  title='Discussion' href="{{ course_path('forum') }}">Discussion</a></li>{%endif%}

    {% if app.session.get('notesSwitch')=='true' and app.session.get('module')== 0 %}<li class="dropdown hidden-sm hidden-md"><a class="dropdown-toggle" data-hover="dropdown" title='Course Notes' href="{{ course_path('note') }}">Notes<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li> <a tabindex="-1" href="{{ course_path('note_new')  }}"><span class="glyphicon glyphicon-pencil"></span>New Note</a></li>
        </ul>
        </li>
    {%endif%}
{%endif%}
{% if app.session.get('portSwitch')=='true' and app.session.get('module')== 0 %}
    <li class="hidden-sm hidden-md"><a  title='Course Portfolio' href="{{ course_path('portfolio') }}">Portfolio</a></li>
{%endif%}

<li class="dropdown visible-sm visible-md">
<a class="dropdown-toggle" data-hover="dropdown" title='Course Notes' href="{{ course_path('note') }}">Tools<b class="caret"></b></a>
<ul class="dropdown-menu">
    <li><a title='Course Calendar' href="{{ course_path('calendar_display', { 'gotodate': "now"|date('Y-m-d')}) }}">Calendar</a></li>
    {% if app.session.get('journalSwitch')=='true' and app.session.get('module')== 0 %}<li><a title='Course Journal' href="{{ course_path('journal_list') }}">Journal</a>{%endif%}
    {% if app.session.get('forumSwitch')=='true' and app.session.get('module')== 0 %}<li><a  title='Discussion' href="{{ course_path('forum') }}">Discussion</a></li>{%endif%}
    {% if app.session.get('notesSwitch')=='true' and app.session.get('module')== 0 %}<li><a title='Course Notes' href="{{ course_path('note') }}">Notes</a></li>{%endif%}
    {% if app.session.get('portSwitch')=='true' and app.session.get('module')== 0 %}<li><a  title='Course Portfolio' href="{{ course_path('portfolio') }}">Portfolio</a></li>{%endif%}
</ul>
</li>








