{# This subnav is the top navigation when inside a course.  Included from layout.html.twig #}

<li><a href="{{ path('journal', { 'set': 0 }) }}">Calendar</a></li>
<li><a href="{{ path('journal', { 'set': 0 }) }}">Projects</a></li>
<li><a href="{{ path('journal', { 'set': 0 }) }}">Journal</a></li>
<li><a href="{{ path('forum', { 'set': 0 }) }}">Forum</a></li>
<li><a href="{{ path('journal', { 'set': 0 }) }}">Portfolio</a></li>




