{# Marca/CourseBundle/Resources/views/subnav.html.twig #}
{# This subnav is the top navigation when inside a course.  Included from layout.html.twig #}

<li><a href="{{ course_path('course_home') }}">Course Home</a></li>
<li><a href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'resource': '1', 'tag': '0' }) }}">Resources</a></li>
<li><a href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'resource': '0', 'tag': '0' }) }}">Projects</a></li>
<li><a href="{{ course_path('calendar_display') }}">Calendar</a></li>
<li><a href="{{ course_path('journal') }}">Journal</a></li>
<li><a href="{{ course_path('forum') }}">Forum</a></li>
{% if app.session.get('portSwitch')=='true'%}<li><a href="{{ course_path('portfolio') }}">Portfolio</a></li>{%endif%}







