{# Marca/AdminBundle/Resources/views/Payment/collect.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<script language="javascript">
$(document).ready(function()
{ 
  $('#transaction_modal').modal();
});
</script>

<div id="content">

</div>

<div id="transaction_modal" class="modal show fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">     
<div class="modal-header">
    Almost done! 
</div>
{% if paymenttype == 3 %}
    <div class="modal-body">
        You have two options to pay for your class, please choose one below
        <div>
            Click "Pay with Credit Card" to pay securely with your credit card now 
            <form action="{{ path('charge', {'courseid':courseid}) }}" method="post" novalidate="novalidate">
     <script language="javascript" src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="{{ publishableKey }}"
          data-amount="{{ paymentamount }}" data-description="One Semester Marca Access"></script>
    </form>
        </div>
        <hr>
        OR
        <hr>
        <div>
            If you have a code purchased from your bookstore, enter it here:
            <form action="{{ path('coupon_validate', {'courseid':courseid}) }}" method="post" {{ form_enctype(coupon_form) }}>
            {{ form_widget(coupon_form) }}
            <button class = "btn btn-primary" type="submit">Submit Coupon</button>        
    </form>
        </div>
    </div>
{% endif %}
{% if paymenttype == 2 %}
<div class="modal-body">
    To finish enrolling in your course, click the button below to pay securely via credit card.
    <form action="{{ path('charge', {'courseid':courseid}) }}" method="post" novalidate="novalidate">
     <script language="javascript" src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="{{ publishableKey }}"
          data-amount="{{ paymentamount }}" data-description="One Semester Marca Access"></script>
    </form>
</div>
{% endif %}
{% if paymenttype == 1 %}
    <div class="modal-body">
    <form action="{{ path('coupon_validate', {'courseid':courseid}) }}" method="post" {{ form_enctype(coupon_form) }}>
     {{ form_widget(coupon_form) }}
     <button class = "btn btn-primary" type="submit">Submit Coupon</button>        
    </form>
    </div>
{% endif %}
</div>
{% endblock %}
