{# Marca/DocBundle/Resources/views/Markupset/edit.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
CKEDITOR.replace( 'marca_docbundle_markupsettype_description',  {
    customConfig: '{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_config.js') }}'
} );
});
</script>

<div class="span9 well">
 <legend>Markup Set</legend> 
</div>

 
    <div class="span9 well">  
        <form action="{{ path('markupset_update', { 'id': markupset.id }) }}" method="post" {{ form_enctype(edit_form) }}>
         {{ form_widget(edit_form) }}
        <div class='margin-top'>
            <button class="btn btn-primary" type="submit">Update</button><a class="btn" href="{{ path('markupset') }}">Cancel</a>
        </div>
        </form>
        <div>
        <form action="{{ path('markupset_delete', { 'id': markupset.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-delete" type="submit">Delete</button>
         </form> 
         </div>
    </div>
{% endblock %}
