{# Marca/DocBundle/Resources/views/Markupset/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well">
<legend>Markup</legend>
      <a class="btn btn-primary btn-small" href="{{ path('markupset_new') }}">Create Markup Set</a>
      <a class="btn btn-primary  btn-small" href="{{ path('find_markupset') }}"> Import Markup Set</a>
</div> 



<div class="accordion" id="markup_accordian">
  
{% for markupset in markupsets%}    
 <div class="accordion-group span8 well">     

    <div class="accordion-heading">
      <a class="accordion-toggle" style='display:inline;' data-toggle="collapse" data-parent="#markup_accordian" href="#collapse{{loop.index}}">
        {{ markupset.name }}
      </a>
      <a class="btn btn-primary btn-small pull-right" href="{{ path('markupset_edit', { 'id': markupset.id }) }}">Edit</a>       
    </div>
    <div id="collapse{{loop.index}}" class="accordion-body collapse">
      <div class="accordion-inner">
          
           <table class="table">
           <tr>
           <td colspan="5">
           {% if markupset.isOwner(app.user.username) %}
           
           <a class='btn btn-primary btn-small' href="{{ path('markup_new', { 'set_id' : markupset.getid}) }}">Add Tag</a>
           <a class='btn btn-primary btn-small' href="{{ path('add_tags', { 'id' : markupset.getid}) }}">Inport Tags</a>
           {% endif %} 
           </td>
           </tr>
           {% for markup in markupset.markup %}
            <tr><td style='width:10%'><span class="label {{ markup.color }}" style='color:black;'>{{ markup.name }}</span></td>
            <td style='width:30%'>{% if markup.url != '' or markup.url is not null %}<a href="{{ markup.url }}" target="_blank">{{ markup.linktext }}</a>{% else %}No URL{% endif %}</td>
            <td  style='width:50%' colspan=2>{{ markup.mouseover }}</td>
            <td style='width:10%'>{% if markupset.isOwner(app.user.username) %}<a class="btn btn-primary btn-small  pull-right" href="{{ path('markup_edit', { 'id': markup.id, 'set_id': markupset.id }) }}">Edit</a>{% endif %}</td></tr>        
           {% endfor %}
           </table>
          
    </div>
    </div>

</div>    
{% endfor %}    
    


</div>
{% endblock %}
