{# Marca/DocBundle/Resources/views/Markupset/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row">
<div class="span4 well">
      <a class="btn btn-primary" href="{{ path('markupset_new') }}">New Markup Set</a>
</div> 
</div>

<div class="row">
<div class="span4">


    {% for markupset in markupsets%}
    <strong>{{ markupset.name }}</strong> {% if markupset.isOwner(app.user.username) %}<a class='btn btn-primary btn-mini  pull-right' href="{{ path('markup_new') }}">Add Markup</a><a class="btn btn-primary btn-mini pull-right" href="{{ path('markupset_edit', { 'id': markupset.id }) }}">Edit</a> {% endif %} 
    <table class="table">
    {% for markup in markupset.markup %}
            <tr><td><span class="label {{ markup.color }}">{{ markup.name }}</span></td><td>{% if markupset.isOwner(app.user.username) %}<a class="btn btn-primary btn-mini  pull-right" href="{{ path('markup_edit', { 'id': markup.id }) }}">Edit</a>{% endif %}</td></tr>
    {% endfor %}
    </table>        
    {% endfor %}

</div>
</div>
{% endblock %}
