{# Marca/DocBundle/Resources/views/Markupset/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            {% for flashMessage in app.session.flashbag.get('update') %}
            $('#collapse{{ flashMessage }}').collapse('show');
            {% endfor %}
        });
    </script>

{% endblock %}


{% block content %}
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="{{ path('markupset_new') }}">Create Set<i class="glyphicon glyphicon-pencil glyphicon-white"></i></a>
                <a class="btn btn-default" href="{{ path('find_markupset') }}">Import Set<i class="glyphicon glyphicon-plus glyphicon-white"></i></a>
            </div>
            <h2 class="margin-top-small">Markup Set</h2>
        </div>
        <div class="panel-body">
            <div class="panel-group" id="accordion">
                {% for markupset in markupsets%}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{markupset.id}}">
                                    {{ markupset.name }}
                                </a>
                            </h4>
                            {% if markupset.shared==1 %}(Shared){% elseif markupset.shared==2 %}Default{%endif%}
                            {% if markupset.isOwner(app.user.username) %}
                                <div class="btn-group pull-right" style="margin-top: -5px;">
                                <a class="btn btn-default btn-sm" href="{{ path('markupset_edit', { 'id': markupset.id }) }}">Edit Set Information</a>
                                <a class='btn btn-default btn-sm' href="{{ path('markup_new', { 'set_id' : markupset.getid}) }}">Create Markup Tag</a>
                                <a class='btn btn-default btn-sm' href="{{ path('add_tags', { 'id' : markupset.getid}) }}">Add Tags from Other Sets</a>
                                </div>
                            {% endif %}
                        </div>
                        <div id="collapse{{markupset.id}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="list-group">
                                    <div class="col-sm-12">
                                        {% for markup in markupset.markup %}
                                            {% if markupset.isOwner(app.user.username) %}
                                                <a class="list-group-item" href="{{ path('markup_edit', { 'id': markup.id, 'set_id': markupset.id  }) }}">
                                                    <span class="label label-default" style='background-color:{{ markup.color }}; color:black; padding:2px;'>{{ markup.name }}</span>
                                                    {{ markup.mouseover|raw }}
                                                    {{ markup.linktext }}
                                                    ({{ markup.url }})
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="panel-footer">
            <span class="text-muted">Click Markup name to expand. </span>
        </div>
    </div>
</div>
{% endblock %}