{# Marca/DocBundle/Resources/views/Markupset/new.html.twig #}

{% extends 'MarcaUserBundle::dialog.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/spectrum.css') }}">
    <script language="javascript">
        $(document).ready(function () {
            {# form page close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function () {
                window.location.href = '{{ path('markupset') }}';
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="col-sm-8 center">
    <form action="{{ path('markupset_create') }}" method="post">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title small">Markup Set</h2>
            </div>
            <div class="panel-body">
                {{ form_widget(form) }}
                </div>
            <div class="panel-footer">
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit">Create</button>
                    <a class="btn btn-default" href="{{ path('markupset') }}">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}