{# Marca/UserBundle/Resources/views/Default/course_select_modal.html.twig #}

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Select Course</h4>
        </div>
        <div class="modal-body">


            <div class="list-group">
                {% for course in courses %}
                <a href="{{ path('course_home', { 'courseid': course.id }) }}" class="list-group-item">
                    <h2 class="list-group-item-heading">{{ course.name }}</h2>
                    <p class="list-group-item-text">{{course.user.firstname}} {{course.user.lastname}}, {{ course.time|date('h:i a') }}</p>
                </a>
                {% endfor %}
            </div>



        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    



