{# Marca/UserBundle/Resources/views/Default/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
{% if pending %}
<div class="span9 well">
<h2>Courses Pending</h2>     
<div class='alert alert-info'>Enrollment pending.  Please check back soon.
                  <a class='btn btn-primary btn-mini pull-right' href="{{ path('user_home') }}">Check now</a></div>
<table class="table">
<thead><tr><th>Course</th><th>Instructor</th><th>Time</th></tr></thead>
<tbody>
    {% for course in pending %}
        <tr>
            <td>{{ course.name }}</td>
            <td> {{course.user.lastname}}, {{course.user.firstname}} </td>
            <td>{{ course.time|date('h:i a') }}</td>
        </tr>
    {% endfor %}   
    </tbody>
</table>
</div> 
{% endif %}

{% if courses %}
<div class="span9 well">
<h2>Courses Enrolled</h2>  
<div class='alert alert-success'>Click name to enter.</div>
<table class="table">
    <thead><tr><th>Course</th><th>Instructor</th><th>Time</th><th>Term</th><th></th></tr></thead>
    <tbody>
    {% for course in courses %}
        <tr>
            <td><a class="" title="Click to enter {{ course.name }}" href="{{ path('course_home', { 'courseid': course.id }) }}">{{ course.name }}</a></td>
            <td> {{course.user.lastname}}, {{course.user.firstname}} </td>
            <td>{{ course.time|date('h:i a') }}</td>
            <td> {{course.term.termName}} </td>
            <td>{% if course.isOwner(app.user.username) %}<a class="btn" title="Edit setting for {{ course.name }} {{ course.time|date('h:i a') }}" href="{{ path('course_show', { 'courseid': course.id }) }}">Settings</a>{% endif %}</td>
        </tr>
     {% endfor %}   
    </tbody>
</table>
</div> 
{% endif %} 

{% if modules %}
<div class="span9 well">
<h2>Modules</h2>  
<div class='alert alert-info'>Modules are repositories of materials that can be included in courses.  Click name to enter.</div>
<table class="table">
<thead><tr><th>Module</th><th>Owner</th><th></th></tr></thead>    
<tbody>
    {% for course in modules %}
        <tr>
            <td><a class="" title="Click to enter {{ course.name }}" href="{{ path('course_home', { 'courseid': course.id }) }}">{{ course.name }}</a></td>
            <td> {{course.user.lastname}}, {{course.user.firstname}} </td>
            <td>{% if course.isOwner(app.user.username) %}<a class="btn" title="Edit setting for {{ course.name }} {{ course.time|date('h:i a') }}" href="{{ path('course_show', { 'courseid': course.id }) }}">Settings</a>{% endif %}</td>
        </tr>
     {% endfor %}   
    </tbody>
</table>
</div> 
{% endif %}

    {% if archive %}
        <div class="span9 well">
            <h2>Previous Courses</h2>
            <div class='alert alert-info'>Click name to enter.</div>
            <table class="table">
                <thead><tr><th>Course</th><th>Instructor</th><th>Term</th><th></th></tr></thead>
                <tbody>
                {% for course in archive %}
                    <tr>
                        <td><a class="" title="Click to enter {{ course.name }}" href="{{ path('course_home', { 'courseid': course.id }) }}">{{ course.name }}</a> </td>
                        <td> {{course.user.lastname}}, {{course.user.firstname}} </td>
                        <td> {{course.term.termName}} </td>
                        <td>{% if course.isOwner(app.user.username) %}<a class="btn" title="Edit setting for {{ course.name }} {{ course.time|date('h:i a') }}" href="{{ path('course_show', { 'courseid': course.id }) }}">Settings</a>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
