{# Marca/UserBundle/Resources/views/Default/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="row">
<div class="span6 well">
<h3>Welcome {{ user.firstname }} {{ user.lastname }} </h3>
</div>
</div>   

<div class="row">
<div class="span6">
<table class="table">
<thead>
        <tr>
            <th>Course</th><th>Instructor</th><th>Time</th>
        </tr>
</thead>    
<tbody>
    {% for course in courses %}
        <tr>
            <td><a class="" href="{{ path('course_home', { 'courseid': course.id }) }}">{{ course.name }}</a></td>
            <td> {{course.user.lastname}}, {{course.user.firstname}} </td>
            <td>{{ course.time|date('h:i a') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>

{% endblock %}
