{# Marca/UserBundle/Resources/views/Default/index.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}

{% if pending %}
<div class="span9 well">
<h1 class='verysmall'>Courses Pending</h1>     
<div class='alert alert-info'>Enrollment pending.  Please check back soon.
                  <a class='btn btn-primary btn-mini pull-right' href="{{ path('user_home') }}">Check now</a></div>
<table class="table">
<tbody>
    {% for course in pending %}
        <tr>
            <td>{{ course.name }}</td>
            <td> {{course.user.lastname}}, {{course.user.firstname}} </td>
            <td>{{ course.time|date('h:i a') }}</td>
        </tr>
    {% endfor %}   
    </tbody>
</table>
</div> 
{% endif %}

{% if courses %}
<div class="span9 well">
<h1 class='verysmall'>Courses Enrolled</h1>  
<div class='alert alert-success'>Click course name to enter it.</div>
<table class="table">
<tbody>
    {% for course in courses %}
        <tr>
            <td><a class="" href="{{ path('course_home', { 'courseid': course.id }) }}">{{ course.name }}</a></td>
            <td> {{course.user.lastname}}, {{course.user.firstname}} </td>
            <td>{{ course.time|date('h:i a') }}</td>
        </tr>
     {% endfor %}   
    </tbody>
</table>
</div> 
{% endif %} 


{% endblock %}
