{# Marca/UserBundle/Resources/views/Default/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
      
<div class="row">
<div class="span8 well">

<legend>{{ user.firstname }} {{ user.lastname }}  </legend>
<p><a class="" target="_blank" href="mailto:{{ user.email }}">{{ user.email }}</a></p>

<ul class="thumbnails">
  <li class="span2">
    <div class="thumbnail">
      <img src="{{ user.photo }}" alt="{{ user.firstname }} {{ user.lastname }}">
      <h3></h3>
      <p>{{ user.firstname }} {{ user.lastname }}</p>
    </div>
  </li>
</ul>

<p>{{ user.bio|raw }}</p>

   

<a class="btn btn-primary" title="Edit Profile" href="{{ path('user_edit', { 'id': user.id }) }}">Edit Profile</a>

<a class="btn btn-primary" title="Change Password" href="{{ path('fos_user_change_password') }}">Change Password</a>
</div>
</div>  
{% endblock %}
