{# Marca/UserBundle/Resources/views/Default/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
      
<div class="row-fluid">
<div class="span6 well">

<table class="table table-bordered table-condensed table-striped">
<tbody>
<tr><th>Username</th><td>{{ user.username }}</td></tr>
<tr><th>Firstname</th><td>{{ user.firstname }}</td></tr>
<tr><th>Lastname</th><td>{{ user.lastname }}</td></tr>
<tr><th>Email</th><td>{{ user.email }}</td></tr>
</tbody>
</table>
   

<a class="btn btn-primary" href="{{ path('user_edit', { 'id': user.id }) }}">Edit Profile</a>

</div>
</div>  
{% endblock %}
