{# Marca/UserBundle/Resources/views/Default/show.html.twig #}

{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
      
<div class="row">
<div class="span6">

<table class="table">
<tbody>
<tr><th>User name</th><td>{{ user.username }}</td></tr>
<tr><th>First name</th><td>{{ user.firstname }}</td></tr>
<tr><th>Last name</th><td>{{ user.lastname }}</td></tr>
<tr><th>Email</th><td>{{ user.email }}</td></tr>
</tbody>
</table>
   

<a class="btn btn-primary" href="{{ path('user_edit', { 'id': user.id }) }}">Edit Profile</a>

</div>
</div>  
{% endblock %}
