{# Marca/CourseBundle/Resources/views/Team/manage.html.twig #}
{% extends 'MarcaUserBundle::layout.html.twig' %}

{% block content %}
<div class="col-md-8 well">
    <h1><a href="{{ path('course_home',{'courseid':course.id}) }}">{{course.name}}</a> Teams</h1>
    <a class="btn btn-default" href="{{ path('course_show', { 'courseid': course.id }) }}">Course Settings </a>
    <hr/>
    <ul class="unstyled"> 
    {% for team in teams %}
            <li  class="pad05"><strong>{{ team.name }}</strong> {{ team.description }} <a class="btn btn-xs btn-primary" href="{{ path('team_edit', { 'id': team.id,'courseid': course.id }) }}">Edit</a>
            <ol  class="pad05">      
                 {% for listing in team.rolls %}
                      <li>{{ listing.user.firstname }} {{ listing.user.lastname }} </li>
                 {% endfor %}     
            </ol>           
            </li>
    {% endfor %}
     </ul> 
</table>
<a class="btn btn-primary" href="{{ path('new_team', {'courseid': course.id}) }}">New Team</a>
</div>
{% endblock %} 