{# Marca/ForumBundle/Resources/views/Reply/edit.html.twig #}

{% extends 'MarcaHomeBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            $('#toggle_modal').click(function(){
                $('#delete_modal').modal();
            });
            {# form close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function(){
                window.location.href='{{ course_path('forum_show', {'id': comment.forum.id}) }}';
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-8 center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="inline">{{ comment.user.firstname|capitalize }} {{ comment.user.lastname|capitalize }} says:</h2>
                <p>Created  {{ comment.created|date('M d Y, h:ia') }}  / Updated  {{ comment.updated|date('M d Y, h:ia') }}</p>
            </div>
            <div class="panel-body">
                {{ comment.body|raw }}
            </div>
            <div class="panel-footer">
            </div>
        </div>

        <div class="panel panel-default">
                <div class="panel-heading">
                    Forum Comment
                </div>
                <div class="panel-body">
                    {{ form(edit_form) }}
                    <a class="btn btn-warning" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                </div>
        </div>
    </div>
    {# Modal for Delete confirmation #}
    <div id="delete_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <span class="modal-title">Delete</span>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                        {{ form(delete_form) }}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
