{# Marca/ForumBundle/Resources/views/Reply/edit.html.twig #}

{% extends 'MarcaHomeBundle::dialog.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script language="javascript">
        $(document).ready(function()
        {
            {# form close/cancel adjust for appropriate redirect #}
            $('#close_form').click(function(){
                window.location.href='{{ course_path('forum_show', {'id': comment.forum.id}) }}';
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-8 center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="inline">{{ comment.user.firstname|capitalize }} {{ comment.user.lastname|capitalize }} says:</h2>
                <p>Created  {{ comment.created|date('M d Y, h:ia') }}  / Updated  {{ comment.updated|date('M d Y, h:ia') }}</p>
            </div>
            <div class="panel-body">
                {{ comment.body|html_raw }}
            </div>
            <div class="panel-footer">
            </div>
        </div>

        <div class="panel panel-default">
                <div class="panel-heading">
                    Forum Comment
                </div>
                <div class="panel-body">
                    {{ form(edit_form) }}
                    <a class="btn btn-warning" id='toggle_modal' title='Delete' href='javascript:void(0);'>Delete</a>
                </div>
        </div>
    </div>

    {# Modal for Delete confirmation #}
    {{ form(delete_form)|delete_modal }}
{% endblock %}
