{# Marca/ForumBundle/Resources/views/Reply/edit.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block javascripts %}
    <script language="javascript">
        $(document).ready(function()
        {
            $('form li').addClass('alert alert-error');
        });
    </script>
{% endblock %}

{% block content %}
<div class="span9 well" style="padding:0">     
      <div class="well-header" >        
         <span class="">{{ comment.user.firstname|capitalize }} {{ comment.user.lastname|capitalize }} says:</span>
         <span class="pull-right">Created  {{ comment.created|date('M d Y, h:ia') }}  / Updated  {{ comment.updated|date('M d Y, h:ia') }}</span>
      </div>
         
<div class="span7 pad margin-bottom" >{{ comment.body|raw }}  </div>       
</div>

<div class="span9 well"> 
<form action="{{ course_path('reply_update', { 'id': reply.id,'commentid': comment.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">
    {{ form_errors(edit_form) }}
         {{ form_row(edit_form.body) }}
    {{ form_rest(edit_form) }}
        <button class="btn btn-primary" type="submit">Update</button><a class='btn' href="{{ course_path('forum_show', { 'id': comment.forum.id }) }}">Cancel</a>
</form>
</div>
{% endblock %}
