{# Marca/ForumBundle/Resources/views/Reply/index.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block content %}
   <div class="span6">
      <a class="btn btn-primary" href="{{ course_path('reply_new') }}">New</a>
   </div>


<div class="span6">
<table class="table table-bordered table-condensed table-striped">
<thead>
    <tr>        
        <th>Id</th>        
        <th>Body</th>        
        <th>Created</th>        
        <th>Updated</th>        
        <th>Actions</th>
    </tr>
</thead>    
<tbody>
    {% for reply in entities %}
    <tr>        
        <td><a href="{{ course_path('reply_show', { 'id': reply.id }) }}">{{ reply.id }}</a></td>        
        <td>{{ reply.body }}</td>        
        <td>{% if reply.created %}{{ reply.created|date('Y-m-d H:i:s') }}{% endif%}</td>        
        <td>{% if reply.updated %}{{ reply.updated|date('Y-m-d H:i:s') }}{% endif%}</td>        
        <td><a class="btn" href="{{ course_path('reply_show', { 'id': reply.id }) }}">show</a><a class="btn" href="{{ course_path('reply_edit', { 'id': reply.id }) }}">edit</a>
</td>       
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
