{# Marca/ForumBundle/Resources/views/Reply/new.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block javascripts %}
    <script language="javascript">
        $(document).ready(function()
        {
            $('form li').addClass('alert alert-error');
        });
    </script>
{% endblock %}

{% block content %}
<div class="col-sm-11 well" style="padding:0">
      <div class="well-header" >        
         <span class="">{{ comment.user.firstname|capitalize }} {{ comment.user.lastname|capitalize }} says:</span>
         <span class="pull-right">Created  {{ comment.created|date('M d Y, h:ia') }}  / Updated  {{ comment.updated|date('M d Y, h:ia') }}</span>
      </div>
         
<div class="col-sm-7 pad margin-bottom" >{{ comment.body|raw }}  </div>
</div>
<div class="col-sm-11 well">
<form action="{{ course_path('reply_create', { 'commentid': commentid }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_errors(form) }}
         {{ form_row(form.body) }}
    {{ form_rest(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Submit</button><a class='btn btn-default' href="{{ course_path('forum_show', { 'id': comment.forum.id }) }}">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
