{# Marca/ForumBundle/Resources/views/Reply/new.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function()
{
CKEDITOR.replace( 'marca_forumbundle_replytype_body',  {
    customConfig: '{{ asset('bundles/marcahome/js/ckeditor_local/ckeditor_config.js') }}'
} );
$('form li').addClass('alert alert-error');
});
</script>  
  
<div class="span9 well"> 
<form action="{{ course_path('reply_create', { 'commentid': commentid }) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
    {{ form_errors(form) }}
         {{ form_row(form.body) }}
    {{ form_rest(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Submit</button><a class='btn' href="{{ course_path('forum', { 'set': 0 }) }}">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
