{# Marca/ForumBundle/Resources/views/Reply/show.html.twig #}

{% extends 'MarcaForumBundle::layout.html.twig' %}

{% block content %}

<div class="span2">
<a class="btn btn-info" href="{{ course_path('reply') }}">List</a>
<a class="btn btn-primary" href="{{ course_path('reply_edit', { 'id': reply.id }) }}">Edit</a>
 
</div>       
  
<div class="span1">        
<form action="{{ course_path('reply_delete', { 'id': reply.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>
</div>
  

        

<div class="span6">    
<table class="table table-bordered table-condensed table-striped">
<tbody>        
    <tr>
        <th>Id</th>         
        <td>{{ reply.id }}</td>         
    </tr>        
    <tr>
        <th>Body</th>         
        <td>{{ reply.body }}</td>         
    </tr>        
    <tr>
        <th>Created</th>        <td>{{ reply.created|date('Y-m-d H:i:s') }}</td>         
    </tr>        
    <tr>
        <th>Updated</th>        <td>{{ reply.updated|date('Y-m-d H:i:s') }}</td>         
    </tr>  
</tbody>
</table>
</div>          
{% endblock %}
