{% extends '::base.html.twig' %}
{% block title %}{{ application_name }} Tags{% endblock %}

{% block javascripts %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block sidebar %}
       {% if is_granted('ROLE_USER') %}
             <li><a href="{{ path('tag_new') }}">New Tag</a></li>
             <li><a href="{{ path('tagset_new') }}">New Tagset</a></li>
             <li><a href="{{ path('tag') }}">Edit Tags</a></li>
             <li><a href="{{ path('tagset') }}">Edit Tagsets</a></li>
       {% endif %}    
{% endblock %}  
