{# Marca/FileBundle/Resources/views/File/edit.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block content %}

<div class="row">
<div class="span6"> 
<form action="{{ course_path('file_update', { 'id': file.id, 'resource': app.request.get('resource') }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate">             
     {{ form_errors(edit_form) }}   
        <legend>File listing</legend>
        <ul class="unstyled">
            <li class="pad05">{{ form_row (edit_form.name) }} </li>     
            <li class="pad05">{{ form_row (edit_form.project) }} </li> 
            <li class="pad05">{{ form_row (edit_form.tag) }} </li> 
            <li class="pad05">{{ form_row (edit_form.access) }} </li> 
        </ul>
    {{ form_rest(edit_form) }}
    <button class="btn btn-primary" type="submit">Update</button>    
</form>       
       
<form action="{{ course_path('file_delete', { 'id': file.id, 'resource': app.request.get('resource') }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
</form>    
</div>
</div>

{% endblock %}
