{# Marca/FileBundle/Resources/views/File/edit_modal.html.twig #}

<script language="javascript"> 
$(document).ready(function() {

});
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">File Settings</h3>
</div>
<form action="{{ course_path('file_update', { 'id': file.id, 'resource': app.request.get('resource') }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate"> 
  <div class="modal-body">
      {{ form_errors(edit_form) }} 

            <div class="label-margin-bottom">{{ form_row (edit_form.name) }} </div>
            <div class="label-margin-bottom">{{ form_row (edit_form.url) }} </div>
            <div class="label-margin-bottom">{{ form_row (edit_form.project) }} </div> 
            <div class="label-margin-bottom">{{ form_row (edit_form.tag) }} </div> 
            <div>{{ form_row (edit_form.access) }} </div> 

        {{ form_rest(edit_form) }}  
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-left" type="submit">Update</button>  
  </div>
</form> 

