{# Marca/FileBundle/Resources/views/File/edit_modal.html.twig #}

<script language="javascript"> 
$(document).ready(function() {
$('#file_show_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_show_modal', { 'id': file.id, 'resource': app.request.get('resource'),'source':'edit_modal'}) }}');
  $('#file_modal').modal();
});
});
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Edit Listing</h3>
</div>
<form action="{{ course_path('file_update', { 'id': file.id, 'resource': app.request.get('resource') }) }}" method="post" {{ form_enctype(edit_form) }} novalidate="novalidate"> 
  <div class="modal-body">
      {{ form_errors(edit_form) }} 

            <div class="pad1">{{ form_row (edit_form.name) }} </div>
            <div class="pad1">{{ form_row (edit_form.url) }} </div>
            <div class="pad1">{{ form_row (edit_form.project) }} </div> 
            <div class="pad1">{{ form_row (edit_form.tag) }} </div> 
            <div class="pad1">{{ form_row (edit_form.access) }} </div> 

        {{ form_rest(edit_form) }}  
  </div>
  <div class="modal-footer">
    <a id='file_show_{{file.id}}' href='javascript:void(0);' class="btn pull-left">Delete</a>
    <button class="btn btn-primary pull-right" type="submit">Update</button>  
  </div>
</form> 

