{# Marca/FileBundle/Resources/views/File/index.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block content %}
<div class="row pad-left">
    <ul class="nav nav-tabs">
        <li class="{% if active_project == 0 %}active{% endif %}"><a href="{{ course_path('file_list', { 'project': 'recent', 'sort': 'updated', 'scope': scope }) }}"><strong>Recent Files</strong></a></li>
    {% for project in projects %}
            <li class="{% if active_project == project.id %}active{% endif %} ">
                <a class="" href="{{ course_path('file_list', { 'project': project.id, 'sort': 'updated', 'scope': scope }) }}"><strong>{{ project.name }}</strong></a></li>
    {% endfor %}
     </ul>
</div>
<div class="row">
<div class="span10">
<table class="table">
<thead>
    <tr>
        <th><a class="" href="{{ course_path('file_list', { 'project': active_project, 'sort': 'name', 'scope': scope }) }}">Name <b class="caret"></b></a></th>
        <th><a class="" href="{{ course_path('file_list', { 'project': active_project, 'sort': 'owner', 'scope': scope }) }}">Owner <b class="caret"></b></a></th>
        <th><a class="" href="{{ course_path('file_list', { 'project': active_project, 'sort': 'project', 'scope': scope }) }}">Project <b class="caret"></b></a></th>
        <th><a class="" href="{{ course_path('file_list', { 'project': active_project, 'sort': 'tag', 'scope': scope }) }}">Tag <b class="caret"></b></a></th>
        <th><a class="" href="{{ course_path('file_list', { 'project': active_project, 'sort': 'updated', 'scope': scope }) }}">Updated <b class="caret"></b></a></th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for file in files %}
    <tr>
        <td>
            {% if file.doc %}<i class="icon-edit"></i> <a href="{{ course_path('doc_show', { 'id': file.doc.id }) }}">{{ file.name }}</a>
            {% else %}
            <i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': file.id }) }}" title="View {{ file.name }} (will open in a new window or tab)" target="_blank">{{ file.name }}</a>
            {% endif %}
            {% if file.access==1 %} <span class="label label-success margin-left">Shared</span>{% endif %}
        </td>
        
        <td>{% if file.user.lastname %}{{ file.user.firstname }} {{ file.user.lastname }}{% endif%}</td>
        <td>{% if file.project.name %}<span class="label label-info">{{ file.project.name }}</span>{% endif%}</td>
        <td>{% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}</td>
        <td>{% if file.updated %}{{ file.updated|date('M d Y, g:i a') }}{% endif%}</td>
        <td>{% if file.isOwner(app.user.username) %}<a class="" href="{{ course_path('file_edit', { 'id': file.id }) }}">Edit listing</a>{% endif%}</td>
        <td>{% if file.isOwner(app.user.username) and file.access==1 %}<a class="" href="{{ course_path('portfolio_new', { 'fileid': file.id }) }}">Add to Portfolio</a>{% endif%}</td>
        
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}