{# Marca/FileBundle/Resources/views/File/index.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <!-- tablesorter plugin -->
    <script src="{{ asset('bundles/marcahome/js/jquery.tablesorter.min.js') }}"></script>
    <!-- tablesorter widget file - loaded after the plugin -->
    <script src="{{ asset('bundles/marcahome/js/jquery.tablesorter.widgets.min.js') }}"></script>
    <script language="javascript">
        $(document).ready(function() {
            $( ".file-menu", this ).toggle();
            $('.modal-body').css('max-height', function(index) {
                return $(window).height() * .90;
            });
            {% for file in files%}
            $('.edit_{{file.id}}').click(function(){
                $('#file_modal').load('{{ course_path('file_edit_modal', { 'id': file.id, 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}');
                $('#file_modal').modal();
            });
            $('#file_show_{{file.id}}').click(function(){
                $('#file_modal').load('{{ course_path('file_show_modal', { 'id': file.id, 'resource': app.request.get('resource'),'source':'edit_modal'}) }}');
                $('#file_modal').modal();
            });
            {% for file in file.reviews%}
            $('.edit_{{file.id}}').click(function(){
                $('#file_modal').load('{{ course_path('file_edit_modal', { 'id': file.id, 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}');
                $('#file_modal').modal();
            });
            $('#file_show_{{file.id}}').click(function(){
                $('#file_modal').load('{{ course_path('file_show_modal', { 'id': file.id, 'resource': app.request.get('resource'),'source':'edit_modal'}) }}');
                $('#file_modal').modal();
            });
            {% endfor %}
            {% endfor %}
            {#
            $('#file_list').css('height', function(index) {
                return $(window).height() * .70;
            });
            #}
            $('#sort_filter_toggle').click(function(){
                $.extend($.tablesorter.themes.bootstrap, {
                    table      : 'table',
                    header     : 'bootstrap-header', // give the header a gradient background
                    footerRow  : '',
                    footerCells: '',
                    icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
                    sortNone   : 'glyphicon glyphicon-sort',
                    sortAsc    : 'glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
                    sortDesc   : 'glyphicon glyphicon-chevron-down', // includes classes for Bootstrap v2 & v3
                    active     : '', // applied when column is sorted
                    hover      : '', // use custom css here - bootstrap class may not override it
                    filterRow  : '', // filter row class
                    even       : '', // odd row zebra striping
                    odd        : ''  // even row zebra striping
                });
                $("table thead th:eq(5), table thead th:eq(4)").data("sorter", false);
                $("table thead th:eq(5)").data("filter", false);
                // call the tablesorter plugin and apply the uitheme widget
                $("table").tablesorter({
                    theme : "bootstrap",
                    widthFixed: true,
                    headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
                    widgets : [ "uitheme", "filter"],
                    widgetOptions : {
                        filter_reset : ".reset"
                    }
                });
            });
            $('.tablesorter-filter').addClass('form-control');
            $( "tr" ).hover(
                    function() {
                        $( ".file-menu", this ).toggle();
                    }
            );

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/marcahome/css/theme.bootstrap.css') }}">
{% endblock %}

{% block content %}
    {# Breadcrumbs #}
    {% if app.request.get('project') == 'recent' and app.request.get('resource')!=0 %}
        {% for flashMessage in app.session.flashbag.get('message') %}
            <div class="alert alert-info pad5 col-md-11">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="well" style="padding:2px;">
    <table id="file_list" class="col-md-12 table">
        <thead>
        <tr class="file">
            <th>Title</th>
            <th>Author</th>
            <th>{% if app.request.get('resource')=='1' %}Unit{% else %}Folder{% endif %}</th>
            <th>Labels</th>
            <th>Modified</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files%}
            {# main list of files #}
            <tr class="file">
                <td style="width:50%">
                    {# different functions for different file types #}
                    {# doc files #}
                    {% if file.doc %}
                        <span class="label label-file" data-toggle="tooltip" title="This an html file ">html</span>
                        <a  href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'app' }) }}">
                            {{ file.name }}</a>
                        {# links #}
                    {% elseif file.url %}
                        <span class="label label-file" data-toggle="tooltip" title="This a link ">link</span>
                        <a class="" href="{{ file.url}}" target="_blank" title='This link will open in a new window or tab.'>{{ file.name }}</a>
                        {# ODT files #}
                    {% elseif file.ext == 'odt' %}
                        <span class="label label-file" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                        <a  href="{{ course_path('file_view_odt', { 'id': file.id, 'view': 'app' }) }}" title="View {{ file.name }}" >{{ file.name }}</a>
                        <a href="{{ course_path('file_view', { 'id': file.id }) }}" title="Download {{ file.name }}" ><i class="glyphicon glyphicon-download"></i></a>
                    {% else %}
                        <span class="label label-file" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                        <a  href="{{ course_path('file_view', { 'id': file.id}) }}" title="View {{ file.name }}" >{{ file.name }}</a>
                    {% endif %}

                    <div class="file-menu">
                        {% if file.isOwner(app.user.username) %}
                        <a  class="edit_{{file.id}}" href="javascript:void(0);">Settings</a>{% endif%}
                        {% if file.ext == 'odt' %}
                            {% if file.isOwner(app.user.username) %}
                                <a class="" href="{{ course_path('file_convert_odt', { 'id': file.id, 'view': 'app' }) }}" title="View {{ file.name }}" ><span class="glyphicon glyphicon-share"></span> HTML</a>
                            {% endif%}
                            <a class="" href="{{ course_path('file_view', { 'id': file.id }) }}" title="Download {{ file.name }}" >Download</a>
                        {% endif%}
                        {% if role == 2 and app.request.get('resource')=='0' %}
                            <a class="" title="Create a copy of this document for review" id="new_grade_{{file.id}}" href="{{ course_path('file_new_modal', { 'resource' : '0', 'tag' : '3', 'type': 'instr_review', 'fileid': file.id }) }}">Instructor Review</a>
                        {% endif %}
                        {% if role == 2 and app.request.get('resource')=='0' %}
                            <a class="" title="Upload a file for review" id="new_grade_{{file.id}}" href="{{ course_path('review_upload', { 'resource' : '0', 'tag' : '3', 'fileid': file.id }) }}">Upload Review<span class="glyphicon glyphicon-circle-arrow-up"></span></a>
                        {% endif %}
                        {% if file.isOwner(app.user.username) and file.portfolio|length == 0 %}
                            <a class="" id='file_show_{{file.id}}' href='javascript:void(0);'>Delete</a>
                        {% endif%}
                    </div>
                </td>

                <td>{{ file.user.firstname|title }} {{ file.user.lastname|title }}</td>
                <td>{% if app.request.get('project')=='recent' %}{% if app.request.get('resource')=='1' %}{{ file.project.course.name }}: {% endif %}{{ file.project.name }}{% endif %}</td>
                <td>
                    {% if file.access==1 %} <span class="label label-success" data-toggle="tooltip" title="This file is shared with the rest of the class.">Shared</span>{% endif %}
                    {% if file.portfolio|length !=0 %} <span class="label label-info" data-toggle="tooltip" title="This file is in your portfolio.  You must remove files from the portfolio before you can delete them.">Portfolio</span>{% endif %}

                    {% for tag in file.tag %}<span class="label label-default" style="background-color: {{ tag.color }};">{{ tag.name }}</span>{% endfor %}</td>
                <td>{% if app.request.get('resource')=='0' %}{% if file.doc %}{{ file.doc.updated|date('m/d/y, g:i a') }}{% else %}{{ file.updated|date('m/d/y, g:i a') }}{% endif %}{% endif %}</td>
            </tr>
            {# reviews only show in projects#}
            {% if app.request.get('resource')=='0' %}
                {% for review in file.reviews%}
                    {% if (file.isOwner(app.user.username) and review.access!=2) or review.isOwner(app.user.username) or review.access==1 or role==2 %}
                        <tr class="review">
                            <td>
                            {% if review.doc %}
                                <a  href="{{ course_path('doc_show', { 'id': review.doc.id, 'view': 'app' }) }}"><span class="glyphicon glyphicon-comment"></span> Review by {{ review.reviewed.user.firstname }} {{ review.reviewed.user.lastname }}</a></span>
                            {% else %}
                                <a  href="{{ course_path('file_view', { 'id': review.id }) }}" title="Download Review by {{ review.user.firstname|title }} {{ review.user.lastname|title }}" ><span class="glyphicon glyphicon-comment"></span> Review by {{ review.user.firstname|title }} {{ review.user.lastname|title }}</a>
                            {% endif %}
                                <div class="file-menu">
                                    {% if review.isOwner(app.user.username) %}<a class='edit_{{review.id}}' href="javascript:void(0);">Settings</a>{% endif%}
                                    {% if role==2 and review.isOwner(app.user.username) %}<a class='' href="{{ course_path('file_toggle_release', { 'id': review.id }) }}">{% if review.access==2 %}Release{% else %}Hide{% endif %}</a>{% endif%}
                                    {% if review.isOwner(app.user.username) and file.portfolio|length == 0 %}<a class='' id='file_show_{{review.id}}' href='javascript:void(0);'>Delete</a>{% endif%}
                                </div>
                            </td>

                            <td>{{ review.user.firstname|title }} {{ review.user.lastname|title }}</td>
                            <td></td>
                            <td>{% if review.access==1 %} <span class="label label-success">Shared</span>
                                {% elseif review.access==2 %}<span title="This review is currently hidden from view." class="label label-default black">Hidden</span> {% endif %}

                                {% for tag in review.tag %}<span class="label label-default " style="background-color: {{ tag.color }};">{{ tag.name }}</span>{% endfor %}</td>

                            <td>{% if app.request.get('resource')=='0' %}{% if review.doc %}{{ review.doc.updated|date('m/d/y, g:i a') }}{% else %}{{ review.updated|date('m/d/y, g:i a') }}{% endif %}{% endif %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% if app.request.get('project') == 'recent' and app.request.get('resource')!=0 %}
            {% else %}
                <tr><td colspan="6">No files match your request.</td> </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
    </div>


    <div class="navigation">
        {{ knp_pagination_render(files) }}
    </div>

    {# Modal #}
    <div class="modal fade" id="file_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    </div><!-- /.modal -->


{% endblock %}