{# Marca/FileBundle/Resources/views/File/index.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block content %}
<script language="javascript">
$(document).ready(function() { 
{% for file in files%} 
$('#file_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_show_modal', { 'id': file.id, 'resource': app.request.get('resource')}) }}');
  $('#file_modal').modal();
});
$('.edit_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_edit_modal', { 'id': file.id, 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}');
  $('#file_modal').modal();
});
{% for file in file.reviews%} 
$('#file_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_show_modal', { 'id': file.id, 'resource': app.request.get('resource'),'source':'index'}) }}');
  $('#file_modal').modal();
});
$('.edit_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_edit_modal', { 'id': file.id, 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}');
  $('#file_modal').modal();
});
{% endfor %}
{% endfor %}

});
</script>

<div class="span9">  
<ul class="nav nav-pills  well">
<li class="{% if active_project == 0 %}active{% endif %}">
<a href="{{ course_path('file_list', { 'project': 'recent', 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': app.request.get('userid') }) }}">
Recent Files</a></li>
{% for project in projects %}
<li class="{% if active_project == project.id %}active{% endif %} ">
<a class="" href="{{ course_path('file_list', { 'project': project.id, 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': app.request.get('userid') }) }}">
{{ project.name }}</a></li>
{% endfor %}
</ul>  

        
<ul class="breadcrumb well">
<li> 
{% if app.request.get('scope')=='mine' and app.request.get('resource')=='0' %}My Files
{% elseif app.request.get('scope')=='all' and app.request.get('resource')=='0' %}All Files
{# hide if peer review #}
{% elseif app.request.get('tag')=='3' and app.request.get('resource')=='0' %}
{% elseif byuser %}
Files by {{ byuser.firstname }} {{ byuser.lastname }} 

{# next previous users on roll; hidden if peer review #} 
<li class='pull-right'>
{% for roll in roll %}
{% if loop.index == app.request.get('user') + 1 and app.request.get('tag')!='3' %}  
<span style='margin-right:3em;'></span>        
<a data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': 'byuser', 'user': loop.index,'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': roll.userid }) }}">{{roll.firstname}} {{roll.lastname}}<i class="icon-chevron-right"></i></a>
{% endif %}
{% if loop.index == app.request.get('user') - 1 and app.request.get('tag')!='3' %}
<a class='' data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': 'byuser', 'user': loop.index,'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': roll.userid }) }}"><i class="icon-chevron-left"></i>{{roll.firstname}} {{roll.lastname}}</a>
{% endif %}
{% endfor %}
</li> 
{% endif %}

<li  class='margin-left'>
{% if app.request.get('tag')!='0' and app.request.get('resource')=='0' %}
<span class="label {{ tag.color }}">{{ tag.name }}</span>
{% else %}
<span class="label">All Labels</span>
{% endif %}
</li>
         
</ul>  
        
</div>

<div class="span9 well"> 
<table class="table">
{% for file in files%}
{# list headings #}        
{% if loop.first %}        
<thead>
<th>Title</th>
<th>{% if (app.request.get('scope')=='all' or app.request.get('scope')=='byuser') and app.request.get('resource')=='0' %}Owner{% endif %}</th>
<th>{% if app.request.get('project')=='recent' %}Project{% endif %}</th>
<th>Labels</th>
<th>{% if app.request.get('resource')=='0' %}Modified{% endif %}</th>
<th></th>
<th></th>
</thead> 
<tbody>
{% endif %}

{# main list of files #}
<tr>
<td> 
    
{# different functions for different file types #}    
{% if file.doc %}<i class="icon-edit"></i> <a href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'app' }) }}">{{ file.name|slice(0, 25) }}</a>
 <a target ='_blank' href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'window' }) }}"><i class="icon-share-alt"></i></a>
{% elseif file.url %}<i class="icon-adjust"></i> <a href="{{ file.url}}" target="_blank">{{ file.name }}</a>
{% elseif file.ext == 'odt' %}<i class="icon-file"></i> <a href="{{ course_path('file_display', { 'id': file.id, 'view': 'app' }) }}" title="View {{ file.name }}" >{{ file.name }}</a>  <a href="{{ course_path('file_view', { 'id': file.id }) }}" title="Download {{ file.name }}" ><i class="icon-download"></i></a>
{% else %}
<i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': file.id}) }}" title="View {{ file.name }}" >{{ file.name }}</a>
{% endif %}

{% if file.access==1 %} <span class="label label-success margin-left">Shared</span>{% endif %}
</td>
<td>{% if (app.request.get('scope')=='all' or app.request.get('scope')=='byuser') and app.request.get('resource')=='0' %}{{ file.user.firstname }} {{ file.user.lastname }}{% endif%}</td>
<td>{% if app.request.get('project')=='recent' %}<strong>{{ file.project.name }}</strong>{% endif %}</td>
<td>{% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}</td>

<td>{% if app.request.get('resource')=='0' %}{{ file.updated|date('M d Y, g:i a') }}{% endif %}</td>
<td>
<ul class="nav files">
    <li class="dropdown">
    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">More<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% if file.isOwner(app.user.username) %}<li><a class='edit_{{file.id}}' href="javascript:void(0);">Edit Listing</a></li>{% endif%}
        {% if file.isOwner(app.user.username) and file.access==1 and app.request.get('resource')=='0' %}<li><a class="" href="{{ course_path('portfolio_new', { 'fileid': file.id }) }}">Add to Portfolio</a></li>{% endif%}
        <li><a id='file_{{file.id}}' href="javascript:void(0);" title='More info about this file'>More Info</a></li>
        </ul>
     </li>
</ul>
</td>
<td></td>
</tr>

{# peer reviews #}
{% for file in file.reviews%}  
<tr style="background:#FAF9C8;"> 
<td colspan="2" style="padding-left:3em;"> 
<i class="icon-edit"></i> <a href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'app' }) }}">Review by {{ file.user.firstname }} {{ file.user.lastname }}</a>
 <a target ='_blank' href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'window' }) }}"><i class="icon-share-alt"></i></a>
{% if file.access==1 %} <span class="label label-success margin-left">Shared</span>{% endif %}
</td>

<td></td>
<td>{% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}</td>

<td>{% if app.request.get('resource')=='0' %}{{ file.updated|date('M d Y, g:i a') }}{% endif %}</td>
<td>
<ul class="nav files">
    <li class="dropdown">
    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">More<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% if file.isOwner(app.user.username) and file.access==1 and app.request.get('resource')=='0' %}<li><a class="" href="{{ course_path('portfolio_new', { 'fileid': file.id }) }}">Add to Portfolio</a></li>{% endif%}
        {% if file.isOwner(app.user.username) %}<li><a class='edit_{{file.id}}' href="javascript:void(0);">Edit Listing</a></li>{% endif%}
        <li><a id='file_{{file.id}}' href="javascript:void(0);" title='More info about this file'>More Info</a></li>
        </ul>
     </li>
</ul>
</td>
<td></td>
</tr>
{% endfor %}

{% if loop.first %}  
</tbody>
{% endif %}
{% else %}
No files match your request.
{% endfor %}

</table>
  

<div class="navigation">
{{ knp_pagination_render(files) }}
</div>

{# Modal #}
<div id="file_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">     
</div>
    
</div>
{% endblock %}