{# Marca/FileBundle/Resources/views/File/index.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well">  
  
<ul class="nav nav-pills">

<li class="{% if active_project == 0 %}active{% endif %}">
<a href="{{ course_path('file_list', { 'project': 'recent', 'scope': app.request.get('scope'), 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}">
Recent Files</a></li>

{% for project in projects %}
<li class="{% if active_project == project.id %}active{% endif %} ">
<a class="" href="{{ course_path('file_list', { 'project': project.id, 'scope': app.request.get('scope'), 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}">
{{ project.name }}</a></li>
{% endfor %}
 
</ul>

<table class="table">
    
<thead>
<th>Title</th>
{% if app.request.get('scope')=='all' and app.request.get('resource')=='0' %}<th>Owner</th>{% endif %}
{% if app.request.get('project')=='recent' %}<th>Project</th>{% endif %}
<th>Tags</th>
{% if app.request.get('resource')=='0' %}<th>Modified</th>{% endif %}
<th></th>
<th></th>
</thead>    

<tbody>
{% for file in files%}
<tr>
<td> 
{% if file.doc %}<i class="icon-edit"></i> <a href="{{ course_path('doc_show', { 'id': file.doc.id }) }}">{{ file.name }}</a>
{% elseif file.url %}<i class="icon-adjust"></i> <a href="{{ file.url}}" target="_blank">{{ file.name }}</a>
{% else %}
<i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': file.id }) }}" title="View {{ file.name }} (will open in a new window or tab)" target="_blank">{{ file.name }}</a>
{% endif %}
{% if file.access==1 %} <span class="label label-success margin-left">Shared</span>{% endif %}
</td>
{% if app.request.get('scope')=='all' and app.request.get('resource')=='0' %}<td>{{ file.user.firstname }} {{ file.user.lastname }}</td>{% endif%}
{% if app.request.get('project')=='recent' %}<td><strong>{{ file.project.name }}</strong></td>{% endif %}
<td>{% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}</td>
{% if app.request.get('resource')=='0' %}
<td>{{ file.updated|date('M d Y, g:i a') }}</td>
{% endif %}
<td>
<ul class="nav files">
    <li class="dropdown">
    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">More<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% if file.isOwner(app.user.username) %}<li><a class="" href="{{ course_path('file_edit', { 'id': file.id, 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}">Edit Listing</a></li>{% endif%}
        {% if file.isOwner(app.user.username) and file.access==1 and app.request.get('resource')=='0' %}<li><a class="" href="{{ course_path('portfolio_new', { 'fileid': file.id }) }}">Add to Portfolio</a></li>{% endif%}
        <li><a href="{{ course_path('file_show', { 'id': file.id, 'project': 'recent', 'scope': app.request.get('scope'), 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}">More Info</a></li>
        </ul>
     </li>
</ul>
</td>
<td></td>
</tr>

{% endfor %}
</tbody>
</table>
  

<div class="navigation">
{{ files.render()|raw }}
</div>


</div>
{% endblock %}