{# Marca/FileBundle/Resources/views/File/index.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block content %}
<script language="javascript">
$(document).ready(function() { 
{% for file in files%} 
$('.edit_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_edit_modal', { 'id': file.id, 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}');
  $('#file_modal').modal();
});
$('#file_show_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_show_modal', { 'id': file.id, 'resource': app.request.get('resource'),'source':'edit_modal'}) }}');
  $('#file_modal').modal();
});
{% for file in file.reviews%} 
$('.edit_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_edit_modal', { 'id': file.id, 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}');
  $('#file_modal').modal();
});
$('#file_show_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_show_modal', { 'id': file.id, 'resource': app.request.get('resource'),'source':'edit_modal'}) }}');
  $('#file_modal').modal();
});
{% endfor %}
{% endfor %}
$('#project_breadcrumbs, #file_list').animate({ borderColor: '#2F96B4', borderWidth: '1.5px' }, 2000).delay(500).animate({ borderColor: '#E3E3E3', borderWidth: '1px'  }, 2000); 
$('#file_list').css('height', function(index) {
  return $(window).height() * .70;
});
});
</script>

{# Project navigation #} 

    
{# Mine All Find #} 
{% if app.request.get('resource')=='0' %}
<div id='project_nav' class="span9 well" role="navigation">  
<span class="btn-group" style="margin-bottom:6px;margin-top:4px;">
<a class="btn btn-small {% if app.request.get('scope')=='mine' and app.request.get('tag')!='3' %}active btn-info{% endif %}" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'user': '0', 'resource': app.request.get('resource'), 'tag': '0', 'userid': '0' }) }}">My Files</a>
<a class="btn btn-small {% if app.request.get('tag')=='3' %}active btn-info{% endif %}" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'user': '0', 'resource': app.request.get('resource'), 'tag': '3', 'userid': '0' }) }}">My Reviews</a>
<a class="btn btn-small {% if app.request.get('scope')=='all' %}active btn-info{% endif %}" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0', 'resource': app.request.get('resource'), 'tag': '0', 'userid': '0'}) }}">Shared Files</a>

{# Roll for Find by user  #}
{% if app.request.get('resource')=='0' %}
   <a href="javascript:void(0);" class="dropdown-toggle btn btn-small{% if app.request.get('scope')=='byuser' %}active btn-info  btn-small{% endif %} " data-toggle="dropdown" id="dLabel">Files By Author<b class="caret" style="margin-left:6px;"></b></a>
       <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
           {% for roll in roll %}
           <li><a data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': 'byuser', 'user': loop.index,'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': roll.userid }) }}">{{roll.firstname}} {{roll.lastname}}</a></li> 
           {% endfor %}
       </ul>
{% endif %}
</span>
   
{% if role == '2' and app.request.get('resource')==0 %}<a class="btn btn-small margin-left" href="{{ course_path('file_release_all') }}">Release Hidden Reviews</a>{% endif %}

</div>
{% endif %}

{# Breadcrumbs #}  
<div id='project_breadcrumbs' class="span9 well" role="navigation">  
  
<ul class="breadcrumb" style='margin:0px;padding-left:6px;' aria-labelledby="breadcrumblabel">
<p class="inline" id="breadcrumblabel">Your current find:</p>      
<li  class="margin-left">
<strong>
{% if app.request.get('scope')=='mine' and app.request.get('resource')=='0' %}My Files
{% elseif app.request.get('scope')=='all' and app.request.get('resource')=='0' %}Shared Files
{# hide if peer review #}
{% elseif app.request.get('tag')=='3' and app.request.get('resource')=='0' %}
{% elseif byuser %}
Files by {{ byuser.firstname|title }} {{ byuser.lastname|title }}
{% endif %}
</strong>
</li>
{% for project in projects %}
{% if active_project == project.id %}
<li  class='margin-left'>
<strong>{% if app.request.get('resource')=='1' %}{{ project.course.name }}: {%endif%}{{ project.name }}</strong>        
</li>        
{% endif %}
{% endfor %}
<li  class='margin-left'>
{% if app.request.get('tag')!='0' %}
<span class="label {{ tag.color }}">{{ tag.name }}</span>
{% else %}
<span class="label">All Labels</span>
{% endif %}
</li>
<li class='margin-left'>{{ count }} file(s) found</li>  

{# next previous users on roll; hidden if peer review #} 
{% if byuser %}
<li class='pull-right'>
{% for roll in roll %}
{% if loop.index == app.request.get('user') + 1 and app.request.get('tag')!='3' %}  
<span style='margin-right:3em;'></span>        
<a data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': 'byuser', 'user': loop.index,'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': roll.userid }) }}">{{roll.firstname|title}} {{roll.lastname|title}}<i class="icon-chevron-right"></i></a>
{% endif %}
{% if loop.index == app.request.get('user') - 1 and app.request.get('tag')!='3' %}
<a class='' data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': 'byuser', 'user': loop.index,'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': roll.userid }) }}"><i class="icon-chevron-left"></i>{{roll.firstname|title}} {{roll.lastname|title}}</a>
{% endif %}
{% endfor %}
</li> 
{% endif %}

</ul>         
</div>

<div id="file_list" class="span9 well"> 
<table class="table">
{% for file in files%}
{# list headings #}        
{% if loop.first %}        
<thead>
<th>Title</th>
<th>{% if (app.request.get('scope')=='all' or app.request.get('scope')=='byuser') and app.request.get('resource')=='0' %}Owner{% endif %}</th>
<th>{% if app.request.get('project')=='recent' %}{% if app.request.get('resource')=='1' %}Unit{% else %}Folder{% endif %}{% endif %}</th>
<th>Labels</th>
<th>{% if app.request.get('resource')=='0' %}Modified{% endif %}</th>
<th></th>
<th></th>
</thead> 
<tbody>
{% endif %}

{# main list of files #}
<tr>
<td>  
{# different functions for different file types #}        
        
{# ODT files #}         
{% if file.doc %}     
<span class="label label-file" data-toggle="tooltip" title="This an html file ">html</span>
<a class="" href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'app' }) }}">
{% if app.request.get('resource')=='0' %}{{ file.name|slice(0, 25) }}{% else%}{{ file.name }}{% endif %}</a>
<a title="Open this file in a new tab." target ='_blank' href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'window' }) }}"><i class="icon-share-alt"></i></a>

{# links #} 
{% elseif file.url %}
<span class="label label-file" data-toggle="tooltip" title="This a link ">link</span>
<a class="" href="{{ file.url}}" target="_blank" title='This link will open in a new window or tab.'>{% if app.request.get('resource')=='0' %}{{ file.name|slice(0, 25) }}{% else%}{{ file.name }}{% endif %}</a>

{# ODT files #} 
{% elseif file.ext == 'odt' %}
<span class="label label-file" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
<a class="" href="{{ course_path('file_view_odt', { 'id': file.id, 'view': 'app' }) }}" title="View {{ file.name }}" >{% if app.request.get('resource')=='0' %}{{ file.name|slice(0, 25) }}{% else%}{{ file.name }}{% endif %}</a>
<a href="{{ course_path('file_view', { 'id': file.id }) }}" title="Download {{ file.name }}" ><i class="icon-download"></i></a>
{% else %} 
<span class="label label-file" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
<a class="" href="{{ course_path('file_view', { 'id': file.id}) }}" title="View {{ file.name }}" >{% if app.request.get('resource')=='0' %}{{ file.name|slice(0, 25) }}{% else%}{{ file.name }}{% endif %}</a>
{% endif %}

{% if file.access==1 %} <span class="label label-success margin-left" data-toggle="tooltip" title="This file is shared with the rest of the class.">Shared</span>{% endif %}
{% if file.portfolio|length !=0 %} <span class="label label-info" data-toggle="tooltip" title="This file is in your portfolio.  You must remove files from the portfolio before you can delete them.">Portfolio</span>{% endif %}
</td>
<td>{% if (app.request.get('scope')=='all' or app.request.get('scope')=='byuser') and app.request.get('resource')=='0' %}{{ file.user.firstname|title }} {{ file.user.lastname|title }}{% endif%}</td>
<td>{% if app.request.get('project')=='recent' %}<strong>{% if app.request.get('resource')=='1' %}{{ file.project.course.name }}: {% endif %}{{ file.project.name }}</strong>{% endif %}</td>
<td>{% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}</td>

<td>{% if app.request.get('resource')=='0' %}{% if file.doc %}{{ file.doc.updated|date('m/d/y, g:i a') }}{% else %}{{ file.updated|date('m/d/y, g:i a') }}{% endif %}{% endif %}</td>
<td>
<ul class="nav files">
    <li class="dropdown">
    <a title="More options for {{ file.name }}" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">More<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% if file.isOwner(app.user.username) %}<li><a class='edit_{{file.id}}' href="javascript:void(0);">Update File Settings</a></li>{% endif%}
        {% if file.ext == 'odt' %}
        <li><a href="{{ course_path('file_convert_odt', { 'id': file.id, 'view': 'app' }) }}" title="View {{ file.name }}" >Convert to HTML doc</a></li>
        <li><a href="{{ course_path('file_view', { 'id': file.id }) }}" title="Download {{ file.name }}" >Download File</a></li>
        {% endif%}
        {% if role == 2 and file.doc %}
        <li><a title="Create a copy of this document for peer review" id="new_grade_{{file.id}}" href="{{ course_path('file_new_modal', { 'resource' : '0', 'tag' : '3', 'type': 'instr_review', 'fileid': file.id }) }}">New Instructor Review</a></li>
        {% endif %}
        {% if file.doc %}<li><a target ='_blank' href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'window' }) }}">Open in a new tab</a></li>{% endif %}
        {% if file.isOwner(app.user.username) and file.portfolio|length == 0 %}
        <li><a id='file_show_{{file.id}}' href='javascript:void(0);' class="">Delete File</a></li>
        {% endif%}
        </ul>
     </li>
</ul>
</td>
<td></td>
</tr>

{# reviews #}
{% for review in file.reviews%}  
{# show if parent is owner or if the review is shared or if the user is instructor #}
{% if (file.isOwner(app.user.username) and review.access!=2) or review.isOwner(app.user.username) or review.access==1 or role==2 %} 
<tr style="background:#FAF9C8;"> 
<td colspan="2" style="padding-left:3em;"> 
<a href="{{ course_path('doc_show', { 'id': review.doc.id, 'view': 'app' }) }}">Review by {{ review.user.firstname|title }} {{ review.user.lastname|title }}</a>
 <a target ='_blank' href="{{ course_path('doc_show', { 'id': review.doc.id, 'view': 'window' }) }}"><i class="icon-share-alt"></i></a>
{% if review.access==1 %} <span class="label label-success margin-left">Shared</span>
{% elseif review.access==2 %}<span title="This review is currently hidden from view." class="label label-inverse margin-left">Hidden</span> {% endif %}
</td>

<td></td>
<td>{% for tag in review.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}</td>

<td>{% if app.request.get('resource')=='0' %}{% if review.doc %}{{ review.doc.updated|date('m/d/y, g:i a') }}{% else %}{{ review.updated|date('m/d/y, g:i a') }}{% endif %}{% endif %}</td>
<td>
<ul class="nav files">
    <li class="dropdown">
    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">More<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% if review.isOwner(app.user.username) %}<li><a class='edit_{{review.id}}' href="javascript:void(0);">Update File Settings</a></li>{% endif%}
        {% if role==2 and review.isOwner(app.user.username) %}<li><a class='' href="{{ course_path('file_toggle_release', { 'id': review.id }) }}">{% if review.access==2 %}Release{% else %}Hide{% endif %} Review</a></li>{% endif%}
        {% if review.doc %}<li><a target ='_blank' href="{{ course_path('doc_show', { 'id': review.doc.id, 'view': 'window' }) }}">Open in a new tab</a></li>{% endif %}
        {% if review.isOwner(app.user.username) and file.portfolio|length == 0 %}<li><a id='file_show_{{review.id}}' href='javascript:void(0);' class="">Delete File</a></li>{% endif%}
        </ul>
     </li>
</ul>
</td>
<td></td>
</tr>
{% endif %}
{% endfor %}

{% if loop.first %}  
</tbody>
{% endif %}
{% else %}
No files match your request.
{% endfor %}

</table>
  

<div class="navigation">
{{ knp_pagination_render(files) }}
</div>

{# Modal #}
<div id="file_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">     
</div>
    
</div>
{% endblock %}