{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
    <ul class="nav nav-tabs">
            <li class="{% if projectid == 0 %}active{% endif %}"><a href="{{ path('file') }}">Recent Files</a></li>
    {% for project in projects %}
            <li class="{% if projectid == project.id %}active{% endif %}">
                <a class="" href="{{ path('file_project', { 'id': project.id, 'sort': 'updated' }) }}">{{ project.name }}</a></li>
    {% endfor %}
     </ul>
</div>
<div class="row-fluid">
<div class="span10">
<table class="table table-condensed">
<thead>
    <tr>          
        <th><a class="" href="{{ path('file_project', { 'id': projectid, 'sort': 'n' }) }}">Name</a></th> 
        <th><a class="" href="{{ path('file_project', { 'id': projectid, 'sort': 'p' }) }}">Project</a></th> 
        <th><a class="" href="{{ path('file_project', { 'id': projectid, 'sort': 't' }) }}">Tag</a></th> 
        <th><a class="" href="{{ path('file_project', { 'id': projectid, 'sort': 'u' }) }}">Updated</a></th>        
        <th></th>
    </tr>
</thead>    
<tbody>
    {% for entity in entities %}
    <tr>        
        <td>
            {% if entity.docid %}<i class="icon-edit"></i> <a href="{{ path('doc_show', { 'id': entity.docid }) }}">{{ entity.name }}</a> 
            {% else %}
            <i class="icon-file"></i> <a href="{{ path('file_view', { 'id': entity.id }) }}" title="View {{ entity.name }} (will open in a new window or tab)" target="_blank">{{ entity.name }}</a>
            {% endif %}         
        </td> 
        
        
        <td>{% if entity.project %}<span class="label label-info">{{ entity.project }}</span>{% endif%}</td>
        <td>{% if entity.tag %}<span class="label label">{{ entity.tag }}</span>{% endif%}</td>
        <td>{% if entity.updated %}{{ entity.updated|date('M d Y,   g:i a') }}{% endif%}</td>        
        <td><a class="btn btn-primary btn-mini" href="{{ path('file_edit', { 'id': entity.id }) }}">Edit listing</a></td>  
    </tr>
    
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
