{# Marca/FileBundle/Resources/views/File/index.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block content %}
<script language="javascript">
$(document).ready(function() { 
{% for file in files%} 
$('#file_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_show_modal', { 'id': file.id, 'resource': app.request.get('resource')}) }}');
  $('#file_modal').modal();
});
$('.edit_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_edit_modal', { 'id': file.id, 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}');
  $('#file_modal').modal();
});
$('#new_grade_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_new_modal', { 'resource' : '0', 'tag' : '3', 'type': 'review', 'fileid': file.id }) }}');
  $('#file_modal').modal();
});
$('#file_show_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_show_modal', { 'id': file.id, 'resource': app.request.get('resource'),'source':'edit_modal'}) }}');
  $('#file_modal').modal();
});
{% for file in file.reviews%} 
$('#file_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_show_modal', { 'id': file.id, 'resource': app.request.get('resource'),'source':'index'}) }}');
  $('#file_modal').modal();
});
$('.edit_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_edit_modal', { 'id': file.id, 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}');
  $('#file_modal').modal();
});
$('#file_show_{{file.id}}').click(function(){
  $('#file_modal').load('{{ course_path('file_show_modal', { 'id': file.id, 'resource': app.request.get('resource'),'source':'edit_modal'}) }}');
  $('#file_modal').modal();
});
{% endfor %}
{% endfor %}

});
</script>

{# Project navigation #} 
<div id='project_nav' class="span9 well">  
{# Mine All #} 
{% if app.request.get('resource')=='0' %}
<span class="btn-group" style="margin-bottom:6px;margin-top:4px;">
<a class="btn btn-small {% if app.request.get('scope')=='mine' %}active btn-info{% endif %}" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'mine', 'user': '0', 'resource': app.request.get('resource'), 'tag': '0', 'userid': '0' }) }}">My Files</a>
<a class="btn btn-small {% if app.request.get('scope')=='all' %}active btn-info{% endif %}" href="{{ course_path('file_list', { 'project': 'recent', 'scope': 'all', 'user': '0', 'resource': app.request.get('resource'), 'tag': '0', 'userid': '0'}) }}">All Files</a>

{# Roll for Find by user  #}
{% if app.request.get('resource')=='0' %}
   <a href="javascript:void(0);" class="dropdown-toggle btn btn-small {% if app.request.get('scope')=='byuser' %}active btn-info{% endif %} " data-toggle="dropdown" id="dLabel">Files By Author<b class="caret" style="margin-left:6px;"></b></a>
       <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
           {% for roll in roll %}
           <li><a data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': 'byuser', 'user': loop.index,'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': roll.userid }) }}">{{roll.firstname}} {{roll.lastname}}</a></li> 
           {% endfor %}
       </ul>
{% endif %}

</span>
{% endif %}
{# Projects #} 
<span class="btn-group" style="margin-bottom:6px;margin-top:4px;margin-left:10px;">
<a class="btn btn-small {% if active_project == 0 %}active btn-info{% endif %}" href="{{ course_path('file_list', { 'project': 'recent', 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': app.request.get('userid') }) }}">
Recent Files</a>
<a href="javascript:void(0);" class="btn btn-small dropdown-toggle {% if active_project > 0 %}active btn-info{% endif %} " data-toggle="dropdown" id="dLabel">Project<b class="caret" style="margin-left:6px;"></b></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
<li>
{% for project in projects %}
<a class="" href="{{ course_path('file_list', { 'project': project.id, 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': app.request.get('userid') }) }}">
{{ project.name }}</a>
{% endfor %}
</li>
</ul>  
</span>
{# Labels #} 
<span class="btn-group" style="margin-bottom:6px;margin-top:4px;margin-left:10px;">
<a href="javascript:void(0);" class="btn btn-small dropdown-toggle {% if app.request.get('tag')!='0' %}active btn-info{% endif %}" data-toggle="dropdown" id="dLabel">Label<b class="caret" style="margin-left:6px;"></b></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
<li><a href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag':'0', 'userid': app.request.get('userid') }) }}"><span class="label">All Labels</span></a></li>
{% for tag in tags %}
<li><a href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag': tag.id, 'userid': app.request.get('userid') }) }}"><span class="label {{ tag.color }}">{{ tag.name }}</span></a></li>
{% endfor %}
{% for tag in systemtags %}
<li><a href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': app.request.get('scope'), 'user': app.request.get('user'), 'resource': app.request.get('resource'), 'tag': tag.id, 'userid': app.request.get('userid') }) }}"><span class="label {{ tag.color }}">{{ tag.name }}</span></a></li>
{% endfor %}           
</ul> 
</span>  
</div>

{# Breadcrumbs #}  
<div id='project_breadcrumbs' class="span9 well">      
<ul class="breadcrumb" style='margin:0px;padding-left:6px;'>
<li> 
{% if app.request.get('scope')=='mine' and app.request.get('resource')=='0' %}My Files
{% elseif app.request.get('scope')=='all' and app.request.get('resource')=='0' %}All Files
{# hide if peer review #}
{% elseif app.request.get('tag')=='3' and app.request.get('resource')=='0' %}
{% elseif byuser %}
Files by {{ byuser.firstname|title }} {{ byuser.lastname|title }}
{% endif %}
</li>
{% for project in projects %}
{% if active_project == project.id %}
<li  class='margin-left'>
 {{ project.name }}
</li>        
{% endif %}
{% endfor %}
<li  class='margin-left'>
{% if app.request.get('tag')!='0' %}
<span class="label {{ tag.color }}">{{ tag.name }}</span>
{% else %}
<span class="label">All Labels</span>
{% endif %}
</li>
<li class='margin-left'>{{ count }} file(s) found</li>  

{# next previous users on roll; hidden if peer review #} 
{% if byuser %}
<li class='pull-right'>
{% for roll in roll %}
{% if loop.index == app.request.get('user') + 1 and app.request.get('tag')!='3' %}  
<span style='margin-right:3em;'></span>        
<a data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': 'byuser', 'user': loop.index,'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': roll.userid }) }}">{{roll.firstname|title}} {{roll.lastname|title}}<i class="icon-chevron-right"></i></a>
{% endif %}
{% if loop.index == app.request.get('user') - 1 and app.request.get('tag')!='3' %}
<a class='' data-index="{{loop.index}}" data-id='{{roll.userid}}' data-project='{{app.request.get('project')}}' data-tag='{{app.request.get('tag')}}' href="{{ course_path('file_list', { 'project': app.request.get('project'), 'scope': 'byuser', 'user': loop.index,'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': roll.userid }) }}"><i class="icon-chevron-left"></i>{{roll.firstname|title}} {{roll.lastname|title}}</a>
{% endif %}
{% endfor %}
</li> 
{% endif %}

</ul>         
</div>

<div class="span9 well"> 
<table class="table">
{% for file in files%}
{# list headings #}        
{% if loop.first %}        
<thead>
<th>Title</th>
<th>{% if (app.request.get('scope')=='all' or app.request.get('scope')=='byuser') and app.request.get('resource')=='0' %}Owner{% endif %}</th>
<th>{% if app.request.get('project')=='recent' %}Project{% endif %}</th>
<th>Labels</th>
<th>{% if app.request.get('resource')=='0' %}Modified{% endif %}</th>
<th></th>
<th></th>
</thead> 
<tbody>
{% endif %}

{# main list of files #}
<tr>
<td> 
   
{# different functions for different file types #}    
{% if file.doc %}<i class="icon-edit"></i> <a href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'app' }) }}">{{ file.name|slice(0, 25) }}</a>
 <a target ='_blank' href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'window' }) }}"><i class="icon-share-alt"></i></a>
{% elseif file.url %}<i class="icon-adjust"></i> <a href="{{ file.url}}" target="_blank">{{ file.name }}</a>
{% elseif file.ext == 'odt' %}<i class="icon-file"></i> <a href="{{ course_path('file_display', { 'id': file.id, 'view': 'app' }) }}" title="View {{ file.name }}" >{{ file.name }}</a>  <a href="{{ course_path('file_view', { 'id': file.id }) }}" title="Download {{ file.name }}" ><i class="icon-download"></i></a>
{% else %}
<i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': file.id}) }}" title="View {{ file.name }}" >{{ file.name }}</a>
{% endif %}

{% if file.access==1 %} <span class="label label-success margin-left">Shared</span>{% endif %}
{% if file.portfolio|length !=0 %} <span class="label label-info">In Portfolio</span>{% endif %}

</td>
<td>{% if (app.request.get('scope')=='all' or app.request.get('scope')=='byuser') and app.request.get('resource')=='0' %}{{ file.user.firstname|title }} {{ file.user.lastname|title }}{% endif%}</td>
<td>{% if app.request.get('project')=='recent' %}<strong>{{ file.project.name }}</strong>{% endif %}</td>
<td>{% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}</td>

<td>{% if app.request.get('resource')=='0' %}{% if file.doc %}{{ file.doc.updated|date('M d Y, g:i a') }}{% else %}{{ file.updated|date('M d Y, g:i a') }}{% endif %}{% endif %}</td>
<td>
<ul class="nav files">
    <li class="dropdown">
    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">More<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% if file.isOwner(app.user.username) %}<li><a class='edit_{{file.id}}' href="javascript:void(0);">File Settings</a></li>{% endif%}
        {% if file.isOwner(app.user.username) and file.access==1 and app.request.get('resource')=='0' and file.portfolio|length == 0 %}<li><a class="" href="{{ course_path('portfolio_new', { 'fileid': file.id }) }}">Add to Portfolio</a></li>{% endif%}
        {% if role == 2 and file.doc %}
        <li><a title="Create a copy of this document for peer review" id="new_grade_{{file.id}}" href="javascript:void(0)">New Instructor Review</a></li>
        {% endif %}
        <li><a id='file_{{file.id}}' href="javascript:void(0);" title='More info about this file'>More Info</a></li>
        {% if file.isOwner(app.user.username) and file.portfolio|length == 0 %}<li><a id='file_show_{{file.id}}' href='javascript:void(0);' class="">Delete</a></li>{% endif%}
        </ul>
     </li>
</ul>
</td>
<td></td>
</tr>

{# peer reviews #}
{% for review in file.reviews%}  
{# show if parent is owner or if the review is shared or if the user is instructor #}
{% if file.isOwner(app.user.username) or review.isOwner(app.user.username) or review.access==1 or role==2 %} 
<tr style="background:#FAF9C8;"> 
<td colspan="2" style="padding-left:3em;"> 
<i class="icon-edit"></i> <a href="{{ course_path('doc_show', { 'id': review.doc.id, 'view': 'app' }) }}">Review by {{ review.user.firstname|title }} {{ review.user.lastname|title }}</a>
 <a target ='_blank' href="{{ course_path('doc_show', { 'id': review.doc.id, 'view': 'window' }) }}"><i class="icon-share-alt"></i></a>
{% if review.access==1 %} <span class="label label-success margin-left">Shared</span>{% endif %}
</td>

<td></td>
<td>{% for tag in review.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}</td>

<td>{% if app.request.get('resource')=='0' %}{% if review.doc %}{{ review.doc.updated|date('M d Y, g:i a') }}{% else %}{{ review.updated|date('M d Y, g:i a') }}{% endif %}{% endif %}</td>
<td>
<ul class="nav files">
    <li class="dropdown">
    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dLabel">More<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        {% if review.isOwner(app.user.username) and review.access==1 and app.request.get('resource')=='0' %}<li><a class="" href="{{ course_path('portfolio_new', { 'fileid': review.id }) }}">Add to Portfolio</a></li>{% endif%}
        {% if review.isOwner(app.user.username) %}<li><a class='edit_{{review.id}}' href="javascript:void(0);">File Settings</a></li>{% endif%}
        <li><a id='file_{{review.id}}' href="javascript:void(0);" title='More info about this file'>More Info</a></li>
        {% if review.isOwner(app.user.username) %}<li><a id='file_show_{{review.id}}' href='javascript:void(0);' class="">Delete</a></li>{% endif%}
        </ul>
     </li>
</ul>
</td>
<td></td>
</tr>
{% endif %}
{% endfor %}

{% if loop.first %}  
</tbody>
{% endif %}
{% else %}
No files match your request.
{% endfor %}

</table>
  

<div class="navigation">
{{ knp_pagination_render(files) }}
</div>

{# Modal #}
<div id="file_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">     
</div>
    
</div>
{% endblock %}