{# Marca/FileBundle/Resources/views/File/new.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script> 
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function() {
$('#file_modal').modal();    
$(' form div ul li ul li').addClass('alert alert-error');
});
</script>

{# Modal #}
<div id="file_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">     

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{% if app.request.get('type') == 'doc' %}New Document{% elseif app.request.get('type') == 'saveas' %}Save As Document{% else %}New Link{%endif%}</h3>
</div>
<form action="{{ course_path('file_create',{'resource': app.request.get('resource'), 'tag': app.request.get('tag'),'type': app.request.get('type'),
'user': '0','project': 'recent'}) }}" method="post" {{ form_start(form) }}  novalidate="novalidate">
  <div class="modal-body">
      {{ form_errors(form) }} 
        <ul class="list-unstyled">
            <li class="pad1">{{ form_row (form.name) }} </li>
            <li class="pad1">{{ form_row (form.url) }} </li>
            <li class="pad1">{{ form_row (form.project) }} </li> 
            <li class="pad1">{{ form_row (form.tag) }} </li> 
            <li class="pad1">{{ form_row (form.access) }} </li> 
        </ul>
        {{ form_rest(form) }}  
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form> 
</div>

{% endblock %}