{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
<div class="span2">
<div class="btn-group">
<a class="btn" href="{{ course_path('file') }}">List</a>
 
</div> 
</div>       
  
</div>

<div class="span12" style="margin-top: 3em"> 
<form action="{{ course_path('file_create') }}" method="post" {{ form_enctype(form) }}>
     {{ form_errors(form) }}   
        
        {{ form_row (form.name) }}      
        {{ form_row (form.project) }} 
        {{ form_row (form.tag) }} 
        {{ form_row (form.access) }} 
        
    {{ form_rest(form) }}
    <div>
        <button class="btn" type="submit">Create</button>
    </div>
</form>
</div>
{% endblock %}
