{# Marca/FileBundle/Resources/views/File/new.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bundles/marcahome/js/jquery-ui-1.8.22.custom.min.js') }}"></script> 
{% endblock %}

{% block content %}
<script language="javascript"> 
$(document).ready(function() {
$(' form div ul li').addClass('alert alert-error');
});
</script>
<div class="row">
<div class="span6 well"> 
<form action="{{ course_path('file_create',{'resource': app.request.get('resource'), 'tag': app.request.get('tag'),'type': app.request.get('type')}) }}" method="post" {{ form_enctype(form) }}  novalidate="novalidate">            
     {{ form_errors(form) }}   
        <legend>File listing</legend>
        <ul class="unstyled">
            <li class="pad1">{{ form_row (form.name) }} </li>
            <li class="pad1">{{ form_row (form.url) }} </li>
            <li class="pad1">{{ form_row (form.project) }} </li> 
            <li class="pad1">{{ form_row (form.tag) }} </li> 
            <li class="pad1">{{ form_row (form.access) }} </li> 
        </ul>
    {{ form_rest(form) }}
    <button class="btn btn-primary" type="submit">Update</button>    
</form>       
         
</div>
</div>
{% endblock %}