{# Marca/FileBundle/Resources/views/File/new_modal.html.twig #}

<script language="javascript"> 
$(document).ready(function() {
$(' form div ul li ul li').addClass('alert alert-error');
});
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">{% if app.request.get('type') == 'doc' %}New Document{% elseif app.request.get('type') == 'link' %}New Link{% elseif app.request.get('type') == 'review' %}Review of {{app.request.get('fileid')}}{%endif%}</h3>
</div>
<form action="{{ course_path('file_create',{'resource': app.request.get('resource'), 'tag': app.request.get('tag'),'type': app.request.get('type'),
'user': '0','project': 'recent', 'fileid':app.request.get('fileid')}) }}" method="post" {{ form_enctype(form) }}  novalidate="novalidate"> 
 <div class="modal-body">
      {{ form_errors(form) }} 

            <div class="label-margin-bottom">{{ form_row (form.name) }} </div>
            <div class="label-margin-bottom">{{ form_row (form.url) }} </div>
            <div class="label-margin-bottom">{{ form_row (form.project) }} </div> 
            <div class="label-margin-bottom">{{ form_row (form.tag) }} </div> 
            <div>{{ form_row (form.access) }} </div> 

        {{ form_rest(form) }}  
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form> 

