{# Marca/FileBundle/Resources/views/File/index.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block content %}
    <nav class="navbar navbar-default hidden-xs" role="navigation" style="margin-top: -20px;">
        <div class="container-fluid">
            <a class="navbar-brand project" href="#" title="File listing">
                {{ heading }}
            </a>
            <ul class="nav navbar-nav">
                <li><span class="navbar-text filter2"></span></li>
                <li><span class="navbar-text file_count"></span></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="file-wrapper well">
        <table id="file_list" class="col-sm-12 table">
            <thead>
            <tr class="file">
                <th><span>Title</span></th>
                <th>Folder</th>
                <th>Labels</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
                {# main list of files #}
                <tr class="file">
                    <td>
                        {# different functions for different file types #}
                        {# doc files #}
                        {% if file.doc %}
                            <a class="file_name" href="{{ course_path('doc_show', { 'id': file.id, 'view': 'window' }) }}"  target="_blank" title="View {{ file
                            .name }}">
                                {{ file.name }}
                            </a>
                            <span class="label label-file pull-left" data-toggle="tooltip" title="This an html file ">html</span>
                            {# links #}
                        {% elseif file.url %}
                            <a class="file_name" href="{{ file.url }}" target="_blank" title='This link will open in a new window or tab.'>
                                {{ file.name }}
                            </a>
                            <span class="label label-file pull-left" data-toggle="tooltip" title="This a link ">link</span>
                            {# ODT files #}
                        {% elseif file.ext == 'odt' or file.ext == 'ods' or file.ext == 'odp' or file.ext == 'pdf' %}
                            <a class="file_name" href="{{ course_path('file_view', { 'id': file.id, 'view': 'window' }) }}"  target="_blank" title="View {{ file
                            .name }}">
                                {{ file.name }}
                            </a>
                            <span class="label label-file pull-left" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                        {% else %}
                            <a class="file_name" href="{{ course_path('file_get', { 'id': file.id}) }}" title="View {{ file.name }}">
                                {{ file.name }}
                            </a>
                            <span class="label label-file pull-left" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                        {% endif %}
                        {% if file.access==1 %} <span class="label label-success pull-right margin-left"
                                                      title="This file is shared with the class.">Shared</span>{% endif %}
                        <div class="hidden-xs">
                            <div class="file-menu">
                                {% if file.isOwner(app.user.username) and file.project.course==course %}
                                    <a data-id='{{ file.id }}' class="settings"  href="javascript:void(0);" title="Edit the setting for this file.">Settings</a>
                                {% endif %}
                                {% if file.ext == 'odt' or file.ext == 'ods' or file.ext == 'odp' or file.ext == 'pdf' %}
                                    <a href="{{ course_path('file_get', { 'id': file.id}) }}" title="Download {{ file.name }}">Download</a>
                                {% endif %}
                                {% if file.isOwner(app.user.username) and file.portfolio|length == 0  and file.project.course==course %}
                                    <a data-id='{{ file.id }}' class="delete delete_confirm"  href='javascript:void(0);' title="Delete this file.">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td>{{ file.project.course.name }}: {{ file.project.name }}</td>
                    <td>
                        {% for tag in file.tag %}
                            <span data-tag='{{ tag.id }}' class="label label-default margin-right" style="background-color: {{ tag.color }};">{{ tag.name
                        }}</span>{%
                        endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        No files match your request.
                        {% for flashMessage in app.session.flashbag.get('message') %}
                            <div class="alert alert-info pad5 col-sm-11">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    {# Modal #}
    <div class="modal fade" id="file_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div><!-- /.modal -->


{% endblock %}
