{# Marca/FileBundle/Resources/views/File/index.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block content %}
    {# main list of files #}
    <nav class="navbar navbar-default" role="navigation" style="margin-top: -20px;">
        <div class="container-fluid">
            <div class="navbar-brand">
                {% if app.request.get('_route') == 'file_reviews' %}Reviews by Me
                {% elseif app.request.get('_route') == 'file_reviews_for_user' %}Review for Me
                {% endif %}
            </div>
            <ul class="nav navbar-nav">
                {% if role == '2' %}
                    {{ render_esi(controller('MarcaCourseBundle:Course:createRoll', { 'courseid': app.request.get('courseid') })) }}
                    <li>
                        <a href="{{ course_path('file_release_all') }}">Release Reviews</a>
                    </li>
                {% endif %}

                <form class="navbar-form navbar-right hidden-sm hidden-xs" role="search">
                    <div class="form-group">
                        <label class="sr-only" for="file_search">Search in List</label>
                        <input id="file_search" type="search" placeholder="Search in list" data-column="all" class="search selectable form-control">
                    </div>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <span class="navbar-text filter1"></span>
                <span class="navbar-text filter2"></span>
                <li style="padding-top: 12px;padding-left: 12px;"><span class="filter3 label"></span></li>
                <span class="navbar-text file_count hidden-sm hidden-xs"></span>
                <span class="navbar-text hidden-sm hidden-xs">Files open in a new tab.</span>
            </ul>

        </div>
    </nav>

    <div class="file-wrapper well">
        <table id="file_list" class="col-sm-12 table">
            <thead>
            <tr class="file">
                <th><span>Title</span></th>
                <th>Author</th>
                <th class="hidden-xs">Folder</th>
                <th class="hidden-sm hidden-xs">Labels</th>
                <th class="hidden-sm hidden-xs">Modified</th>
            </tr>
            </thead>
            <tbody>
            {% for review in files %}
                <tr class="review">
                    <td>
                        {# different functions for different file types #}
                        {# doc files #}
                        {% if review.doc %}
                            <span class="label label-file" title="This an html file ">html</span>
                            <a class="file_name"
                               href="{{ course_path('doc_show', { 'id': review.id, 'view': 'window' }) }}"
                               target="_blank" title="View {{ review.name }}">
                                <span class="glyphicon glyphicon-comment" style="color:#888;" title="Review"></span>
                                {% if 'reviews_for_user' in app.request.attributes.get('_route') %}{% else %}
                                for {{ review.reviewed.user.firstname }} {{ review.reviewed.user.lastname }}
                                {% endif %}
                                of <i>{{ review.reviewed.name|slice(0,20) }}</i>
                            </a>
                            {# links #}
                        {% elseif review.url %}
                            <span class="label label-file" title="This a link ">link</span>
                            <a class="file_name" href="{{ review.url }}" target="_blank"
                               title='This link will open in a new window or tab.'>
                                <span class="glyphicon glyphicon-comment" style="color:#888;" title="Review"></span>
                                {% if 'reviews_for_user' in app.request.attributes.get('_route') %}{% else %}
                                    for {{ review.reviewed.user.firstname }} {{ review.reviewed.user.lastname }}
                                {% endif %}
                                of <i>{{ review.reviewed.name|slice(0,20) }}{% if file.name|length > 10 %}...{% endif %}</i>
                            </a>
                            {# ODT files #}
                        {% elseif review.ext == 'odt' or review.ext == 'ods' or review.ext == 'odp' or review.ext == 'pdf' %}
                            <span class="label label-file"
                                  title="This an {{ review.ext }} file ">{{ review.ext }}</span>
                            <a class="file_name"
                               href="{{ course_path('file_view', { 'id': review.id, 'view': 'window' }) }}"
                               target="_blank" title="View {{ review.name }}">
                                <span class="glyphicon glyphicon-comment" style="color:#888;" title="Review"></span>
                                {% if 'reviews_for_user' in app.request.attributes.get('_route') %}{% else %}
                                    for {{ review.reviewed.user.firstname }} {{ review.reviewed.user.lastname }}
                                {% endif %}
                                of <i>{{ review.reviewed.name|slice(0,20) }}</i>
                            </a>
                        {% else %}
                            <span class="label label-file"
                                  title="This an {{ review.ext }} file ">{{ review.ext }}</span>
                            <a class="file_name" href="{{ course_path('file_get', { 'id': review.id}) }}"
                               title="View {{ review.name }}">
                                <span class="glyphicon glyphicon-comment" style="color:#888;" title="Review"></span>
                                {% if 'reviews_for_user' in app.request.attributes.get('_route') %}{% else %}
                                    for {{ review.reviewed.user.firstname }} {{ review.reviewed.user.lastname }}
                                {% endif %}
                                of <i>{{ review.reviewed.name|slice(0,20) }}</i>
                            </a>
                        {% endif %}
                        {% if review.access==1 %} <span class="label label-success pull-right">Shared</span>
                        {% elseif review.access==2 %} <span title="This review is currently hidden from view." class="label label-default black
                            pull-right">Hidden</span>{% endif %}
                        {% if review.portfolio|length !=0 %}
                            <span class="label label-info pull-right margin-left" title="This file is in your portfolio.  You must remove files from the
                                portfolio before you can delete them.">Portfolio</span>{% endif %}
                        <div class="hidden-xs">
                            <div class="file-menu">
                                {% if review.isOwner(app.user.username) and review.access!=2 %}
                                    <a data-id='{{ review.id }}' class="settings" href="javascript:void(0);"
                                       title="Edit the setting for this file.">Settings</a>
                                {% endif %}
                                {% if role==2 and review.isOwner(app.user.username) %}
                                    <a href="{{ course_path('file_toggle_release', { 'id': review.id }) }}" title="Instructor reviews can be
                                        hidden or released to students.  Click to hide or release.">{% if review.access==2 %}Release{% else %}Hide{% endif %}</a>
                                {% endif %}
                                {% if review.isOwner(app.user.username) and review.portfolio|length == 0 %}
                                    <a data-id='{{ review.id }}' class="delete delete_confirm"
                                       href='javascript:void(0);' title="Delete this file.">Delete</a>
                                {% elseif review.isOwner(app.user.username) and review.portfolio|length != 0 %}Files in the Portfolio can not be deleted.
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td>{% if review.isOwner(app.user.username) %}me{% else %}{{ review.user.firstname|title }} {{ review.user.lastname|title }}{% endif %}</td>
                    <td class="projects hidden-xs">
                        <span data-project='{{ review.project.id }}' class="project">{{ review.project.name }}</span>
                    </td>
                    <td class="labels hidden-xs">
                        {% for tag in review.tag %}
                            <span class="label label-default"
                                  style="background-color: {{ tag.color }};"> {{ tag.name }}    </span>
                        {% endfor %}
                    </td>
                    <td class="hidden-sm hidden-xs">
                        {{ review.updated|date('m/d/y, g:i a') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(files) }}
        </div>
    </div>

    {# Modal #}
    <div class="modal fade" id="file_modal" role="dialog">
    </div><!-- /.modal -->

{% endblock %}

