{# Marca/FileBundle/Resources/views/File/show_modal.html.twig #}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">{{ file.name }}</h3>
</div>
 
<div class="modal-body">
<table class="table">
<tbody>

<tr>
<td> 
{% if file.project.name %}<strong>{{ file.project.name }}</strong>{% endif%}
{% for tag in file.tag %}<span class="margin-left label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}
</td>
</tr>

<tr>
<td>
Created:  {{ file.created|date('M d Y, g:i a') }}
<span class='margin-left'>Modified:  {{ file.updated|date('M d Y, g:i a') }}</span>
</td>
</tr>

</tbody>
</table>       
       
</div>
<div class="modal-footer">
{% if app.request.get('source')=='edit_modal' %}
<form action="{{ course_path('file_delete', { 'id': file.id, 'resource': app.request.get('resource') }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Confirm Delete</button>
 </form>       
{% endif%}      
</div> 