{# Marca/FileBundle/Resources/views/File/show.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}

{% block content %}
<div class="span9 well">  
  
<ul class="nav nav-pills">

<li class="">
<a href="{{ course_path('file_list', { 'project': 'recent', 'scope': app.request.get('scope'), 'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': '0' }) }}">
<strong>Recent Files</strong></a></li>

{% for project in projects %}
<li class="{% if active_project == project.id %}active{% endif %} ">
<a class="" href="{{ course_path('file_list', { 'project': project.id, 'scope': app.request.get('scope'), 'resource': app.request.get('resource'), 'tag': app.request.get('tag'), 'userid': '0' }) }}">
<strong>{{ project.name }}</strong></a></li>
{% endfor %}
 
</ul>

<table class="table">
<tbody>

<tr>
<td> 
{% if file.doc %}<i class="icon-edit"></i> <a href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'app' }) }}">{{ file.name }}</a>
 <a target ='_blank' href="{{ course_path('doc_show', { 'id': file.doc.id, 'view': 'window' }) }}"><i class="icon-share-alt"></i></a>
{% else %}
<i class="icon-file"></i> <a href="{{ course_path('file_view', { 'id': file.id }) }}" title="View {{ file.name }} (will open in a new window or tab)" target="_blank">{{ file.name }}</a>
{% endif %}
{% if file.access==1 %} <span class="label label-success margin-left">Shared</span>{% endif %}
</td>
<td>{% if app.request.get('scope')=='all' and app.request.get('resource')=='0' %}{{ file.user.firstname }} {{ file.user.lastname }}{% endif%}</td>
<td>{% if file.project.name %}<strong>{{ file.project.name }}</strong>{% endif%}</td>
</tr>


<tr>
<td>Created:  {{ file.created|date('M d Y, g:i a') }}</td>
<td>Modified:  {{ file.updated|date('M d Y, g:i a') }}</td>
<td>{% for tag in file.tag %}<span class="label {{ tag.color }}">{{ tag.name }}</span>{% endfor %}</td>
</tr>

<tr>
<td>{% if file.isOwner(app.user.username) %}<a class="" href="{{ course_path('file_edit', { 'id': file.id, 'resource': app.request.get('resource'), 'tag': app.request.get('tag') }) }}">Edit listing</a>{% endif%}</td>    
<td>{% if file.isOwner(app.user.username) and file.access==1 and app.request.get('resource')=='0' %}<a class="" href="{{ course_path('portfolio_new', { 'fileid': file.id }) }}">Add to Portfolio</a>{% endif%}</td>
<td>{{ file.responses |length }} Response(s)</td>

</tr>


</tbody>
</table>
  



</div>
{% endblock %}
