{# Marca/FileBundle/Resources/views/File/upload.html.twig #}

{% extends 'MarcaFileBundle::layout.html.twig' %}


{% block content %}
<script language="javascript">
$(document).ready(function()
{
    $('.modal-body').css('max-height', function(index) {
        return $(window).height() * .70;
    });
$('#file_modal').modal();
$('#marca_filebundle_filetype_file').on('change', function() { 
  var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '')
  var file = filename.substr(0, filename.lastIndexOf('.')) || filename
  $('#marca_filebundle_filetype_name').val(file);
});  
});


</script>

{# Modal #}
<div id="file_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Upload</h3>
</div>
<form action="#" method="post" {{ form_enctype(form) }}  novalidate="novalidate"> 
  <div class="modal-body">
     {{ form_errors(form) }}   
        <ul class="unstyled">
            <li class="pad1">{{ form_row (form.file) }} </li>
            <li class="pad1">{{ form_row (form.name) }} </li>
            <li class="pad1">{{ form_row (form.project) }} </li> 
            <li class="pad1">{{ form_row (form.tag) }} </li> 
            <li class="pad1">{{ form_row (form.access) }} </li>          
        </ul>
    {{ form_rest(form) }}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Upload</button>
  </div>
</form>
</div>        
{% endblock %}